<!--Footer Section-->
<section class="padding_top_20 padding_bottom_30 footer02_section bg_e8e8e8">
    <div class="container">
        <div class="row padding_bottom_20">
            <div class="col-xl-8 col-lg-8 col-md-12 padding_top_10">
                <ul class="footer02_links_list">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shared_hosting.html">Shared Hosting</a></li>
                    <li><a href="vps_hosting.html">VPS Server</a></li>
                    <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                    <li><a href="domains.html">Domains</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 text-right">
                <a href="#" class="chat_btn_footer02">Live Chat</a>
            </div>
        </div>
        <div class="footer02_center_box padding_top_75 padding_bottom_75">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 footer02_content_box">
                    <figure class="footer02_logo"><img src="assets/images/logo.svg" alt=""></figure>
                    <p>We offer fast and unlimited UK based Web Hosting, VPS, Dedicated, Reseller Hosting, Premium reseller hosti ng and bespoke
                        hosting. So regardless of your needs and the size of your business, we have your hosting covered!</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4">
                    <h5 class="footer_heading">Hostiko Head Office</h5>
                    <ul class="footer01_contact_list">
                        <li>121 King Street,Melbourne Victoria
                            3000 Australia.</li>
                        <li>
                            <div>Phone: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                            <div>Help: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                        </li>
                        <li>
                            <div> <a href="mailto:Support@hostikocom">Support@hostikocom</a></div>
                            <div> <a href="mailto:info@hostiko.com">info@hostiko.com</a></div>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 padding_left_40 footer02_link_box">
                    <h5 class="footer_heading">Services We Offer</h5>
                    <ul class="footer01_links_list">
                        <li><a href="shared_hosting.html">Web Hosting</a></li>
                        <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                        <li><a href="vps_hosting.html">VPS Server</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="domains.html">Domains</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 footer02_link_box">
                    <h5 class="footer_heading">Legal</h5>
                    <ul class="footer01_links_list">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko-layout18">Submit A Ticket</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/announcements?systpl=hostiko-layout18">Announcement</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/announcements?systpl=hostiko-layout18">Knowledgebase</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row padding_top_30 copyright_outer_box">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="copyright_box">
                    Copyright © 2019 <a href="www.Hostiko.com">Hostiko.com</a> All Rights Reserved
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 footer02_social_list text-right">
                <div class="ml-auto">
                    <ul class="footer01_social_links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->