<!--Default Footer-->
<section class="padding_top_100">
    <div class="container">
        <div class="outer_box_default_footer">
            <div class="footer_logo text-center">
                <a href="index.html"><img src="assets/images/svg/logo.svg" alt=""></a>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    <br>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <figure class="text-center"><img src="assets/images/awards_img.png" alt="" class="img-fluid"></figure>
        </div>
        <div class="row margin_bottom_60 hide_on_mobile">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <h5 class="default_footer_heading">Get in touch</h5>
                <ul class="default_footer_list">
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing
                        elit. Aenean commodo ligula eget. </li>
                    <li><a href="mailto:info@hostiko.com">info@hostiko.com</a></li>
                    <li><a href="tel:(+1) 123 456 7890">(+1) 123 456 7890</a></li>
                    <li><figure><img src="assets/images/payment_mode_img.png" alt="" class="img-fluid"></figure></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 padding_left_50">
                <h5 class="default_footer_heading">Our Services</h5>
                <ul class="default_footer_link_list">
                    <li><a href="shared_hosting.html">Shared Hosting</a></li>
                    <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                    <li><a href="vps_hosting.html">VPS Hosting</a></li>
                    <li><a href="dedicated_hosting.html">Dedicated Hosting</a></li>
                    <li><a href="domain.html">Domain Registration</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 padding_left_50">
                <h5 class="default_footer_heading">Our Links</h5>
                <ul class="default_footer_link_list">
                    <li><a href="contact.html">Contact US</a></li>
                    <li><a href="#">Submit A Ticket</a></li>
                    <li><a href="vps_hosting.html">Privacy Policy</a></li>
                    <li><a href="dedicated_hosting.html">Terms and Conditions</a></li>
                    <li><a href="#">KnowledgeBase</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <h5 class="default_footer_heading">About Us</h5>
                <ul class="default_footer_link_list">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="testimonial.html">Testimonials</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright_section padding_top_50 padding_bottom_50">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="default_footer_copyright_box">Copyright 2019 <a href="#">DesigningMedia</a>. All Rights Reserved</div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <ul class="footer_social_links">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->