<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
        body{font-family: 'Lato', sans-serif; margin: 0}
    </style>
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="600" id="bodyTable">
    <tbody><tr>
        <td align="center" valign="top" id="bodyCell">
            <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                <tbody><tr class="header-whmcs-template">
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                            <tbody><tr bgcolor="#000064"><td>
                                <table width="100%" align="left" border="0" cellspacing="0" cellpadding="27" bgcolor="#e8e8e8">
                                    <tbody><tr>
                                        <td align="left"><a href="index.html" class="template-logo"><img src="assets/images/logo.svg" alt="" class="template-logo" style="width: 130px"></a>
                                        </td>
                                        <td align="right">
                                            <table align="right" border="0" cellspacing="0" cellpadding="0">
                                                <tbody><tr align="right">
                                                    <td><a href="#"><img src="assets/images/social-icon1.png" alt=""></a>
                                                    </td>
                                                    <td width="15px"></td>
                                                    <td><a href="#"><img src="assets/images/social-icon2.png" alt=""></a>
                                                    </td>
                                                    <td width="15px"></td>
                                                    <td><a href="#"><img src="assets/images/social-icon3.png" alt=""></a>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td></tr>
                            <tr>
                                <td>
                                    <table width="100%" align="left" border="0" cellspacing="0" id="banner-area" bgcolor="e73747">
                                        <tbody><tr><td height="60px"></td></tr>
                                        <tr>
                                            <td width="100%">
                                                <h1 class="banner-txt" style="text-align:center;color:#fff;font-size:28px;line-height:36px;margin-top:0;margin-bottom:0;font-weight:300">Hostiko Offer Fully Managed <br>
                                                    Hosting Solutions</h1>
                                            </td>
                                        </tr>
                                        <tr><td height="25"></td></tr>
                                        <tr align="center">
                                            <td>

                                                <table width="200">
                                                    <tbody><tr align="center">
                                                        <td>
                                                            <a href="//themeforest.net/item/hostiko-html-whmcs-hosting-theme/21860050" class="primary-btn" style="line-height:12px;color:#fff;text-decoration:none;padding:18px 36px;border:solid 2px #fff;display:block;text-transform:uppercase;letter-spacing:1px">Get Hostiko</a>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                        <tr><td height="60px"></td></tr>
                                        </tbody></table>
                                </td>
                            </tr>

                            </tbody></table>
                    </td>
                </tr>
                <tr class="Bodycontent-whmcs-template">
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                            <tbody><tr>
                                <td valign="top" class="bodyContent">
                                    <!-- header end here -->



                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1563436286563">
                                        <div class="wpb_wrapper">
                                            <table cellpadding="50" border="0" style="background-color:#e8e8e8">
                                                <tbody><tr>
                                                    <td><table>
                                                        <tbody><tr>
                                                            <td>

                                                                <p style="margin-top:0;font-size:16px;line-height:24px;color:#333333;font-weight:700">Dear Customer,</p>
                                                                <p style="margin-top:0;font-size:14px;line-height:24px;color:#777;font-weight:500">
                                                                    The email templates allow you to customise the messages that go out to your customers when actions occur inside WHMCS. Every email that goes out to a customer can be customised here.</p>
                                                                <p style="margin-top:0;font-size:14px;line-height:24px;color:#777;font-weight:500">
                                                                    To edit an email template, go to <strong style="color:#230fae">Setup &gt; Email Templates</strong> and click the edit icon next to the template you want to change.</p>
                                                                <p style="margin-top:0;font-size:14px;line-height:24px;color:#777;font-weight:500">
                                                                    You can also toggle plain text vs. HTML email sending on a per email basis from the editor page.</p>

                                                                <p style="margin-top:0;font-size:14px;line-height:24px;color:#333333;font-weight:700">Creating Custom Templates</p>
                                                                <p style="margin-top:0;font-size:14px;line-height:24px;color:#777;font-weight:500">
                                                                    You can create your own email templates to serve as custom welcome emails for products or messages you send manually but frequently</p>

                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/8CJzkBN3iGc?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

                                                                <p style="margin-top:0;font-size:14px;line-height:24px;color:#777;font-weight:500">Now the email will be listed in the appropriate place for sending. Please refer to the <a href="//docs.whmcs.com/Messages/Emails" style="color:#230fae;font-weight:700">Messages/Emails</a> page.</p>

                                                                <p style="margin-top:0;font-size:14px;line-height:24px;color:#777;font-weight:400;margin-bottom:0">Regards:<br>
                                                                    <strong style="color:#230fae">Team Hostiko</strong></p>

                                                            </td>
                                                        </tr>
                                                        </tbody></table></td>
                                                </tr>
                                                </tbody></table>
                                        </div>
                                    </div>

                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1563274566648">
                                        <div class="wpb_wrapper">
                                            <!-- Footer starts here -->
                                        </div></div></td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                <tr class="footer-whmcs-template">
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                            <tbody><tr>
                                <td>
                                    <table width="100%" align="left" border="0" cellspacing="50" cellpadding="50" bgcolor="e73747" class="footer-section">

                                        <tbody><tr>
                                            <td>

                                                <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

                                                    <tbody><tr>
                                                        <td width="100%">
                                                            <h1 class="footer-heading" style="color: #fff">Complete Hosting<br>
                                                                Solutions Only <span style="font-weight:700;color:#fff">$2.95/mo</span></h1>
                                                        </td>
                                                    </tr>
                                                    <tr><td height="25"></td></tr>
                                                    <tr align="left">
                                                        <td>
                                                            <table width="160">
                                                                <tbody><tr align="left">
                                                                    <td>
                                                                        <a href="//themeforest.net/item/hostiko-html-whmcs-hosting-theme/21860050" class="primary-btn" style="font-weight: 600; line-height:12px;color:#fff;text-decoration:none;padding:15px 0;border:solid 2px #fff;display:block;text-transform:uppercase;letter-spacing:1px; text-align: center">Get Hostiko</a>
                                                                    </td>
                                                                </tr>
                                                                </tbody></table>

                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>

                                        </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td valign="top" class="footerContent">
                                    <a href="{$company_domain}">visit our website</a>
                                    <span class="hide-mobile"> | </span>
                                    <a href="{$whmcs_url}">log in to your account</a>
                                    <span class="hide-mobile"> | </span>
                                    <a href="{$whmcs_url}submitticket.php">get support</a> <br>
                                    Copyright © {$company_name}, All rights reserved.
                                </td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    </tbody></table>
</body>
</html>