<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="shared_banner">
    <div class="inner_hero_banner">
        <div class="container">
            <div class="hero_banner_content_box shared_banner_content_box wow fadeInLeft" data-wow-delay="0.4s">
                <div class="inner_hero_banner_content_box inner_shared_banner_content_box">
                    <h1>Hosting Plans</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elite.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Hosting Plan Section-->
<section class="padding_top_75 padding_bottom_75 ">
    <div class="container">
        <!--Section Heading-->
        <div class="section_heading_box" data-aos="fade-up">
            <h2>Hosting for Every Website</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam qui mei oblique taimates.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 margin_box_mobile" data-aos="fade-left"
                 data-aos-anchor="#example-anchor"
                 data-aos-offset="1500"
                 data-aos-duration="1500">
                <!--Hosting Plan Box-->
                <div class="hosting_plan_box">
                    <figure data-aos="fade-left"
                            data-aos-anchor="#example-anchor"
                            data-aos-offset="1500"
                            data-aos-duration="1500"><img src="assets/images/svg/hosting_plan_img01.svg" alt=""></figure>
                    <h3 data-aos="fade-left"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="1500"
                        data-aos-duration="1500">Shared</h3>
                    <p data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1500"
                       data-aos-duration="1500">Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price_box" data-aos="fade-left"
                         data-aos-anchor="#example-anchor"
                         data-aos-offset="1500"
                         data-aos-duration="1500">$<span>7.99</span>/mo</div>
                    <a href="shared_hosting.html" class="btn_hosting_plan" data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1500"
                       data-aos-duration="1500">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_box_mobile" data-aos="fade-left"
                 data-aos-anchor="#example-anchor"
                 data-aos-offset="1600"
                 data-aos-duration="1600">
                <!--Hosting Plan Box-->
                <div class="hosting_plan_box">
                    <figure data-aos="fade-left"
                            data-aos-anchor="#example-anchor"
                            data-aos-offset="1600"
                            data-aos-duration="1600"><img src="assets/images/svg/hosting_plan_img02.svg" alt=""></figure>
                    <h3 data-aos="fade-left"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="1600"
                        data-aos-duration="1600">Reseller</h3>
                    <p data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1600"
                       data-aos-duration="1600">Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price_box" data-aos="fade-left"
                         data-aos-anchor="#example-anchor"
                         data-aos-offset="1600"
                         data-aos-duration="1600">$<span>9.99</span>/mo</div>
                    <a href="reseller_hosting.html" class="btn_hosting_plan" data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1600"
                       data-aos-duration="1600">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4" data-aos="fade-left"
                 data-aos-anchor="#example-anchor"
                 data-aos-offset="1700"
                 data-aos-duration="1700">
                <!--Hosting Plan Box-->
                <div class="hosting_plan_box">
                    <figure data-aos="fade-left"
                            data-aos-anchor="#example-anchor"
                            data-aos-offset="1700"
                            data-aos-duration="1700"><img src="assets/images/svg/hosting_plan_img03.svg" alt=""></figure>
                    <h3 data-aos="fade-left"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="1700"
                        data-aos-duration="1700">Dedicated</h3>
                    <p data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1700"
                       data-aos-duration="1700">Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price_box" data-aos="fade-left"
                         data-aos-anchor="#example-anchor"
                         data-aos-offset="1700"
                         data-aos-duration="1700">$<span>13.99</span>/mo</div>
                    <a href="dedicated_hosting.html" class="btn_hosting_plan" data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1700"
                       data-aos-duration="1700">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Hosting Plan Section-->
<section class="padding_bottom_75 padding_top_75 reseller_hosting_section bg_e8e8e8">
    <div class="container">
        <!--Section Heading-->
        <div class="section_heading_box" data-aos="fade-up">
            <h2>Cheap Dedicated Server Plans</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam qui mei oblique taimates.</p>
        </div>
        <table class="large-only table dedicate_server_table" data-aos="fade-up">
            <thead class="bg_gradient">
            <tr class="">
                <th class="">Cpu</th>
                <th class="">CPU Speed</th>
                <th class="">RAM</th>
                <th class="">Storage</th>
                <th class="">Bandwidth</th>
                <th class="">Price</th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$12.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$19.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$07.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$25.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$10.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$10.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$10.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$10.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!--Ends Here-->
<!--Hosting Plan Section-->
<section class="padding_bottom_75 reseller_hosting_section padding_top_75">
    <div class="container">
        <!--Section Heading-->
        <div class="section_heading_box wow fadeInLeft" data-wow-delay="0.4s">
            <h2>VPS Plan Price</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam qui mei oblique taimates.</p>
        </div>
        <div class="heading-spacer col-xs-12"></div>
        <div class="slider-container">
            <div class="row">
                <div class="col mobile_hide"></div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-3">
                    <div class="float-left w-100">
                        <div class="slider_node w_40 float-left" data-aos="fade-up">
                            <div class="price-slider-section">
                                <div class="sliderbox">
                                    <div id="slider"></div>
                                    <!--sliderbox-->
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="price_rangetxt float-left w-50" data-aos="fade-up">
                            <div id="icon-4" class="icon"><span>TIER 5</span></div>
                            <div id="icon-3" class="icon"><span>TIER 4</span></div>
                            <div id="icon-2" class="icon"><span>TIER 3</span></div>
                            <div id="icon-1" class="icon"><span>TIER 2</span></div>
                            <div id="icon-0" class="icon"><span>TIER 1</span></div>

                            <div class="clear"></div>
                            <!--price_rangetxt-->
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-9 col-9 padding_top_45">
                    <div class="row margin_bottom_30">
                        <div id="cpu_val" class="col-xl-3 col-lg-3 col-md-3 col-6 mobile_margin float-left price_content" data-aos="fade-up">
                            <div class="inner_price_content float-left w-100 margin_box_mobile">
                                <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon1.png"> </span></div>
                                <div class="value_text float-left w-100">CPU<br> <span class="value"></span>  </div>
                            </div>
                            <!--smallbox-->
                        </div>
                        <div id="ram_val" class="col-xl-3 col-lg-3 col-md-3 col-6 mobile_margin float-left price_content margin_box_mobile" data-aos="fade-up">
                            <div class="inner_price_content float-left w-100">
                                <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon2.png"> </span></div>
                                <div class="value_text float-left w-100">RAM<br> <span class="value"></span></div>
                            </div>
                            <!--smallbox-->
                        </div>
                        <div id="hdd_val" class="col-xl-3 col-lg-3 col-md-3 col-6 float-left price_content" data-aos="fade-up">
                            <div class="inner_price_content float-left w-100">
                                <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon3.png"> </span></div>
                                <div class="value_text float-left w-100">Hard Disk<br> <span class="value"></span> </div>
                            </div>
                            <!--smallbox-->
                        </div>
                        <div id="bandwidth_val" class="col-xl-3 col-lg-3 col-md-3 col-6 float-left price_content" data-aos="fade-up">
                            <div class="inner_price_content float-left w-100">
                                <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon4.png"> </span></div>
                                <div class="value_text float-left w-100">Hard Disk<br> <span class="value"></span> </div>
                            </div>
                            <!--smallbox-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12" data-aos="fade-up">
                            <div class="slider_price_box">
                                <div class="original_cut_price inner_boxes">
                                    <div> <strike>$12.50 /mo </strike></div>
                                </div>
                                <div class="package_price vps_package_price inner_boxes">
                                    <div class="price_txt smallbox"><span id="price_val" class="numeric1"></span>/mo</div>
                                </div>
                                <div class="inner_boxes d-inline-block">
                                    <a href="https://www.your-domain.com/?cmd=cart&amp;action=add&amp;id=250" class="vps_btn buynow-button">Get Started</a>
                                </div>
                                <div class="coupon_code_box inner_boxes">
                                    30% OFF <br> <small>Use Coupon Code: LVPS30</small>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mobile_hide"></div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Section-->
<section class="padding_top_60 padding_bottom_60 bg_e8e8e8">
    <div class="container">
        <div class="section_heading_box">
            <h2>What Our Customers Say</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam qui mei oblique taimates.</p>
        </div>
        <div id="testimonial_slider" class="carousel slide" data-ride="">

            <!-- Indicators -->
            <ul class="carousel-indicators slider_indicator">
                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active slider_inner_box">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box_mobile">
                            <div class="testimonial_content_box">
                                <figure><img src="assets/images/quetos_img.png" alt=""></figure>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei docendi antiopam indoctum mei, eam ad velit mucius graeco.</p>
                            </div>
                            <div class="testimonial_img_box">
                                <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                <div class="testimonial_customer_box">
                                    <div class="customer_name">Michel Anderson</div>
                                    <div class="customer_website">Hostiko.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_content_box">
                                <figure><img src="assets/images/quetos_img.png" alt=""></figure>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei docendi antiopam indoctum mei, eam ad velit mucius graeco.</p>
                            </div>
                            <div class="testimonial_img_box">
                                <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                <div class="testimonial_customer_box">
                                    <div class="customer_name">Michel Anderson</div>
                                    <div class="customer_website">Hostiko.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider_inner_box">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box_mobile">
                            <div class="testimonial_content_box">
                                <figure><img src="assets/images/quetos_img.png" alt=""></figure>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei docendi antiopam indoctum mei, eam ad velit mucius graeco.</p>
                            </div>
                            <div class="testimonial_img_box">
                                <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                <div class="testimonial_customer_box">
                                    <div class="customer_name">Michel Anderson</div>
                                    <div class="customer_website">Hostiko.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_content_box">
                                <figure><img src="assets/images/quetos_img.png" alt=""></figure>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei docendi antiopam indoctum mei, eam ad velit mucius graeco.</p>
                            </div>
                            <div class="testimonial_img_box">
                                <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                <div class="testimonial_customer_box">
                                    <div class="customer_name">Michel Anderson</div>
                                    <div class="customer_website">Hostiko.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider_inner_box">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box_mobile">
                            <div class="testimonial_content_box">
                                <figure><img src="assets/images/quetos_img.png" alt=""></figure>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei docendi antiopam indoctum mei, eam ad velit mucius graeco.</p>
                            </div>
                            <div class="testimonial_img_box">
                                <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                <div class="testimonial_customer_box">
                                    <div class="customer_name">Michel Anderson</div>
                                    <div class="customer_website">Hostiko.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_content_box">
                                <figure><img src="assets/images/quetos_img.png" alt=""></figure>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei docendi antiopam indoctum mei, eam ad velit mucius graeco.</p>
                            </div>
                            <div class="testimonial_img_box">
                                <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                <div class="testimonial_customer_box">
                                    <div class="customer_name">Michel Anderson</div>
                                    <div class="customer_website">Hostiko.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer" class="outer_default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/stacktable.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    jQuery('.box_counter').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 6000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $('.table').stacktable({myClass:'dedicate_server_table'});
</script>
</body>
</html>