<!--Footer-Section-->
<div class="footer_address_sec padding_top_32 padding_bottom_30 bg_0b5d47 color_fff">
    <div class="container">
        <ul class="contact_detail_list">
            <li><span>Address:</span> 121 King Street, Melbourne <br>Victoria 3000 Australia
            </li>
            <li><span>Phone:</span> <a class="primary_font" href="tel:+1 234 567 8999">+1 234 567 8999</a>
            </li>
            <li><span>E-mail:</span> <a class="primary_font" href="mailto:info@hostiko.com">info@hostiko.com</a>
            </li>
        </ul>
    </div>
    </div>
    <section class="footer_section padding_top_70 padding_bottom_60 bg_076d4d color_fff">
        <div class="container border_bottom footer_links_outer">
            <div class="row border_bottom">
                <div class="col-xl-4 col-lg-4 col-md-4 footer_box">
                    <h5 class="footer_heading">Hostiko</h5>
                    <p class="margin_bottom_35">Lorem ipsum dolor sit amet, no utinam
                        tritani omittam quimei oblique tacim
                        ates iudicabit no, id ius omnis veniam
                        interpretaris.</p>
                    <p class="line_height_24 font_weight_400">Copyright 2020 <br>
                        <a href="https://hostiko.com" class="color_e9db00">Hostiko.com</a> All Rights Reserved</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 padding_left_122 mobile_hide footer_box">
                    <h5 class="footer_heading">Our Services</h5>
                    <ul class="footer_links">
                        <li><a href="shared_hosting.html">Shared Hosting</a></li>
                        <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                        <li><a href="vps_hosting.html">Virtual Private Server</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="domain.html">Domain</a></li>
                        <li><a href="domain_transfer.html">Transfer Domain</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 padding_left_95 mobile_hide footer_box">
                    <h5 class="footer_heading">About Us</h5>
                    <ul class="footer_links">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="testimonial.html">Testimonial</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 mobile_hide footer_box">
                    <h5 class="footer_heading">Contact Us</h5>
                    <ul class="footer_links">
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms.html">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="padding_top_42 container footer_social_box">
            <div class="row">
                <div class="col"></div>
                <div class="col-xl-10 col-lg-10 text-center">
                    <p class="font_size_14 line_height_24 margin_bottom_30 color_159d72">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis debitis est illum incidunt laudantium nisi, officia, pariatur repudiandae tenetur, vel vero? Cumque dolor eius explicabo illo.
                    </p>
                    <ul class="footer_social_links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
    <!--Footer-Section-->
    