<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_20">About Us</h1>
        <p>Learn more about Hostiko - the home of web pros worldwide</p>
    </div>
</section>
<!--End Slider Section-->
<!--Hosting Plans Section-->
<section class="padding_top_100 padding_bottom_100 bg_e0edf1 text-center">
    <div class="container">
        <p class="color_fd5481 font_weight_700 margin_bottom_20">The Innovative, Fast Web Hosting Company You've Been Searching For</p>
        <p class="margin_bottom_20">Over the years, many customers have told us that they wish they would've found us sooner. We're glad you found us and are interested in learning more! We got our start back in 2018 when our CEO Jhon Doe used his strong background and experience as a UNIX systems administrator to launch Hostiko. We've been independently owned ever since!</p>
        <p>While Hostiko was originally launched as a hobby, it was evident this side venture would grow into something more. And it has! From our roots in a two-room office in London UK to hand picking the very best team members and data centers located around the globe. From hosting a couple sites for a few friends and family members to hosting thousands of prominent websites. From just offering Shared Web Hosting to a complete, fully scalable product line featuring Reseller, VPS and Dedicated Server solutions.</p>
    </div>
</section>
<!--Ends Here-->
<!-- Why Choose Section-->
<section class="padding_top_100 padding_bottom_100 bg_why_choose">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="color_fff">Why Choose Hostiko?</h2>
            <p class="color_fff">We use the latest Dell server technology in our own data center to ensure that our customers get the best performance out of their websites.
                Our wide selection of web hosting services will cater to your hosting needs whether you're making a small, simple website, or a high powered, high traffic website. Our main goal is to provide the best technology available with exceptional customer support. </p>
        </div>
        <div class="row margin_bottom_30">
            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Web Hosting Features</h5>
                            <p>Unmetered Bandwidth, FTP and Email
                                Accounts. Our hosting plans are IPv6 ready.
                                99.9% Uptime Guarantee.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Web Hosting Features</h5>
                            <p>Unmetered Bandwidth, FTP and Email
                                Accounts. Our hosting plans are IPv6 ready.
                                99.9% Uptime Guarantee.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img03.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Web Hosting Features</h5>
                            <p>Unmetered Bandwidth, FTP and Email
                                Accounts. Our hosting plans are IPv6 ready.
                                99.9% Uptime Guarantee.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img04.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Web Hosting Features</h5>
                            <p>Unmetered Bandwidth, FTP and Email
                                Accounts. Our hosting plans are IPv6 ready.
                                99.9% Uptime Guarantee.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Search Domain Section-->
<section class="padding_top_100 padding_bottom_100 bg_search_domain text-center">
    <div class="container">
        <div class="section_heading_box">
            <h2>It all starts with a domain.</h2>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-9 col-lg-9">
                <form action="#">
                    <input type="text" class="search_domain" placeholder="Search Your Domain Name here....">
                    <input type="submit" value="Search" class="btn_search_domain">
                </form>
                <ul class="popular_tlds_list">
                    <li>
                        <figure><img src="assets/images/popular_tlds_img01.png" alt=""></figure>
                        <div class="tld_price_tag">$9.99/yr</div>
                    </li>
                    <li>
                        <figure><img src="assets/images/popular_tlds_img02.png" alt=""></figure>
                        <div class="tld_price_tag">$9.99/yr</div>
                    </li>
                    <li>
                        <figure><img src="assets/images/popular_tlds_img03.png" alt=""></figure>
                        <div class="tld_price_tag">$9.99/yr</div>
                    </li>
                    <li>
                        <figure><img src="assets/images/popular_tlds_img04.png" alt=""></figure>
                        <div class="tld_price_tag">$9.99/yr</div>
                    </li>
                    <li>
                        <figure><img src="assets/images/popular_tlds_img05.png" alt=""></figure>
                        <div class="tld_price_tag">$9.99/yr</div>
                    </li>
                    <li>
                        <figure><img src="assets/images/popular_tlds_img06.png" alt=""></figure>
                        <div class="tld_price_tag">$9.99/yr</div>
                    </li>
                </ul>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--End Here-->
<!--COA Section-->
<section class="padding_top_100 padding_bottom_40 coa_section bg_e0edf1">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <figure><img src="assets/images/coa_img.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 coa_content_box mobile_text_center">
                <h2>State of the Art Data Centre</h2>
                <p>At Hostiko, we house our servers in highly-secure and ultra-modern Tier 4 data centres in Maidenhead, Reading, Nottingham and Manchester, with BGP network redundancy provided by Simply Transit. We host over 35,000 customers in our state-of-the-art data centres serving over 2,000,000 websites world.</p>
                <a href="#" class="btn_coa">Learn More</a>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>
</body>
</html>