<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_20">Fast Solutions To Fit All Your <br>
            Email Hosting Needs!</h1>
    </div>
</section>
<!--End Slider Section-->
<!--Map Section-->
<section class="padding_top_95 padding_bottom_95 text-center bg_e0edf1">
    <div class="container">
       <div class="col-12 data_center_map">
            <figure><img src="assets/images/blue-map.svg" alt=""></figure>
           <div id="data_center_box01" class="location-outer data-center-decreption_box"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Americas</span><div class="location_detail" style="display: none;"><h2>Americas</h2><p class="details">Berkeley County, South Carolina</p></div> </div>
           <div id="data_center_box02" class="location-outer data-center-decreption_box"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Argentina</span><div class="location_detail" style="display: none;"><h2>Argentina</h2><p class="details">Buenos Aires</p></div> </div>
           <div id="data_center_box03" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Greenland</span><div class="location_detail" style="display: none;"><h2>Greenland</h2><p class="details">The Dalles, Oregon</p></div> </div>
           <div id="data_center_box04" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">United Kingdom</span><div class="location_detail" style="display: none;"><h2>United Kingdom</h2><p class="details">London</p></div> </div>
           <div id="data_center_box05" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Russia</span><div class="location_detail" style="display: none;"><h2>Russia</h2><p class="details">Dublin, Ireland</p></div> </div>
           <div id="data_center_box06" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Asia</span><div class="location_detail" style="display: none;"><h2>Asia</h2><p class="details">Changhua County, Taiwan</p></div> </div>
           <div id="data_center_box07" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Australia</span><div class="location_detail" style="display: none;"><h2>Australia</h2><p class="details">Canberra</p></div> </div>
       </div>
    </div>
</section>
<!--Ends Here-->
<!-- Why Choose Section-->
<section class="padding_top_95 padding_bottom_95 bg_why_choose">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_80">
            <h2 class="color_fff">Why Choose Hostiko?</h2>
            <p class="color_fff">We use the latest Dell server technology in our own data center to ensure that our customers get the best performance out of their websites.
                Our wide selection of web hosting services will cater to your hosting needs whether you're making a small, simple website, or a high powered, high traffic website. Our main goal is to provide the best technology available with exceptional customer support. </p>
        </div>
        <div class="row margin_bottom_30">
            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Our Datacenters</h5>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Our Vision</h5>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img03.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Our Mission</h5>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img04.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>400k+ Happy Customers</h5>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>