<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_20">Fast Solutions To Fit All Your <br>
            Email Hosting Needs!</h1>
    </div>
</section>
<!--End Slider Section-->
<!--DDoS Protection-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1 ddos_protection_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 ddos_plan_box mobile_margin outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>DDoS Protection for Websites</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$49<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin ddos_plan_box outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>DDoS Protection for Networks</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$69<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 ddos_plan_box outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>DDoS Protection for Domain Server</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Global DDoS Protection-->
<section class="padding_top_95 padding_bottom_95">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Global DDoS Protection</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Data Center Map-->
<section class="padding_top_95 padding_bottom_95 text-center bg_e0edf1">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 text-left">
                <div class="section_heading_box margin_bottom_50">
                    <h2 class="">Our Datacenters</h2>
                </div>
                <p class="margin_bottom_30">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam vad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri.</p>
                <p class="color_ff007e">Mei errem suscipit euut eos facilisi platonem oportere Ius fugit lucilius suavitateea.</p>
            </div>
            <div class="col-xl-7 col-lg-7">
                <figure><img src="assets/images/data_center_map.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Payment Section-->
<section class="padding_top_95 padding_bottom_95 text-center">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Payment We Accept</h2>
        </div>
        <figure><img src="assets/images/payment_img.png" alt=""></figure>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer" class="bg_e0edf1"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>