<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_20">Domain Registration</h1>
        <p class="margin_bottom_50">Your first step towards a dream website. Limited Time Offer: <b>.COM $9.95/year</b></p>
        <div class="outer_search_domain_box">
            <form action="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko-layout15&a=add&domain=register" method="post">
                <input type="text" class="search_domain" placeholder="Search Your Domain Name here....">
                <input type="submit" value="Search" class="btn_search_domain">
            </form>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Popular TLDs-->
<section class="padding_top_100 padding_bottom_100 bg_e0edf1">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Popular TLDs</h2>
            <p class="">When you’re trying to come up with a good domain, it’s important to come up with one that can stand
                <br>
                the test of time and that accurately represents you and your website or brand.</p>
        </div>
        <div class="row">
            <div class="outer_domain_tlds_box col-xl-3 col-lg-3 col-md-3 mobile_margin">
                <div class="domain_tlds_box">
                    <div class="domain_name">.Com</div>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$9.95<small>/yr</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 outer_domain_tlds_box mobile_margin">
                <div class="domain_tlds_box">
                    <div class="domain_name">.Net</div>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$10.99<small>/yr</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 outer_domain_tlds_box mobile_margin">
                <div class="domain_tlds_box">
                    <div class="domain_name">.org</div>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$13.99<small>/yr</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 outer_domain_tlds_box">
                <div class="domain_tlds_box">
                    <div class="domain_name">.Co.Uk</div>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$19.99<small>/yr</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Available TLD's Section-->
<section class="padding_bottom_100 padding_top_100 bg_eff6f8 available_tlds_section">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Available TLDs</h2>
            <p class="">When you’re trying to come up with a good domain, it’s important to come up with one that can stand
                <br>
                the test of time and that accurately represents you and your website or brand</p>
        </div>
        <table class="large-only table domain_table">
            <thead class="bg_230fae">
            <tr class="">
                <th class="text-center">TLD's</th>
                <th class="">Years</th>
                <th class="">Register</th>
                <th class="">Transfer</th>
                <th class="">Renew</th>
            </tr>
            <tr>
                <th colspan="5" class="bg_fd5a82 offer_line">.COM domains are just $9.95/yr and include a FREE Private Registration</th>
            </tr>
            </thead>
            <tbody class="domain_table_body">
            <tr>
                <td class="text-center">.Com</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td class="text-center">.Net</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td class="text-center">.Co.uk</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td class="text-center">.Asia</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td class="text-center">.Eu</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>

            <tr>
                <td class="text-center">.Org</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td class="text-center">.Ca</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>
            <tr>
                <td class="text-center">.Gov</td>
                <td class="default">2 Year</td>
                <td>$9.95</td>
                <td>$9.99</td>
                <td>$9.99</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!--Ends Here-->
<!--Partner Section-->
<section class="padding_top_50 padding_bottom_50 domain_partner_section">
    <div class="container">
        <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                    <figure><img src="assets/images/partner_img01.png" alt="" class="img-fluid"></figure>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                    <figure><img src="assets/images/partner_img02.png" alt="" class="img-fluid"></figure>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                    <figure><img src="assets/images/partner_img03.png" alt="" class="img-fluid"></figure>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                    <figure><img src="assets/images/partner_img04.png" alt="" class="img-fluid"></figure>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                    <figure><img src="assets/images/partner_img05.png" alt="" class="img-fluid"></figure>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                    <figure><img src="assets/images/partner_img06.png" alt="" class="img-fluid"></figure>
                </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/stacktable.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    $('.table').stacktable({myClass:'domain_table'});
</script>
</body>
</html>