<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">

</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_20">Domain Registration</h1>
        <p class="margin_bottom_50">Your first step towards a dream website. Limited Time Offer: <b>.COM $9.95/year</b></p>
        <div class="outer_search_domain_box">
            <form action="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko-layout15&a=add&domain=register" method="post">
                <input type="text" class="search_domain" placeholder="Search Your Domain Name here....">
                <input type="submit" value="Search" class="btn_search_domain">
            </form>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Domain Transfer Section-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Transfer your Domain to Hostiko <br>
                in 3 Easy Steps</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="domain_transfer_box text-center">
                    <div class="step_box">1</div>
                    <h5 class="margin_bottom_10">Request code</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="domain_transfer_box text-center">
                    <div class="step_box">2</div>
                    <h5 class="margin_bottom_10">Enter Domain</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="domain_transfer_box text-center">
                    <div class="step_box">3</div>
                    <h5 class="margin_bottom_10">Confirm Transfer</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Domain Transfer Include Section-->
<section class="padding_top_95 padding_bottom_95">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Every Domain Transfer includes</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Domain Transfer Feature Section-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Great features FREE with every <br> domain name Transfer!</h2>
            <p class="">Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="domain_transfer_feature_box text-center">
                    <figure><img src="assets/images/domain_transfer_feature_img01.png" alt=""></figure>
                    <h5>Domain Locking</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="domain_transfer_feature_box text-center">
                    <figure><img src="assets/images/domain_transfer_feature_img02.png" alt=""></figure>
                    <h5>Domain Locking</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="domain_transfer_feature_box text-center">
                    <figure><img src="assets/images/domain_transfer_feature_img03.png" alt=""></figure>
                    <h5>Domain Locking</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>




</body>
</html>