    <!DOCTYPE HTML>
    <html lang="zxx">
        <head>
            <!--Title-->
            <title>Hostiko</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
            <!--description-->
            <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
            <!--Key Words-->
            <meta name="keywords" content="">
            <!--bootstrap-->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <!--fontawesome style-->
            <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <!--style-->
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/responsive.css">
            <link rel="shortcut icon" href="assets/images/favicon.png">
        </head>
        <body>
        <div id="default_header"></div>
        <!--Hero Banner Section-->
        <section class="bg_home_banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 order_2 mobile_text_center banner_content_box">
                        <h1 class="margin_bottom_25">UK's Best Cloud &
                            WordPress Hosting
                            Provider</h1>
                        <p class="">We Make sure your Website is Fast, Secure & always up so
                            your visitors & Search Engines trust you. Guaranteed.</p>
                        <a href="#" class="btn_home_banner">Get Started</a>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 order_1 text-center">
                        <figure><img src="assets/images/home_banner_img.png" alt="" class="img-fluid"></figure>
                    </div>
                </div>
            </div>
        </section>
        <!--End Slider Section-->
        <!--Partner Section-->
        <section class="partner_section">
            <div class="container border_bottom">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4 mobile_space">
                        <figure><img src="assets/images/partner_img01.png" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4 mobile_space">
                        <figure><img src="assets/images/partner_img02.png" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4 mobile_space">
                        <figure><img src="assets/images/partner_img03.png" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                        <figure><img src="assets/images/partner_img04.png" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                        <figure><img src="assets/images/partner_img05.png" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 partner_img_box col-4">
                        <figure><img src="assets/images/partner_img06.png" alt="" class="img-fluid"></figure>
                    </div>
                </div>
            </div>
        </section>
        <!--Ends Here-->
        <!--Search Domain Section-->
        <section class="padding_top_95 padding_bottom_95 bg_search_domain text-center">
            <div class="container">
                <div class="margin_bottom_50 search_domain_heading">
                    <h2>It all starts with a domain.</h2>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-xl-10 col-lg-10">
                        <form action="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&layout=29&a=add&domain=register" method="post">
                            <input type="text" class="search_domain" placeholder="Search Your Domain Name here....">
                            <input type="submit" value="Search" class="btn_search_domain">
                        </form>
                        <ul class="popular_tlds_list">
                            <li>
                                <figure><img src="assets/images/popular_tlds_img01.png" alt=""></figure>
                                <div class="tld_price_tag">$9.99/yr</div>
                            </li>
                            <li>
                                <figure><img src="assets/images/popular_tlds_img02.png" alt=""></figure>
                                <div class="tld_price_tag">$9.99/yr</div>
                            </li>
                            <li>
                                <figure><img src="assets/images/popular_tlds_img03.png" alt=""></figure>
                                <div class="tld_price_tag">$9.99/yr</div>
                            </li>
                            <li>
                                <figure><img src="assets/images/popular_tlds_img04.png" alt=""></figure>
                                <div class="tld_price_tag">$9.99/yr</div>
                            </li>
                            <li>
                                <figure><img src="assets/images/popular_tlds_img05.png" alt=""></figure>
                                <div class="tld_price_tag">$9.99/yr</div>
                            </li>
                            <li>
                                <figure><img src="assets/images/popular_tlds_img06.png" alt=""></figure>
                                <div class="tld_price_tag">$9.99/yr</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </section>
        <!--End Here-->
        <!--Hosting Plans Section-->
        <section class="padding_top_95 padding_bottom_95 bg_e0edf1">
            <div class="container">
                <div class="section_heading_box text-center margin_bottom_50">
                    <h2>Plan and Pricing</h2>
                    <p>Our prices may be cheap, but we're not selling cheap hosting. Our hosting plans are bursting at the seams with
                        <br>
                        features you'll love, all backed by fast 24/7 support and powered entirely by renewable energy.</p>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                        <div class="hosting_plan_box">
                            <h5>Shared Hosting</h5>
                            <ul class="hosting_plan_box_list">
                                <li><b>3</b> Websites</li>
                                <li><b>24/7 Live Support</b></li>
                                <li>Easy <b>Website</b> Builder</li>
                                <li>Weekly <b>Backups</b></li>
                                <li><b>Money-Back Guarantee</b></li>
                            </ul>
                            <div class="plan_price_box">
                                <small>Only</small>
                                <br>
                                <div class="inner_plan_price_box">$2.99<small>/mo</small></div>
                                <a href="#" class="btn_price_plan">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                        <div class="hosting_plan_box">
                            <h5>Dedicated Server</h5>
                            <ul class="hosting_plan_box_list">
                                <li><b>4 CPU Cores @ 3.1 GHz</b></li>
                                <li><b>4 GB</b> Memory</li>
                                <li><b>1 TB</b> storage (RAID-1)</li>
                                <li>Unmetered <b>Bandwidth</b></li>
                                <li><b>3</b> dedicated IPs</li>
                            </ul>
                            <div class="plan_price_box">
                                <small>Only</small>
                                <br>
                                <div class="inner_plan_price_box">$9.99<small>/mo</small></div>
                                <a href="#" class="btn_price_plan">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box">
                        <div class="hosting_plan_box">
                            <h5>VPS Hosting</h5>
                            <ul class="hosting_plan_box_list">
                                <li><b>4GB</b> Ram</li>
                                <li><b>75GB</b> Storage</li>
                                <li><b>2TB</b> Storage</li>
                                <li><b>4vCPUs</b></li>
                                <li>Free <b>cPanel</b> Control</li>
                            </ul>
                            <div class="plan_price_box">
                                <small>Only</small>
                                <br>
                                <div class="inner_plan_price_box">$13.99<small>/mo</small></div>
                                <a href="#" class="btn_price_plan">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Ends Here-->
        <!-- Why Choose Section-->
        <section class="padding_top_95 padding_bottom_95 bg_why_choose">
            <div class="container">
                <div class="section_heading_box text-center margin_bottom_80">
                    <h2 class="color_fff">Why Choose Hostiko?</h2>
                    <p class="color_fff">We use the latest Dell server technology in our own data center to ensure that our customers get the best performance out of their websites.
                        Our wide selection of web hosting services will cater to your hosting needs whether you're making a small, simple website, or a high powered, high traffic website. Our main goal is to provide the best technology available with exceptional customer support. </p>
                </div>
                <div class="row margin_bottom_30">
                    <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin outer_why_choose_box">
                        <div class="why_choose_box">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3">
                                    <figure><img src="assets/images/why_choose_img01.png" alt="" class="img-fluid"></figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 why_choose_content_box">
                                    <h5>Web Hosting Features</h5>
                                    <p>Unmetered Bandwidth, FTP and Email
                                        Accounts. Our hosting plans are IPv6 ready.
                                        99.9% Uptime.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 outer_why_choose_box">
                        <div class="why_choose_box">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3">
                                    <figure><img src="assets/images/why_choose_img02.png" alt="" class="img-fluid"></figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 why_choose_content_box">
                                    <h5>Stable & Secure Technology</h5>
                                    <p>CloudLinux features are increasing security
                                        as well as isolates individual accounts, creating
                                        a much more.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin outer_why_choose_box">
                        <div class="why_choose_box">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3">
                                    <figure><img src="assets/images/why_choose_img03.png" alt="" class="img-fluid"></figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 why_choose_content_box">
                                    <h5>Free Migration Service</h5>
                                    <p>We can transfer your Account, Website,
                                        MySQL Databases and Scripts, from another
                                        host at no charge.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 outer_why_choose_box">
                        <div class="why_choose_box">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3">
                                    <figure><img src="assets/images/why_choose_img04.png" alt="" class="img-fluid"></figure>
                                </div>
                                <div class="col-xl-9 col-lg-9 why_choose_content_box">
                                    <h5>Own Data Center</h5>
                                    <p>We can transfer your Account, Website,
                                        MySQL Databases and Scripts, from another
                                        host at no charge.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Ends Here-->
        <!--COA Section-->
        <section class="padding_top_95 padding_bottom_40 coa_section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-5">
                        <figure><img src="assets/images/coa_img.png" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-7 coa_content_box mobile_text_center">
                        <h2>State of the Art Data Centre</h2>
                        <p>At Hostiko, we house our servers in highly-secure and ultra-modern Tier 4 data centres in Maidenhead, Reading, Nottingham and Manchester, with BGP network redundancy provided by Simply Transit. We host over 35,000 customers in our state-of-the-art data centres serving over 2,000,000 websites world.</p>
                        <a href="#" class="btn_coa">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
        <!--Ends Here-->
        <div id="default_footer"></div>
        <script src="assets/js/jquery-3.3.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script>
            $(function(){
                $("#default_header").load("include/default_header.html");
                $("#default_footer").load("include/default_footer.html");
            });
        </script>
        </body>
    </html>