<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_home_banner padding_bottom_50">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 order_2 mobile_text_center banner_content_box">
                <h1 class="margin_bottom_25">We Provide Top Tier
                    Hosting Services</h1>
                <p class="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor.</p>
                <a href="#" class="btn_home_banner">Get Started</a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 order_1 text-center">
                <figure><img src="assets/images/home_banner_img.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Hosting Plans Section-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2>Plan and Pricing</h2>
            <p>Our prices may be cheap, but we're not selling cheap hosting. Our hosting plans are bursting at the seams with
                <br>
                features you'll love, all backed by fast 24/7 support and powered entirely by renewable energy.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Shared Hosting</h5>
                    <ul class="hosting_plan_box_list">
                        <li><b>3</b> Websites</li>
                        <li><b>24/7 Live Support</b></li>
                        <li>Easy <b>Website</b> Builder</li>
                        <li>Weekly <b>Backups</b></li>
                        <li><b>Money-Back Guarantee</b></li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$2.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Dedicated Server</h5>
                    <ul class="hosting_plan_box_list">
                        <li><b>4 CPU Cores @ 3.1 GHz</b></li>
                        <li><b>4 GB</b> Memory</li>
                        <li><b>1 TB</b> storage (RAID-1)</li>
                        <li>Unmetered <b>Bandwidth</b></li>
                        <li><b>3</b> dedicated IPs</li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$9.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>VPS Hosting</h5>
                    <ul class="hosting_plan_box_list">
                        <li><b>4GB</b> Ram</li>
                        <li><b>75GB</b> Storage</li>
                        <li><b>2TB</b> Storage</li>
                        <li><b>4vCPUs</b></li>
                        <li>Free <b>cPanel</b> Control</li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$13.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!-- Why Choose Section-->
<section class="padding_top_95 padding_bottom_95 bg_why_choose">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_80">
            <h2 class="color_fff">Why Choose Hostiko?</h2>
            <p class="color_fff">We use the latest Dell server technology in our own data center to ensure that our customers get the best performance out of their websites.
                Our wide selection of web hosting services will cater to your hosting needs whether you're making a small, simple website, or a high powered, high traffic website. Our main goal is to provide the best technology available with exceptional customer support. </p>
        </div>
        <div class="row margin_bottom_30">
            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Web Hosting Features</h5>
                            <p>Unmetered Bandwidth, FTP and Email
                                Accounts. Our hosting plans are IPv6 ready.
                                99.9% Uptime.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Stable & Secure Technology</h5>
                            <p>CloudLinux features are increasing security
                                as well as isolates individual accounts, creating
                                a much more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img03.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Free Migration Service</h5>
                            <p>We can transfer your Account, Website,
                                MySQL Databases and Scripts, from another
                                host at no charge.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 outer_why_choose_box">
                <div class="why_choose_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/why_choose_img04.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box">
                            <h5>Own Data Center</h5>
                            <p>We can transfer your Account, Website,
                                MySQL Databases and Scripts, from another
                                host at no charge.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->

<!--Data Center Map-->
<section class="padding_top_95 padding_bottom_95 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 text-left">
                <div class="section_heading_box margin_bottom_50">
                    <h2 class="">Our Datacenters</h2>
                </div>
                <p class="margin_bottom_30">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam vad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri.</p>
                <p class="color_ff007e">Mei errem suscipit euut eos facilisi platonem oportere Ius fugit lucilius suavitateea.</p>
            </div>
            <div class="col-xl-7 col-lg-7">
                <figure><img src="assets/images/data_center_map.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Contact Section-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1 text-center">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2>Contact Form</h2>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <form action="#">
                    <input type="text" name="name" class="contact_field w-100" placeholder="Your Name:">
                    <input type="text" name="email" class="contact_field w-100" placeholder="Your Email:">
                    <input type="text" name="subject" class="contact_field w-100" placeholder="Subject:">
                    <textarea name="" class="contact_field w-100" cols="30" rows="6" placeholder="Add Comments:"></textarea>
                    <input type="submit" value="Send Message" class="btn_submit_msg w-100 mobile_margin">
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="contact_info_box margin_bottom_20 mobile_margin">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/contact_info_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box text-left contact_info_box_content">
                            <h6>Live Chat</h6>
                            <p>Our expert representatives are available to assist you 24/7/365. No issue is too big or too small!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contact_info_box margin_bottom_20 mobile_margin">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/contact_info_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box text-left contact_info_box_content">
                            <h6>Technical Support</h6>
                            <p>Experts always happy to help. <br>
                                First reply within 15 minutes. <br>
                                <a href="mailto:sales@hostiko.com">sales@hostiko.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contact_info_box">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <figure><img src="assets/images/contact_info_img03.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-9 col-lg-9 why_choose_content_box text-left contact_info_box_content">
                            <h6>Phone Calls</h6>
                            <p>Get any of your question answered. <br>
                                9am – 9pm | NY, USA. <br>
                                <a href="tel:+1-234-567-8901">+1-234-567-8901</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Footer Section-->
<section class="padding_top_40 padding_bottom_40">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 full_width text-center">
                <figure class="footer_logo m-auto "><img src="assets/images/logo.svg" alt=""></figure>
                <div class="font_size_14 line_height_18 color_5a5f69 margin_bottom_10 padding_top_20">Copyright 2019 DesigningMedia.<br>
                    All Rights reserved</div>
                <div class="designed_by font_size_12 line_height_18 color_5a5f69 margin_bottom_20">Designed by: <a href="#" class="color_fd5481">Designingmedia</a></div>
                <ul class="footer_social_links">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>