<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_6115d0 sub_banner_page padding_top_60 padding_bottom_60">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <h1>Shared Hosting</h1>
                <p>Our shared service delivers a powerful, proven platform <br>
                    that's perfect for hosting your websites.</p>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Hosting Plan Section-->
<section class="padding_top_60 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box">
            <h2>Shared Hosting Plans</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit</p>
        </div>
        <div class="row margin_bottom_70">
            <div class="col-xl-4 col-lg-4 margin_top_100">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img01.png" alt=""></figure>
                    </div>
                    <h2>Small Business</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$49<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 margin_top_50">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img02.png" alt=""></figure>
                    </div>
                    <h2>Enterprise Hosting</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$49<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img03.png" alt=""></figure>
                    </div>
                    <h2>Premium Hosting</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$49<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
        </div>
        <div class="section_heading_box padding_left_40 margin_bottom_50">
            <h2>include in All plans</h2>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <ul class="hosting_plans_list">
                            <li>Completely Managed Solution</li>
                            <li>Choose Linux or Windows OS</li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <ul class="hosting_plans_list">
                            <li>Root Access Provided</li>
                            <li>24/7 Live Technical Support</li>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <ul class="hosting_plans_list">
                            <li>99.9% Uptime Guarantee</li>
                            <li>Host Unlimited Sites</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Build Website Section-->
<section class="padding_top_60 padding_bottom_60 bg_0dace0">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 build_website_content_box">
                <h2>Build Your Website</h2>
                <p>Set yourself up for success with Europe's Fastest Web Hosting Solutions.</p>
            </div>
            <div class="col"></div>
            <div class="col-xl-3 col-lg-3">
                <div class="">
                    <div class="build_website_price_box">Starting: $19.99</div>
                    <a href="#" class="btn_build_website">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Here-->
<!--Feature Section-->
<section class="padding_top_60 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box margin_bottom_50">
            <h2>Hostiko Features</h2>
            <p>Get Your Perfect Domain Name from Hostiko</p>
        </div>
        <div class="row margin_bottom_50">
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <figure><img src="assets/images/feature_img01.png" alt=""></figure>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <h3>Maximum Performance</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit volup
                            tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <figure><img src="assets/images/feature_img02.png" alt=""></figure>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <h3>WordPress Pre-Installed</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit volup
                            tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <figure><img src="assets/images/feature_img03.png" alt=""></figure>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <h3>Free Let’s Encrypt SSL</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit volup
                            tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <figure><img src="assets/images/feature_img04.png" alt=""></figure>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <h3>Advanced Management</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit volup
                            tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--FAQ Section-->
<section class="padding_top_60 padding_bottom_60 bg_dbf3fa">
    <div class="container">
        <div class="section_heading_box margin_bottom_50 padding_left_40">
            <h2 class="">Frequently Asked Questions</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit consequuntur</p>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div id="accordion" class="text-left">
                    <div class="card ">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is the difference between VPS vs Dedicated Hosting?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do I get started with Dedicated Hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What custom dedicated server configurations does HostGator offer?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What are dedicated servers for games?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Do I need dedicated web hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <figure><img src="assets/images/faq_img.png" alt=""></figure>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<section class="padding_top_40 padding_bottom_40">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3"><figure><img src="assets/images/partner_img01.png" alt=""></figure></div>
            <div class="col-xl-3 col-lg-3"><figure><img src="assets/images/partner_img02.png" alt=""></figure></div>
            <div class="col-xl-3 col-lg-3"><figure><img src="assets/images/partner_img03.png" alt=""></figure></div>
            <div class="col-xl-3 col-lg-3"><figure><img src="assets/images/partner_img04.png" alt=""></figure></div>
        </div>
    </div>
</section>
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }


    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
</body>
</html>