<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_20">SSL Certificates</h1>
        <p>If you don’t have the little green lock from a trusted SSL certificate, <br> Google Chrome will tag your site as Not Secure.</p>
    </div>
</section>
<!--End Slider Section-->
<!--Certificate Plans-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Protect One website</h5>
                    <ul class="hosting_plan_box_list">
                        <li>Secures <b>one</b> website</li>
                        <li>Strong <b>SHA2 & 2048</b>-bit encryption</li>
                        <li>Available in DV, OtV and EV SSL Certificates</li>
                        <li>EV SSL turns browser <b>bar green</b></li>
                        <li>Boosts your site’s <b>Google ranking</b></li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$7.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Protect Multiple websites</h5>
                    <ul class="hosting_plan_box_list">
                        <li>Secures <b>one</b> website</li>
                        <li>Strong <b>SHA2 & 2048</b>-bit encryption</li>
                        <li>Available in DV, OtV and EV SSL Certificates</li>
                        <li>EV SSL turns browser <b>bar green</b></li>
                        <li>Boosts your site’s <b>Google ranking</b></li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$9.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Protect all Sub-domains</h5>
                    <ul class="hosting_plan_box_list">
                        <li>Secures <b>one</b> website</li>
                        <li>Strong <b>SHA2 & 2048</b>-bit encryption</li>
                        <li>Available in DV, OtV and EV SSL Certificates</li>
                        <li>EV SSL turns browser <b>bar green</b></li>
                        <li>Boosts your site’s <b>Google ranking</b></li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$13.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--SSL Certificate Include-->
<section class="padding_top_60 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2>All SSL Certificates include</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_tablet domain_include_box">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Types of SSL Certificate-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="color_333">Compare types of SSL Certificates</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <article>

            <ul class="ssl_certificate_list">
                <li class="bg-purple">
                    <button>Self-Employed</button>
                </li>
                <li class="bg-blue">
                    <button>Simple Start</button>
                </li>
                <li class="bg-blue active">
                    <button>Essentials</button>
                </li>
                <li class="bg-blue">
                    <button>Plus</button>
                </li>
            </ul>

            <table class="comparison_plan_table">
                <thead>
                <tr>
                    <th class="hide"></th>
                    <th class="">Self-Employed</th>
                    <th class="">Simple Start</th>
                    <th class="default">Essentials</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Monthly Price</td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">9.99</span></td>
                    <td><span class="txt-top">&dollar;</span><span class="txt-l">19.99</span></td>
                    <td class="default"><span class="txt-top">&dollar;</span><span class="txt-l">29.99</span></td>
                </tr>
                <tr>
                    <td>roves domain ownership</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Validates organization</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Shows business is legitimate</td>
                    <td></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Display business name in green address bar</td>
                    <td></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Boosts Google® ranking</td>
                    <td></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Strong SHA-2 & 2048-bit encryption</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Padlock in address bar</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td class="hide"></td>
                    <td>
                        <div class="comparison_plan_price">
                            $29<small>/mo</small>
                        </div>
                    </td>
                    <td>
                        <div class="comparison_plan_price">
                        $29<small>/mo</small>
                        </div>
                    </td>
                    <td class="default">
                        <div class="comparison_plan_price">
                            $29<small>/mo</small>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="hide"></td>
                    <td><a href="#" class="btn_comparison_plan">Order Now</a></td>
                    <td><a href="#" class="btn_comparison_plan">Order Now</a></td>
                    <td class="default"><a href="#" class="btn_comparison_plan">Order Now</a></td>
                </tr>
                </tbody>
            </table>

        </article>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });

    $( "ul.ssl_certificate_list" ).on( "click", "li", function() {
        var pos = $(this).index()+2;
        $("tr").find('td:not(:eq(0))').hide();
        $('td:nth-child('+pos+')').css('display','table-cell');
        $("tr").find('th:not(:eq(0))').hide();
        $('li').removeClass('active');
        $(this).addClass('active');
    });

    // Initialize the media query
    var mediaQuery = window.matchMedia('(min-width: 640px)');

    // Add a listen event
    mediaQuery.addListener(doSomething);


    // On load
    doSomething(mediaQuery);

</script>

</body>
</html>