<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_20">Make a Batter Connection for <br>
            your Business</h1>
    </div>
</section>
<!--End Slider Section-->
<!--Email Plans Section-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Essential</h5>
                    <ul class="hosting_plan_box_list">
                        <li>Up to <b>10 users</b></li>
                        <li><b>Toll-Free</b> or local number</li>
                        <li><b>1,500</b> toll-free minutes/month</li>
                        <li><b>50</b> people video conferencing</li>
                        <li><b>Unlimited</b> internet fax</li>
                        <li><b>Automatic</b> call recording</li>
                        <li><b>Voicemail-to-text</b></li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$19.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Standard</h5>
                    <ul class="hosting_plan_box_list">
                        <li>Up to <b>50 users</b></li>
                        <li><b>Toll-Free</b> or local number</li>
                        <li><b>2,500</b> toll-free minutes/month</li>
                        <li><b>100</b> people video conferencing</li>
                        <li><b>Unlimited</b> internet fax</li>
                        <li><b>Automatic</b> call recording</li>
                        <li><b>Voicemail-to-text</b></li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$29.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box">
                <div class="hosting_plan_box">
                    <h5>Ultimate</h5>
                    <ul class="hosting_plan_box_list">
                        <li><b>Unlimited</b></li>
                        <li><b>Toll-Free</b> or local number</li>
                        <li><b>Unlimited</b> toll-free minutes/month</li>
                        <li><b>500</b> people video conferencing</li>
                        <li><b>Unlimited</b> internet fax</li>
                        <li><b>Automatic</b> call recording</li>
                        <li><b>Voicemail-to-text</b></li>
                    </ul>
                    <div class="plan_price_box">
                        <small>Only</small>
                        <br>
                        <div class="inner_plan_price_box">$39.99<small>/mo</small></div>
                        <a href="#" class="btn_price_plan">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Email Hosting Feature-->
<section class="padding_top_95 padding_bottom_95 text-center">
    <div class="container">
        <div class="section_heading_box">
            <h2 class="color_222">Hostiko VOIP Features</h2>
            <p class="margin_bottom_50">Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row margin_bottom_50">
            <div class="col-xl-4 col-lg-4">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/voip_img01.svg" alt=""></figure>
                    <h5>Big Business Features</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/voip_img02.svg" alt=""></figure>
                    <h5>Keep Your Number</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/voip_img03.svg" alt=""></figure>
                    <h5>Affordable Pricing</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/voip_img04.svg" alt=""></figure>
                    <h5>Use Mobile Phones</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/voip_img05.svg" alt=""></figure>
                    <h5>Grows With Your Business</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/voip_img06.svg" alt=""></figure>
                    <h5>Easy Setup</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Build Your Website-->
<section class="padding_top_95 padding_bottom_95 text-center bg_e0edf1">
    <div class="container">
        <div class="coa_block">
            <div class="section_heading_box">
                <h2 class="color_222">Premium IPTV Subscription</h2>
                <p class="margin_bottom_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.elit. Aenean commodo ligula eget dolor. Aenean massa.piscing elit, sed do eiusmod tempor incididunt.</p>
                <a href="#" class="btn_iptv">Subscribe now</a>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>