<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner padding_bottom_100 text-center">
    <div class="container">
        <h1 class="margin_bottom_25">VPS Server</h1>
        <p>Grow your business on a robust Virtual Private Server from Hostiko.</p>
    </div>
</section>
<!--End Slider Section-->
<!--Hosting Plans Section-->
<section class="padding_top_95 padding_bottom_95 bg_e0edf1 float-left w-100">
    <div class="container">
        <div class="heading-spacer col-xs-12"></div>
        <div class="slider-container">
            <div class="price_rangetxt">
                <div id="icon-0" class="icon"><span>VPS 1</span></div>
                <div id="icon-1" class="icon"><span>VPS 2</span></div>
                <div id="icon-2" class="icon"><span>VPS 3</span></div>
                <div id="icon-3" class="icon"><span>VPS 4</span></div>
                <div id="icon-4" class="icon"><span>VPS 5</span></div>
                <div class="clear"></div>
                <!--price_rangetxt-->
            </div>
            <div class="slider_node">
                <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left">
                    <div class="sliderbox">
                        <div id="slider"></div>
                        <!--sliderbox-->
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="slider_detail">
                    <div id="cpu_val" class="col-xl-3 col-lg-3 col-md-3 col-6 price_content mobile_margin">
                        <div class="inner_price_content">
                            <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img01.png"> </span></div>
                            <div class="value_text">CPU<br> <span class="value"></span>  </div>
                        </div>
                        <!--smallbox-->
                    </div>
                    <div id="ram_val" class="col-xl-3 col-lg-3 col-md-3 col-6 price_content mobile_margin">
                        <div class="inner_price_content">
                            <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img02.png"> </span></div>
                            <div class="value_text">RAM<br> <span class="value"></span></div>
                        </div>
                        <!--smallbox-->
                    </div>
                    <div id="hdd_val" class="col-xl-3 col-lg-3 col-md-3 col-6 price_content">
                        <div class="inner_price_content">
                            <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img03.png"> </span></div>
                            <div class="value_text">Hard Disk<br> <span class="value"></span> </div>
                        </div>
                        <!--smallbox-->
                    </div>
                    <div id="bandwidth_val" class="col-xl-3 col-lg-3 col-md-3 col-6 price_content">
                        <div class="inner_price_content">
                            <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img04.png"> </span></div>
                            <div class="value_text">Bandwidth<br> <span class="value"></span> </div>
                        </div>
                        <!--smallbox-->
                    </div>
            </div>
            <div class="slider_price_box">
                <div class="vps_discount_price inner_slider_price_box">
                    <div>25% Off</div>
                </div>
                <div class="vps_slider_coupon_code inner_slider_price_box">
                    <small>Coupon Code:</small>
                    <br>
                    Hostik250
                </div>
                <div class="inner_slider_price_box">
                    <div class="price_txt smallbox"><span id="price_val" class="numeric1"></span>/mo</div>
                </div>
                <a href="https://www.your-domain.com/?cmd=cart&amp;action=add&amp;id=250" class="vps_btn buynow-button">Order VPS</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Technical Specification-->
<section class="padding_top_95 padding_bottom_95 float-left w-100">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class=" ">All of Our VPS Hosting Packages Come With:</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Resource Monitoring Dashboard</li>
                        <li>Snapshots</li>
                        <li>Unlimited Domains and Websites</li>
                        <li>Free Solid-State Drives</li>
                        <li>Custom Advanced Policy Firewall</li>
                        <li>SSH Access</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>High-Availability</li>
                        <li>eCommerce Optimized</li>
                        <li>Optional Root Access</li>
                        <li>Unlimited Email Accounts</li>
                        <li>Unlimited MySQL Databases</li>
                        <li>Reseller Access with WHM</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="technical_specs_box">
                    <ul class="technical_specs_list">
                        <li>Managed server setup</li>
                        <li>Onboarding consultation & analysis</li>
                        <li>Application & plugin install</li>
                        <li>Automated application updates</li>
                        <li>Security scan & malware removal</li>
                        <li>Monitoring setup</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!-- Hosting Feature Section-->
<section class="padding_top_95 padding_bottom_95 bg_why_choose hosting_feature_section float-left w-100 vps_server_feature">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="color_fff">Simple. Powerful. Reliable.</h2>
            <p class="color_fff">Feel at home with a VPS packed full of your favourite features, Boost performance with Hostiko
                <br>
                100% Intel CPU and 100% SSD platform.</p>
        </div>
        <div class="row margin_bottom_30">
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img01.png" alt=""></figure>
                    <h5>Activate in minutes,
                        online 24x7</h5>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img02.png" alt=""></figure>
                    <h5>16 low latency
                        locations</h5>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mobile_margin outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img03.png" alt=""></figure>
                    <h5>100% SLA
                        guaranteed</h5>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img04.png" alt=""></figure>
                    <h5>Solid-state
                        drives</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img02.png" alt=""></figure>
                    <h5>Powerful
                        infrastructure</h5>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img05.png" alt=""></figure>
                    <h5>Feature-rich
                        Control panel</h5>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mobile_margin outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img06.png" alt=""></figure>
                    <h5>Root administrator
                        access</h5>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 outer_why_choose_box">
                <div class="hosting_feature_box">
                    <figure><img src="assets/images/vps_feature_img07.png" alt=""></figure>
                    <h5>Advanced Networking</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Add-Ons Section-->
<section class="padding_bottom_95 padding_top_95 bg_eff6f8 operating_system_section float-left w-100">
    <div class="container">
        <div class="section_heading_box text-center margin_bottom_50">
            <h2 class="">Operating Systems</h2>
            <p class="">VPS hosting platform with maximum speed & stability When purchasing a VPS, it comes with a list of Operating Systems templates,
                all Linux based, which can be installed in a couple of clicks, saving you the hassle of doing it yourself.</p>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-4">
                <div class="operating_system_box">
                    <figure><img src="assets/images/operating_system_img01.png" alt="" class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-4">
                <div class="operating_system_box">
                    <figure><img src="assets/images/operating_system_img02.png" alt="" class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-4">
                <div class="operating_system_box">
                    <figure><img src="assets/images/operating_system_img03.png" alt="" class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-4">
                <div class="operating_system_box">
                    <figure><img src="assets/images/operating_system_img04.png" alt="" class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-4">
                <div class="operating_system_box">
                    <figure><img src="assets/images/operating_system_img05.png" alt="" class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-4">
                <div class="operating_system_box">
                    <figure><img src="assets/images/operating_system_img06.png" alt="" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--COA Section-->
<section class="padding_top_95 padding_bottom_40 coa_section bg_e0edf1 float-left w-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <figure><img src="assets/images/coa_img.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 coa_content_box mobile_text_center">
                <h2>State of the Art Data Centre</h2>
                <p>At Hostiko, we house our servers in highly-secure and ultra-modern Tier 4 data centres in Maidenhead, Reading, Nottingham and Manchester, with BGP network redundancy provided by Simply Transit. We host over 35,000 customers in our state-of-the-art data centres serving over 2,000,000 websites world.</p>
                <a href="#" class="btn_coa">Learn More</a>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer" class="float-left w-100"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>
</body>
</html>