<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>About | Hostiko</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
</head>

<body>
    <!-- Preloader -->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->
    <!-- HEADER SECTION START HERE -->
    <div class="header-main-con w-100 float-left">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand p-0" href="index.html">
                    <figure class="mb-0">
                        <img src="assets/images/header-logo.png" alt="header-logo" loading="lazy">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link p-0" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Hosting 
                            </a>
                            <div class="dropdown-menu dropdown-menu-outer" aria-labelledby="navbarDropdown1">
                                <ul class="list-unstyled mb-0">
                                    <li><a class="dropdown-item" href="shared-hosting.html">Shared</a></li>
                                    <li><a class="dropdown-item" href="reseller.html">Reseller</a></li>
                                    <li><a class="dropdown-item" href="vps.html">VPS</a></li>
                                    <li><a class="dropdown-item" href="dedicated.html">Dedicated</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="domain.html">Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="http://akdesigner.com/whmcs-templates/index.php?systpl=hostiko&layout=89">WHMCS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0 active" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <ul class="list-unstyled mb-0" >
                                    <li><a href="about.html" class="dropdown-item active">About</a></li>
                                    <li><a href="pricing.html" class="dropdown-item">Pricing</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown3">
                                            <li><a href="blog.html" class="dropdown-item">Blog</a></li>
                                            <li><a href="single-blog.html" class="dropdown-item">Single Blog</a></li>
                                            <li><a href="one-column.html" class="dropdown-item">One Column</a></li>
                                            <li><a href="two-column.html" class="dropdown-item">Two Column</a></li>
                                            <li><a href="three-column.html" class="dropdown-item">Three Column</a></li>
                                            <li><a href="three-colum-sidbar.html" class="dropdown-item">Three Column Sidbar</a></li>
                                            <li><a href="four-column.html" class="dropdown-item">Four Column</a></li>
                                            <li><a href="six-colum-full-wide.html" class="dropdown-item">Six Column</a></li>
                                            <li><a href="load-more.html" class="dropdown-item">Load More</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown4">
                                            <li><a href="shop.html" class="dropdown-item">Shop</a></li>
                                            <li><a href="product-detail.html" class="dropdown-item">Product Detail</a></li>
                                            <li><a href="cart.html" class="dropdown-item">Cart</a></li>
                                            <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="coming-soon.html" class="dropdown-item">Coming Soon</a></li>
                                    <li><a href="404.html" class="dropdown-item">404</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-btns d-flex align-items-center">
                    <div class="login-btn">
                        <a href="contact.html">
                            Live Chat
                        </a>
                    </div>
                    <div class="chat-btn">
                        <a href="cart.html">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- HEADER SECTION END HERE -->
    <!-- BANNER SECTION START HERE -->
    <section class="sub-banner-main-con w-100 float-left blue-bg">
        <div class="container-fluid">
            <div class="sub-banner-inner-con">
                <div class="sub-banner-left-con">
                    <nav class="sub-banner-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                    <h1>About Us</h1>
                </div>
                <div class="sub-banner-right-img">
                    <figure class="mb-0">
                        <img src="assets/images/about-banner-right-img.png" alt="about-banner-right-img">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- BANNER SECTION END HERE -->
    <!-- WORDPRESS SECTION START HERE -->
    <section class="about-wordpress-site-main-con wordpress-site-main-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="wordpress-inner-con">
                <div class="about-hostiko-video-con">
                    <div class="video-inner-con position-relative">
                        <div class="video-play-icon d-inline-block">
                            <a href="javascript:void(0)" onclick="lightbox_open();">
                            </a>
                        </div>
                    </div>
                    <div id="light">
                        <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
                        <div id="VisaChipCardVideo">
                            <iframe src="https://www.youtube.com/embed/mq508HXzccI?si=GSsq5WNpSIaHnRLn"
                                title="YouTube video player"></iframe>
                            <!--Browser does not support <video> tag -->
                        </div>
                    </div>
        
                    <div id="fade" onClick="lightbox_close();"></div>
                </div>
                <div class="wordpress-text-con">
                    <span class="d-block">About Us</span>
                    <h2>Welcome to Hostiko Themes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed incididunt labore dolore magna aliqua.</p>
                    <ul class="list-unstyled">
                        <li class="position-relative"><i class="fas fa-check-circle"></i> Leadership Principles</li>
                        <li class="position-relative"><i class="fas fa-check-circle"></i> Our Commitment to race equality</li>
                        <li class="position-relative"><i class="fas fa-check-circle"></i> Diversity and Inclusion</li>
                    </ul>
                    <div class="generic-btn">
                        <a href="https://themeforest.net/item/hostico-wordpress-whmcs-hosting-theme/20786821">Buy Hostiko Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- WORDPRESS SECTION END HERE -->
    <!-- WEB HOSTING STATISTICS SECTION START HERE -->
    <section class="web-hosting-statistics w-100 float-left padding-top padding-bottom light-bg">
        <div class="container">
            <div class="web-statistics-inner-con text-center">
                <h2>Web Hosting Statistics</h2>
                <ul class="list-unstyled mb-0 text-left">
                    <li><i class="far fa-check-circle"></i> #1 Web Hosting Provider</li>
                    <li><i class="far fa-check-circle"></i> 50+ Worldwide Datacenter</li>
                    <li><i class="far fa-check-circle"></i> Supercharged Websites</li>
                    <li><i class="far fa-check-circle"></i> 24/7 Real-Time Support</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- WEB HOSTING STATISTICS SECTION END HERE -->
    <!-- FEATURE SECTION START HERE -->
    <section class="about-milestone-con feature-main-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Hostiko Milestones</h2>
                <p>The purpose of this slide is to provide a glimpse of the company’s milestone lasting partnerships
                    with our clients, generation after generation.</p>
            </div>
            <div class="about-milestone-inner-con feature-inner-con">
                <div class="about-milestone-outer-box">
                    <div class="about-milestone-top-box">
                        <h3>2019</h3>
                        <figure class="mb-0">
                            <img src="assets/images/calender-img.png" alt="calender-img">
                        </figure>
                    </div>
                    <div class="feature-box">
                        <h3>The Birth of
                            Company</h3>
                        <p>Duis aute irure dolor in repre
                            dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="about-milestone-outer-box">
                    <div class="about-milestone-top-box">
                        <h3>2020</h3>
                        <figure class="mb-0">
                            <img src="assets/images/user-img.png" alt="user-img">
                        </figure>
                    </div>
                    <div class="feature-box">
                        <h3>Custom Client
                            Portal</h3>
                        <p>Duis aute irure dolor in repre
                            dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="about-milestone-outer-box">
                    <div class="about-milestone-top-box">
                        <h3>2021</h3>
                        <figure class="mb-0">
                            <img src="assets/images/cloud-img.png" alt="cloud-img">
                        </figure>
                    </div>
                    <div class="feature-box">
                        <h3>Enhanced Cloud
                            Services</h3>
                        <p>Duis aute irure dolor in repre
                            dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="about-milestone-outer-box">
                    <div class="about-milestone-top-box">
                        <h3>2022</h3>
                        <figure class="mb-0">
                            <img src="assets/images/location-img.png" alt="location-img">
                        </figure>
                    </div>
                    <div class="feature-box">
                        <h3>New Office
                            Locatoin</h3>
                        <p>Duis aute irure dolor in repre
                            dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
            <div class="feature-btn-con text-center">
                <p>Questions? Call or Text me Today! 800.111.3456</p>
                <div class="feature-btn">
                    <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/knowledgebase&systpl=hostiko&layout=89">View All Features</a>
                </div>
            </div>
        </div>
    </section>
    <!-- FEATURE SECTION END HERE -->
    <!-- HOSTIKO TEAM SECTION SATRT HERE -->
    <section class="hostiko-team-main-con w-100 float-left padding-top padding-bottom light-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Hostiko Team</h2>
            </div>
            <div class="hostiko-team-inner-con">
                <div class="hostiko-team-con">
                    <figure>
                        <img src="assets/images/team-img1.jpg" alt="team-img1">
                    </figure>
                    <h3>Rizwan Joseph</h3>
                    <span>UI/UX Designer</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="hostiko-team-con">
                    <figure>
                        <img src="assets/images/team-img2.jpg" alt="team-img2">
                    </figure>
                    <h3>Alexander Jan</h3>
                    <span>Director</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="hostiko-team-con">
                    <figure>
                        <img src="assets/images/team-img3.jpg" alt="team-img3">
                    </figure>
                    <h3>Alexandra Jan</h3>
                    <span>Support</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- HOSTIKO TEAM SECTION END HERE -->
    <!-- CLIENT REVIEW SECTION START HERE -->
    <div class="client-review-slider w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="sponsors-list">
                <ul class="list-unstyled mb-0">
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img1.png" alt="sponsor-img1">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img2.png" alt="sponsor-img2">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img3.png" alt="sponsor-img3">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img4.png" alt="sponsor-img4">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img5.png" alt="sponsor-img5">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- CLIENT REVIEW SECTION END HERE -->
    <!-- FOOTER SECTION START HERE -->
    <section class="footer-main-con w-100 float-left">
        <div class="container">
            <div class="footer-top-con">
                <div class="footer-text-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/footer-img.png" alt="footer-img">
                    </figure>
                    <div class="footer-top-heading">
                        <h2>Build Your Website with Hostiko</h2>
                        <p>From professional business to enterprise, we’ve got you covered!</p>
                    </div>
                </div>
                <div class="generic-btn">
                    <a href="https://themeforest.net/item/hostico-wordpress-whmcs-hosting-theme/20786821">Get Started Now</a>
                </div>
            </div>
            <div class="footer-inner-links">
                <div class="footer-box footer-signup-box">
                    <h4>Sign up for our newsletter</h4>
                    <p>Sign up to get the latest news and much more.</p>
                    <div class="footer-mail-con">
                        <input type="text" name="mail" id="mail" placeholder="Email address....">
                        <button>Sign Up</button>
                    </div>
                </div>
                <div class="footer-box footer-service-box">
                    <h4>Our Services</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="shared-hosting.html">Shared Hosting</a></li>
                        <li><a href="reseller.html">Reseller Hosting</a></li>
                        <li><a href="vps.html">Virtual Private Servers</a></li>
                        <li><a href="dedicated.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Registration</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-comunity-links">
                    <h4>Community</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="about.html">Knowledgebase</a></li>
                        <li><a href="contact.html">Privacy Policy</a></li>
                        <li><a href="contact.html">Acceptable Use Policy</a></li>
                        <li><a href="blog.html">News</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-about-links">
                    <h4>About Us</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="vps.html">FAQ</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-contact-detail">
                <div class="footer-contact-box">
                    <a href="tel:+61383766284"><i class="fas fa-phone-volume"></i> +61 3 8376 6284</a>
                </div>
                <div class="footer-contact-box footer-location-detail">
                    <a href="https://maps.app.goo.gl/YAT8je1YFxLGue7PA" target="_blank"><i class="fas fa-map-marker-alt"></i> 121 King Street, Melbourne، Victoria 3000, Australia</a>
                </div>
                <div class="footer-contact-box">
                    <a href="mailto:info@hostiko.com"><i class="fas fa-envelope"></i> info@hostiko.com</a>
                </div>
            </div>
            <div class="copyright-con">
                <p>Copyright 2024 <span>DesigningMedia</span>. All Rights Reserved</p>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- FOOTER SECTION END HERE -->
    <a id="button"></a>
    
    <!-- js start -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>