<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Home | Hostiko</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
</head>

<body>
    <!-- Preloader -->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->
    <!-- HEADER SECTION START HERE -->
    <div class="header-main-con w-100 float-left">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand p-0" href="index.html">
                    <figure class="mb-0">
                        <img src="assets/images/header-logo.png" alt="header-logo" loading="lazy">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link p-0 active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Hosting 
                            </a>
                            <div class="dropdown-menu dropdown-menu-outer" aria-labelledby="navbarDropdown1">
                                <ul class="list-unstyled mb-0">
                                    <li><a class="dropdown-item" href="shared-hosting.html">Shared</a></li>
                                    <li><a class="dropdown-item" href="reseller.html">Reseller</a></li>
                                    <li><a class="dropdown-item" href="vps.html">VPS</a></li>
                                    <li><a class="dropdown-item" href="dedicated.html">Dedicated</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="domain.html">Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="http://akdesigner.com/whmcs-templates/index.php?systpl=hostiko&layout=89">WHMCS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <ul class="list-unstyled mb-0" >
                                    <li><a href="about.html" class="dropdown-item">About</a></li>
                                    <li><a href="pricing.html" class="dropdown-item">Pricing</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown3">
                                            <li><a href="blog.html" class="dropdown-item">Blog</a></li>
                                            <li><a href="single-blog.html" class="dropdown-item">Single Blog</a></li>
                                            <li><a href="one-column.html" class="dropdown-item">One Column</a></li>
                                            <li><a href="two-column.html" class="dropdown-item">Two Column</a></li>
                                            <li><a href="three-column.html" class="dropdown-item">Three Column</a></li>
                                            <li><a href="three-colum-sidbar.html" class="dropdown-item">Three Column Sidbar</a></li>
                                            <li><a href="four-column.html" class="dropdown-item">Four Column</a></li>
                                            <li><a href="six-colum-full-wide.html" class="dropdown-item">Six Column</a></li>
                                            <li><a href="load-more.html" class="dropdown-item">Load More</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown4">
                                            <li><a href="shop.html" class="dropdown-item">Shop</a></li>
                                            <li><a href="product-detail.html" class="dropdown-item">Product Detail</a></li>
                                            <li><a href="cart.html" class="dropdown-item">Cart</a></li>
                                            <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="coming-soon.html" class="dropdown-item">Coming Soon</a></li>
                                    <li><a href="404.html" class="dropdown-item">404</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-btns d-flex align-items-center">
                    <div class="login-btn">
                        <a href="contact.html">
                            Live Chat
                        </a>
                    </div>
                    <div class="chat-btn">
                        <a href="cart.html">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- HEADER SECTION END HERE -->
    <!-- BANNER SECTION START HERE -->
    <section class="banner-main-con w-100 float-left blue-bg">
        <div class="container-fluid">
            <div class="banner-inner-con">
                <div class="banner-left-con">
                    <nav class="banner-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="shared-hosting.html">Shared</a></li>
                          <li class="breadcrumb-item"><a href="dedicated.html">Dedicated</a></li>
                          <li class="breadcrumb-item"><a href="vps.html">VPS</a></li>
                        </ol>
                      </nav>
                    <h1>Web Hosting
                        plan for <span>business</span></h1>
                    <p>For plenty of power and room to grow, go Dedicated
                        and get the whole box to yourself.</p>
                    <div class="banner-btn d-inline-block">
                        <a href="https://themeforest.net/item/hostico-wordpress-whmcs-hosting-theme/20786821">Get Started Now</a>
                    </div>
                    <div class="apps-con">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <figure class="mb-0">
                                    <img src="assets/images/app-img1.png" alt="app-img1">
                                </figure>
                            </li>
                            <li>
                                <figure class="mb-0">
                                    <img src="assets/images/app-img2.png" alt="app-img2">
                                </figure>
                            </li>
                            <li>
                                <figure class="mb-0">
                                    <img src="assets/images/app-img3.png" alt="app-img3">
                                </figure>
                            </li>
                            <li>
                                <figure class="mb-0">
                                    <img src="assets/images/app-img4.png" alt="app-img4">
                                </figure>
                            </li>
                        </ul>
                        <div class="apps-text-con">
                            <span class="d-block">Softaculous 1-Click Installs</span>
                            <a href="#">View All Apps</a>
                        </div>
                    </div>
                </div>
                <div class="banner-right-img">
                    <figure class="mb-0">
                        <img src="assets/images/banner-right-img.png" alt="banner-right-img.png">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- BANNER SECTION END HERE -->
    <!-- PLAN SECTION START HERE -->
    <section class="plans-main-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Choose hosting plan for you needs</h2>
                <p>We provide premium website & <span>Fastest hosting</span> as well as offering our web development and
                    administration services to our amazing customers.</p>
            </div>
            <div class="plans-inner-section">
                <div class="plan-box">
                    <figure>
                        <img src="assets/images/share-img.png" alt="share-img">
                    </figure>
                    <h3>Shared Hosting</h3>
                    <p>We provide premium website & well
                        Fastest hosting as well as.</p>
                    <ul class="list-unstyled">
                        <li><span>100 GB</span> SSD Storage</li>
                        <li><span>Free</span> & Easy Site Migration</li>
                        <li>Cloudlinux & PHP Selector</li>
                        <li class="highlighted-txt">Money Back Guarantee</li>
                        <li>Litespeed & LSCache</li>
                    </ul>
                    <div class="price-box">
                        <div class="price-figure">
                            <p>Starting at:</p>
                            <div class="price">
                                <span class="d-inline-block dollar-sign">$</span> 19 <span class="d-inline-block">.99 <small>/month</small></span>
                            </div>
                        </div>
                        <div class="plan-btn">
                            <a href="https://hostiko.com/layout89/shared/">
                                <figure class="mb-0">
                                    <img src="assets/images/plan-btn-img.png" alt="plan-btn-img">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="plan-box">
                    <figure>
                        <img src="assets/images/dedicated-img.png" alt="dedicated-img">
                    </figure>
                    <h3>Dedicated Server</h3>
                    <p>We provide premium website & well
                        Fastest hosting as well as.</p>
                    <ul class="list-unstyled">
                        <li><span>500 GB</span> SSD Storage</li>
                        <li><span>Free</span> & Easy Site Migration</li>
                        <li>Cloudlinux & PHP Selector</li>
                        <li class="highlighted-txt">Money Back Guarantee</li>
                        <li>Litespeed & LSCache</li>
                    </ul>
                    <div class="price-box">
                        <div class="price-figure">
                            <p>Starting at:</p>
                            <div class="price">
                                <span class="d-inline-block dollar-sign">$</span> 29 <span class="d-inline-block">.99 <small>/month</small></span>
                            </div>
                        </div>
                        <div class="plan-btn">
                            <a href="https://hostiko.com/layout89/dedicated/">
                                <figure class="mb-0">
                                    <img src="assets/images/plan-btn-img.png" alt="plan-btn-img">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="plan-box">
                    <figure>
                        <img src="assets/images/vps-img.png" alt="vps-img">
                    </figure>
                    <h3>VPS Hosting</h3>
                    <p>We provide premium website & well
                        Fastest hosting as well as.</p>
                    <ul class="list-unstyled">
                        <li><span>1000 GB</span> SSD Storage</li>
                        <li><span>Free</span> & Easy Site Migration</li>
                        <li>Cloudlinux & PHP Selector</li>
                        <li class="highlighted-txt">Money Back Guarantee</li>
                        <li>Litespeed & LSCache</li>
                    </ul>
                    <div class="price-box">
                        <div class="price-figure">
                            <p>Starting at:</p>
                            <div class="price">
                                <span class="d-inline-block dollar-sign">$</span> 39 <span class="d-inline-block">.99 <small>/month</small></span>
                            </div>
                        </div>
                        <div class="plan-btn">
                            <a href="https://hostiko.com/layout89/vps/">
                                <figure class="mb-0">
                                    <img src="assets/images/plan-btn-img.png" alt="plan-btn-img">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PLAN SECTION END HERE -->
    <!-- DOMAIN REGISTRATION SECTION START HERE -->
    <section class="domain-registration-con w-100 float-left padding-top padding-bottom blue-bg">
        <div class="container">
            <div class="domain-reg-con">
                <h2>Get Flat <span class="d-inline-block">20% Off</span> on All New Domain TLD Registration</h2>
                <div class="domain-serch-outer-con">
                    <div class="domain-serch-top-con">
                        <div class="domain-search-con">
                            <figure class="mb-0">
                                <img src="assets/images/domain-globe-img.png" alt="domain-globe-img">
                            </figure>
                            <span class="d-inline-block">
                                www.
                            </span>
                            <input type="text" placeholder="Search domain name...">
                            <select class="form-control" id="domain-name" name="domain-name">
                                <option>.com</option>
                                <option>.org</option>
                                <option>.net</option>
                                <option>.biz</option>
                                <option>.info</option>
                            </select>
                        </div>
                        <button>Search</button>
                    </div>
                    <div class="domain-bottom-con">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <figure>
                                    <img src="assets/images/domain-img1.png" alt="domain-img1">
                                </figure>
                                <span>$5.99</span>
                            </li>
                            <li>
                                <figure>
                                    <img src="assets/images/domain-img2.png" alt="domain-img2">
                                </figure>
                                <span>$8.99</span>
                            </li>
                            <li class="sale-con">
                                <small class="d-block">SALE</small>
                                <figure>
                                    <img src="assets/images/domain-img3.png" alt="domain-img3">
                                </figure>
                                <span>$12.99</span>
                            </li>
                            <li>
                                <figure>
                                    <img src="assets/images/domain-img4.png" alt="domain-img4">
                                </figure>
                                <span>$18.49</span>
                            </li>
                            <li>
                                <figure>
                                    <img src="assets/images/domain-img5.png" alt="domain-img5">
                                </figure>
                                <span>$21.99</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- DOMAIN REGISTRATION SECTION END HERE -->
    <!-- FEATURE SECTION START HERE -->
    <section class="feature-main-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Advanced Web Hosting Features</h2>
                <p>Our web hosting solutions are an easy way to get a great website up and running, with so many robust featues
                    we throw in a domain, SSL Certificate, professional email address, and privacy protection for free.</p>
            </div>
            <div class="feature-inner-con">
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img1.png" alt="feature-img1">
                    </figure>
                    <h3>Maximum Performance</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="cart.html">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img2.png" alt="feature-img2">
                    </figure>
                    <h3>WordPress <br>
                        Pre-Installed</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="cart.html">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img3.png" alt="feature-img3">
                    </figure>
                    <h3>Free Let’s
                        Encrypt SSL</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="cart.html">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img4.png" alt="feature-img4">
                    </figure>
                    <h3>Advanced
                        Mangement</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="cart.html">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="feature-btn-con text-center">
                <p>Questions? Call or Text me Today! 800.111.3456</p>
                <div class="feature-btn">
                    <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/knowledgebase&systpl=hostiko&layout=89">View All Features</a>
                </div>
            </div>
        </div>
    </section>
    <!-- FEATURE SECTION END HERE -->
    <!-- WORDPRESS SECTION START HERE -->
    <section class="wordpress-site-main-con w-100 float-left padding-top padding-bottom light-bg">
        <div class="container">
            <div class="wordpress-inner-con">
                <div class="wordpress-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/wordpress-site-img.png" alt="wordpress-site-img">
                    </figure>
                </div>
                <div class="wordpress-text-con">
                    <span class="d-block">WordPress</span>
                    <h2>Website Needs for Success</h2>
                    <p>We make WordPress easy and give you access to a variety of tools to get your website up and running in no time.</p>
                    <ul class="list-unstyled">
                        <li class="position-relative"><i class="fas fa-check-circle"></i> Out-Of-The Box Optimized WordPress</li>
                        <li class="position-relative"><i class="fas fa-check-circle"></i> WooCommerce for WordPress</li>
                        <li class="position-relative"><i class="fas fa-check-circle"></i> Need for Speed</li>
                    </ul>
                    <div class="generic-btn">
                        <a href="contact.html">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- WORDPRESS SECTION END HERE -->
    <!-- WEB HOSTING STATISTICS SECTION START HERE -->
    <section class="web-hosting-statistics w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="web-statistics-inner-con text-center">
                <h2>Web Hosting Statistics</h2>
                <ul class="list-unstyled mb-0 text-left">
                    <li><i class="far fa-check-circle"></i> #1 Web Hosting Provider</li>
                    <li><i class="far fa-check-circle"></i> 50+ Worldwide Datacenter</li>
                    <li><i class="far fa-check-circle"></i> Supercharged Websites</li>
                    <li><i class="far fa-check-circle"></i> 24/7 Real-Time Support</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- WEB HOSTING STATISTICS SECTION END HERE -->
    <!-- SECURITY FEATURES SECTION START HERE -->
    <section class="security-features-con w-100 float-left padding-top">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Advanced Security Features</h2>
                <p>We make WordPress easy and give you access to a variety of tools to get your website up and running in no time.</p>
            </div>
            <div class="security-inner-features">
                <div class="security-feature-box">
                    <i class="fas fa-check-circle"></i>
                    <p>Get unlimited SSL security certificates to encrypt your websites’ traffic.</p>
                </div>
                <div class="security-feature-box">
                    <i class="fas fa-check-circle"></i>
                    <p>Protect your website from DDoS attacks with Cloudflare protected nameservers.</p>
                </div>
                <div class="security-feature-box">
                    <i class="fas fa-check-circle"></i>
                    <p>Ensure your website is up and running with our 99.9% uptime guarantee.</p>
                </div>
            </div>
            <span class="website-builder-txt">
                Our intuitive website builder is the fastest way to look amazing online.
            </span>
        </div>
    </section>
    <!-- SECURITY FEATURES SECTION END HERE -->
    <!-- VIDEO SECTION START HERE -->
    <div class="video-main-con w-100 float-left white-bg position-relative">
        <div class="container">
            <div class="video-inner-con position-relative">
                <div class="video-play-icon d-inline-block">
                    <a href="javascript:void(0)" onclick="lightbox_open();">
                    </a>
                </div>
                <span class="d-block">Watch this video to see how it works</span>
            </div>
            <div id="light">
                <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
                <div id="VisaChipCardVideo">
                    <iframe src="https://www.youtube.com/embed/mq508HXzccI?si=GSsq5WNpSIaHnRLn"
                        title="YouTube video player"></iframe>
                    <!--Browser does not support <video> tag -->
                </div>
            </div>

            <div id="fade" onClick="lightbox_close();"></div>
        </div>
    </div>
    <!-- VIDEO SECTION END HERE -->
    <!-- CLIENT REVIEW SECTION START HERE -->
    <section class="client-review-slider w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Happy Client’s Reviews</h2>
                <p>We are rated Excellent 4.9 out of 5 on</p>
            </div>
            <div class="client-review-outer-con">
                <div class="owl-carousel owl-theme" id="owl-carousel-client">
                    <div class="item">
                        <div class="client-review-box">
                            <div class="review-top-con">
                                <div class="reviewer-img-con">
                                    <figure class="mb-0">
                                        <img src="assets/images/reviewer-img1.png" alt="reviewer-img1">
                                    </figure>
                                    <div class="reviewer-details">
                                        <span class="d-block">Rizwan Joseph</span>
                                        <small class="d-block">UI/UX Designer</small>
                                    </div>
                                </div>
                                <div class="rating-img">
                                    <figure class="mb-0 rating">
                                        <img src="assets/images/stars-img.png" alt="stars-img">
                                    </figure>
                                </div>
                            </div>
                            <p>“Good service and easily available assistance. I use it regularly for my clients and recommend everyone to go for it.”</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-review-box">
                            <div class="review-top-con">
                                <div class="reviewer-img-con">
                                    <figure class="mb-0">
                                        <img src="assets/images/reviewer-img2.png" alt="reviewer-img2">
                                    </figure>
                                    <div class="reviewer-details">
                                        <span class="d-block">Alexandra Jan</span>
                                        <small class="d-block">Support</small>
                                    </div>
                                </div>
                                <div class="rating-img">
                                    <figure class="mb-0 rating">
                                        <img src="assets/images/stars-img.png" alt="stars-img">
                                    </figure>
                                </div>
                            </div>
                            <p>“Hostiko has great website templates and you can connect your site to your social media account.”</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-review-box">
                            <div class="review-top-con">
                                <div class="reviewer-img-con">
                                    <figure class="mb-0">
                                        <img src="assets/images/reviewer-img1.png" alt="reviewer-img1">
                                    </figure>
                                    <div class="reviewer-details">
                                        <span class="d-block">Rizwan Joseph</span>
                                        <small class="d-block">UI/UX Designer</small>
                                    </div>
                                </div>
                                <div class="rating-img">
                                    <figure class="mb-0 rating">
                                        <img src="assets/images/stars-img.png" alt="stars-img">
                                    </figure>
                                </div>
                            </div>
                            <p>“Good service and easily available assistance. I use it regularly for my clients and recommend everyone to go for it.”</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-review-box">
                            <div class="review-top-con">
                                <div class="reviewer-img-con">
                                    <figure class="mb-0">
                                        <img src="assets/images/reviewer-img2.png" alt="reviewer-img2">
                                    </figure>
                                    <div class="reviewer-details">
                                        <span class="d-block">Alexandra Jan</span>
                                        <small class="d-block">Support</small>
                                    </div>
                                </div>
                                <div class="rating-img">
                                    <figure class="mb-0 rating">
                                        <img src="assets/images/stars-img.png" alt="stars-img">
                                    </figure>
                                </div>
                            </div>
                            <p>“Hostiko has great website templates and you can connect your site to your social media account.”</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-review-box">
                            <div class="review-top-con">
                                <div class="reviewer-img-con">
                                    <figure class="mb-0">
                                        <img src="assets/images/reviewer-img1.png" alt="reviewer-img1">
                                    </figure>
                                    <div class="reviewer-details">
                                        <span class="d-block">Rizwan Joseph</span>
                                        <small class="d-block">UI/UX Designer</small>
                                    </div>
                                </div>
                                <div class="rating-img">
                                    <figure class="mb-0 rating">
                                        <img src="assets/images/stars-img.png" alt="stars-img">
                                    </figure>
                                </div>
                            </div>
                            <p>“Good service and easily available assistance. I use it regularly for my clients and recommend everyone to go for it.”</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-review-box">
                            <div class="review-top-con">
                                <div class="reviewer-img-con">
                                    <figure class="mb-0">
                                        <img src="assets/images/reviewer-img2.png" alt="reviewer-img2">
                                    </figure>
                                    <div class="reviewer-details">
                                        <span class="d-block">Alexandra Jan</span>
                                        <small class="d-block">Support</small>
                                    </div>
                                </div>
                                <div class="rating-img">
                                    <figure class="mb-0 rating">
                                        <img src="assets/images/stars-img.png" alt="stars-img">
                                    </figure>
                                </div>
                            </div>
                            <p>“Hostiko has great website templates and you can connect your site to your social media account.”</p>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="prev-btn">
                            <img src="assets/images/review-prev-img.png" alt="review-prev-img">
                    </button>
                    <button class="next-btn">
                            <img src="assets/images/review-next-img.png" alt="review-next-img">
                    </button>
                </div>
            </div>
            <div class="sponsors-list">
                <ul class="list-unstyled mb-0">
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img1.png" alt="sponsor-img1">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img2.png" alt="sponsor-img2">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img3.png" alt="sponsor-img3">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img4.png" alt="sponsor-img4">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img5.png" alt="sponsor-img5">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- CLIENT REVIEW SECTION END HERE -->
    <!-- FOOTER SECTION START HERE -->
    <section class="footer-main-con w-100 float-left">
        <div class="container">
            <div class="footer-top-con">
                <div class="footer-text-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/footer-img.png" alt="footer-img">
                    </figure>
                    <div class="footer-top-heading">
                        <h2>Build Your Website with Hostiko</h2>
                        <p>From professional business to enterprise, we’ve got you covered!</p>
                    </div>
                </div>
                <div class="generic-btn">
                    <a href="https://themeforest.net/item/hostico-wordpress-whmcs-hosting-theme/20786821">Get Started Now</a>
                </div>
            </div>
            <div class="footer-inner-links">
                <div class="footer-box footer-signup-box">
                    <h4>Sign up for our newsletter</h4>
                    <p>Sign up to get the latest news and much more.</p>
                    <div class="footer-mail-con">
                        <input type="text" name="mail" id="mail" placeholder="Email address....">
                        <button>Sign Up</button>
                    </div>
                </div>
                <div class="footer-box footer-service-box">
                    <h4>Our Services</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="shared-hosting.html">Shared Hosting</a></li>
                        <li><a href="reseller.html">Reseller Hosting</a></li>
                        <li><a href="vps.html">Virtual Private Servers</a></li>
                        <li><a href="dedicated.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Registration</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-comunity-links">
                    <h4>Community</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="about.html">Knowledgebase</a></li>
                        <li><a href="contact.html">Privacy Policy</a></li>
                        <li><a href="contact.html">Acceptable Use Policy</a></li>
                        <li><a href="blog.html">News</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-about-links">
                    <h4>About Us</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="vps.html">FAQ</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-contact-detail">
                <div class="footer-contact-box">
                    <a href="tel:+61383766284"><i class="fas fa-phone-volume"></i> +61 3 8376 6284</a>
                </div>
                <div class="footer-contact-box footer-location-detail">
                    <a href="https://maps.app.goo.gl/YAT8je1YFxLGue7PA" target="_blank"><i class="fas fa-map-marker-alt"></i> 121 King Street, Melbourne، Victoria 3000, Australia</a>
                </div>
                <div class="footer-contact-box">
                    <a href="mailto:info@hostiko.com"><i class="fas fa-envelope"></i> info@hostiko.com</a>
                </div>
            </div>
            <div class="copyright-con">
                <p>Copyright 2024 <span>DesigningMedia</span>. All Rights Reserved</p>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- FOOTER SECTION END HERE -->
    <a id="button"></a>
    <!-- js start -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>