<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Vps | Hostiko</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link href="css/royalslider.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
</head>

<body>
    <!-- Preloader -->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->
    <!-- HEADER SECTION START HERE -->
    <div class="header-main-con w-100 float-left">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand p-0" href="index.html">
                    <figure class="mb-0">
                        <img src="assets/images/header-logo.png" alt="header-logo" loading="lazy">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link p-0" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0 active" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Hosting 
                            </a>
                            <div class="dropdown-menu dropdown-menu-outer" aria-labelledby="navbarDropdown1">
                                <ul class="list-unstyled mb-0">
                                    <li><a class="dropdown-item" href="shared-hosting.html">Shared</a></li>
                                    <li><a class="dropdown-item" href="reseller.html">Reseller</a></li>
                                    <li><a class="dropdown-item active" href="vps.html">VPS</a></li>
                                    <li><a class="dropdown-item" href="dedicated.html">Dedicated</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="domain.html">Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="http://akdesigner.com/whmcs-templates/index.php?systpl=hostiko&layout=89">WHMCS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <ul class="list-unstyled mb-0" >
                                    <li><a href="about.html" class="dropdown-item">About</a></li>
                                    <li><a href="pricing.html" class="dropdown-item">Pricing</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown3">
                                            <li><a href="blog.html" class="dropdown-item">Blog</a></li>
                                            <li><a href="single-blog.html" class="dropdown-item">Single Blog</a></li>
                                            <li><a href="one-column.html" class="dropdown-item">One Column</a></li>
                                            <li><a href="two-column.html" class="dropdown-item">Two Column</a></li>
                                            <li><a href="three-column.html" class="dropdown-item">Three Column</a></li>
                                            <li><a href="three-colum-sidbar.html" class="dropdown-item">Three Column Sidbar</a></li>
                                            <li><a href="four-column.html" class="dropdown-item">Four Column</a></li>
                                            <li><a href="six-colum-full-wide.html" class="dropdown-item">Six Column</a></li>
                                            <li><a href="load-more.html" class="dropdown-item">Load More</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown4">
                                            <li><a href="shop.html" class="dropdown-item">Shop</a></li>
                                            <li><a href="product-detail.html" class="dropdown-item">Product Detail</a></li>
                                            <li><a href="cart.html" class="dropdown-item">Cart</a></li>
                                            <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="coming-soon.html" class="dropdown-item">Coming Soon</a></li>
                                    <li><a href="404.html" class="dropdown-item">404</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-btns d-flex align-items-center">
                    <div class="login-btn">
                        <a href="contact.html">
                            Live Chat
                        </a>
                    </div>
                    <div class="chat-btn">
                        <a href="cart.html">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- HEADER SECTION END HERE -->
    <!-- BANNER SECTION START HERE -->
    <section class="sub-banner-main-con w-100 float-left blue-bg">
        <div class="container-fluid">
            <div class="sub-banner-inner-con">
                <div class="sub-banner-left-con">
                    <nav class="sub-banner-breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="dedicated.html">Hosting</a></li>
                            <li class="breadcrumb-item active" aria-current="page">VPS Hosting</li>
                        </ol>
                    </nav>
                    <h1>VPS Hosting</h1>
                </div>
                <div class="sub-banner-right-img">
                    <figure class="mb-0">
                        <img src="assets/images/vps-banner-img.png" alt="vps-banner-img">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- BANNER SECTION END HERE -->
    <!-- VPS SECTION -->
    <section class="vps-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Choose Your VPS Plan</h2>
                <p>Intrinsicly actualize out-of-the-box niche markets for backward-compatible web services.</p>
            </div>
            <div class="vps-inner-con w-100 float-left">
                <div class="slider-container">
                    <div class="sliderbox">
                        <div class="slider-outer">
                            <div id="slider"></div>
                            <div class="price_rangetxt">
                                <div id="icon-0" class="icon">1</div>
                                <div id="icon-1" class="icon">2</div>
                                <div id="icon-2" class="icon">3</div>
                                <div id="icon-3" class="icon">4</div>
                                <div id="icon-4" class="icon">5</div>
                                <div id="icon-5" class="icon">6</div>
                                <div class="clear"></div>
                                <!--price_rangetxt-->
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="price_content">
                            <div class="product-con">
                                <div id="processor_val" class="smallbox">
                                    <div class="image_holder"><span><img src="assets/images/caret-right.png"
                                                alt="caret-right"> </span></div>
                                    <div class="value_text"><span class="heading">CPU</span> <span class="value"></span>
                                    </div>
                                    <!--smallbox-->
                                </div>
                                <div id="ram_val" class="smallbox noborder_rt">
                                    <div class="image_holder"><span><img src="assets/images/caret-right.png"
                                                alt="caret-right"></span></div>
                                    <div class="value_text"><span class="heading">RAM</span> <span class="value"></span>
                                    </div>
                                    <!--smallbox-->
                                </div>
                                <div id="storage_val" class="smallbox">
                                    <div class="image_holder"><span><img src="assets/images/caret-right.png"
                                                alt="caret-right"> </span></div>
                                    <div class="value_text"><span class="heading">Hard Disk</span> <span
                                            class="value"></span></div>
                                    <!--smallbox-->
                                </div>
                                <div id="bandwidth_val" class="smallbox">
                                    <div class="image_holder"><span><img src="assets/images/caret-right.png"
                                                alt="caret-right"> </span></div>
                                    <div class="value_text"><span class="heading">Bandwidth</span> <span
                                            class="value"></span></div>
                                    <!--smallbox-->
                                </div>
                            </div>
                            <div id="backup_val" class="smallbox2">
                                <div class="vps-price-plan">
                                    <p>Starting at:</p>
                                    <div class="price_txt">
                                        <span class="dollar">$</span> <span id="price_val" class="numeric1"></span>
                                        <div class="month-title">
                                            <span id="point_val" class="numeric2"></span>
                                            <small>/month</small>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="vps_btn generic-btn yellow-btn"><a
                                        href="https://akdesigner.com/whmcs-templates/index.php?rp=/store/vps-hosting/standard-vps-hosting&systpl=hostiko&layout=89">Get Started Now</a></div>
                                <!--smallbox-->
                            </div>
                            <div class="clear"></div>
                            <!--price_content-->
                        </div>
                        <!--sliderbox-->
                    </div>
                </div>
                <div class="hostiko-benefits-plans">
                    <h3>The Benefits of Hostiko VPS Plans</h3>
                    <ul class="list-unstyled mb-0">
                        <li>Operating System</li>
                        <li>Weekly Backups</li>
                        <li>24/7 Technical Support</li>
                        <li>Easy Control Panel</li>
                        <li>Money Back guarantee</li>
                        <li>Flexible Software</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- VPS SECTION -->
    <!-- VPS MANAGEMENT SECTION START HERE -->
    <section class="vps-management-con w-100 float-left padding-top padding-bottom light-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Choose Your VPS Management Level</h2>
            </div>
            <div class="vps-management-inner-con">
                <div class="vps-management-left-con">
                    <div class="dedicated-server-con">
                        <h3>Unmanaged VPS</h3>
                        <p>Self-Configure Your Custom Server</p>
                        <ul class="list-unstyled">
                            <li>Command Line Management</li>
                            <li>Managed Hardware & Network</li>
                            <li>Choice of Operation System</li>
                            <li>Full Root Access</li>
                        </ul>
                        <div class="generic-btn text-center">
                            <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/store/vps-hosting&systpl=hostiko&layout=89">Get Unmanaged VPS</a>
                        </div>
                    </div>
                </div>
                <div class="vps-management-right-con">
                    <div class="dedicated-server-con">
                        <h3>Managed VPS</h3>
                        <p>100% Worry-Free Managed Server</p>
                        <ul class="list-unstyled">
                            <li>EASY cPanel Control Panel</li>
                            <li>Managed Hardware & Network</li>
                            <li>24/7 Live Technical Support</li>
                            <li>Managed Server Security</li>
                        </ul>
                        <div class="generic-btn text-center">
                            <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/store/vps-hosting&systpl=hostiko&layout=89">Get Managed VPS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- VPS MANAGEMENT SECTION END HERE -->
    <!-- FEATURE SECTION START HERE -->
    <section class="feature-main-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Advanced Web Hosting Features</h2>
                <p>Our web hosting solutions are an easy way to get a great website up and running, with so many robust
                    featues
                    we throw in a domain, SSL Certificate, professional email address, and privacy protection for free.
                </p>
            </div>
            <div class="feature-inner-con">
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img1.png" alt="feature-img1">
                    </figure>
                    <h3>Maximum Performance</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/store/vps-hosting&systpl=hostiko&layout=89">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img2.png" alt="feature-img2">
                    </figure>
                    <h3>WordPress <br>
                        Pre-Installed</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/store/vps-hosting&systpl=hostiko&layout=89">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img3.png" alt="feature-img3">
                    </figure>
                    <h3>Free Let’s
                        Encrypt SSL</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/store/vps-hosting&systpl=hostiko&layout=89">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="feature-box">
                    <figure>
                        <img src="assets/images/feature-img4.png" alt="feature-img4">
                    </figure>
                    <h3>Advanced
                        Mangement</h3>
                    <p>Duis aute irure dolor in repre
                        dolor cillume dolore eiu fugiat nulla pariatur.</p>
                    <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/store/vps-hosting&systpl=hostiko&layout=89">Learn More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="feature-btn-con text-center">
                <p>Questions? Call or Text me Today! 800.111.3456</p>
                <div class="feature-btn">
                    <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/knowledgebase&systpl=hostiko&layout=89">View All Features</a>
                </div>
            </div>
        </div>
    </section>
    <!-- FEATURE SECTION END HERE -->
    <!-- FAQ SECTION START HERE -->
    <section class="faq-main-con w-100 float-left padding-top padding-bottom green-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Frequently Asked Questions</h2>
                <p>Do you have any questions? We have your answers!</p>
            </div>
            <div class="faq-inner-con">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h3 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    What is a dedicated hosting?
                                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost rud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    What are the advantages of dedicated hosting?
                                </button>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost rud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How much does dedicated hosting cost?
                                </button>
                            </h3>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost rud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingfour">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                    Which is better – managed or unmanaged?
                                </button>
                            </h3>
                        </div>

                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost rud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingfive">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                    Why dedicated server is the best option?
                                </button>
                            </h3>
                        </div>
                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost rud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingsix">
                            <h3 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix"
                                    aria-expanded="false" aria-controls="collapsesix">
                                    Who needs a dedicated hosting?
                                </button>
                            </h3>
                        </div>
                        <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost rud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ SECTION END HERE -->
    <!-- CLIENT REVIEW SECTION START HERE -->
    <div class="client-review-slider w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="sponsors-list">
                <ul class="list-unstyled mb-0">
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img1.png" alt="sponsor-img1">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img2.png" alt="sponsor-img2">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img3.png" alt="sponsor-img3">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img4.png" alt="sponsor-img4">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/sponsor-img5.png" alt="sponsor-img5">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- CLIENT REVIEW SECTION END HERE -->
    <!-- FOOTER SECTION START HERE -->
    <section class="footer-main-con w-100 float-left">
        <div class="container">
            <div class="footer-top-con">
                <div class="footer-text-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/footer-img.png" alt="footer-img">
                    </figure>
                    <div class="footer-top-heading">
                        <h2>Build Your Website with Hostiko</h2>
                        <p>From professional business to enterprise, we’ve got you covered!</p>
                    </div>
                </div>
                <div class="generic-btn">
                    <a href="https://themeforest.net/item/hostico-wordpress-whmcs-hosting-theme/20786821">Get Started Now</a>
                </div>
            </div>
            <div class="footer-inner-links">
                <div class="footer-box footer-signup-box">
                    <h4>Sign up for our newsletter</h4>
                    <p>Sign up to get the latest news and much more.</p>
                    <div class="footer-mail-con">
                        <input type="text" name="mail" id="mail" placeholder="Email address....">
                        <button>Sign Up</button>
                    </div>
                </div>
                <div class="footer-box footer-service-box">
                    <h4>Our Services</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="shared-hosting.html">Shared Hosting</a></li>
                        <li><a href="reseller.html">Reseller Hosting</a></li>
                        <li><a href="vps.html">Virtual Private Servers</a></li>
                        <li><a href="dedicated.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Registration</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-comunity-links">
                    <h4>Community</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="about.html">Knowledgebase</a></li>
                        <li><a href="contact.html">Privacy Policy</a></li>
                        <li><a href="contact.html">Acceptable Use Policy</a></li>
                        <li><a href="blog.html">News</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-about-links">
                    <h4>About Us</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="vps.html">FAQ</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-contact-detail">
                <div class="footer-contact-box">
                    <a href="tel:+61383766284"><i class="fas fa-phone-volume"></i> +61 3 8376 6284</a>
                </div>
                <div class="footer-contact-box footer-location-detail">
                    <a href="https://maps.app.goo.gl/YAT8je1YFxLGue7PA" target="_blank"><i class="fas fa-map-marker-alt"></i> 121 King Street, Melbourne، Victoria 3000, Australia</a>
                </div>
                <div class="footer-contact-box">
                    <a href="mailto:info@hostiko.com"><i class="fas fa-envelope"></i> info@hostiko.com</a>
                </div>
            </div>
            <div class="copyright-con">
                <p>Copyright 2024 <span>DesigningMedia</span>. All Rights Reserved</p>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- FOOTER SECTION END HERE -->
    <a id="button" class="show"></a>
    <!-- js start -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/vps_slider.js"></script>
    <script src="assets/js/jquery.royalslider.min.js"></script>
    <script src="assets/js/jquery.easing-1.3.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>