<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="icon" href="assets/images/favicon.png">
</head>
<body>
<div id="header"></div>
<!--Hero Banner Section-->
<section class="vps_banner_img container-fluid">
    <div class="inner_banner_content text-center">
        <div class="container">
            <h1>Power At The Right Price With VPS</h1>
            <p>Dedicated Control & Functionality In A Scalable Environment!</p>
            <div class="heading-spacer col-xs-12"></div>
            <div class="slider-container bg_color_fafafa">
                <div class="price_rangetxt">
                    <div id="icon-0" class="icon"><span>VPS 1</span></div>
                    <div id="icon-1" class="icon"><span>VPS 2</span></div>
                    <div id="icon-2" class="icon"><span>VPS 3</span></div>
                    <div id="icon-3" class="icon"><span>VPS 4</span></div>
                    <div id="icon-4" class="icon"><span>VPS 5</span></div>
                    <div class="clear"></div>
                    <!--price_rangetxt-->
                </div>
                <div class="slider_node">
                    <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="slider"></div>
                        <!--sliderbox-->
                    </div>
                </div>
                <div class="slider_detail">
                    <div class="col-xl-12 col-lg-12 col-md-12 float-left padding_tb_40 outer_price_content">
                        <div id="cpu_val" class="col-xl-3 col-lg-3 col-md-3  col-3 float-left price_content">
                            <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_slider_img01.png" class="img-fluid"> </span></div>
                            <div class="value_text float-left">CPU<br> <span class="value"></span>  </div>
                            <!--smallbox-->
                        </div>
                        <div id="ram_val" class="col-xl-3 col-lg-3 col-md-3 col-3 float-left price_content">
                            <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_slider_img02.png" class="img-fluid"> </span></div>
                            <div class="value_text float-left">RAM<br> <span class="value"></span></div>
                            <!--smallbox-->
                        </div>
                        <div id="hdd_val" class="col-xl-3 col-lg-3 col-md-3 col-3 float-left price_content">
                            <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_slider_img03.png" class="img-fluid"> </span></div>
                            <div class="value_text float-left">Hard Disk<br> <span class="value"></span> </div>
                            <!--smallbox-->
                        </div>
                        <div id="bandwidth_val" class="col-xl-3 col-lg-3 col-md-3 col-3 float-left price_content">
                            <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_slider_img04.png" class="img-fluid"> </span></div>
                            <div class="value_text float-left">Bandwidth<br> <span class="value"></span> </div>
                            <!--smallbox-->
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 float-left package_price_box">
                        <div class="price_txt smallbox"><span id="price_val" class="numeric1"></span>/mo</div>
                        <a href="https://www.your-domain.com/?cmd=cart&amp;action=add&amp;id=250" class="vps_btn buynow-button">Order Now</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Dedicated Plans and Price Section-->
<section class="section_padding text-center dedicated_plan_price_section">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10">
                <div class="section_heading">
                    <h2 class="margin_bottom_10">Experience The Power Of A VPS!</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mobile_margin">
                <figure><img src="assets/images/vps_power_img.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 text-left mobile_center_text">
                <ul class="vps_power_list">
                    <li>Change hostname</li>
                    <li>Change root password</li>
                    <li>Change VNC/console password</li>
                </ul>
                <a href="#" class="btn_lear_more">Learn More</a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mobile_center_text">
                <ul class="vps_power_list">
                    <li>Set Reverse DNS</li>
                    <li>API Access</li>
                    <li>Manage Backups</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Here-->
<!--Why Chose Section -->
<section class="padding_top_80 padding_bottom_120 bg_f5f5f5 vps_why_chose text-center">
    <div class="container">
        <div class="section_heading">
            <h2 class="margin_bottom_10">Why Choose Hostiko?</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 dedicated_why_chose_box">
                <figure><img src="assets/images/dedicated_why_chose_img01.png" alt="" class="img-fluid"></figure>
                <h4>High Performance</h4>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 dedicated_why_chose_box center_box">
                <figure><img src="assets/images/dedicated_why_chose_img02.png" alt="" class="img-fluid"></figure>
                <h4>Unlimited Traffic</h4>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 dedicated_why_chose_box">
                <figure><img src="assets/images/dedicated_why_chose_img03.png" alt="" class="img-fluid"></figure>
                <h4>Anti-DDoS Protection</h4>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--vps Feature Section-->
<section class="section_padding text-center vps_feature_section">
    <div class="container">
        <div class="section_heading">
            <h2 class="margin_bottom_10">Our Features</h2>
            <p>Nemo enim ipsam voluptatem, quia voluptas sit aspernatur fugit.</p>
        </div>
        <div class="row vps_feature_row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <figure><img src="assets/images/feature_img01.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 text-left vps_feature_row_content">
                <h4>Free Website Backups</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <div class="row vps_feature_row no_border">
            <div class="col-xl-8 col-lg-8 col-md-8 order_2 text-left vps_feature_row_content">
                <h4>Secure your Website</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 order_1">
                <figure><img src="assets/images/feature_img02.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
        <div class="row vps_feature_row no_border">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <figure><img src="assets/images/feature_img03.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 text-left vps_feature_row_content">
                <h4>Money Back Guarantee</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <div class="row vps_feature_row no_border">
            <div class="col-xl-8 col-lg-8 col-md-8 order_2 text-left vps_feature_row_content">
                <h4>True 24/7 Tech Support</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 order_1">
                <figure><img src="assets/images/feature_img04.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--FAQ Section-->
<section class="section_padding text-center dedicated_faq faq_section bg_f5f5f5">
    <div class="container">
        <h2>Frequently Asked Questions</h2>
        <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur fugit consequuntur</p>
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <figure class="padding_top_40"><img src="assets/images/faq_img.png" alt=""></figure>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div id="accordion" class="text-left">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is the difference between VPS vs Dedicated Hosting?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do I get started with Dedicated Hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What custom dedicated server configurations does HostGator offer?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What are dedicated servers for games?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Do I need dedicated web hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>


<script>
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    $(function(){
        $("#header").load("include/header.html");
        $("#testimonial").load("include/testimonial.html");
        $("#footer").load("include/footer.html");
    });
</script>
</body>

</html>