<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Domain | Hostiko</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
</head>

<body>
    <!-- Preloader -->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->
    <!-- HEADER SECTION START HERE -->
    <div class="header-main-con w-100 float-left">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand p-0" href="index.html">
                    <figure class="mb-0">
                        <img src="assets/images/header-logo.png" alt="header-logo" loading="lazy">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link p-0 active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Hosting 
                            </a>
                            <div class="dropdown-menu dropdown-menu-outer" aria-labelledby="navbarDropdown1">
                                <ul class="list-unstyled mb-0">
                                    <li><a class="dropdown-item" href="shared-hosting.html">Shared</a></li>
                                    <li><a class="dropdown-item" href="reseller.html">Reseller</a></li>
                                    <li><a class="dropdown-item" href="vps.html">VPS</a></li>
                                    <li><a class="dropdown-item" href="dedicated.html">Dedicated</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="domain.html">Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="https://akdesigner.com/whmcs-templates/?systpl=hostiko-html&layout=41">WHMCS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <ul class="list-unstyled mb-0" >
                                    <li><a href="about.html" class="dropdown-item">About</a></li>
                                    <li><a href="pricing.html" class="dropdown-item">Pricing</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown3">
                                            <li><a href="blog.html" class="dropdown-item">Blog</a></li>
                                            <li><a href="single-blog.html" class="dropdown-item">Single Blog</a></li>
                                            <li><a href="one-column.html" class="dropdown-item">One Column</a></li>
                                            <li><a href="two-column.html" class="dropdown-item">Two Column</a></li>
                                            <li><a href="three-column.html" class="dropdown-item">Three Column</a></li>
                                            <li><a href="three-colum-sidbar.html" class="dropdown-item">Three Column Sidbar</a></li>
                                            <li><a href="four-column.html" class="dropdown-item">Four Column</a></li>
                                            <li><a href="six-colum-full-wide.html" class="dropdown-item">Six Column</a></li>
                                            <li><a href="load-more.html" class="dropdown-item">Load More</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown4">
                                            <li><a href="shop.html" class="dropdown-item">Shop</a></li>
                                            <li><a href="product-detail.html" class="dropdown-item">Product Detail</a></li>
                                            <li><a href="cart.html" class="dropdown-item">Cart</a></li>
                                            <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="coming-soon.html" class="dropdown-item">Coming Soon</a></li>
                                    <li><a href="404.html" class="dropdown-item">404</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-btns d-flex align-items-center">
                    <div class="login-btn">
                        <a href="contact.html">
                            Live Chat
                        </a>
                    </div>
                    <div class="chat-btn">
                        <a href="cart.html">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- HEADER SECTION END HERE -->
    <!-- BANNER SECTION START HERE -->
    <section class="sub-banner-main-con w-100 float-left sky-blue-bg">
        <div class="container">
            <div class="sub-banner-inner-con">
                <div class="sub-banner-text-con">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Domain</li>
                        </ol>
                      </nav>
                    <h1>Domain Registration</h1>
                </div>
                <div class="sub-banner-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/domain-banner-img.png" alt="domain-banner-img">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- BANNER SECTION END HERE -->
    <!-- DOMAIN SECTION START HERE -->
    <section class="domain-main-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="domain-inner-con">
                <div class="generic-title text-center">
                    <h2>Register Your Domain</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                        sunt in culpa rui officia deserunt mollit anim</p>
                </div>
                <div class="domain-serach-con">
                    <input type="text" placeholder="Search your domain name">
                    <div class="domain-search-btns">
                        <button class="search-btn">Search</button>
                        <button class="transfer-btn">Transfer</button>
                    </div>
                </div>
                <div class="domains-price-con">
                    <ul class="mb-0 list-unstyled">
                        <li>
                            <img src="assets/images/domain-img1.png" alt="domain-img1">
                            <span>$5.99</span>
                        </li>
                        <li>
                            <img src="assets/images/domain-img2.png" alt="domain-img2">
                            <span>$8.99</span>
                        </li>
                        <li>
                            <img src="assets/images/domain-img3.png" alt="domain-img3">
                            <span>$12.99</span>
                        </li>
                        <li>
                            <img src="assets/images/domain-img4.png" alt="domain-img4">
                            <span>$18.99</span>
                        </li>
                        <li>
                            <img src="assets/images/domain-img5.png" alt="domain-img5">
                            <span>$21.99</span>
                        </li>
                    </ul>
                    <a href="pricing.html">View All Pricing <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- DOMAIN SECTION END HERE -->
    <!-- DOAMINS SECTION START HERE -->
    <section class="popular-domains-con w-100 float-left padding-top padding-bottom light-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Most Popular Domains</h2>
            </div>
            <div class="popular-domains-inner-con">
                <div class="popular-domain-box">
                    <span class="d-block">.com</span>
                    <p>Get the world’s most popular domain.</p>
                    <div class="hosting-plan-price-con">
                        <p>Starting at:</p>
                        <div class="hosting-price-box">
                            <span class="dollar">$</span> <span id="price_val1" class="numeric1">5</span>
                            <div class="month-title">
                                <span id="point_val1" class="numeric2">.99</span>
                                <small>/month</small>
                            </div>
                        </div>
                    </div>
                    <div class="generic-btn">
                        <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/domain/pricing&systpl=hostiko&layout=89">Check Availability</a>
                    </div>
                </div>
                <div class="popular-domain-box">
                    <span class="d-block">.net</span>
                    <p>Get the world’s most popular domain.</p>
                    <div class="hosting-plan-price-con">
                        <p>Starting at:</p>
                        <div class="hosting-price-box">
                            <span class="dollar">$</span> <span id="price_val2" class="numeric1">8</span>
                            <div class="month-title">
                                <span id="point_val2" class="numeric2">.99</span>
                                <small>/month</small>
                            </div>
                        </div>
                    </div>
                    <div class="generic-btn">
                        <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/domain/pricing&systpl=hostiko&layout=89">Check Availability</a>
                    </div>
                </div>
                <div class="popular-domain-box">
                    <span class="d-block">.org</span>
                    <p>Get the world’s most popular domain.</p>
                    <div class="hosting-plan-price-con">
                        <p>Starting at:</p>
                        <div class="hosting-price-box">
                            <span class="dollar">$</span> <span id="price_val3" class="numeric1">12</span>
                            <div class="month-title">
                                <span id="point_val3" class="numeric2">.99</span>
                                <small>/month</small>
                            </div>
                        </div>
                    </div>
                    <div class="generic-btn">
                        <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/domain/pricing&systpl=hostiko&layout=89">Check Availability</a>
                    </div>
                </div>
                <div class="popular-domain-box">
                    <span class="d-block">.shop</span>
                    <p>Get the world’s most popular domain.</p>
                    <div class="hosting-plan-price-con">
                        <p>Starting at:</p>
                        <div class="hosting-price-box">
                            <span class="dollar">$</span> <span id="price_val4" class="numeric1">35</span>
                            <div class="month-title">
                                <span id="point_val4" class="numeric2">.99</span>
                                <small>/month</small>
                            </div>
                        </div>
                    </div>
                    <div class="generic-btn">
                        <a href="https://akdesigner.com/whmcs-templates/index.php?rp=/domain/pricing&systpl=hostiko&layout=89">Check Availability</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- DOAMINS SECTION END HERE -->
    <!-- REGISTRATION SECTION START HERE -->
    <section class="registration-main-con w-100 float-left padding-top padding-bottom white-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>3 Reasons to Register Today</h2>
                <p>Choose Hostiko and get...</p>
            </div>
            <div class="registration-inner-con">
                <div class="registration-left-con">
                    <figure class="mb-0">
                        <img src="assets/images/registration-left-img.png" alt="registration-left-img">
                    </figure>
                </div>
                <div class="registration-right-con">
                    <div class="reasons-con">
                        <figure class="mb-0">
                            <img src="assets/images/reason-img1.png" alt="reason-img1">
                        </figure>
                        <div class="reasons-text-con">
                            <h4>Client Portal</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed magna aliqua.</p>
                        </div>
                    </div>
                    <div class="reasons-con">
                        <figure class="mb-0">
                            <img src="assets/images/reason-img2.png" alt="reason-img2">
                        </figure>
                        <div class="reasons-text-con">
                            <h4>Domain Management</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed magna aliqua.</p>
                        </div>
                    </div>
                    <div class="reasons-con">
                        <figure class="mb-0">
                            <img src="assets/images/reason-img3.png" alt="reason-img3">
                        </figure>
                        <div class="reasons-text-con">
                            <h4>Domain Security</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- REGISTRATION SECTION END HERE -->
    <!-- DOMAIN PRICE SECTION START HERE -->
    <section class="domain-price-main-con w-100 float-left padding-top padding-bottom cream-bg">
        <div class="container">
            <div class="generic-title text-center">
                <h2>Find Out the Price for Your Domain</h2>
                <p>That's the life of a domain investor, and we can help you make your way doing the same thing.</p>
            </div>
            <div class="domain-price-inner-con">
                <table class="table">
                    <thead>
                      <tr>
                        <th>TLD's</th>
                        <th>Register</th>
                        <th>Renew</th>
                        <th>Transfer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>.com</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                      <tr>
                        <td>.org</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                      <tr>
                        <td>.co.uk</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                      <tr>
                        <td>.shop</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                      <tr>
                        <td>.dev</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                      <tr>
                        <td>.ca</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                      <tr>
                        <td>.online</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                      <tr>
                        <td>.space</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                        <td>$9.99</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="generic-btn text-center">
                <a href="index.html">View All Domain Names <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </section>
    <!-- DOMAIN PRICE SECTION END HERE -->
    <!-- PARTNERS LOGO SECTION START HERE -->
    <div class="partners-logo-con w-100 float-left white-bg">
        <div class="container">
            <div class="partners-logo-inner-con">
                <ul class="mb-0 list-unstyled">
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-logo1.png" alt="partner-logo1">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-logo2.png" alt="partner-logo2">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-logo3.png" alt="partner-logo3">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-logo4.png" alt="partner-logo4">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-logo5.png" alt="partner-logo5">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- PARTNERS LOGO SECTION END HERE -->
    <!-- GET STARTED SECTION START HERE -->
    <section class="get-started-con w-100 float-left sky-blue-bg">
        <div class="container">
            <div class="get-started-inner-con">
                <div class="get-started-text">
                    <h3>Build Your Website with Hostiko</h3>
                    <p>From professional business to enterprise, we’ve got you covered!</p>
                </div>
                <div class="generic-btn">
                    <a href="contact.html">Get Started Now <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- GET STARTED SECTION END HERE -->
    <!-- FOOTER SECTION START HERE -->
    <section class="footer-main-con w-100 float-left black-bg">
        <div class="container">
            <div class="footer-inner-links">
                <div class="footer-box footer-logo-box">
                    <a href="index.html">
                        <figure>
                            <img src="assets/images/footer-logo.png" alt="footer-logo">
                        </figure>
                    </a>
                    <p>Copyright 2023 DesigningMedia. <br> All Rights Reserved</p>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-box footer-service-box">
                    <h5>Services</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="shared-hosting.html">Shared Hosting</a></li>
                        <li><a href="reseller.html">Reseller Hosting</a></li>
                        <li><a href="vps.html">Virtual Private Server</a></li>
                        <li><a href="dedicated.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Registration</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-comunity-links">
                    <h5>Community</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="about.html">Knowledgebase</a></li>
                        <li><a href="contact.html">Privacy Policy</a></li>
                        <li><a href="contact.html">Acceptable Use Policy</a></li>
                        <li><a href="blog.html">News</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-about-links">
                    <h5>About Us</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                        <li><a href="vps.html">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER SECTION END HERE -->
    <a id="button"></a>
    <!-- js start -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>