<!DOCTYPE HTML>
<html>
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIOKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->



    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">


</head>
<body onload="myFunction()">
<a name="top" id="top"></a>
<div id="loader"></div>
<div id="myDiv" class="animate-bottom">
<header class="montserrat_font">
    <!--Start Nav Bar-->
    <nav class="navbar navbar-default menu_navigation montserrat_font padding_top_20 padding_bottom_20 nav4" data-spy="affix" data-offset-top="0">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo_box">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--Logo-->
                <a href="index.html" class="header_logo"><img src="assets/images/logo.svg" alt="image of logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right navigation_bar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav_bar font_size_14 font_weight_600">
                    <li><a href="index.html" >HOME</a></li>
                    <li class="sub-menu-parent active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOSTING <span class="caret"></span></a>
                        <ul class="sub-menu dropdown-menu" id="sub_menu">
                            <li><a href="webhosting.html">Shared Hosting</a></li>
                            <li><a href="dedicated.html">Dedicated Hosting</a></li>
                            <li><a href="vps_slider.html">Vps Hosting</a></li>
                            <li class=""><a href="reseller.html">Reseller Hosting</a></li>
                        </ul>
                    </li>
                    <li><a href="domain.html" >DOMAIN</a></li>
                    <li class="sub-menu-parent"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">COMPANY <span class="caret"></span></a>
                        <ul class="sub-menu dropdown-menu" id="sub_menu_01">
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="network.html">Network</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu-parent"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WHMCS <span class="caret"></span></a>
                        <ul class="sub-menu dropdown-menu" id="sub_menu_02">
                            <li><a href="//akdesigner.com/whmcs-templates/announcements?systpl=hostiko-layout2">Announcements</a></li>
                            <li><a href="//akdesigner.com/whmcs-templates/clientarea.php?action=services&systpl=hostiko-layout2">Your Services</a></li>
                            <li><a href="//akdesigner.com/whmcs-templates/clientarea.php?systpl=hostiko-layout2">Update Details</a></li>
                            <li><a href="//akdesigner.com/whmcs-templates/clientarea.php?action=creditcard&systpl=hostiko-layout2">Update Credit Cards</a></li>
                            <li><a href="//akdesigner.com/whmcs-templates/clientarea.php?action=domains&systpl=hostiko-layout2">Your Domains</a></li>
                            <li><a href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko-layout2">Submit A Ticket</a></li>
                            <li><a href="//akdesigner.com/whmcs-templates/clientarea.php?action=masspay&all=true&systpl=hostiko-layout2">Deposite Funds</a></li>
                            <li><a href="//akdesigner.com/whmcs-templates/clientarea.php?action=addcontact&systpl=hostiko-layout2">Manage Contacts</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">BLOG</a></li>
                    <li class="sub-menu-parent"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PAGES <span class="caret"></span></a>
                        <ul class="sub-menu dropdown-menu" id="sub_menu_03">
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="icons.html">Retina Icons</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="form-elements.html">Form Elements</a></li>
                            <li><a href="tables.html">Table Elements</a></li>
                            <li><a href="tabs.html">Tab Elements</a></li>
                            <li><a href="accordion-toggle.html">Accordions / Toggles</a></li>
                            <li><a href="alerts.html">Alert Elements</a></li>
                            <li><a href="carousel.html">Carousel Elements</a></li>
                            <li><a href="progress-bars.html">Progress Bars</a></li>
                            <li><a href="columns.html">Columns</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--End Navigation-->
</header>
<!--Start Slider Section-->
<section class="reseller_page_banner">
    <div class="container webhosting_page_banner_content">
        <div class="color_fff about_banner_text row">
            <div class="col-lg-6 montserrat_font">
                <h1 class="font_size_44 padding_bottom_15 font_weight_700 banner_name ">Reseller Hosting</h1>
                <p class="font_weight_300 font_size_18 banner_para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Plan And Pricing Box-->
<section class="padding_top_100 padding_bottom_100 montserrat_font">
    <div class="container">
        <h2 class="font_size_36 font_weight_700 margin_bottom_15 text-center">Plan and Pricing</h2>
        <p class="font_size_16 font_weight_400 margin_bottom_10 text-center">Lorem ipsum dolor sit amet tinam tritani omittam mei oblique tacimates.</p>
        <div class="row padding_top_50">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_feature_box" data-aos="fade-up">
                <div class="price_box bg_color_fff">
                    <div class="text-center padding_bottom_25">
                        <h3 class="font_size_24 font_weight_700 secondary_color_00b2f2">Basic</h3>
                        <h4 class="font_size_30 font_weight_700">$12<span>/mo*</span></h4>
                    </div>
                    <div class="margin_lr_35 border_top">
                        <ul class="side_links">
                            <li>2 <span>Websites</span></li>
                            <li>5GB <span>Storage</span></li>
                            <li>3 <span>User</span></li>
                            <li>5 EMail <span>Accounts</span></li>
                            <li>1 MySQL<span>DataBase</span></li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <!--Button-->
                        <a href="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&carttpl=hostiko" class="padding11 btn_price_box font_size_14 font_weight_700 margin_bottom30">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_feature_box" data-aos="fade-up">
                <div class="price_box bg_color_fff active_box">
                    <div class="text-center padding_10">
                        <strong class="bg_color_d7263d color_fff font_size_14 font_weight_500 padding_10">RECOMMENDED</strong>
                    </div>
                    <div class="">
                        <div class="text-center padding_bottom_25">
                            <h3 class="font_size_24 font_weight_700 secondary_color_00b2f2">Professional</h3>
                            <h4 class="font_size_30 font_weight_700">$17<span>/mo*</span></h4>
                        </div>
                        <div class="margin_lr_35 border_top">
                            <ul class="side_links">
                                <li>5 <span>Websites</span></li>
                                <li>20GB <span>Storage</span></li>
                                <li>10 <span>User</span></li>
                                <li>15 EMail <span>Accounts</span></li>
                                <li>2 MySQL<span>DataBase</span></li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <a href="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&carttpl=hostiko" class="padding11 btn_price_box font_size_14 font_weight_700 margin_bottom30">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_feature_box" data-aos="fade-up">
                <div class="price_box bg_color_fff">
                    <div class="text-center padding_bottom_30">
                        <h3 class="font_size_24 font_weight_700 secondary_color_00b2f2">Ultimate</h3>
                        <h4 class="font_size_30 font_weight_700">$29<span>/mo*</span></h4>
                    </div>
                    <div class="margin_lr_35 border_top">
                        <ul class="side_links">
                            <li>20 <span>Websites</span></li>
                            <li>50GB <span>Storage</span></li>
                            <li>25 <span>User</span></li>
                            <li>30 EMail <span>Accounts</span></li>
                            <li>5 MySQL<span>DataBase</span></li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a href="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&carttpl=hostiko" class="padding11 btn_price_box font_size_14 font_weight_700 margin_bottom30">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_feature_box" data-aos="fade-up">
                <div class="price_box bg_color_fff">
                    <div class="text-center padding_bottom_30">
                        <h3 class="font_size_24 font_weight_700 secondary_color_00b2f2">Corporate</h3>
                        <h4 class="font_size_30 font_weight_700">$99<span>/mo*</span></h4>
                    </div>
                    <div class="margin_lr_35 border_top">
                        <ul class="side_links">
                            <li>2 <span>Websites</span></li>
                            <li>200GB <span>Storage</span></li>
                            <li>3 <span>User</span></li>
                            <li>5 EMail <span>Accounts</span></li>
                            <li>1 MySQL<span>DataBase</span></li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <button type="button" class="padding11 btn_price_box font_size_14 font_weight_700 margin_bottom30"><a href="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&carttpl=hostiko">ORDER NOW</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Plan & Pricing Ends-->
<!--Plan Pricing Section Starts Here-->
<section>
    <div class="bg_color_f4f4f4 padding_top_100 padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm12 vision_box">
                    <div class="col-lg-4 col-md-4 col-sm-12 montserrat_font vision_box_img pull-right">
                        <div class="text-center vision_img">
                            <figure>
                                <img src="assets/images/faster_service.png" alt="" class="img-responsive margin_0_auto">
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 montserrat_font plan_pricing_box pull-left">
                        <div class="vision_content">
                            <h2 class="font_size_30 font_weight_900 margin_bottom_5 text_uppercase">2.5x Faster </h2>
                            <figure class="padding_bottom_15">
                                <img src="assets/images/bottom_separator.png" alt="">
                            </figure>
                            <p class="font_size_16 font_weight_300 color_777 padding_bottom_35 text-justify">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam ad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri. Mei errem suscipit eu, ut eos facilisi platonem oportere Ius fugit lucilius suavitate ea.</p>
                            <p class="font_size_16 font_weight_300 primary_color_fcb100 text-justify">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit noid ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="bg_color_fff padding_top_100 padding_bottom_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 float_left">
                    <div class="col-lg-4 col-md-4 col-sm-12 montserrat_font vision_box_img">
                        <div class="text-center vision_img">
                            <figure>
                                <img src="assets/images/panel.png" alt="" class="img-responsive margin_0_auto">
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 montserrat_font plan_pricing_box">
                        <div class="vision_content">
                            <h2 class="font_size_30 font_weight_900 margin_bottom_15 text_uppercase">Clean & Easy To Use Control Panel </h2>
                            <figure class="padding_bottom_25">
                                <img src="assets/images/bottom_separator.png" alt="">
                            </figure>
                            <p class="font_size_16 font_weight_300 color_777 padding_bottom_35 text-justify">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam ad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri. Mei errem suscipit eu, ut eos facilisi platonem oportere Ius fugit lucilius suavitate ea.</p>
                            <p class="font_size_16 font_weight_300 primary_color_fcb100 text-justify">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit noid ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Plan Pricing Ends Here-->
<!--Core Features Starts Here-->
<section class="text-center padding_top_100 padding_bottom_100 montserrat_font bg_color_f4f4f4">
    <div class="container">
        <h2 class="font_size_36 font_weight_700 margin_bottom_5 text-center">Our Features</h2>
        <p class="font_size_16 font_weight_400 margin_bottom_10 text-center">Lorem ipsum dolor sit amet tinam tritani omittam mei oblique tacimates.</p>
        <div class="row padding_top_50">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_box" data-aos="fade-up">
                <div class="feature_box text-center positon_relative bg_color_f8f8f8">
                    <div class="domain_emails positon_absolute"></div>
                    <div class="padding_top_70 padding_bottom_30">
                        <h4 class="heading_feature_box font_size_20 font_weight_600 padding_top_65 padding_bottom_20 our_services">Domains & Emails</h4>
                        <p class="font_size_14 font_weight_300 line_height_25">Lorem ipsum dolor sit amet no utinam tritani omittam qui, mei oblique tacimates iudicabit noid .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_box" data-aos="fade-up">
                <div class="feature_box positon_relative bg_color_f8f8f8">
                    <div class="guarantee positon_absolute"></div>
                    <div class="padding_top_70 padding_bottom_30">
                        <h4 class="heading_feature_box font_size_20 font_weight_600 padding_top_65 padding_bottom_20 our_services">30 Days Guarantee</h4>
                        <p class="font_size_14 font_weight_300 line_height_25">Lorem ipsum dolor sit amet no utinam tritani omittam qui, mei oblique tacimates iudicabit noid .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_box" data-aos="fade-up">
                <div class="feature_box positon_relative bg_color_f8f8f8">
                    <div class="controll_panel positon_absolute"></div>
                    <div class="padding_top_70 padding_bottom_30">
                        <h4 class="heading_feature_box font_size_20 font_weight_600 padding_top_65 padding_bottom_20 our_services">Control Panel</h4>
                        <p class="font_size_14 font_weight_300 line_height_25">Lorem ipsum dolor sit amet no utinam tritani omittam qui, mei oblique tacimates iudicabit noid .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 core_box" data-aos="fade-up">
                <div class="feature_box positon_relative bg_color_f8f8f8">
                    <div class="high_speed positon_absolute"></div>
                    <div class="padding_top_70 padding_bottom_30">
                        <h4 class="heading_feature_box font_size_20 font_weight_600 padding_top_65 padding_bottom_20 our_services">High Network Speed</h4>
                        <p class="font_size_14 font_weight_300 line_height_25">Lorem ipsum dolor sit amet no utinam tritani omittam qui, mei oblique tacimates iudicabit noid .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Core Feature Ends Here-->
<!--Stack Table Starts Here-->
<section class=" padding_top_100 padding_bottom_100 bg_pattern text-center">
    <div class="container">
        <h2 class="font_size_30 font_weight_900 margin_bottom_15 color_fff">Comparision Pricing Plan</h2>
        <p class="font_size_16 font_weight_400 margin_bottom_10 color_fff padding_bottom_50">Lorem ipsum dolor sit amet tinam tritani omittam mei oblique tacimates.</p>
        <table class="large-only table montserrat_font color_fff hosting_table">
            <thead>
            <tr>
                <th class=""></th>
                <th class="bg_color_038ce4">STARTER</th>
                <th class="empty-th"></th>
                <th class="bg_color_d7263d">ADVANCED</th>
                <th class="empty-th"></th>
                <th class="bg_color_038ce4">ENTERPRISE</th>
            </tr>
            </thead>
            <tbody>
            <tr data-key="0">
                <td class="border_bottom_263148">SSD Storage</td>
                <td class="bg_color_243049">5 GB</td>
                <td></td>
                <td class="bg_color_243049"> 5GB</td>
                <td></td>
                <td class="bg_color_243049">5 5GB</td>
            </tr>
            <tr data-key="1">
                <td class="border_bottom_263148">Bandwidth</td>
                <td class="color_fff bg_color_243049 ">UNLIMITED</td>
                <td></td>
                <td class="color_fff bg_color_243049">UNLIMITED</td>
                <td></td>
                <td class="color_fff bg_color_243049">UNLIMITED</td>
            </tr>
            <tr data-key="2">
                <td class="border_bottom_263148">Domains</td>
                <td class="color_fff bg_color_243049">UNLIMITED</td>
                <td></td>
                <td class="color_fff bg_color_243049">UNLIMITED</td>
                <td></td>
                <td class="color_fff bg_color_243049">UNLIMITED</td>
            </tr>
            <tr data-key="3">
                <td>&nbsp;</td>
                <td class="bg_color_243049">
                    <div class="comparison_price ">
                        <span class="hostingpaln_sign">$</span><span class="hostingpaln_price">19.95</span><span class="hostingpaln_sign">/mo</span>
                        <div class="hostingplan_btn">
                            <a href="https://akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&amp;carttpl=hostiko" class="blue_bg color_fff">Choose Plan</a>
                            <!--plan_btn-->
                        </div>
                        <!--hosting_planprice-->
                    </div>
                </td>
                <td></td>
                <td class="bg_color_243049">
                    <div class="comparison_price">
                        <span class="hostingpaln_sign">$</span><span class="hostingpaln_price">19.95</span><span class="hostingpaln_sign">/mo</span>
                        <div class="hostingplan_btn hostingplan_btn_01">
                            <a href="https://akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&amp;carttpl=hostiko" class="color_fff bg_color_d7263d">Choose Plan</a>
                            <!--plan_btn-->
                        </div>
                        <!--hosting_planprice-->
                    </div>
                </td>
                <td></td>
                <td class="bg_color_243049">
                    <div class="comparison_price">
                        <span class="hostingpaln_sign">$</span><span class="hostingpaln_price">19.95</span><span class="hostingpaln_sign">/mo</span>
                        <div class="hostingplan_btn">
                            <a href="https://akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&amp;carttpl=hostiko" class="blue_bg color_fff">Choose Plan</a>
                            <!--plan_btn-->
                        </div>
                        <!--hosting_planprice-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!--Stack Table End-->
<!--Testimonials Section Starts Here-->
<section class="float_left width_100 padding_top_100 padding_bottom_100 montserrat_font bg_color_f4f4f4">
    <div class="container">
        <h2 class="font_size_36 font_weight_700 margin_bottom_5 text-center">Testimonials</h2>
        <p class="font_size_16 font_weight_400 margin_bottom_45 text-center">Lorem ipsum dolor sit amet tinam tritani omittam mei oblique tacimates.</p>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 client_reviews">
                <div class="testimonial_box positon_relative secondary_color_00b2f2 montserrat_font bg_color_fff">
                    <h6 class="font_size_18 font_weight_700 padding_top_25 padding_bottom_5">Ryan Frankel</h6>
                    <span><a href="#">www.exmple.com</a></span>
                    <p class="padding_top_15 padding_bottom_30 line_height_24">Lorem ipsum dolor et,onsectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="shape_box">
                        <figure>
                            <img src="assets/images/inverted_comass.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 client_reviews">
                <div class="testimonial_box positon_relative secondary_color_00b2f2 montserrat_font bg_color_fff">
                    <h6 class="font_size_18 font_weight_700 padding_top_25 padding_bottom_5">Marian Chism</h6>
                    <span><a href="#">www.exmple.com</a></span>
                    <p class="padding_top_15 padding_bottom_30 line_height_24">Lorem ipsum dolor et,onsectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="shape_box">
                        <figure>
                            <img src="assets/images/inverted_comass.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 client_reviews">
                <div class="testimonial_box positon_relative secondary_color_00b2f2 montserrat_font bg_color_fff">
                    <h6 class="font_size_18 font_weight_700 padding_top_25 padding_bottom_5">Clair Broadley</h6>
                    <span><a href="#">www.exmple.com</a></span>
                    <p class="padding_top_15 padding_bottom_30 line_height_24">Lorem ipsum dolor et,onsectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="shape_box">
                        <figure>
                            <img src="assets/images/inverted_comass.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Footer Section Starts Here-->
    <section class="bg_pattern width_100 float_left montserrat_font color_fff padding_top_70 padding_bottom_70">
        <!--Container    -->
        <div class="container">
            <!--Row-->
            <div class="row footer_first_section">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 footer_box">
                    <h5 class="font_size_18 margin_bottom_20 font_weight_700 footer_links_heading text_uppercase">Our Services</h5>
                    <ul class="font_size_14 line_height_22 font_weight_400 footer_links">
                        <li><a href="webhosting.html">Shared Hosting</a></li>
                        <li><a href="vps_slider.html">Vps Hosting</a></li>
                        <li><a href="reseller.html">Reseller Hosting</a></li>
                        <li><a href="dedicated.html">Dedicated Hosting</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 footer_box">
                    <h5 class="font_size_18 margin_bottom_20 font_weight_700 footer_links_heading text_uppercase">Company</h5>
                    <ul class="font_size_14 font_weight_400 line_height_22 footer_links">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="network.html">Networks</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 footer_box">
                    <h5 class="font_size_18 margin_bottom_15 font_weight_700 footer_links_heading text_uppercase">Support</h5>
                    <ul class="font_size_14 font_weight_400 line_height_22 footer_links">
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/knowledgebase?systpl=hostiko">Knowledge Base</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko">Submit A Ticket</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 footer_box">
                    <h5 class="font_size_18 margin_bottom_20 font_weight_700 footer_links_heading text_uppercase">Get In Touch With Us</h5>
                    <ul class="footer_info" >
                        <li><a href="#">Address:</a><span> Envato Labs, Behind Alis Street, Melbourne, Austrila.</span></li>
                        <li><a href="Mailto:info@hostiko.com">Email: <span> info@hostiko.com</span></a></li>
                        <li><a href="tel:(+1)1234567890">Phone: <span> (+1)123 456 7890</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 footer_box">
                    <h5 class="font_size_18 margin_bottom_15 font_weight_700 footer_links_heading text_uppercase">Legal</h5>
                    <ul class="font_size_14 font_weight_400 line_height_22 footer_links">
                        <li><a href="domain.html">Domain</a></li>
                        <li><a href="privacy_policy.html">Privacy Policy</a></li>
                        <li><a href="acceptable_use_policy.html">Acceptable Use Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 footer_box">
                    <h5 class="font_size_18 margin_bottom_15 font_weight_700 footer_links_heading text_uppercase">whmcs</h5>
                    <ul class="font_size_14 font_weight_400 line_height_22 footer_links">
                        <li><a href="//akdesigner.com/whmcs-templates/announcements?systpl=hostiko">Announcements</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/cart.php?a=add&domain=register&systpl=hostiko">Register Domain</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/cart.php?a=add&domain=transfer&systpl=hostiko">Transfer Domain</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer_box col-xs-4 footer_social_links_box">
                    <h5 class="font_size_18 margin_bottom_15 font_weight_700 footer_links_heading text_uppercase">Social Links</h5>
                    <ul class="font_size_14 font_weight_400 line_height_22  list-inline footer_social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 footer_logo_box">
                    <figure class="padding_bottom_10">
                        <img src="assets/images/logo.svg" alt="">
                    </figure>
                    <h6 class="line_height_22 font_size_14">Copyright @ 2019 <span><a href="index.html">Hostiko.com</a></span> <br> All RIght Reserved</h6>
                </div>
            </div>
        </div>
        <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
    </section>
<!--Footer Section Ends Here-->
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!--js file-->
<script src="assets/js/bootstrap.min.js"></script>

<!-- Scripts -->
<script type="text/javascript" src="assets/js/stacktable.js"></script>
<script type="text/javascript" src="assets/js/aos.js"></script>
<script>
    $('.table').stacktable({myClass:'your-custom-class'});
    AOS.init();
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 50);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>

</body>
</html>

