<!--Client Section-->
<section class=" padding_bottom_60 text-center">
    <div class="container border_top padding_top_60">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 "><figure><img src="assets/images/partner_img01.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 "><figure><img src="assets/images/partner_img02.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 "><figure><img src="assets/images/partner_img03.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-3"><figure><img src="assets/images/partner_img04.png" alt="" class="img-fluid"></figure></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Footer Section-->
<section class="section_padding ">
    <div class="container">
        <div class="footer_01_copyright row">
            <div class="footer_01_logo col-xl-3 col-12">
                <figure><img src="assets/images/header01_logo.svg" alt=""></figure>
            </div>
            <div class="footer_01_copyright_content col-xl-9 col-12 text-right">
                <p>Hostiko by <a href="http://designingmedia.com">designingmedia</a> © 2019 All rights reserved.</p>
            </div>
        </div>
        <div class="row footer_01_box">
            <div class="col-xl-4 col-lg-4">
                <div class="footer_01_box_inner">
                    <p class="margin_bottom_20">Nullam erat ametam arcu lorme pharetra id risus
                        act sectetur ipsum luctus est ullam erat ametam arcu
                        lorme pharetra id us act sectetur ipsum luctus est.</p>
                    <p>Nullam erat ametam arcu lorme pharetra id risus
                        act sectetur ipsum luctus est ullam erat ametam arcu
                        lorme pharetra id us act sectetur ipsum luctus est.</p>
                    <ul class="footer_01_box_inner_social_links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2">
                <div class="footer_01_box_inner">
                    <ul class="footer_01_links">
                        <li><a href="domain.html">Domain</a></li>
                        <li><a href="vps_hosting.html">VPS Hosting</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="reseller_hosting">Reseller Hosting</a></li>
                        <li><a href="shared_hosting.html">Shared Hosting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="footer_01_box_inner">
                    <ul class="footer_01_contact_details">
                        <li>Envato Labs, Behind Alis Steet, Melbourne, Australia.</li>
                        <li>8.00 AM - 6:00PM</li>
                        <li><a href="tel:1 (234) 123 4567">1 (234) 123 4567</a></li>
                        <li><a href="mailto:info@hostiko.com">info@hostiko.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="footer_01_box_inner subscription_box">
                    <div class="subscription_box_heading">Subscribe Us!</div>
                    <p>Nullam erat ametam arcuing lorme pharetra id risus act.</p>
                    <input type="text" class="email_input" placeholder="Enter Email">
                    <input type="submit" class="btn_subscription_box" value="Submit">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->