<!--Client Section-->
<section class=" padding_bottom_60 text-center">
    <div class="container border_top padding_top_60">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 "><figure><img src="assets/images/partner_img01.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 "><figure><img src="assets/images/partner_img02.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-3 "><figure><img src="assets/images/partner_img03.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-3"><figure><img src="assets/images/partner_img04.png" alt="" class="img-fluid"></figure></div>

        </div>
    </div>
</section>
<!--Ends Here-->
<section class="container-fluid bg_eeeeee padding_top_10 padding_bottom_10">
    <div class="container">
        <ul class="footer03_first_box">
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Acceptable Use Policy</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Request a Free Consultation</a></li>
        </ul>
    </div>
</section>
<!--Footer Section-->
<section class="bg_0b257f padding_top_50 padding_bottom_50 color_fff">
    <div class="container">
        <div class="row footer03_box">
            <div class="col-xl-4 col-lg-4">
                <div class="footer03_box_inner">
                    <figure><img src="assets/images/header01_logo.svg" alt=""></figure>
                    <p class="margin_bottom_20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="footer_01_box_inner">
                    <ul class="footer_02_contact_details">
                        <li>Envato Labs, Behind Alis Steet, Melbourne, Australia.</li>
                        <li>8.00 AM - 6:00PM</li>
                        <li><a href="tel:1 (234) 123 4567">1 (234) 123 4567</a></li>
                        <li><a href="mailto:info@hostiko.com">info@hostiko.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2">
                <div class="footer_01_box_inner">
                    <div class="margin_bottom_20">Services</div>
                    <ul class="footer_02_links">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="affiliates.html">Affiliates</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2">
                <div class="footer_01_box_inner">
                    <div class="margin_bottom_20">Legal</div>
                    <ul class="footer_02_links">
                        <li><a href="domain.html">Domain</a></li>
                        <li><a href="vps_hosting.html">VPS Hosting</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="reseller_hosting">Reseller Hosting</a></li>
                        <li><a href="shared_hosting.html">Shared Hosting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<section class="container-fluid bg_eeeeee padding_top_10 padding_bottom_10">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="">© All rights reserved by Hostiko.</div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <ul class="footer03_social_links">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>