<!--Testimonial Section-->
<section class="padding_top_100 padding_bottom_100 testimonial_section text-center bg_f2f6f8">
    <div class="container">
        <div class="section_heading_box color_333">
            <h2 class="">Why Our Customers Love Us!</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators indicator_testimonial_slider">
                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                            <div class="client_review_box">
                                <h5>Richard</h5>
                                <a href="#">www.websitename.com</a>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis venia m interpretaris uas quodsi timeam.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="client_review_box">
                                <h5>Richard</h5>
                                <a href="#">www.websitename.com</a>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis venia m interpretaris uas quodsi timeam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                            <div class="client_review_box">
                                <h5>Richard</h5>
                                <a href="#">www.websitename.com</a>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis venia m interpretaris uas quodsi timeam.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="client_review_box">
                                <h5>Richard</h5>
                                <a href="#">www.websitename.com</a>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis venia m interpretaris uas quodsi timeam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                            <div class="client_review_box">
                                <h5>Richard</h5>
                                <a href="#">www.websitename.com</a>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis venia m interpretaris uas quodsi timeam.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="client_review_box">
                                <h5>Richard</h5>
                                <a href="#">www.websitename.com</a>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis venia m interpretaris uas quodsi timeam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->