<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
        body{font-family: 'Lato', sans-serif; margin: 0}
    </style>
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="icon" href="assets/images/favicon.png">
    <style>
        @media only screen and (max-width: 480px){
            .main_box{width: 100%}
        }
    </style>

</head>
<body>
<table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="main_box">

    <tbody><tr bgcolor="#f1f1f1"><td>
        <table width="100%" align="left" border="0" cellspacing="0" cellpadding="27" bgcolor="#3e7ccc">
            <tbody><tr>
                <td align="left"><a href="index.html"><img src="assets/images/logo.svg" alt="" style="width: 110px; height: auto"></a>
                </td>
                <td align="right">
                    <table align="right" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr align="right">
                            <td><a href="#"><img src="assets/images/social-icon1.png" alt=""></a>
                            </td>
                            <td width="15px"></td>
                            <td><a href="#"><img src="assets/images/social-icon2.png" alt=""></a>
                            </td>
                            <td width="15px"></td>
                            <td><a href="#"><img src="assets/images/social-icon3.png" alt=""></a>
                            </td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
            </tbody></table>
    </td></tr>
    <tr>
        <td>
            <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0" bgcolor="0e1f35" style="font-size:12px;color:#fff;">
                <tbody><tr><td height="45px"></td></tr>
                <tr>
                    <td width="100%">
                        <h1 style="text-align:center;color:#fff;font-size:28px;line-height:36px;margin-top:0;margin-bottom:0;font-weight:300">Hostiko Offer Fully Managed <br>
                            Hosting Solutions</h1>
                    </td>
                </tr>
                <tr><td height="20px"></td></tr>
                <tr align="center">
                    <td>

                        <table width="170">
                            <tbody><tr align="center">
                                <td>
                                    <a href="//themeforest.net/item/hostiko-html-whmcs-hosting-theme/21860050" style="line-height:12px;color:#fff;text-decoration:none;padding:16px 26px;border:solid 2px #fff;display:block;text-transform:uppercase;letter-spacing:1px">Get Hostiko</a>
                                </td>
                            </tr>
                            </tbody></table>

                    </td>
                </tr>
                <tr><td height="45px"></td></tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#e8e8e8">
            <table width="100%" align="left" border="0" cellspacing="0" cellpadding="15">
                <tbody><tr><td height=""></td></tr>
                <tr>
                    <td>
                        <table width="100%" align="center" border="0" cellspacing="" cellpadding="0">
                            <tbody><tr>

                                <td>

                                    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td bgcolor="#fff">
                                                <table width="100%" align="left" border="0" cellspacing="0" cellpadding="30">
                                                    <tbody><tr><td>

                                                        <table align="left" border="0" cellspacing="0" cellpadding="0">

                                                            <tbody><tr><td><h4 style="font-size:16px;line-height:20px;font-weight:700;color:#000;margin:0">Domain Registration</h4></td></tr>
                                                            <tr><td height="10px"></td></tr>
                                                            <tr><td><h4 style="font-size:18px;line-height:20px;font-weight:400;margin:0;color:#3e7ccc">$7.99/year</h4></td></tr>
                                                            <tr><td height="15px"></td></tr>
                                                            <tr><td><p style="font-size:14px;line-height:20px;color:#777;margin:0">Lorem ipsum dolor sit amet, consectetu adipiscing</p></td></tr>
                                                            <tr><td height="25px"></td></tr>
                                                            <tr><td>
                                                                <a href="domain.html" style="font-weight: 600; font-size:12px;line-height:12px;color:#000;text-decoration:none;padding:14px 26px;border:solid 2px #000;display:inline-block;text-transform:uppercase;letter-spacing:1px">Get Hostiko</a>
                                                            </td></tr>

                                                            </tbody></table>

                                                    </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>
                                <td>

                                    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td bgcolor="#fff">
                                                <table width="100%" align="center" border="0" cellspacing="0" cellpadding="30">
                                                    <tbody><tr><td>

                                                        <table align="left" border="0" cellspacing="0" cellpadding="0">

                                                            <tbody><tr><td>
                                                                <h4 style="font-size:16px;line-height:20px;font-weight:700;color:#000;margin:0">Shared Hosting</h4></td></tr>
                                                            <tr><td height="10px"></td></tr>
                                                            <tr><td><h4 style="font-size:18px;line-height:20px;font-weight:400;color: #3e7ccc;margin:0">$7.99/year</h4></td></tr>
                                                            <tr><td height="15px"></td></tr>
                                                            <tr><td><p style="font-size:14px;line-height:20px;color:#777;margin:0">Lorem ipsum dolor sit amet, consectetu adipiscing</p></td></tr>
                                                            <tr><td height="25px"></td></tr>
                                                            <tr><td>
                                                                <a href="shared_hosting.html" style="font-weight: 600; font-size:12px;line-height:12px;color:#000;text-decoration:none;padding:14px 26px;border:solid 2px #000;display:inline-block;text-transform:uppercase;letter-spacing:1px">Get Hostiko</a>
                                                            </td></tr>

                                                            </tbody></table>

                                                    </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>

                            </tr>
                            <tr><td height="25px"></td></tr>
                            <tr>

                                <td>

                                    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td bgcolor="#fff">
                                                <table width="100%" align="left" border="0" cellspacing="0" cellpadding="30">
                                                    <tbody><tr><td>

                                                        <table align="left" border="0" cellspacing="0" cellpadding="0">

                                                            <tbody><tr><td>
                                                                <h4 style="font-size:16px;line-height:20px;font-weight:700;color:#000;margin:0">VPS Hosting</h4></td></tr>
                                                            <tr><td height="10px"></td></tr>
                                                            <tr><td><h4 style="font-size:18px;line-height:20px;font-weight:400;color:#3e7ccc;margin:0">$7.99/year</h4></td></tr>
                                                            <tr><td height="15px"></td></tr>
                                                            <tr><td><p style="font-size:14px;line-height:20px;color:#777;margin:0">Lorem ipsum dolor sit amet, consectetu adipiscing</p></td></tr>
                                                            <tr><td height="25px"></td></tr>
                                                            <tr><td>
                                                                <a href="vps_hosting.html" style="font-weight: 600; font-size:12px;line-height:12px;color:#000;text-decoration:none;padding:14px 26px;border:solid 2px #000;display:inline-block;text-transform:uppercase;letter-spacing:1px">Get Hostiko</a>
                                                            </td></tr>

                                                            </tbody></table>

                                                    </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>
                                <td>

                                    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td bgcolor="#fff">
                                                <table width="100%" align="center" border="0" cellspacing="0" cellpadding="30">
                                                    <tbody><tr><td>

                                                        <table align="left" border="0" cellspacing="0" cellpadding="0">

                                                            <tbody><tr><td>
                                                                <h4 style="font-size:16px;line-height:20px;font-weight:700;color:#000;margin:0">Dedicated Server</h4></td></tr>
                                                            <tr><td height="10px"></td></tr>
                                                            <tr><td><h4 style="font-size:18px;line-height:20px;font-weight:400;color:#3e7ccc;margin:0">$7.99/year</h4></td></tr>
                                                            <tr><td height="15px"></td></tr>
                                                            <tr><td><p style="font-size:14px;line-height:20px;color:#777;margin:0">Lorem ipsum dolor sit amet, consectetu adipiscing</p></td></tr>
                                                            <tr><td height="25px"></td></tr>
                                                            <tr><td>
                                                                <a href="dedicated_hosting.html" style="font-weight: 600; font-size:12px;line-height:12px;color:#000;text-decoration:none;padding:14px 26px;border:solid 2px #000;display:inline-block;text-transform:uppercase;letter-spacing:1px">Get Hostiko</a>
                                                            </td></tr>

                                                            </tbody></table>

                                                    </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>

                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                <tr><td height=""></td></tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td>


            <table width="100%" align="left" border="0" cellspacing="50" cellpadding="0" bgcolor="0e1f35" style="background-size: cover; font-size: 12px; color: #fff;">

                <tbody><tr>
                    <td>

                        <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0">

                            <tbody>
                            <tr>
                                <td width="100%">
                                    <h1 style="text-align:left;color:#fff;font-size:30px;line-height:36px;margin-top:0;margin-bottom:0;font-weight:300">Complete Hosting<br>
                                        Solutions Only <span style="font-weight:700;color:#fff">$2.95/mo</span></h1>
                                </td>
                            </tr>
                            <tr><td height="20"></td></tr>
                            <tr align="left">
                                <td>
                                    <table width="170">
                                        <tbody><tr align="left">
                                            <td>
                                                <a href="//themeforest.net/item/hostiko-html-whmcs-hosting-theme/21860050" style="font-weight: 600; line-height:12px;color:#fff;text-decoration:none;padding:15px 0;border:solid 2px #fff;display:block;text-transform:uppercase;letter-spacing:1px; text-align: center">Get Hostiko</a>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>
                            </tr>
                            <tr><td height="3"></td></tr>
                            </tbody></table>

                    </td>
                </tr>

                </tbody></table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#e8e8e8">
            <table border="0" cellspacing="30" cellpadding="0" align="center">
                <tbody><tr>
                    <td>
                        <p style="color:#777777;font-size:14px;line-height:14px;font-weight:400;margin:0">Copyright Ⓒ 2019 Hostiko.com All Rights Reserved</p>
                    </td>
                </tr>
                </tbody></table>

        </td>
    </tr>
    </tbody></table>
</body>
</html>