
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
/*.ui-slider .ui-slider-range {*/
	/*position: absolute;*/
	/*z-index: 1;*/
	/*display: block;*/
	/*border: 0;*/
	/*width: 100%;*/
	/*height: 30px;*/
	/*background-color: #0069ff;*/
	/*border-radius: 32px;*/
/*}*/
.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -5px;
	margin-left: .6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	background-color: #fff;
	position: absolute;
	border-radius: 32px;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: .3em;
	margin-left: 0;
	margin-bottom: .6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
/*.slider-container {*/
	/*float: left;*/
	/*width: 100%;*/
	/*border-radius: 6px;*/
/*}*/
.slider-container h3 {
	margin:0 0 10px;
	padding:0;
	color:#000;
	font-size:30px;
	line-height:30px;
	font-weight:normal;
}
.slider-container h3 span {
	color:#ff9226;
	font-weight:700;
}
.slider-container p {
	margin:0;
	padding:0;
}
.sliderbox {
	display:inline-block;
	width: 100%;
	padding: 0;
	margin:0;
	position: relative;
}
.slider-container #slider {
	width: 100%;
	height: 20px;
	padding: 0;
	border: 0;
	margin: 0 auto;
	background-color: #4a0671;
	top: 15px;
	border-radius: 32px;
}
.slider_price_box{text-align: center; position: absolute; width: 780px; left: 0; right: 0; margin: 0 auto; bottom: -71px; background-color: #fff; border-radius: 0 0 32px 32px}
.slider_price_box .price_txt strike{font-size: 16px; line-height: 24px; color: #2f395d; font-weight: 700; position: relative; top: -12px; left: -10px}
.slider_price_box .price_txt{font-size: 20px; font-weight: 400; line-height: 36px; color: #ff2c9c; margin-bottom: 10px; padding-top: 15px}
.slider_price_box .price_txt span#price_val{font-size: 48px; font-weight: 700; line-height: 32px; color: #ff2c9c}
.slider-container #slider .ui-slider-handle {
	outline: none;
	background: url(../images/vps_slider_handle.png) no-repeat left top;
	border-radius: 0;
	border: 0;
	width: 30px;
	height: 30px;
	margin: 0 0 0 -20px;
}
.slider-container #slider .ui-slider-handle:hover {
	cursor: pointer;
}
.price_rangetxt {
	width: 100%;
	padding: 50px 100px;
	background-color: #5d088e;
	border-radius: 22px 22px 0 0;
}
.price_rangetxt div.icon {
	font-size: 16px;
	line-height: 18px;
	cursor: pointer;
	font-weight: 400;

}
.price_rangetxt div.icon span{
	text-transform: uppercase;
	color: #aaa;
	font-size: 30px;
	line-height: 30px;
	font-weight: 800;
	text-align: center;
	font-family: 'Barolow', sans-serif;
}

.price_rangetxt div.icon{ padding: 0}
.price_rangetxt div.current span{color: #faa51e}
.price_content {
	width:100%;
	text-align:center;
	position: relative;
}
.price_content .smallbox {
	float:left;
	width:15%;
	height: 60px;
	display: table;
}
.price_content .smallbox:last-child{
	border: none;
}

.slider-container{margin: 0 auto; position: relative; padding-top: 10px;}
.value_text {
	font-size: 18px;
	line-height: 24px;
	color:#fff;
	font-weight: 400;
	text-transform: uppercase}
.top_heading{float: left; width: 100%; padding: 0 55px}
.top_heading .text_value{

	line-height: 36px;
	padding:7px 0;
	color:#000;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}
.value_text .value {
	line-height:24px;
	color: #3e4555;
	font-size: 20px; font-weight: 500
}
.promotion_area{text-align: left; padding: 45px 15px}
.coupon_code span{font-size: 24px; line-height: 36px; color: #454545; font-weight: 500}
/*.slider_detail{padding: 40px 50px; border: 1px solid #c3cfd6; background-color: #f6f6f6; margin-top: -9px}*/
.price_txt {
	color:#fa2c68;
	font-size:48px;
	line-height:48px; font-weight: 800; font-family: 'Barlow', sans-serif; text-transform: uppercase;
}
.price_txt #price_val{font-size: 48px; line-height: 48px; color: #fa2c68; font-weight: 800; font-family: 'Barlow', sans-serif;}
.slider_feature_box{border-right: 1px solid #bddffc}
.border_right_none{border-right: none}

.image_holder img{width: 44px; height: 44px}

.nomargin_rt{
	margin-right: 0 !important;
}
.price-box-section{
	float: left;
	width: 100%;
	border-radius: 6px
}
.slider_feature_box{float: left; width: 100%}
.vps_slider_listing li{ vertical-align: middle; flex: 1}
.slider_nodes{width: 100%; display: flex;}
.slider_nodes li{display: inline-block; padding: 0; flex: 1 1 auto; text-align: center}
.price_rangetxt div.icon.current{position: relative}
.list_slider_price_box li{float: left; padding: 0 50px; border-right: 1px solid #bddffc; position: relative}
.list_slider_price_box li:last-child{border-right: none}
.list_slider_price_box li:last-child{padding: 0}
.slider_discount_box{display: inline-block; vertical-align: middle; padding: 0 30px}
.coupon_box{font-size: 24px; line-height: 30px; font-weight: 600; color: #e94d3a}
.coupon_code small{font-size: 14px; line-height: 24px; font-weight: 400; color: #3e4555}
.coupon_code {font-size: 24px; line-height: 24px; font-weight: 500; color: #3e4555}
.buynow_button{font-size: 18px; line-height: 18px; color: #fff; font-weight: 600; border-radius: 6px; background-color: #fa2c68;  padding: 20px 40px; transition: all ease-in-out 0.5s; text-transform: uppercase; margin-left: 20px;}
.buynow_button:hover{background-color: #4a0671; color: #fff}
.vps_slider_listing{display: flex;}
.vps_slider_feature_box{float: left; width: 100%; padding: 20px;}
.inner_slider_feature_box{float: left; width: 35%;}
.inner_slider_feature_content_box{float: left; width: 65%;}
.inner_slider_feature_box figure img{margin-bottom: 10px}
.inner_slider_feature_box figure img{width: 62px; height: 62px;} 
.inner_slider_feature_box .value_text{font-size: 16px; line-height: 24px; color: #fff; font-weight: 400}
.slider_feature_box_price span{font-size: 30px; line-height: 36px; font-weight: 800; color: #fff; font-family: 'Barlow', sans-serif;}
.vps_slider_order_box{text-align: center; background-color: #fff; border-radius: 0 0 22px 22px; padding: 40px 0; border: 1px solid #eee;}

