<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">
</head>
<body>
<div id="header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center color_fff">
    <div class="banner_inner_content">
        <div class="container">
            <h1>About Hostiko</h1>
            <p>The optimal solution for fast reliable websites.</p>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Hostiko History-->
<section class="section_padding text-center">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10">
                <h2 class="color_333 margin_bottom_20">The Hostiko History</h2>
                <p class="margin_bottom_30">Lorem ipsum dolor sit amet, no utinam tritani omittam qui mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum meieam ad velit mucius graeco. Ridens quidam at eos modus oblique euismod no pri. Mei errem suscipit euut eos facilisi platonem oportere.</p>
                <p class="margin_bottom_30">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam ad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri. Mei errem suscipit eu, ut eos facilisi platonem oportere. Ius fugit lucilius suavitate ea.</p>
                <p class="color_029ef5">Integre accumsan consectetuer usu et. Dico omnis adversarium ut per. No vel doctus persecuti, ad vis blandit comprehensam. Suas hinc zril pri eu. Ius tota falli noluisse adduo no populo voluptatum.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Popular Domains-->
<section class="section_padding bg_0b257f text-center">
    <div class="container">
        <div class="row margin_bottom_50">
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="box_data_center_img">
                            <figure><img src="assets/images/data_center_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-left color_fff">
                        <h4 class="color_fff margin_bottom_10">Our Datacenters</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="box_data_center_img">
                        <figure><img src="assets/images/data_center_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-left color_fff">
                        <h4 class="color_fff margin_bottom_10">Our Network</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="box_data_center_img">
                        <figure><img src="assets/images/data_center_img03.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-left color_fff">
                        <h4 class="color_fff margin_bottom_10">Our Vision</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="box_data_center_img">
                        <figure><img src="assets/images/data_center_img04.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-left color_fff">
                        <h4 class="color_fff margin_bottom_10">400k+ Happy Customers</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Why Choose Section-->
<section class="section_padding text-center hosting_guarantee_section">
    <div class="container">
        <div class="section_heading_box">
            <h2 class="color_333">Hostiko Guarantees</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="hosting_guarantee_box">
                    <figure><img src="assets/images/guarantee_img01.svg" alt=""></figure>
                    <h5>Money-back Guarantee</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="hosting_guarantee_box">
                    <figure><img src="assets/images/guarantee_img02.svg" alt=""></figure>
                    <h5>24/7 Support</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="hosting_guarantee_box">
                    <figure><img src="assets/images/guarantee_img03.svg" alt=""></figure>
                    <h5>24/7 Support</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="hosting_guarantee_box">
                    <figure><img src="assets/images/guarantee_img04.svg" alt=""></figure>
                    <h5>Fast SSD Server</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Hosting Team-->
<section class="section_padding bg_0b257f text-center">
    <div class="container">
        <div class="section_heading_box">
            <h2 class="color_fff">Hostiko Team</h2>
            <p class="color_fff">Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 hosting_team_box">
                <figure><img src="assets/images/team_img01.png" alt="" class="img-fluid"></figure>
                <div class="team_member_name">Alisha Maghi</div>
                <div class="team_member_rank">CEO & MP</div>
            </div>
            <div class="col-xl-3 col-lg-3 hosting_team_box">
                <figure><img src="assets/images/team_img02.png" alt="" class="img-fluid"></figure>
                <div class="team_member_name">Jasi Smith</div>
                <div class="team_member_rank">CEO & MP</div>
            </div>
            <div class="col-xl-3 col-lg-3 hosting_team_box">
                <figure><img src="assets/images/team_img03.png" alt="" class="img-fluid"></figure>
                <div class="team_member_name">Herry Jon</div>
                <div class="team_member_rank">Head of Engineering</div>
            </div>
            <div class="col-xl-3 col-lg-3 hosting_team_box">
                <figure><img src="assets/images/team_img04.png" alt="" class="img-fluid"></figure>
                <div class="team_member_name">Aelan Sami</div>
                <div class="team_member_rank">Head of People</div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial-->
<div id="testimonial"></div>
<!--Ends Here-->
<div id="footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }


    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    $(function(){
        $("#header").load("include/header.html");
        $("#testimonial").load("include/testimonial.html");
        $("#footer").load("include/footer.html");
    });

</script>
</body>
</html>