<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center color_fff affiliates_banner">
    <div class="banner_inner_content padding_top_50">
        <div class="container">
            <h1>Data Center</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</section>
<!--End Banner Section-->
<!--Map Section-->
<section class="section_padding text-center">
    <div class="container">
       <div class="col-12 data_center_map">
            <figure><img src="assets/images/blue-map.svg" alt=""></figure>
           <div id="data_center_box01" class="location-outer data-center-decreption_box"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Americas</span><div class="location_detail" style="display: none;"><h2>Americas</h2><p class="details">Berkeley County, South Carolina</p></div> </div>
           <div id="data_center_box02" class="location-outer data-center-decreption_box"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Argentina</span><div class="location_detail" style="display: none;"><h2>Argentina</h2><p class="details">Buenos Aires</p></div> </div>
           <div id="data_center_box03" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Greenland</span><div class="location_detail" style="display: none;"><h2>Greenland</h2><p class="details">The Dalles, Oregon</p></div> </div>
           <div id="data_center_box04" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">United Kingdom</span><div class="location_detail" style="display: none;"><h2>United Kingdom</h2><p class="details">London</p></div> </div>
           <div id="data_center_box05" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Russia</span><div class="location_detail" style="display: none;"><h2>Russia</h2><p class="details">Dublin, Ireland</p></div> </div>
           <div id="data_center_box06" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Asia</span><div class="location_detail" style="display: none;"><h2>Asia</h2><p class="details">Changhua County, Taiwan</p></div> </div>
           <div id="data_center_box07" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Australia</span><div class="location_detail" style="display: none;"><h2>Australia</h2><p class="details">Canberra</p></div> </div>
       </div>
    </div>
</section>
<!--Ends Here-->
<!--Our Data Center-->
<section class="section_padding text-center feature_section">
    <div class="container">
        <div class="row margin_bottom_50">
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="outer_data_center_img">
                        <figure><img src="assets/images/data_center_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 data_center_heading_box text-left">
                        <h4>Our Datacenters</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="outer_data_center_img">
                        <figure><img src="assets/images/data_center_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-left data_center_heading_box">
                        <h4>Our Network</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="outer_data_center_img">
                        <figure><img src="assets/images/data_center_img03.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-left data_center_heading_box">
                        <h4>Our Vision</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 data_center_box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="outer_data_center_img">
                        <figure><img src="assets/images/data_center_img04.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 text-left data_center_heading_box">
                        <h4>400k+ Happy Customers</h4>
                        <p>Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei eam ad velit mucius graeco.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>


    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    $(function(){
        $("#header").load("include/header.html");
        $("#footer").load("include/footer.html");
    });
</script>

</body>
</html>