<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center color_fff bg_ddos_banner_img">
    <div class="padding_top_200">
        <div class="container">
            <h1>DDoS Protection</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitaenean commodo</p>
        </div>
    </div>
</section>
<!--End Banner Section-->
<!--DDoS Protection-->
<section class="section_padding text-center bg_f2f6f8 ddos_protection_section">
    <div class="container">
        <div class="row margin_bottom_100 plan_row">
            <div class="col-xl-4 col-lg-4">
                <div class="ddos_protection_box">
                    <figure class="ddos_protection_img01"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 80 67.5" style="enable-background:new 0 0 80 67.5;" xml:space="preserve">
<path class="st0" d="M73.3,0H6.7C3,0,0,3,0,6.9v53.7c0,3.8,3,6.9,6.7,6.9h66.6c3.7,0,6.7-3,6.7-6.9V17.9c0,0,0,0,0,0c0,0,0,0,0,0
	v-11C80,3,77,0,73.3,0z M77.3,60.6c0,2.3-1.8,4.2-4,4.2H6.7c-2.2,0-4-1.8-4-4.2V19.2h74.6V60.6z M77.3,16.4H2.7V6.9
	c0-2.3,1.8-4.2,4-4.2h66.6c2.2,0,4,1.8,4,4.2V16.4z"/>
<path class="st0" d="M20.9,4.6c-2.7,0-4.9,2.3-4.9,5.1s2.2,5.1,4.9,5.1c2.7,0,4.9-2.3,4.9-5.1S23.6,4.6,20.9,4.6z M20.9,12
	c-1.2,0-2.2-1.1-2.2-2.4s1-2.4,2.2-2.4c1.2,0,2.2,1.1,2.2,2.4S22.1,12,20.9,12z"/>
<path class="st0" d="M32.4,4.6c-2.7,0-4.9,2.3-4.9,5.1s2.2,5.1,4.9,5.1c2.7,0,4.9-2.3,4.9-5.1S35.2,4.6,32.4,4.6z M32.4,12
	c-1.2,0-2.2-1.1-2.2-2.4s1-2.4,2.2-2.4c1.2,0,2.2,1.1,2.2,2.4S33.7,12,32.4,12z"/>
<path class="st0" d="M9.4,4.6c-2.7,0-4.9,2.3-4.9,5.1s2.2,5.1,4.9,5.1c2.7,0,4.9-2.3,4.9-5.1S12.1,4.6,9.4,4.6z M9.4,12
	C8.1,12,7.2,11,7.2,9.7s1-2.4,2.2-2.4c1.2,0,2.2,1.1,2.2,2.4S10.6,12,9.4,12z"/>
<path class="st0" d="M32.5,54.1C32.5,54.1,32.5,54.1,32.5,54.1l15,0c0.7,0,1.3-0.6,1.3-1.3c0,0,0,0,0,0V40.8c0-0.7-0.6-1.3-1.3-1.3
	h-0.7v-1.6c0-1.8-0.7-3.6-2-4.9c-1.2-1.3-2.9-2-4.7-2h0c-3.8,0-6.8,3.1-6.8,6.9c0,0,0,0,0,0v1.6h-0.7c-0.7,0-1.3,0.5-1.3,1.3v11.9
	C31.2,53.4,31.8,54.1,32.5,54.1z M35.9,37.9c0-2.3,1.8-4.1,4.1-4.2c0,0,0,0,0,0h0c1.1,0,2.1,0.4,2.8,1.2c0.8,0.8,1.2,1.9,1.2,3v1.6
	h-8.1V37.9z M33.9,42.2h12.2v9.2H33.9V42.2z"/>
<path class="st0" d="M39.8,45.3c-0.7,0-1.4,0.6-1.4,1.4v1.8c0,0.7,0.6,1.4,1.4,1.4s1.4-0.6,1.4-1.4v-1.8
	C41.2,45.9,40.6,45.3,39.8,45.3z"/>
<path class="st0" d="M40,61.4c10.4,0,18.9-8.5,18.9-18.9c0-10.4-8.5-18.9-18.9-18.9c-10.4,0-18.9,8.5-18.9,18.9
	C21.1,53,29.6,61.4,40,61.4z M40,26.4c8.9,0,16.2,7.2,16.2,16.2c0,8.9-7.2,16.2-16.2,16.2c-8.9,0-16.2-7.2-16.2-16.2
	C23.8,33.6,31.1,26.4,40,26.4z"/>
</svg></figure>
                    <h4>DDoS Protection
                        for Websites</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="ddos_protection_box">
                    <figure class="ddos_protection_img02"><?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 77 77" style="enable-background:new 0 0 77 77;" xml:space="preserve">
<path class="st0" d="M27.1,36.8c-0.7,0-1.3,0.6-1.3,1.3V44c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3v-5.9
	C28.3,37.4,27.8,36.8,27.1,36.8z"/>
<path class="st0" d="M22.3,36.8c-0.7,0-1.3,0.6-1.3,1.3V44c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3v-5.9
	C23.6,37.4,23,36.8,22.3,36.8z"/>
<path class="st0" d="M17.5,36.8c-0.7,0-1.3,0.6-1.3,1.3V44c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3v-5.9
	C18.8,37.4,18.2,36.8,17.5,36.8z"/>
<path class="st0" d="M12.7,36.8c-0.7,0-1.3,0.6-1.3,1.3V44c0,0.7,0.6,1.3,1.3,1.3S14,44.7,14,44v-5.9C14,37.4,13.4,36.8,12.7,36.8z"
	/>
<path class="st0" d="M60.3,22.3c0-0.7-0.6-1.3-1.3-1.3H36.6c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3H59
	c0.7,0,1.3-0.6,1.3-1.3V22.3z M57.8,26.9H37.9v-3.3h19.9V26.9z"/>
<path class="st0" d="M27.1,20.9c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3v-5.9
	C28.3,21.5,27.8,20.9,27.1,20.9z"/>
<path class="st0" d="M22.3,20.9c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3v-5.9
	C23.6,21.5,23,20.9,22.3,20.9z"/>
<path class="st0" d="M17.5,20.9c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3v-5.9
	C18.8,21.5,18.2,20.9,17.5,20.9z"/>
<path class="st0" d="M12.7,20.9c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3v-5.9
	C14,21.5,13.4,20.9,12.7,20.9z"/>
<path class="st0" d="M27.1,52.7c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3V54
	C28.3,53.3,27.8,52.7,27.1,52.7z"/>
<path class="st0" d="M22.3,52.7c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3V54
	C23.6,53.3,23,52.7,22.3,52.7z"/>
<path class="st0" d="M17.5,52.7c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3V54
	C18.8,53.3,18.2,52.7,17.5,52.7z"/>
<path class="st0" d="M12.7,52.7c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3V54C14,53.3,13.4,52.7,12.7,52.7z
	"/>
<path class="st0" d="M60.3,6.4c0-0.7-0.6-1.3-1.3-1.3H36.6c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3H59
	c0.7,0,1.3-0.6,1.3-1.3V6.4z M57.8,11H37.9V7.6h19.9V11z"/>
<path class="st0" d="M27.1,5c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3V6.3C28.3,5.6,27.8,5,27.1,5z"/>
<path class="st0" d="M22.3,5C21.6,5,21,5.6,21,6.3v5.9c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3V6.3C23.6,5.6,23,5,22.3,5z"/>
<path class="st0" d="M17.5,5c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3V6.3C18.8,5.6,18.2,5,17.5,5z"
	/>
<path class="st0" d="M12.7,5c-0.7,0-1.3,0.6-1.3,1.3v5.9c0,0.7,0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3V6.3C14,5.6,13.4,5,12.7,5z"/>
<path class="st0" d="M66.3,56.3h-0.6v-1.4c0-1.7-0.7-3.4-1.9-4.6c-1.2-1.2-2.8-1.9-4.5-1.8c-3.6,0-6.4,2.9-6.4,6.4v1.4h-0.6
	c-0.7,0-1.3,0.6-1.3,1.3v11.2c0,0.7,0.6,1.3,1.3,1.3h14.1c0.7,0,1.3-0.6,1.3-1.3V57.6C67.6,56.9,67,56.3,66.3,56.3z M55.4,54.9
	c0-2.1,1.7-3.9,3.9-3.9c1,0,2,0.4,2.7,1.1c0.8,0.7,1.2,1.7,1.2,2.8v1.4h-7.8V54.9z M65.1,67.6H53.5v-8.7h11.6V67.6z"/>
<path class="st0" d="M59.2,66c0.7,0,1.3-0.6,1.3-1.3v-1.7c0-0.7-0.6-1.3-1.3-1.3s-1.3,0.6-1.3,1.3v1.7C57.9,65.5,58.5,66,59.2,66
	L59.2,66z"/>
<path class="st0" d="M66.2,43v-6.7c0-1.2-0.5-2.3-1.3-3.2c0.9-0.8,1.3-2,1.3-3.2v-9.5c0-1.2-0.5-2.3-1.3-3.2c0.9-0.8,1.3-2,1.3-3.2
	V4.5c0-2.5-2-4.5-4.5-4.5H4.5C2,0,0,2,0,4.5V14c0,1.2,0.5,2.3,1.3,3.2C0.5,18,0,19.2,0,20.4v9.5c0,1.2,0.5,2.3,1.3,3.2
	c-0.9,0.8-1.3,2-1.3,3.2v9.5C0,47,0.5,48.2,1.4,49C0.5,49.8,0,51,0,52.2v9.5c0,2.5,2,4.5,4.5,4.5H43c3.8,9,14.2,13.2,23.2,9.4
	c9-3.8,13.2-14.2,9.4-23.2C73.8,48.1,70.4,44.8,66.2,43z M2.6,14V4.5c0-1.1,0.9-1.9,1.9-1.9h57.3c1.1,0,1.9,0.9,1.9,1.9V14
	c0,1.1-0.9,1.9-1.9,1.9H4.5C3.4,15.9,2.6,15.1,2.6,14z M2.6,29.9v-9.5c0-1.1,0.9-1.9,1.9-1.9h57.3c1.1,0,1.9,0.9,1.9,1.9v9.5
	c0,1.1-0.9,1.9-1.9,1.9H4.5C3.4,31.8,2.6,31,2.6,29.9z M2.6,45.8v-9.5c0-1.1,0.9-1.9,1.9-1.9h57.3c1.1,0,1.9,0.9,1.9,1.9v5.8
	c-1.1-0.3-2.2-0.4-3.3-0.5v-3.5c0-0.7-0.6-1.2-1.3-1.2H36.6c-0.7,0-1.3,0.5-1.3,1.2V44c0,0.7,0.6,1.4,1.3,1.4h11.9
	c-1,0.7-1.8,1.5-2.6,2.4H4.5C3.4,47.7,2.6,46.9,2.6,45.8z M53,42.8H37.9v-3.3h19.9v2.2C56.1,41.8,54.5,42.2,53,42.8z M4.5,63.6
	c-1.1,0-1.9-0.9-1.9-1.9v-9.5c0-1.1,0.9-1.9,1.9-1.9H44c-0.5,0.8-0.9,1.7-1.2,2.5h-6.2c-0.7,0-1.3,0.5-1.3,1.2v5.9
	c0,0.7,0.6,1.4,1.3,1.4h5.1c0.1,0.8,0.2,1.6,0.4,2.4H4.5z M37.9,58.7v-3.3H42c-0.3,1.1-0.4,2.2-0.4,3.3H37.9z M59.3,74.5
	c-6.3,0-11.9-3.9-14.2-9.7c0-0.2-0.1-0.3-0.2-0.5c-2.7-7.9,1.4-16.6,9.4-19.3c7.9-2.7,16.6,1.4,19.3,9.4c2.7,7.9-1.4,16.6-9.4,19.3
	C62.7,74.2,61,74.5,59.3,74.5z"/>
</svg></figure>
                    <h4>DDoS Protection
                        for Networks</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="ddos_protection_box">
                    <figure class="ddos_protection_img03"><?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 76 76" style="enable-background:new 0 0 76 76;" xml:space="preserve">
<path class="st0" d="M64.9,54.4h-0.6V53c0-1.8-0.7-3.5-2-4.8c-1.3-1.2-2.9-1.9-4.7-1.9c-3.7,0-6.7,3-6.7,6.7v1.5h-0.6
	c-0.7,0-1.3,0.6-1.4,1.3v11.7c0,0.7,0.6,1.3,1.4,1.3H65c0.7,0,1.4-0.5,1.4-1.3V55.8C66.2,55,65.6,54.4,64.9,54.4z M53.5,53
	c0-2.2,1.8-4.1,4.1-4.1c1.1,0,2.1,0.4,2.8,1.1c0.8,0.8,1.2,1.8,1.2,2.9v1.5h-8.1V53z M63.6,66.1H51.5v-9h12.1V66.1z"/>
<path class="st0" d="M57.4,64.6c0.7,0,1.3-0.6,1.3-1.3v-1.7c0-0.7-0.6-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3v1.7
	C56.1,64,56.7,64.6,57.4,64.6z"/>
<path class="st0" d="M66.1,41.1c0.6-2.5,0.9-5.1,0.9-7.6C67,15,52,0,33.5,0S0,15,0,33.5S15,67,33.5,67c2.6,0,5.1-0.3,7.6-0.9
	c4.7,9,15.9,12.5,25,7.8c9-4.7,12.5-15.9,7.8-25C72.1,45.6,69.4,42.9,66.1,41.1z M57.5,39c-1.6,0-3.2,0.2-4.7,0.6
	c0.2-1.6,0.3-3.2,0.4-4.8h11.1c-0.1,1.8-0.3,3.5-0.7,5.2C61.7,39.4,59.6,39,57.5,39L57.5,39z M9.4,52.7c-4-5.1-6.4-11.3-6.7-17.8
	h11.1c0.1,4.3,0.8,8.5,2.1,12.5C13.5,48.9,11.3,50.6,9.4,52.7z M15.9,19.6c-1.3,4.1-2,8.3-2.1,12.6H2.7C3,25.7,5.3,19.4,9.4,14.4
	C11.3,16.4,13.5,18.2,15.9,19.6z M57.6,14.4c4.1,5.1,6.4,11.3,6.7,17.8H53.2c-0.1-4.3-0.8-8.5-2-12.5C53.5,18.2,55.7,16.4,57.6,14.4
	z M50.5,32.2H34.8v-7.6c4.8-0.2,9.6-1.4,13.9-3.6C49.8,24.6,50.4,28.4,50.5,32.2z M34.9,21.9V3.1c6,3.2,10.4,8.6,13.1,15.4
	C43.9,20.6,39.4,21.8,34.9,21.9z M32.2,21.9c-4.6-0.2-9-1.4-13-3.5c2.6-6.8,7.1-12.1,13-15.3V21.9z M32.2,24.6v7.6H16.5
	c0.1-3.8,0.7-7.6,1.8-11.2C22.6,23.2,27.3,24.4,32.2,24.6z M16.5,34.9h15.7v7.6c-4.9,0.2-9.6,1.4-13.9,3.6
	C17.2,42.4,16.6,38.7,16.5,34.9z M32.2,45.1v18.8c-6-3.2-10.4-8.5-13-15.3C23.2,46.5,27.6,45.3,32.2,45.1z M39,57.5
	c0,1.1,0.1,2.2,0.3,3.3c-1.4,1.1-2.9,2.2-4.5,3V45c2.7,0.1,5.3,0.6,7.9,1.3C40.3,49.6,39,53.5,39,57.5L39,57.5z M44.6,44.2
	c-3.1-1.1-6.4-1.7-9.8-1.8v-7.6h15.6c0,1.9-0.2,3.9-0.5,5.8C48,41.5,46.2,42.7,44.6,44.2L44.6,44.2z M55.9,12.3
	c-1.7,1.8-3.6,3.4-5.7,4.8C48,11.5,44.6,6.8,40.1,3.4C46.2,4.7,51.7,7.8,55.9,12.3z M26.9,3.4c-4.4,3.4-7.8,8.1-10,13.7
	c-2.1-1.3-4-2.9-5.7-4.7C15.3,7.8,20.8,4.7,26.9,3.4z M11.1,54.7c1.7-1.8,3.6-3.4,5.7-4.7c2.2,5.6,5.6,10.2,10,13.7
	C20.8,62.3,15.3,59.2,11.1,54.7z M57.5,73.3c-8.7,0-15.8-7.1-15.8-15.8c0-8.7,7.1-15.8,15.8-15.8c8.7,0,15.8,7.1,15.8,15.8l0,0
	C73.3,66.3,66.3,73.3,57.5,73.3L57.5,73.3z"/>
</svg></figure>
                    <h4>DDoS Protection for
                        Domain Server</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10">
                <div class="section_heading">
                    <h2 class="margin_bottom_10">All-inclusive DDoS protection</h2>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Global DDoS Protection-->
<section class="section_padding text-center bg_0b257f">
    <div class="container">
        <div class="section_heading">
            <h2 class="margin_bottom_50 color_fff">Global DDoS Protection</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <ul class="domain_transfer_list">
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adorem ng elitoremorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4">
                <ul class="domain_transfer_list">
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adorem ng elitoremorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4">
                <ul class="domain_transfer_list">
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adorem ng elitoremorem.</li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Data Center Map-->
<section class="section_padding text-center ">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 text-left">
                <h2 class="margin_bottom_20 color_333">Our Datacenters</h2>
                <p class="margin_bottom_30">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam vad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri.</p>
                <p class="color_13ceed">Mei errem suscipit euut eos facilisi platonem oportere Ius fugit lucilius suavitateea.</p>
            </div>
            <div class="col-xl-7 col-lg-7">
                <figure><img src="assets/images/data_center_map.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Payment Section-->
<section class="padding_top_60 padding_bottom_60 text-center bg_f2f6f8">
    <div class="container">
        <div class="section_heading">
            <h2 class="margin_bottom_20 color_333">Payment We Accept</h2>
        </div>
        <figure><img src="assets/images/payment_img.png" alt=""></figure>
    </div>
</section>
<!--Ends Here-->
<div id="footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>


    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    $(function(){
        $("#header").load("include/header.html");
        $("#footer").load("include/footer.html");
    });
</script>

</body>
</html>