<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">

</head>
<body>
<div id="header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center color_fff affiliates_banner">
    <div class="banner_inner_content padding_top_50">
        <div class="container">
            <h1>Domain Transfer</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</section>
<!--End Banner Section-->
<!--Search Domain-->
<section class="padding_top_60 padding_bottom_60 bg_f2f6f8">
    <div class="container">
        <div class="">
            <form action="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&layout=27&a=add&domain=register" method="post">
                <div class="search_area input-effect">
                    <input type="text" placeholder="Enter your domain Name" class="text_field effect-20 w-100" name="query" size="20">
                    <div class="btn_submit">
                        <input type="submit" class="search_btn text-uppercase" value="SEARCH">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!--Ends Here-->
<section class="padding_bottom_60 text-center bg_f2f6f8 domain_transfer_content_box">
    <div class="container">
        <div class="section_heading margin_bottom_100">
            <h2 class="margin_bottom_10 color_333">Transfer your Domain to Hostiko<br>
                in 3 Easy Steps</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="domain_transfer_box">
                    <div class="step_box">
                        <div>1</div>
                    </div>
                    <h5>Request code</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="domain_transfer_box">
                    <div class="step_box">
                        <div>2</div>
                    </div>
                    <h5>Enter domain</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="domain_transfer_box">
                    <div class="step_box">
                        <div>3</div>
                    </div>
                    <h5>Confirm transfer</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_padding bg_f5f5f5 text-center bg_0b257f">
    <div class="container">
        <div class="section_heading margin_bottom_50">
            <h2 class="color_fff">Every Domain Transfer includes</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <ul class="domain_transfer_list">
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetuer
                        adorem ng elitoremorem
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                    </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4">
                <ul class="domain_transfer_list">
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetuer
                        adorem ng elitoremorem
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                    </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4">
                <ul class="domain_transfer_list">
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetuer
                        adorem ng elitoremorem
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section_padding text-center">
    <div class="container">
        <div class="section_heading_box">
            <h2 class="color_333">Great features FREE with every domain name Transfer!</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="domain_transfer_feature_box">
                    <figure><img src="assets/images/domain_transfer_feature_img01.png" alt=""></figure>
                    <h5>Domain Locking</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="domain_transfer_feature_box">
                    <figure><img src="assets/images/domain_transfer_feature_img02.png" alt=""></figure>
                    <h5>Domain Renewal</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="domain_transfer_feature_box">
                    <figure><img src="assets/images/domain_transfer_feature_img03.png" alt=""></figure>
                    <h5>Easy Management</h5>
                    <p>Lorem ipsum dolor sit amettinas sddfm tritani
                        omittam qui mei oblique taimates iabitomittam qui mei oblique taimates .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="testimonial"></div>
<div id="footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>


    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    $(function(){
        $("#header").load("include/header.html");
        $("#testimonial").load("include/testimonial.html");
        $("#footer").load("include/footer.html");
    });
</script>




</body>
</html>