<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="header"></div>
<!--Hero Banner Section-->
<section class="bg_home_banner landing_page_banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 inner_banner_content">
                <h1>We Provide Top Tier
                    Hosting Services</h1>
                <p>The optimal solution for fast reliable websites.</p>
                <div class="price_box"><small>Starting at</small> $3.99/mo</div>
                <a href="#" class="banner_btn">Get Started Now</a>
                <a href="#" class="banner_btn active">Read More</a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 text-right padding_top_120">
                <figure><img src="assets/images/banner_server.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Email Hosting Feature-->
<section class="section_padding text-center bg_f2f6f8">
    <div class="container">
        <div class="section_heading_box">
            <h2 class="color_333">Why Choose Us</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/guarantee_img01.svg" alt=""></figure>
                    <h5>Money-back Guarantee</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/guarantee_img02.svg" alt=""></figure>
                    <h5>24/7 Support</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/guarantee_img03.svg" alt=""></figure>
                    <h5>Cloud Technology</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="email_hosting_feature_box">
                    <figure><img src="assets/images/guarantee_img04.svg" alt=""></figure>
                    <h5>Fast SSD Server</h5>
                    <p>Lorem ipsum dolor sit amet
                        tinas sddfm tritani omittam qui mei oblique taimates iabit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Email Plans Section-->
<section class="section_padding text-center">
    <div class="container">
        <div class="section_heading margin_bottom_50">
            <h2 class="color_333">Hosting for Every Website</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="hosting_plan_box">
                    <h4>Shared</h4>
                    <p>Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="hosting_plan_box">
                    <h4>Dedicated</h4>
                    <p>Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price">$9.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="hosting_plan_box">
                    <h4>VPS</h4>
                    <p>Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price">$15.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Data Center Map-->
<section class="section_padding text-center bg_f2f6f8">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 text-left">
                <h2 class="margin_bottom_20 color_333">Our Datacenters</h2>
                <p class="margin_bottom_30">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam vad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri.</p>
                <p class="color_13ceed">Mei errem suscipit euut eos facilisi platonem oportere Ius fugit lucilius suavitateea.</p>
            </div>
            <div class="col-xl-7 col-lg-7">
                <figure><img src="assets/images/data_center_map.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->

<div id="footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>


    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    $(function(){
        $("#header").load("include/header.html");
        $("#footer").load("include/footer.html");
    });
</script>

</body>
</html>