<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center color_fff affiliates_banner">
    <div class="banner_inner_content padding_top_50">
        <div class="container">
            <h1>Plan Pricing</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</section>
<!--End Banner Section-->
<!--Hosting Plans Section-->
<section class="section_padding bg_f5f5f5 text-center hosting_plan_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="hosting_plan_box">
                    <h4>Shared</h4>
                    <p>Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="hosting_plan_box">
                    <h4>Dedicated</h4>
                    <p>Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price">$9.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="hosting_plan_box">
                    <h4>VPS</h4>
                    <p>Lorem ipsum dolor sit amet nsdou
                        tinasdfm tritani omittam qui mei oblique taimates iudic sdsd abit.</p>
                    <div class="hosting_plan_price">$15.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Here-->
<!--Shared Hosting Plans Section-->
<section class="section_padding bg_f5f5f5 text-center shared_hosting_plan">
    <div class="container">
        <div class="section_heading_box">
            <h2 class="color_333">Hosting for Every Website</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="hosting_plan_box">
                    <h4>Basic</h4>
                    <ul class="shared_hosting_list">
                        <li>1 Domain</li>
                        <li>Unlimited Storage Space</li>
                        <li>Unlimited Bandwidth</li>
                        <li>No Free Domain</li>
                        <li>Free SSL Certificate</li>
                        <li>Free Upgrade to Positive SSL</li>
                        <li>Free Dedicated IP</li>
                    </ul>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin">
                <div class="hosting_plan_box">
                    <h4>Professional</h4>
                    <ul class="shared_hosting_list">
                        <li>1 Domain</li>
                        <li>Unlimited Storage Space</li>
                        <li>Unlimited Bandwidth</li>
                        <li>No Free Domain</li>
                        <li>Free SSL Certificate</li>
                        <li>Free Upgrade to Positive SSL</li>
                        <li>Free Dedicated IP</li>
                    </ul>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="hosting_plan_box">
                    <h4>Standard</h4>
                    <ul class="shared_hosting_list">
                        <li>1 Domain</li>
                        <li>Unlimited Storage Space</li>
                        <li>Unlimited Bandwidth</li>
                        <li>No Free Domain</li>
                        <li>Free SSL Certificate</li>
                        <li>Free Upgrade to Positive SSL</li>
                        <li>Free Dedicated IP</li>
                    </ul>
                    <div class="hosting_plan_price">$7.99<small>/mo</small></div>
                    <a href="#" class="hosting_plan_btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Here-->
<!--Dedicated Plans and Price Section-->
<section class="section_padding text-center dedicated_plan_price_section">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-8 col-lg-8">
                <div class="section_heading margin_bottom_50">
                    <h2 class="margin_bottom_10 color_333">Plans & Pricing</h2>
                    <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit consequuntur
                        magni dolores eos, qui ratione voluptatem sequi nesciunt.</p>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <table class="large-only table dedicate_server_table plan_pricing_table">
            <thead class="bg_gradient">
            <tr class="">
                <th class="">Cpu</th>
                <th class="">CPU Speed</th>
                <th class="">RAM</th>
                <th class="">Storage</th>
                <th class="">Bandwidth</th>
                <th class="">Price</th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$12.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$19.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$07.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$25.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$10.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            <tr>
                <td>Intel Xeon E3-1230v2</td>
                <td class="">4 x 3.06 GHz +HT</td>
                <td>12 GB (DDR3)</td>
                <td>2 x 500 GB SATA</td>
                <td>4 in stock</td>
                <td>$10.00</td>
                <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!--End Here-->
<div id="footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>


    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
<script>
    $(function(){
        $("#header").load("include/header.html");
        $("#footer").load("include/footer.html");
    });
</script>

</body>
</html>