<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css"/>
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">



</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <section class="blog_banner bg_edf4ff">
        <div class="container">
            <div class="banner_content_box sub_page_banner">
                <h1>G-Suite By Google</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitaenean commodo</p>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#">G-Suit</a></li>
                    </ul>
                    <!--breadcrumb-->
                </div>
                <!--page-title-->
            </div>
        </div>
    </section>
<!--End Slider Section-->
<!--G-Suit Plans-->
<section class="padding_top_100 padding_bottom_100 text-center gsuit_plan_box hosting_plan_section" data-scroll-index="1">
    <div class="container">
        <div class="row margin_bottom_50">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10">
                <figure class="margin_bottom_50"><img src="assets/images/gsuit_img.png" alt="" class="img-fluid"></figure>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 margin_box_mobile" data-aos="fade-left"
                 data-aos-anchor="#example-anchor"
                 data-aos-offset="1000"
                 data-aos-duration="1000">
                <!--Hosting Plan Box-->
                <div class="hosting_plan_box pages_plan">
                    <h3 data-aos="fade-left"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="1000"
                        data-aos-duration="1000">Basic Plan</h3>
                    <div class="hosting_plan_price margin_top_30">Only <span>$2.49</span> /mo</div>
                    <ul class="hosting_plan_list pages_plan_list">
                        <li>30GB Secure Cloud Storage</li>
                        <li>Business Email Through Gmail</li>
                        <li>Ad-free Experience</li>
                        <li>Mobile Device Management</li>
                        <li>Security and Administration Controls</li>
                        <li>Access Across Devices
                            (Computer, Phone, or Tablet)</li>
                    </ul>
                    <a href="shared_hosting.html" class="btn_hosting_plan" data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1000"
                       data-aos-duration="1000">Order Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_box_mobile" data-aos="fade-left"
                 data-aos-anchor="#example-anchor"
                 data-aos-offset="1100"
                 data-aos-duration="1100">
                <!--Hosting Plan Box-->
                <div class="hosting_plan_box pages_plan">
                    <h3 data-aos="fade-left"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="1100"
                        data-aos-duration="1100">Business Plan</h3>
                    <div class="hosting_plan_price margin_top_30">Only <span>$2.49</span> /mo</div>
                    <ul class="hosting_plan_list pages_plan_list">
                        <li>30GB Secure Cloud Storage</li>
                        <li>Business Email Through Gmail</li>
                        <li>Ad-free Experience</li>
                        <li>Mobile Device Management</li>
                        <li>Security and Administration Controls</li>
                        <li>Access Across Devices
                            (Computer, Phone, or Tablet)</li>
                    </ul>
                    <a href="vps_hosting.html" class="btn_hosting_plan" data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1100"
                       data-aos-duration="1100">Order Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4" data-aos="fade-left"
                 data-aos-anchor="#example-anchor"
                 data-aos-offset="1200"
                 data-aos-duration="1200">
                <!--Hosting Plan Box-->
                <div class="hosting_plan_box pages_plan">
                    <h3 data-aos="fade-left"
                        data-aos-anchor="#example-anchor"
                        data-aos-offset="1200"
                        data-aos-duration="1200">Enterprise Plan</h3>
                    <div class="hosting_plan_price margin_top_30">Only <span>$2.49</span> /mo</div>
                    <ul class="hosting_plan_list pages_plan_list">
                        <li>30GB Secure Cloud Storage</li>
                        <li>Business Email Through Gmail</li>
                        <li>Ad-free Experience</li>
                        <li>Mobile Device Management</li>
                        <li>Security and Administration Controls</li>
                        <li>Access Across Devices
                            (Computer, Phone, or Tablet)</li>
                    </ul>
                    <a href="dedicated_hosting.html" class="btn_hosting_plan" data-aos="fade-left"
                       data-aos-anchor="#example-anchor"
                       data-aos-offset="1200"
                       data-aos-duration="1200">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
    <!--Why choose Section-->
    <section class="padding_top_100 padding_bottom_100 bg_f8f8f8 text-center">
        <div class="container">
            <div class="section_heading margin_bottom_70">
                <h2 class="color_051646 margin_bottom_5">Everything you need in one package.</h2>
                <p class="margin_bottom_50">Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
            </div>
            <div class="row margin_bottom_50">
                <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin_box">
                    <div class="why_choose_box why_choose_box01 gsuit_feature_box">
                        <div class="gsuit_feature_img01"></div>
                        <h3>Gmail</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        <a href="#" class="btn_why_choose_box">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin_box">
                    <div class="why_choose_box why_choose_box02 gsuit_feature_box">
                        <div class="gsuit_feature_img02"></div>
                        <h3>Drive</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        <a href="#" class="btn_why_choose_box">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="why_choose_box why_choose_box03 gsuit_feature_box">
                        <div class="gsuit_feature_img03"></div>
                        <h3>Calendar</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        <a href="#" class="btn_why_choose_box">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin_box">
                    <div class="why_choose_box why_choose_box01 gsuit_feature_box">
                        <div class="gsuit_feature_img04"></div>
                        <h3>Docs</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        <a href="#" class="btn_why_choose_box">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 mobile_margin_box">
                    <div class="why_choose_box why_choose_box02 gsuit_feature_box">
                        <div class="gsuit_feature_img05"></div>
                        <h3>Sheets</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        <a href="#" class="btn_why_choose_box">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="why_choose_box why_choose_box03 gsuit_feature_box">
                        <div class="gsuit_feature_img06"></div>
                        <h3>Hangouts</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        <a href="#" class="btn_why_choose_box">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Here-->
    <!--Payment We Accept-->
    <section class="bg_e8e8e8 padding_top_75 padding_bottom_75 text-center bg_eef6fe">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="section_heading margin_bottom_50">
                        <h2 class="color_051646">Payment We Accept</h2>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <figure><img src="assets/images/payment_img.png" alt="" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Testimonial Section-->
    <section class="padding_top_100 padding_bottom_100 bg_f8f8f8 ">
        <div class="container">
            <div class="section_heading text-center margin_bottom_50">
                <h2 class="margin_bottom_10 ">Clients Reviews</h2>
                <p>orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula <br>
                    eget dolor. Aenean massa.
                </p>
            </div>
            <div id="testimonial_slider" class="carousel slide" data-ride="">

                <!-- Indicators -->
                <ul class="carousel-indicators testimonial_slider_indicator">
                    <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial_slider" data-slide-to="1"></li>
                    <li data-target="#testimonial_slider" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner testimonial_slider_content_box">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                                <div class="outer_testimonial_box">
                                    <div class="testimonial_client_name testimonial_img01">
                                        <div>Courtney Skarda</div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div>CEO - <a href="#">company.com</a></div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="outer_testimonial_box">
                                    <div class="testimonial_client_name testimonial_img02">
                                        <div>Scott Pasquini</div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div>CEO - <a href="#">company.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                                <div class="outer_testimonial_box">
                                    <div class="testimonial_client_name testimonial_img01">
                                        <div>Courtney Skarda</div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div>CEO - <a href="#">company.com</a></div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="outer_testimonial_box">
                                    <div class="testimonial_client_name testimonial_img02">
                                        <div>Scott Pasquini</div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div>CEO - <a href="#">company.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 mobile_margin">
                                <div class="outer_testimonial_box">
                                    <div class="testimonial_client_name testimonial_img01">
                                        <div>Courtney Skarda</div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div>CEO - <a href="#">company.com</a></div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="outer_testimonial_box">
                                    <div class="testimonial_client_name testimonial_img02">
                                        <div>Scott Pasquini</div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div>CEO - <a href="#">company.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
<div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script>

    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });

    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });

    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }


    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>