<!--Default Footer-->
<section class="padding_top_100 padding_bottom_100 default_footer_outer bg_fff">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 margin_tablet">
                <div class="default_footer_box padding_right_65 mobile_text_center">
                    <figure><img src="assets/images/svg/logo02.svg" alt=""></figure>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus .</p>
                    <a href="#" class="btn_live_chat">Live Chat</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 mobile_padding">
                <div class="default_footer_box">
                    <h5>Hostiko Head Office</h5>
                    <ul class="default_footer_links">
                        <li>121 King Street,Melbourne Victoria
                            3000 Australia..</li>
                        <li>
                            <div>Phone: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                            <div>Mobile: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                        </li>
                        <li>
                            <div><a href="tel:(123) 123-456789">info@hostiko.com</a></div>
                            <div><a href="tel:(123) 123-456789">Support@hostiko.com</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 mobile_hide">
                <div class="default_footer_box padding_left_50">
                    <h5>Services We Offer</h5>
                    <ul class="default_footer_links_list">
                        <li><a href="shared_hosting.html">Web Hosting</a></li>
                        <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                        <li><a href="vps_hosting.html">VPS Server</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="domain.html">Domain</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 mobile_hide">
                <div class="default_footer_box">
                    <h5>Legal</h5>
                    <ul class="default_footer_links_list">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko-layout22">Submit A Ticket</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/announcements?systpl=hostiko-layout22">Announcement</a></li>
                        <li><a href="https://akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko-layout22">Knowledgebase</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div class="bg_fff text-center">
    <div class="container">
        <div class="copyright_content_box">
            Copyright © 2019 <a href="https://hostiko.com">Hostiko.com</a> - All Rights Reserved
        </div>
    </div>
</div>