<section class="container-fluid bg_ecedf1 padding_top_10 padding_bottom_10 footer01_links_mobile">
    <div class="container">
        <ul class="footer03_first_box">
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Acceptable Use Policy</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Request a Free Consultation</a></li>
        </ul>
    </div>
</section>
<!--Footer Section-->
<section class="bg_0b257f padding_top_50 padding_bottom_50 footer01_links_mobile">
    <div class="container">
        <div class="row footer03_box">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="footer03_box_inner footer03_box">
                    <figure><img src="assets/images/logo.svg" alt=""></figure>
                    <p class="margin_bottom_20">You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="footer02_links footer03_links">
                    <ul class="footer02_contact_details_list">
                        <li><i class="fas fa-map-marker-alt"></i> Hostiko Head Office
                            <div>Envato Labs, Behind Alis Steet, <br> Melbourne, Australia.</div>
                        </li>
                        <li><i class="fas fa-phone"></i><a href="tel:1 (234) 123 4567">1 (234) 123 4567</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:info@hostiko.com">info@hostiko.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <div class="footer_01_box_inner">
                    <div class="margin_bottom_20 footer03_heading">Services</div>
                    <ul class="footer03_links footer03_links_list">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="affiliates.html">Affiliates</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2">
                <div class="footer_01_box_inner">
                    <div class="margin_bottom_20 footer03_heading">Legal</div>
                    <ul class="footer03_links footer03_links_list">
                        <li><a href="domain.html">Domain</a></li>
                        <li><a href="vps_hosting.html">VPS Hosting</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="reseller_hosting">Reseller Hosting</a></li>
                        <li><a href="shared_hosting.html">Shared Hosting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<section class="container-fluid bg_ecedf1 padding_top_10 padding_bottom_10 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-12 mobile_center">
                <div class="">© All rights reserved by Hostiko.</div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12">
                <ul class="footer03_social_links">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>