<!--Footer Section-->
<section class="padding_top_60 padding_bottom_60">
    <div class="container">
        <div class="row footer_02_box">
            <div class="col-xl-2 col-lg-2 col-md-2 footer01_links_mobile">
                <div class="footer_01_box_inner">
                    <ul class="footer04_links">
                        <li><a href="domain.html">Domain</a></li>
                        <li><a href="vps_hosting.html">VPS Hosting</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="reseller_hosting">Reseller Hosting</a></li>
                        <li><a href="shared_hosting.html">Shared Hosting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 footer01_links_mobile">
                <div class="footer_01_box_inner">
                    <ul class="footer04_links">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="terms.html">Terms</a></li>
                        <li><a href="policy.html">Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 footer01_links_mobile">
                <div class="footer_01_box_inner">
                    <ul class="footer04_contact_details">
                        <li>Envato Labs, Behind Alis Steet, <br> Melbourne, Australia.</li>
                        <li>8.00 AM - 6:00PM</li>
                        <li><a href="tel:1 (234) 123 4567">1 (234) 123 4567</a></li>
                        <li><a href="mailto:info@hostiko.com">info@hostiko.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mobile_footer05">
                <div class="footer_02_box_inner">
                    <div class="subscription_box_heading margin_bottom_10 font_weight_600">Subscribe Us!</div>
                    <input type="email" class="mail_subscribe_field" placeholder="Enter Email">
                    <input type="submit" value="Submit" class="email_submit_btn">
                    <ul class="footer_02_social_links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <div class="font_size_14">© All rights reserved by <a href="#" class="color_5a5f69">Hostiko</a>.</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Ends Here-->