<!DOCTYPE HTML>
<html lang="zxx">
    <head>
        <!--Title-->
        <title>Hostiko</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <!--description-->
        <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page banner_sliders.">
        <!--Key Words-->
        <meta name="keywords" content="">
        <!--bootstrap-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--fontawesome style-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--style-->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/mobile.css">
        <link rel="shortcut icon" href="assets/images/favicon.png">
    </head>
    <body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

    <!--Header-->
    <div id="default_header"></div>
    <!--Ends Here-->

<!--Banner-Section-->
  <div class="sub_banner_sec contact_banner">
      <div class="banner_inner_text">
      <div class="container">
          <div class="row">
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12 sub_banner_text">
                  <h1>Contact Us</h1>
                  <p>We Guarantee your site will run Quicker on our Cloud than 
                    normal hosting, or your Money back.</p>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-10"></div>
              </div>
          </div>
  </div>
  </div>
<!--Banner-Section-->

<!--Partner-Section-->
<div class="partner-section padding_top_85 padding_bottom_70 text-center">
    <div class="container">
        <h2>Our Partners</h2>
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
          <div class="partner_box">
              <figure><img src="assets/images/partner_img_01.png" alt class="img-fluid"></figure>
          </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
        <div class="partner_box">
            <figure><img src="assets/images/partner_img_02.png" alt class="img-fluid"></figure>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
      <div class="partner_box">
          <figure><img src="assets/images/partner_img_03.png" alt class="img-fluid"></figure>
      </div>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
    <div class="partner_box">
        <figure><img src="assets/images/partner_img_04.png" alt class="img-fluid"></figure>
    </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
  <div class="partner_box">
      <figure><img src="assets/images/partner_img_05.png" alt class="img-fluid"></figure>
  </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
<div class="partner_box">
    <figure><img src="assets/images/partner_img_06.png" alt class="img-fluid"></figure>
</div>
</div>
</div>
</div>
</div>
<!--Partner-Section-->

<!--Form-Section-->
<div class="form_section padding_top_100 padding_bottom_100 text-center">
    <div class=" container">
        <div class="row">
            <div class="col-4"></div>

            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="section_heading">
                    <h1 class="font_weight_500 color_0a0c19 font_size_40 margin_bottom_30 line_height_32">Get in Touch with us</h1>
                    <p>We Guarantee your site will run Quicker on our Cloud than normal hosting, or your Money back.</p>
                </div>
                <form action="" id="contactpage" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 padding_left_0 padding_right_10">
                    <input type="email" name="email" class="contact_field" id="email" placeholder="Email:" required="">
                    <input type="tel" name="tel" class="contact_field" id="tel" placeholder="Phone" required="">
                    <input type="text" name="subject" class="contact_field" id="subject" placeholder="Subject:" required="">
                    <span for="fname" generated="true" class="error" style="display: inline;">This field is required.</span>
                    <span for="email" generated="true" class="error" style="display: inline;">This field is required.</span>
                </div>
                    <div class="col-lg-6 col-md-6 col-12 padding_left_10 padding_right_0">
                    <textarea name="comments" class="text_field" id="comments" cols="30" rows="6" placeholder="Message:"></textarea>
                    <input type="submit" id="submit" value="Send Message" class="btn_submit_msg mobile_margin">
                    <div id="form_result"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
<!--Form-Section-->

<!--Map-Section-->
<div class="map_section padding_top_100 padding_bottom_100 text-center">
    <div class=" container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 no_padding">
                <div class="default_map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8100922362355!2d144.96287631564496!3d-37.817916979751644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b4758afc1d%3A0x3e495e32dc26749f!2sEnvato!5e0!3m2!1sen!2s!4v1527241223090" width="100%" height="400px" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe></div>
        </div>
    </div>
    </div>
    </div>
<!--Map-Section-->

    <!--Ends Here-->
    <div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>

    </div>

  
          <script src="assets/js/jquery-3.4.1.min.js"></script>
          <script src="assets/js/bootstrap.min.js"></script>
          <script src="assets/js/jquery.validate.js"></script>
          <script src="assets/js/hostiko_contact_form.js"></script>

          <script>function openNav() {
            document.getElementById("mySidenav").style.right = "0";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.right = "-250px";
        }
        // Search Bar
        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }
  
        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }

          $(document).ready(function() {
              setTimeout(function() {
                  $('.wrapper').addClass('loaded');
              }, 100);
          });

          $(function(){
              $("#default_header").load("include/default_header.html");
              $("#default_footer").load("include/default_footer.html");
          });
          $(window).scroll(function() {
              if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
                  $('#return-to-top').fadeIn(200);    // Fade in the arrow
              } else {
                  $('#return-to-top').fadeOut(200);   // Else fade out the arrow
              }
          });
          $('#return-to-top').click(function() {      // When arrow is clicked
              $('body,html').animate({
                  scrollTop : 0                       // Scroll to top of body
              }, 500);
          });

          $(function(){
            $.scrollIt({topOffset: -100});
        });
    
        $(window).on('scroll', function (event) {
            var scrollValue = $(window).scrollTop();
            if (scrollValue > 80) {
                $('.navbar').addClass('affix');
            } else{
                $('.navbar').removeClass('affix');
            }
        });
          </script>
      
          
          </body>
      </html>
