<!DOCTYPE HTML>
<html lang="zxx">
    <head>
        <!--Title-->
        <title>Hostiko</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <!--description-->
        <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page banner_sliders.">
        <!--Key Words-->
        <meta name="keywords" content="">
        <!--bootstrap-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--fontawesome style-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--style-->
        <link rel="stylesheet" href="assets/css/stacktable.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/mobile.css">
        <link rel="shortcut icon" href="assets/images/favicon.png">
    </head>
    <body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

    <!--Header-->
    <div id="default_header"></div>
    <!--Ends Here-->

    <!--Banner-Section-->
<div class="sub_banner_sec domain_banner">
    <div class="banner_inner_text">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12 sub_banner_text">
                <h1>Domain Registration</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean 
                    commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-10"></div>
            </div>
        </div>
</div>
</div>
<!--Banner-Section-->

<!--Partner-Section-->
<div class="partner-section padding_top_85 padding_bottom_70 text-center">
    <div class="container">
        <h2>Our Partners</h2>
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
          <div class="partner_box">
              <figure><img src="assets/images/partner_img_01.png" alt class="img-fluid"></figure>
          </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
        <div class="partner_box">
            <figure><img src="assets/images/partner_img_02.png" alt class="img-fluid"></figure>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
      <div class="partner_box">
          <figure><img src="assets/images/partner_img_03.png" alt class="img-fluid"></figure>
      </div>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
    <div class="partner_box">
        <figure><img src="assets/images/partner_img_04.png" alt class="img-fluid"></figure>
    </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
  <div class="partner_box">
      <figure><img src="assets/images/partner_img_05.png" alt class="img-fluid"></figure>
  </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
<div class="partner_box">
    <figure><img src="assets/images/partner_img_06.png" alt class="img-fluid"></figure>
</div>
</div>
</div>
</div>
</div>
<!--Partner-Section-->

<!--Plan-Section-->
<div class="shared_plan domain_plan padding_top_100 padding_bottom_100 text-center">
    <div class=" container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="section_heading">
                    <h1 class="font_weight_500 color_0a0c19 font_size_40 margin_bottom_30 line_height_32">Most Popular Domains</h1>
                    <p>We Guarantee your site will run Quicker on our Cloud than normal hosting, or your Money back.</p>
                </div>
                <div class="row margin_bottom_30">
                <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="shared_plan_box domain_plan_box margin_right_15 margin_left_5">
                    <h2>.Com</h2>
                    <div class="row">
                        <div class="col-lg-6">
                    <div class="plan_price shared_price">Starting at:<strong>$9.99/yr</strong></div>
                </div>
                <div class="col-lg-6">
                      <a href="#">Order Now</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="shared_plan_box domain_plan_box margin_right_15 margin_left_5">
                    <h2>.Net</h2>
                    <div class="row">
                        <div class="col-lg-6">
                    <div class="plan_price shared_price">Starting at:<strong>$11.59/yr</strong></div>
                </div>
                <div class="col-lg-6">
                      <a href="#">Order Now</a>
                    </div>
                    </div>
                </div>
            </div>
             </div>

             <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="shared_plan_box domain_plan_box margin_right_15 margin_left_5">
                    <h2>.Org</h2>
                    <div class="row">
                        <div class="col-lg-6">
                    <div class="plan_price shared_price">Starting at:<strong>$13.75/yr</strong></div>
                </div>
                <div class="col-lg-6">
                      <a href="#">Order Now</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="shared_plan_box domain_plan_box margin_right_15 margin_left_5">
                    <h2>.Eu</h2>
                    <div class="row">
                        <div class="col-lg-6">
                    <div class="plan_price shared_price">Starting at:<strong>$17.45/yr</strong></div>
                </div>
                <div class="col-lg-6">
                      <a href="#">Order Now</a>
                    </div>
                    </div>
                </div>
            </div>
             </div>
        
        </div>
    </div>
    </div>
</div>
<!--Plan-Section-->

<!--TLD-Section-->
<div class="domian_section tld_section padding_top_100 padding_bottom_100">
    <div class="container">
        <div class="row">
             <div class="col-xl-8 col-lg-8 col-12 no_padding">
                <div class="section_heading color_fff">
                    <h1 class="font_weight_500 font_size_40 margin_bottom_15 line_height_32">Domain Pricing</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean commodo ligula eget dolor. Aenean massa.</p>
                </div>

<table class="large-only table domain_table stacktable aos-init aos-animate text-center" data-aos="fade-up">
    <thead class="bg_0a0c19 color_fff">
    <tr>
        <th>TLDs</th>
        <th>Year</th>
        <th>Register</th>
        <th>Transfer</th>
        <th>Renew</th>
    </tr>
    <tr>
        <th class="space bg_e91e62"></th>
    </tr>
    </thead>
    <tbody class="domain_table_body text-left">
    <tr>
        <td>.com</td>
        <td class="value-bg-01">1 - Year</td>
        <td>$9.99</td>
        <td class="value-bg-01">$9.99</td>
        <td>$9.99</td>
    </tr>
    <tr>
        <td>.net</td>
        <td class="value-bg-02">1 - Year</td>
        <td>$13.99</td>
        <td class="value-bg-02">$13.99</td>
        <td>$13.99</td>
    </tr>
    <tr>
        <td>.org</td>
        <td class="value-bg-01">1 - Year</td>
        <td>$7.49</td>
        <td class="value-bg-01">$7.49</td>
        <td>$7.49</td>
    </tr>
    <tr>
        <td>.eu</td>
        <td class="value-bg-02">1 - Year</td>
        <td>$3.75</td>
        <td class="value-bg-02">$3.75</td>
        <td>$3.75</td>
    </tr>
    <tr>
        <td>.us</td>
        <td class="value-bg-01">1 - Year</td>
        <td>$8.39</td>
        <td class="value-bg-01">$8.39</td>
        <td>$8.39</td>
    </tr>

    <tr>
        <td>.asia</td>
        <td class="value-bg-02">1 - Year</td>
        <td>$17.99</td>
        <td class="value-bg-02">$17.99</td>
        <td>$17.99</td>
    </tr>
    <tr>
        <td>.co.uk</td>
        <td class="value-bg-01">1 - Year</td>
        <td>$15.27</td>
        <td class="value-bg-01">$15.27</td>
        <td>$15.27</td>
    </tr>
    <tr>
        <td>.ca</td>
        <td class="value-bg-02">1 - Year</td>
        <td>$4.98</td>
        <td class="value-bg-02">$4.98</td>
        <td>$4.98</td>
    </tr>
    <tr>
        <td>.biz</td>
        <td class="value-bg-01">1 - Year</td>
        <td>$16.74</td>
        <td class="value-bg-01">$16.74</td>
        <td>$16.74</td>
    </tr>
    </tbody>
</table>
<div class="tld_margin margin_bottom_10"></div>
            </div>
            <div class="col"></div>
          </div>
                    </div>
</div>
<!--Domain-Section-->

    <!--Ends Here-->
    <div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
    </div>


    
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/stacktable.js"></script>
    <script>
        $('.table').stacktable({myClass:'domain_table'});
      </script>

    <script>function openNav() {
      document.getElementById("mySidenav").style.right = "0";
  }
  function closeNav() {
      document.getElementById("mySidenav").style.right = "-250px";
  }
  // Search Bar
  function openSearch() {
      document.getElementById("myOverlay").style.display = "block";
  }

  function closeSearch() {
      document.getElementById("myOverlay").style.display = "none";
  }
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });

    $(function(){
            $.scrollIt({topOffset: -100});
        });
    
        $(window).on('scroll', function (event) {
            var scrollValue = $(window).scrollTop();
            if (scrollValue > 80) {
                $('.navbar').addClass('affix');
            } else{
                $('.navbar').removeClass('affix');
            }
        });
    </script>
    



    </body>
</html>