<!DOCTYPE HTML>
<html lang="zxx">
    <head>
        <!--Title-->
        <title>Hostiko</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <!--description-->
        <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page banner_sliders.">
        <!--Key Words-->
        <meta name="keywords" content="">
        <!--bootstrap-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--fontawesome style-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--style-->
        <link rel="stylesheet" href="assets/css/priceslider.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/mobile.css">
        <link rel="shortcut icon" href="assets/images/favicon.png">
    </head>
    <body>


    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

    <!--Header-->
    <div id="default_header"></div>
    <!--Ends Here-->

<!--Banner-Section-->
  <div class="sub_banner_sec vps_banner">
      <div class="banner_inner_text">
      <div class="container">
          <div class="row">
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12 sub_banner_text">
                  <h1>VPS Hosting</h1>
                  <p>For unrivaled support & state-of-the-art hardware, choose 
                    Enterprise VPS Hosting.</p>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-10"></div>
              </div>
          </div>
  </div>
  </div>
<!--Banner-Section-->

<!--Partner-Section-->
<div class="partner-section padding_top_85 padding_bottom_70 text-center">
    <div class="container">
        <h2>Our Partners</h2>
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
          <div class="partner_box">
              <figure><img src="assets/images/partner_img_01.png" alt class="img-fluid"></figure>
          </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
        <div class="partner_box">
            <figure><img src="assets/images/partner_img_02.png" alt class="img-fluid"></figure>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
      <div class="partner_box">
          <figure><img src="assets/images/partner_img_03.png" alt class="img-fluid"></figure>
      </div>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
    <div class="partner_box">
        <figure><img src="assets/images/partner_img_04.png" alt class="img-fluid"></figure>
    </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
  <div class="partner_box">
      <figure><img src="assets/images/partner_img_05.png" alt class="img-fluid"></figure>
  </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
<div class="partner_box">
    <figure><img src="assets/images/partner_img_06.png" alt class="img-fluid"></figure>
</div>
</div>
</div>
</div>
</div>
<!--Partner-Section-->

<!--VPS-Slider-Section-->
<div class="price_section vps_slider padding_top_100 padding_bottom_100 text-center">
  <div class="container">
      <div class="row">
          <div class="col"></div>
          <div class="col-xl-9 col-lg-8 col-md-8 padding_left_80">
              <div class="section_heading">
                  <h1 class="font_weight_500 color_0a0c19 font_size_40 margin_bottom_30 line_height_32">VPS Plan and Pricing</h1>
                  <p>We Guarantee your site will run Quicker on our Cloud than 
                     normal hosting, or your Money back.</p>
                </div>

            <div class="outer_shared_hosting_plan">
                <div class="vps_slider_outer">
                    <div class="heading-spacer col-xs-12"></div>
                    <div class="slider-container">
                        <div class="price_rangetxt">
                            <!--price_rangetxt-->
                            
                            <div class="slider_node">
                                
                                <div class="row">
                                    <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
                                        <div class="clear"></div>
                                    </div>
                                    <ul class="slider_nodes">
                                        <li>
                                            <div id="icon-0" class="icon"><span>VPS-01</span></div>
                                        </li>
                                        <li>
                                            <div id="icon-1" class="icon current"><span>VPS-02</span></div>
                                        </li>
                                        <li>
                                            <div id="icon-2" class="icon"><span>VPS-03</span></div>
                                        </li>
                                        <li>
                                            <div id="icon-3" class="icon"><span>VPS-04</span></div>
                                        </li>
                                        <li>
                                            <div id="icon-4" class="icon"><span>VPS-05</span></div>
                                        </li>
                                    </ul>
                                </div>
    
                            </div>
                        </div>

                        <div class="sliderbox">
                          <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 12%;"></div>
                            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30.5524%;"></a></div>
                          <!--sliderbox-->
                      </div>
                        <div class="slider_detail">
                            <ul class="vps_slider_listing">
                                <li>
                                    <div id="cpu_val" class="vps_slider_feature_box">
                                        
                                            <figure><img src="assets/images/vps_icon_01.png" alt></figure>
                                        <div class="value_text">Memory: </div>
                                        <div class="slider_feature_box_price"><span class="value">2GB</span></div>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div id="ram_val" class="vps_slider_feature_box">
                                            <figure><img src="assets/images/vps_icon_02.png" alt></figure>
                                            <div class="value_text">CPU:</div>
                                            <div class="slider_feature_box_price"><span class="value">2 Core(s)</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div id="hdd_val" class="vps_slider_feature_box">
                                      
                                            <figure><img src="assets/images/vps_icon_03.png" alt></figure>
                                  
                                            <div class="value_text">SSD Disk:</div>
                                        <div class="slider_feature_box_price"><span class="value">30GB</span></div>
                                    </div>
                                </li>
                                <li>
                                    <div id="bandwidth_val" class="vps_slider_feature_box">
                                            <figure><img src="assets/images/vps_icon_04.png" alt></figure>
                                            <div class="value_text">Bandwidth</div>
                                        <div class="slider_feature_box_price"><span class="value">3TB</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="vps_slider_order_box">
                          <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-4">
                                <div class="price_txt smallbox">25% Off</div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-4">
                              <div class="hostiko_code"><small>Coupon Code:</small>Hostik250</div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-4">
                            <div id="price_val" class="hostiko_price numeric1">$19.99<small>/mo</small></div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                            <a href="https://akdesigner.com/whmcs-templates/cart.php?a=add&amp;pid=$25" class="slider_discount_box learn-more buynow_button">Order Now</a>
                        </div>
                      </div>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="vps-box-section">
            </div>
              </div>
              </div>
</div>
<!--VPS-Slider-Section-->

<!--Operating-Systems-Section-->
<div class="shared_plan operating_section padding_top_100 padding_bottom_100 color_fff">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="section_heading">
                    <h1 class="font_weight_500 font_size_40 margin_bottom_15 line_height_32">Operating Systems</h1>
                    <p>VPS hosting platform with maximum speed & stability When purchasing a VPS, 
                        it comes with a list of Operating Systems templates.</p>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-7">

                <div class="row margin_bottom_30">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="operating_box">
                    <figure><img src="assets/images/operating_img_01.png" alt></figure>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="operating_box">
                    <figure><img src="assets/images/operating_img_02.png" alt></figure>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="operating_box">
                    <figure><img src="assets/images/operating_img_03.png" alt></figure>
                </div>
            </div>
             </div>
             <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="operating_box">
                    <figure><img src="assets/images/operating_img_04.png" alt></figure>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="operating_box">
                    <figure><img src="assets/images/operating_img_05.png" alt></figure>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="operating_box">
                    <figure><img src="assets/images/operating_img_06.png" alt></figure>
                </div>
            </div>
             </div>
            </div>
            <div class="col-6"></div>
            </div>
    </div>
</div>
<!--Operating-Systems-Section-->

<!--feature-Section-->
<div class="feature_section vps_feature padding_top_100 padding_bottom_100 text-center">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="section_heading">
                    <h1 class="font_weight_500 color_0a0c19 font_size_40 margin_bottom_30 line_height_32">VPS Features</h1>
                    <p>We Guarantee your site will run Quicker on our Cloud than normal hosting, or your Money back.</p>
                </div>
                <div class="row margin_bottom_30">
            <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="feature_box margin_right_15 margin_left_5">
                  <figure><img src="assets/images/vps_feature_icon_01.png" alt></figure>
                    <h3>Access Control</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="feature_box margin_left_15 margin_right_5">
                  <figure><img src="assets/images/vps_feature_icon_02.png" alt></figure>
                    <h3>Multi-Server Management</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="feature_box margin_right_15 margin_left_5">
                  <figure><img src="assets/images/vps_feature_icon_03.png" alt></figure>
                    <h3>20X Faster Servers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 no_padding">
                <div class="feature_box margin_left_15 margin_right_5">
                  <figure><img src="assets/images/vps_feature_icon_04.png" alt></figure>
                    <h3>Developer Friendly</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                </div>
            </div>
        </div>
        
        </div>
    </div>
    </div>
</div>
<!--feature-Section-->

<!--Testimonial-Section-->
<div class="testimonial_section padding_top_100 padding_bottom_100 text-center color_fff">
  <div class=" container">
      <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-8">
              <div class="section_heading">
                  <h1 class="font_weight_500 font_size_40 margin_bottom_30 line_height_32">Hosting Features</h1>
                  <p>We Guarantee your site will run Quicker on our Cloud than normal hosting, or your Money back.</p>
              </div>
              <div id="testimonial_slider" class="carousel slide" data-ride="">
                <ul class="carousel-indicators default_slider">
                  <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
                  <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
                  <li data-target="#testimonial_slider" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="slide-01 col-xl-6 col-lg-6 col-md-6 slide-02 no_padding">
                        <div class="testimonial_box margin_left_15 margin_right_15">
                          <h3>Inverness McKenzie</h3>
                          <small>Chief Executive</small>
                          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                          <ul class="rating_star_list">
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                          </ul>
                          <div class="client_profile_pic">
                              <figure><img class=" lazyloaded" data-src="assets/images/client_img01.jpg" alt src="assets/images/client_img_01.png" alt></figure>
                          </div>
                      </div>
                          </div>
                          <div class="slide-01 col-xl-6 col-lg-6 col-md-6 no_padding slide-02">
                            <div class="testimonial_box margin_left_15 margin_right_15">
                              <h3>Inverness McKenzie</h3>
                              <small>Chief Executive</small>
                              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                              <ul class="rating_star_list">
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                              </ul>
                              <div class="client_profile_pic">
                                <figure><img class=" lazyloaded" data-src="assets/images/client_img01.jpg" alt src="assets/images/client_img_02.png" alt></figure>
                            </div>
                          </div>
                              </div>
                      </div>

                   </div>

                   <div class="carousel-item">
                    <div class="row">
                      <div class="slide-01 col-xl-6 col-lg-6 col-md-6 slide-02 no_padding">
                        <div class="testimonial_box margin_left_15 margin_right_15">
                          <h3>Inverness McKenzie</h3>
                          <small>Chief Executive</small>
                          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                          <ul class="rating_star_list">
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                          </ul>
                          <div class="client_profile_pic">
                              <figure><img class=" lazyloaded" data-src="assets/images/client_img01.jpg" alt src="assets/images/client_img_01.png" alt></figure>
                          </div>
                      </div>
                          </div>
                          <div class="slide-01 col-xl-6 col-lg-6 col-md-6 no_padding slide-02">
                            <div class="testimonial_box margin_left_15 margin_right_15">
                              <h3>Inverness McKenzie</h3>
                              <small>Chief Executive</small>
                              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                              <ul class="rating_star_list">
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                              </ul>
                              <div class="client_profile_pic">
                                <figure><img class=" lazyloaded" data-src="assets/images/client_img01.jpg" alt src="assets/images/client_img_02.png" alt></figure>
                            </div>
                          </div>
                              </div>
                      </div>

                   </div>
                </div>

                <a class="carousel-control-prev testimonial_slider_left_arrow" href="#testimonial_slider" data-slide="prev"></a>
                <a class="carousel-control-next testimonial_slider_right_arrow" href="#testimonial_slider" data-slide="next"></a>
      </div>
      </div>
      <div class="col-4"></div>
  </div>
  </div>
</div>
<!--Testimonial-Section-->

    <!--Ends Here-->
    <div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>

    </div>

  
<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script>function openNav() {
  document.getElementById("mySidenav").style.right = "0";
}
function closeNav() {
  document.getElementById("mySidenav").style.right = "-250px";
}
// Search Bar
function openSearch() {
  document.getElementById("myOverlay").style.display = "block";
}

function closeSearch() {
  document.getElementById("myOverlay").style.display = "none";
}

$(document).ready(function() {
    setTimeout(function() {
        $('.wrapper').addClass('loaded');
    }, 100);
});

$(function(){
    $("#default_header").load("include/default_header.html");
    $("#default_footer").load("include/default_footer.html");
});
$(window).scroll(function() {
    if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});

$(function(){
            $.scrollIt({topOffset: -100});
        });
    
        $(window).on('scroll', function (event) {
            var scrollValue = $(window).scrollTop();
            if (scrollValue > 80) {
                $('.navbar').addClass('affix');
            } else{
                $('.navbar').removeClass('affix');
            }
        });
</script>

</body>
</html>