<!DOCTYPE HTML>
<html lang="zxx">
    <head>
        <!--Title-->
        <title>Hostiko</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <!--description-->
        <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page banner_sliders.">
        <!--Key Words-->
        <meta name="keywords" content="">
        <!--bootstrap-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--fontawesome style-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--style-->
        <link rel="stylesheet" href="assets/css/priceslider.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/mobile.css">
        <link rel="shortcut icon" href="assets/images/favicon.png">
    </head>
    <body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

        <!--Header-->
        <div id="default_header"></div>
        <!--Ends Here-->

<!--Banner-Section-->
<div class="sub_banner_sec vps_banner color_fff">
    <div class="banner_inner_text">
        <div class="container">
            <h1>Next-Gen VPS Hosting</h1>
        </div>
    </div>
</div>
<!--Banner-Section-->

<!--Vps_Slider_sectio-->
<div class="vps_slider_section padding_top_100 float-left w-100">
    <div class="container">
        <div class="outer_shared_hosting_plan">
            <div class="vps_slider_outer">
                <div class="heading-spacer col-xs-12"></div>
                <div class="slider-container">
                    <div class="price_rangetxt">
                        <!--price_rangetxt-->

                        <div class="slider_node">

                            <div class="row">
                                <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="clear"></div>
                                </div>
                                <ul class="slider_nodes">
                                    <li>
                                        <div id="icon-0" class="icon"><span>VPS-1</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-1" class="icon current"><span>VPS-2</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-2" class="icon"><span>VPS-3</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-3" class="icon"><span>VPS-4</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-4" class="icon"><span>VPS-5</span></div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="sliderbox">
                      <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 9%;"></div>
                        <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
                        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                    </div>
                      <!--sliderbox-->
                  </div>
                    <div class="slider_detail">
                        <ul class="vps_slider_listing">
                            <li>
                                <div id="cpu_val" class="vps_slider_feature_box">

                                        <figure><img src="assets/images/vps_icon_01.png" alt></figure>
                                    <div class="value_text">CPU Power </div>
                                    <div class="slider_feature_box_price"><span class="value">1.60 Ghz</span></div>

                                </div>
                            </li>
                            <li>
                                <div id="ram_val" class="vps_slider_feature_box">
                                        <figure><img src="assets/images/vps_icon_02.png" alt></figure>
                                        <div class="value_text">Disk Space</div>
                                        <div class="slider_feature_box_price"><span class="value">100 GB</span></div>
                                </div>
                            </li>
                            <li>
                                <div id="hdd_val" class="vps_slider_feature_box">

                                        <figure><img src="assets/images/vps_icon_03.png" alt></figure>

                                        <div class="value_text">RAM</div>
                                    <div class="slider_feature_box_price"><span class="value">4 GB</span></div>
                                </div>
                            </li>
                            <li>
                                <div id="bandwidth_val" class="vps_slider_feature_box">
                                        <figure><img src="assets/images/vps_icon_04.png" alt></figure>
                                        <div class="value_text">Bandwidth</div>
                                    <div class="slider_feature_box_price"><span class="value">500 GB</span></div>
                                </div>
                            </li>
                            <li>
                                <div id="ip_val" class="vps_slider_feature_box">
                                        <figure><img src="assets/images/vps_icon_05.png" alt></figure>
                                        <div class="value_text">IP Address</div>
                                    <div class="slider_feature_box_price"><span class="value">4 IPs</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="vps_slider_order_box">
                      <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-4 vps_price">
                            <div id="price_val" class="hostiko_price numeric1">19.99/mo</div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-4 vps_price">
                            <div class="price_txt smallbox">25% Off</div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-4 vps_price">
                          <div class="hostiko_code"><small>Coupon Code:</small>Hostik250</div>
                      </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 vps_btn">
                        <a href="https://akdesigner.com/whmcs-templates/cart.php?a=add&amp;pid=$25" class="slider_discount_box learn-more buynow_button">Get Started Now</a>
                    </div>
                  </div>
                  </div>
                  </div>
                </div>
            </div>
            <div class="vps-box-section">
            </div>
    </div>
    </div>
<!--Vps_Slider_sectio-->

<!--VPS-Hosting-Section-->
<div class="vps_hosting_section padding_top_95 padding_bottom_100 text-center float-left w-100">
    <div class="container">
        <div class="feature_text shared_feature_text">
            <div class="section_heading">
        <small class="secondary_font">Every VPS Includes:</small>
        <h1 class="font_weight_800 color_1d396b font_size_36 margin_bottom_30 line_height_46">Managed VPS Hosting with SSD</h1>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="vps_list">
                    <ul class="include_list text-left">
                        <li>Gigabit Bandwidth</li>
                        <li>Unlimited Sites*</li>
                        <li>Dedicated IP Address</li>
                        <li>CloudFlare CDN</li>
                        <li>Server Secure Advanced Security</li>
                        <li>Integrated Firewall</li>
                    </ul>
                </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="vps_list">
                        <ul class="include_list text-left">
                            <li>Local Backups</li>
                            <li>DDos Attack Protection</li>
                            <li>Interworx, Plesk, and cPanel Available</li>
                            <li>Root Access</li>
                            <li>Easy Scalability (upgrade or downgrade)</li>
                            <li>100% Network and Power Uptime SLAs</li>
                        </ul>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            </div>
            </div>
            </div>
<!--VPS-Hosting-Section-->

<!--Feature-Section-->
<div class="shared_feature_section padding_top_95 padding_bottom_100 text-center float-left w-100">
    <div class="container">
        <div class="feature_text shared_feature_text">
            <div class="section_heading">
        <small class="secondary_font">Shared Hosting Features</small>
        <h1 class="font_weight_800 color_1d396b font_size_36 margin_bottom_30 line_height_46">Experience The Hostiko Difference Today!</h1>
            </div>
                <div class="row padding_bottom_30">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="sahred_feature_box">
                    <figure><img src="assets/images/shared_feature_icon_01.png" alt></figure>
                    <h3>20X Faster Servers</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="sahred_feature_box">
                    <figure><img src="assets/images/shared_feature_icon_02.png" alt></figure>
                    <h3>24/7/365 Guru Crew</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                </div>
            </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="sahred_feature_box">
                <figure><img src="assets/images/shared_feature_icon_03.png" alt></figure>
                <h3>Ultra-Reliable Servers</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
            </div>
        </div>
    </div>

            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="sahred_feature_box">
                        <figure><img src="assets/images/shared_feature_icon_04.png" alt></figure>
                        <h3>FREE Domain</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="sahred_feature_box">
                        <figure><img src="assets/images/shared_feature_icon_05.png" alt></figure>
                        <h3>FREE SSL Security</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="sahred_feature_box">
                        <figure><img src="assets/images/shared_feature_icon_06.png" alt></figure>
                        <h3>Free 1-Click Installer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                    </div>
                </div>
            </div>

    </div>
</div>
</div>
<!--Feature-Section-->

<!--Operating-System-Section-->
<div class="operating-system-section padding_top_95 padding_bottom_100 text-center float-left w-100">
    <div class="container">
        <div class="feature_text shared_feature_text">
            <div class="section_heading">
        <small class="secondary_font">Shared Hosting Features</small>
        <h1 class="font_weight_800 color_1d396b font_size_36 margin_bottom_30 line_height_46">Experience The Hostiko Difference Today!</h1>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-6 mobile_margin">
                    <div class="apps_box os_box">
                        <figure><img src="assets/images/os_img_01.png" alt class="img-fluid"></figure>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6 mobile_margin">
                    <div class="apps_box os_box">
                        <figure><img src="assets/images/os_img_02.png" alt class="img-fluid"></figure>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6 mobile_margin">
                    <div class="apps_box os_box">
                        <figure><img src="assets/images/os_img_03.png" alt class="img-fluid"></figure>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6 mobile_margin">
                    <div class="apps_box os_box">
                        <figure><img src="assets/images/os_img_04.png" alt class="img-fluid"></figure>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="apps_box os_box">
                        <figure><img src="assets/images/os_img_05.png" alt class="img-fluid"></figure>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="apps_box os_box">
                        <figure><img src="assets/images/os_img_06.png" alt class="img-fluid"></figure>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
<!--Operating-System-Section-->

<!--Partner-Section-->
<div class="partner-section color_ecf4f7 padding_top_80 padding_bottom_60 text-center float-left w-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
                <div class="partner_box">
                    <figure><img src="assets/images/partner_img_01.png" alt class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
                <div class="partner_box">
                    <figure><img src="assets/images/partner_img_02.png" alt class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
                <div class="partner_box">
                    <figure><img src="assets/images/partner_img_03.png" alt class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
                <div class="partner_box">
                    <figure><img src="assets/images/partner_img_04.png" alt class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
                <div class="partner_box">
                    <figure><img src="assets/images/partner_img_05.png" alt class="img-fluid"></figure>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_box">
                <div class="partner_box">
                    <figure><img src="assets/images/partner_img_06.png" alt class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Partner-Section-->

        <!--Ends Here-->
        <div class="float-left w-100" id="default_footer"></div>
        <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
    </div>
    <!--Ends Here-->

<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/vps_slider.js"></script>
        <script>function openNav() {
            document.getElementById("mySidenav").style.right = "0";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.right = "-250px";
        }
        // Search Bar
        function openSearch() {
            document.getElementById("myOverlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("myOverlay").style.display = "none";
        }

        $(document).ready(function() {
            setTimeout(function() {
                $('.wrapper').addClass('loaded');
            }, 100);
        });

        $(function(){
            $("#default_header").load("include/default_header.html");
            $("#default_footer").load("include/default_footer.html");
        });
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
        </script>
</body>
</html>