<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css"/>
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">

</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <!--Hero Banner Section-->
    <section class="blog_banner bg_edf4ff">
        <div class="container">
            <div class="banner_content_box sub_page_banner">
                <h1>Hosting Plans</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#">Plans</a></li>
                    </ul>
                    <!--breadcrumb-->
                </div>
                <!--page-title-->
            </div>
        </div>
    </section>
    <!--End Slider Section-->
    <!--Hosting Plan Section-->
    <section class="padding_bottom_100 padding_top_100 bg_f6f6f6">
        <div class="container">
            <div class="section_heading text-center margin_bottom_50">
                <h2 class="margin_bottom_20">Plan and Pricing</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula <br>
                    eget dolor. Aenean massa.
                </p>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet">
                    <div class="hosting_plan_box">
                        <h3>Shared</h3>
                        <div class="discount_offer">Now 75% OFF!</div>
                        <ul class="hosting_plan_list">
                            <li>1 Domains</li>
                            <li>5 GB SSD Disk Space</li>
                            <li>One Click Installs</li>
                            <li>30GB  Bandwidth</li>
                            <li>Free SSL Certificate</li>
                            <li>Free Dedicated IP</li>
                        </ul>
                        <div class="hosting_plan_price">Only <span>$2.49</span> /mo</div>
                        <a href="shared_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet">
                    <div class="hosting_plan_box">
                        <h3>Reseller</h3>
                        <div class="discount_offer">Now 75% OFF!</div>
                        <ul class="hosting_plan_list">
                            <li>60 GB Disk</li>
                            <li>600 GB Bandwidth</li>
                            <li>Unlimited Domains</li>
                            <li>Free SSL Certificate</li>
                            <li>Free Dedicated IP</li>
                            <li>One Click Installs</li>
                        </ul>
                        <div class="hosting_plan_price">Only <span>$13.49</span> /mo</div>
                        <a href="reseller_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 margin_mobile">
                    <div class="hosting_plan_box">
                        <h3>VPS</h3>
                        <div class="discount_offer">Now 75% OFF!</div>
                        <ul class="hosting_plan_list">
                            <li>2 GB RAM</li>
                            <li>2 Cores CPU</li>
                            <li>120 GB Disk Space</li>
                            <li>1.5 TB Bandwidth</li>
                            <li>Plesk Web Admin</li>
                            <li>Free Dedicated IP</li>
                        </ul>
                        <div class="hosting_plan_price">Only <span>$19.49</span> /mo</div>
                        <a href="vps_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="hosting_plan_box">
                        <h3>Dedicated</h3>
                        <div class="discount_offer">Now 75% OFF!</div>
                        <ul class="hosting_plan_list">
                            <li>2 Core CPU</li>
                            <li>4 GB RAM</li>
                            <li>2 TB Disk (RAID-1)</li>
                            <li>10 TB Bandwidth</li>
                            <li>Linux or Windows OS</li>
                            <li>Free Dedicated IP</li>
                        </ul>
                        <div class="hosting_plan_price">Only <span>$29.49</span> /mo</div>
                        <a href="dedicated_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Hosting Plan Section-->
    <section class="padding_bottom_100 padding_top_100">
        <div class="container">
            <div class="section_heading text-center margin_bottom_50">
                <h2 class="margin_bottom_20">Plan and Pricing</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula <br>
                    eget dolor. Aenean massa.
                </p>
            </div>
            <div class="heading-spacer col-xs-12"></div>
            <div class="slider-container">
                <div class="price_rangetxt">
                    <!--price_rangetxt-->
                    <div class="slider_node">
                        <div class="row">
                            <ul class="slider_nodes">
                                <li>
                                    <div id="icon-0" class="icon"><span>VPS-01</span></div>
                                </li>
                                <li>
                                    <div id="icon-1" class="icon"><span>VPS-02</span></div>
                                </li>
                                <li>
                                    <div id="icon-2" class="icon"><span>VPS-03</span></div>
                                </li>
                                <li>
                                    <div id="icon-3" class="icon"><span>VPS-04</span></div>
                                </li>
                                <li>
                                    <div id="icon-4" class="icon"><span>VPS-05</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="sliderbox">
                                <div id="slider"></div>
                                <!--sliderbox-->
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="slider_detail">
                    <ul class="vps_slider_listing">
                        <li>
                            <div id="cpu_val" class="vps_slider_feature_box figure">
                                <figure><img src="assets/images/vps_slider_img01.png" alt=""></figure>
                                <div class="value_text">CPU<br> <span class="value"></span> </div>
                            </div>
                        </li>
                        <li>
                            <div id="ram_val" class="vps_slider_feature_box figure">
                                <figure><img src="assets/images/vps_slider_img02.png" alt=""></figure>
                                <div class="value_text">RAM<br> <span class="value"></span></div>
                            </div>
                        </li>
                        <li>
                            <div id="hdd_val" class="vps_slider_feature_box figure">
                                <figure><img src="assets/images/vps_slider_img03.png" alt=""></figure>
                                <div class="value_text">Hard Disk<br> <span class="value"></span> </div>
                            </div>
                        </li>
                        <li>
                            <div id="bandwidth_val" class="vps_slider_feature_box figure">
                                <figure><img src="assets/images/vps_slider_img04.png" alt=""></figure>
                                <div class="value_text">Bandwidth<br> <span class="value"></span> </div>
                            </div>
                        </li>
                        <li>
                            <div class="price_txt smallbox"><span id="price_val" class="numeric1"></span> <br> Monthly</div>
                        </li>
                    </ul>
                </div>
                <div class="vps_slider_order_box">
                    <div class="slider_discount_box coupon_box">25% OFF</div>
                    <div class="slider_discount_box coupon_code"><small>Coupon Code:</small>
                        <br>
                        AKD250</div>
                    <a href="#" class="slider_discount_box learn-more buynow_button">Get Started Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Hero Banner Section-->
    <section class="padding_bottom_200 padding_top_100 bg_f6f6f6">
        <div class="container">
            <div class="section_heading text-center margin_bottom_80">
                <h2>Plan and Pricing</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula <br>
                    eget dolor. Aenean massa.</p>
            </div>
            <table class="large-only table dedicate_server_table">
                <thead class="bg_3e4555">
                <tr class="">
                    <th class="">Cpu</th>
                    <th class="">CPU Speed</th>
                    <th class="">RAM</th>
                    <th class="">Storage</th>
                    <th class="">Bandwidth</th>
                    <th class="">/MO</th>
                    <th class=""></th>
                </tr>
                <tr>
                    <th colspan="7" class="bg_ff5277 offer_line">All Dedicated Server Now 60% OFF! Limited Time Offer</th>
                </tr>
                <tr>
                    <th colspan="7" class="sep empty_row"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>

                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$20.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Configure</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!--End Slider Section-->
<div id="default_footer" class="outer_default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/stacktable.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    jQuery('.box_counter').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 6000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $('.table').stacktable({myClass:'dedicate_server_table'});
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>