<!--Footer Section-->
<section class="padding_top_100 padding_bottom_100 mobile_hide">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="footer_box">
                    <ul class="footer_contact_list">
                        <li>121 King Street,Melbourne Victoria <br>
                            3000 Australia.</li>
                        <li>
                            <a href="tel:(123) 123-456789">Phone:  (123) 123-456789</a>
                            <a href="tel:(123) 123-456789">Help:  (123) 123-456789</a>
                        </li>
                        <li>
                            <a href="mailto:Support@hostiko.com">Support@hostiko.com</a>
                            <a href="mailto:info@hostiko.com">Info@hostiko.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="footer_box">
                    <h6>Quick Links</h6>
                    <ul class="footer_links_list">
                        <li><a href="shared_hosting.html">Web Hosting</a></li>
                        <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                        <li><a href="vps_hosting.html">VPS Server</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="domains.html">Domains</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-4">
                <div class="footer_box">
                    <h6>About Hostiko</h6>
                    <p>We offer fast and unlimited UK based Web Hosting, VPS,
                        Dedicated, Reseller Hosting, and bespoke hosting. So
                        regardless of your needs and the size of your business, we
                        have your hosting covered</p>
                    <h6>Social Media</h6>
                    <ul class="footer_social_links">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Copyright Section-->
<section class="padding_top_30 padding_bottom_30 text-center bg_e0edf1">
    <div class="container">
        <div class="copyright_text">Copyright ©2019 <a href="#">Hostiko.com</a> All Rights Reserved</div>
    </div>
</section>
<!--Ends Here-->