<!--Footer Section-->
<section class="padding_top_60 padding_bottom_60 footer01_section">
    <div class="container">
        <div class="row padding_bottom_50 footer01_links_border">
            <div class="col-xl-3 col-lg-3 col-md-3 footer01_links_mobile">
                <div class="footer_heading">Address</div>
                <ul class="footer01_links">
                    <li>71 Amsteroum Avenue Cronish Night, NY 35098</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 footer01_links_mobile">
                <div class="footer_heading">Phone</div>
                <ul class="footer01_links">
                    <li>Reception: <a href="tel:+205 123 4567">+205 123 4567</a></li>
                    <li>Office: <a href="reseller_hosting.html">+207 235 7890</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 footer01_links_mobile">
                <div class="footer_heading">Email</div>
                <ul class="footer_links">
                    <li><a href="mailto:info@hostiko.com">info@hostiko.com</a></li>
                    <li><a href="malto:Support@hostiko.com">Support@hostiko.com</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 footer01_links_mobile">
                <div class="footer_heading">Social</div>
                <ul class="footer_links footer01_social_links">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row margin_top_50">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mobile_box">
                <div class="font_size_14">All Rights Reserved by <a href="https://hostiko.com/">Hostiko</a>.</div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-12 footer01_links_mobile text-right">
                <ul class="footer01_links">
                    <li><a href="shared_hosting.html">Web Hosting</a></li>
                    <li><a href="terms.html">Terms & Conditions</a></li>
                    <li><a href="privacy.html">Acceptable Use Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->