<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div id="header02"></div>
<!--Hero Banner Section-->
<section class="bg_6115d0">
    <div class="container">
        <div class="row padding_tb60">
            <div class="col-xl-5 col-lg-5 col-md-5 order_2">
                <div class="hero_banner_content">
                    <h1><small>Fastest Performance</small>
                        <br>
                        Web Hosting Solution
                    </h1>
                    <p>Dedicated Servers are ideal for Larger Businesses
                        and High Traffic Websites</p>
                    <a href="#" class="btn_hero_banner">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 order_1 hero_banner_img padding_top_20">
                <figure><img src="assets/images/hero_banner_img.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Hosting Plan Section-->
<section class="padding_top_75 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box padding_left_40 margin_bottom_40">
            <h2>Our Hosting Plans</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit</p>
        </div>
        <div class="row">
            <div class="outer_hosting_plan_box col-xl-4 col-lg-4 col-md-4 margin_top_100">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img01.png" alt="" class="img-fluid"></figure>
                    </div>
                    <h2>Web Hosting</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$49<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_top_50 outer_hosting_plan_box mobile_margin">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img02.png" alt="" class="img-fluid"></figure>
                    </div>
                    <h2>Dedicated Server</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$79<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box mobile_margin">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img03.png" alt="" class="img-fluid"></figure>
                    </div>
                    <h2>VPS Hosting</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$99<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Search Domain Section-->
<section class="padding_top_60 padding_bottom_60 bg_dbf3fa">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="section_heading_box margin_bottom_40 padding_left_40 padding_top_30">
                    <h2>Choose Your Domain Today!</h2>
                    <p>Get Your Perfect Domain Name from Hostiko</p>
                </div>
                <div class="outer_search_filed">
                    <form action="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&layout=16&a=add&domain=register" method="post">
                        <input type="text" class="search_domain_field" placeholder="Search Your Domain Name Here...">
                        <input type="submit" value="Search" class="search_domain_btn">
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 search_domain_img">
                <figure><img src="assets/images/domain_img.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--End Here-->
<!--Welcome Section-->
<section class="padding_top_75">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 text-center welcome_section_img">
                <figure><img src="assets/images/about_img.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 welcome_hosting_box">
                <div class="section_heading_box padding_left_45 margin_bottom_60">
                    <h2>Welcome to Hostiko Company</h2>
                </div>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                <a href="#" class="btn_welcome">Learn More Info!</a>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Guarantee Section-->
<section class="padding_top_60 padding_bottom_60 bg_6115d0">
    <div class="container padding_bottom_70 border_bottom">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5">
                <div class="hosting_guarantee_box padding_top_70 padding_left_40">
                    <h2>Hostiko Guarantee</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 outer_guarantee_box white_box margin_box">
                        <figure><img src="assets/images/svg/guarantee_img01.svg" alt="" class="img-fluid"></figure>
                        <h4>Money Back
                            Guarantee</h4>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 outer_guarantee_box blue_box margin_box">
                        <figure><img src="assets/images/svg/guarantee_img02.svg" alt="" class="img-fluid"></figure>
                        <h4>24/7 Live
                            Support</h4>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 outer_guarantee_box white_box">
                        <figure><img src="assets/images/svg/guarantee_img03.svg" alt="" class="img-fluid"></figure>
                        <h4>Fastest SSD
                            Servers</h4>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 outer_guarantee_box blue_box">
                        <figure><img src="assets/images/svg/guarantee_img04.svg" alt="" class="img-fluid"></figure>
                        <h4>Hostiko Cloud
                            Technology</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin_top_40">
            <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="counter_box margin_box">
                    <figure><img src="assets/images/svg/guarantee_counter_img01.svg" alt=""></figure>
                    <div class="counter_content_box">
                        <div class="count">29</div>
                        <div class="counter_content_box_name">Data Center</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="counter_box margin_box">
                    <figure><img src="assets/images/svg/guarantee_counter_img02.svg" alt=""></figure>
                    <div class="counter_content_box">
                        <div class="count">700+</div>
                        <div class="counter_content_box_name">Domains</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="counter_box">
                    <figure><img src="assets/images/svg/guarantee_counter_img03.svg" alt=""></figure>
                    <div class="counter_content_box">
                        <div class="count">129</div>
                        <div class="counter_content_box_name">Countries</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                <div class="counter_box">
                    <figure><img src="assets/images/svg/guarantee_counter_img04.svg" alt=""></figure>
                    <div class="counter_content_box">
                        <div class="count">900+</div>
                        <div class="counter_content_box_name">Developers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Feature Section-->
<section class="padding_top_75 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box margin_bottom_90 padding_left_40">
            <h2>Hostiko Features</h2>
            <p>Get Your Perfect Domain Name from Hostiko</p>
        </div>
        <div class="row margin_bottom_50">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box margin_box">
                        <figure><img src="assets/images/svg/feature_img01.svg" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box">
                        <h3>Maximum Performance</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row margin_bottom_50">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box order_2">
                        <h3>WordPress Pre-Installed</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box text-right order_1 margin_box">
                        <figure><img src="assets/images/svg/feature_img02.svg" alt="" class="img-fluid"></figure>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row margin_bottom_50">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box margin_box">
                        <figure><img src="assets/images/svg/feature_img03.svg" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box">
                        <h3>Free Let’s Encrypt SSL</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box order_2">
                        <h3>Advanced Management</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box text-right order_1 margin_box">
                        <figure><img src="assets/images/svg/feature_img04.svg" alt="" class="img-fluid"></figure>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Section-->
<section class="padding_top_60 padding_bottom_60 bg_0dace0">
    <div class="container">
        <div class="section_heading_box margin_bottom_70 padding_left_40">
            <h2 class="color_fff">Our Happy Clients</h2>
        </div>
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators testimonial_slider_indicator">
                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img01.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img02.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img03.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img04.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img05.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img06.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<section class="padding_top_40 padding_bottom_40">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 margin_box"><figure><img src="assets/images/partner_img01.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 margin_box"><figure><img src="assets/images/partner_img02.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6"><figure><img src="assets/images/partner_img03.png" alt="" class="img-fluid"></figure></div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6"><figure><img src="assets/images/partner_img04.png" alt="" class="img-fluid"></figure></div>
        </div>
    </div>
</section>
<div id="footer02"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#header02").load("include/header02.html");
        $("#footer02").load("include/footer02.html");
    });
</script>
</body>
</html>