<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_6115d0 sub_banner_page padding_top_60 padding_bottom_60">
    <div class="container">
        <div class="position-relative">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <h1>Need a Perfect IPTV Solution? <br>
                        You've come to the Right Place!</h1>
                </div>
            </div>
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>iPTV</li>
            </ul>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Email Plans Section-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <div class="row">
            <div class="outer_hosting_plan_box col-xl-4 col-lg-4 col-md-4">
                <div class="hosting_plan_box email_security_box">
                    <h2>3 Months</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Over 6000 Channels</li>
                        <li>Over 4000 Movies & TV Shows</li>
                        <li>Free Updates</li>
                        <li>HD & SD Channels</li>
                        <li>Premium Channels</li>
                        <li>TV Guide (EPG)</li>
                        <li>Support All Devices</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$2.99<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box mobile_margin">
                <div class="hosting_plan_box email_security_box">
                    <h2>6 Months</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Over 6000 Channels</li>
                        <li>Over 4000 Movies & TV Shows</li>
                        <li>Free Updates</li>
                        <li>HD & SD Channels</li>
                        <li>Premium Channels</li>
                        <li>TV Guide (EPG)</li>
                        <li>Support All Devices</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$9.99<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box mobile_margin">
                <div class="hosting_plan_box email_security_box">
                    <h2>1 Year</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Over 6000 Channels</li>
                        <li>Over 4000 Movies & TV Shows</li>
                        <li>Free Updates</li>
                        <li>HD & SD Channels</li>
                        <li>Premium Channels</li>
                        <li>TV Guide (EPG)</li>
                        <li>Support All Devices</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$11.99<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Email Hosting Feature-->
<section class="padding_top_75 padding_bottom_60 bg_dbf3fa">
    <div class="container">
        <div class="section_heading_box margin_bottom_50 padding_left_40">
            <h2>Hostiko VOIP Features</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittamnsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="voip_feature_box">
                    <figure><img src="assets/images/iptv_feature_img01.png" alt=""></figure>
                    <h5>Work on All Device</h5>
                    <p>Lorem ipsum dolor sit amet tinas sddfm tritani omittam qui mei oblique taimates iabit.sit amet tinas sddfm </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="voip_feature_box">
                    <figure><img src="assets/images/iptv_feature_img02.png" alt=""></figure>
                    <h5>No Dish Required</h5>
                    <p>Lorem ipsum dolor sit amet tinas sddfm tritani omittam qui mei oblique taimates iabit.sit amet tinas sddfm </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="voip_feature_box">
                    <figure><img src="assets/images/iptv_feature_img03.png" alt=""></figure>
                    <h5>Finest TV Quality</h5>
                    <p>Lorem ipsum dolor sit amet tinas sddfm tritani omittam qui mei oblique taimates iabit.sit amet tinas sddfm </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="voip_feature_box">
                    <figure><img src="assets/images/iptv_feature_img04.png" alt=""></figure>
                    <h5>Access Anywhere</h5>
                    <p>Lorem ipsum dolor sit amet tinas sddfm tritani omittam qui mei oblique taimates iabit.sit amet tinas sddfm </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<section class="padding_bottom_60 padding_top_75">
    <div class="container">
        <div class="section_heading_box margin_bottom_50 padding_left_40">
            <h2>Sound Like a Big Business at Small Business Pricing</h2>
        </div>
        <p>orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.elit. Aenean commodo ligula eget dolor. Aenean massa.piscing elit, sed do eiusmod tempor incididunt.</p>
        <a href="#" class="btn_create_account">Create Account</a>
    </div>
</section>
<!--Ends Here-->
<!--Faq Section-->
<section class="padding_top_60 padding_bottom_60 bg_dbf3fa">
    <div class="container">
        <div class="section_heading_box margin_bottom_50 padding_left_40">
            <h2 class="">Frequently Asked Questions</h2>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit consequuntur</p>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 order_2">
                <div id="accordion2" class="text-left">
                    <div class="card">
                        <div class="card-header" id="heading-One">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapse-One" aria-expanded="false" aria-controls="collapse-One">
                                    What is the difference between VPS vs Dedicated Hosting?
                                </button>
                            </h5>
                        </div>

                        <div id="collapse-One" class="collapse" aria-labelledby="heading-One" data-parent="#accordion2">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-Two">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapse-Two" aria-expanded="false" aria-controls="collapse-Two">
                                    How do I get started with Dedicated Hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse-Two" class="collapse show" aria-labelledby="heading-Two" data-parent="#accordion2">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-Three">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapse-Three" aria-expanded="false" aria-controls="collapse-Three">
                                    What custom dedicated server configurations does HostGator offer?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse-Three" class="collapse" aria-labelledby="heading-Three" data-parent="#accordion2">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-Four">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapse-Four" aria-expanded="false" aria-controls="collapse-Four">
                                    What are dedicated servers for games?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse-Four" class="collapse" aria-labelledby="heading-Four" data-parent="#accordion2">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-Five">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapse-Five" aria-expanded="false" aria-controls="collapse-Five">
                                    Do I need dedicated web hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapse-Five" class="collapse" aria-labelledby="heading-Five" data-parent="#accordion2">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 order_1">
                <figure><img src="assets/images/faq_img.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>