<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_6115d0">
    <div class="container">
        <div class="row padding_tb60">
            <div class="col-xl-5 col-lg-5 col-md-5 order_2">
                <div class="hero_banner_content">
                    <h1>We Provide Top Tier <br>
                        Hosting Services
                    </h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor.</p>
                    <a href="#" class="btn_hero_banner">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 order_1 hero_banner_img padding_top_20">
                <figure><img src="assets/images/hero_banner_img.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Feature Section-->
<section class="padding_top_75 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box margin_bottom_90 padding_left_40">
            <h2>Hostiko Features</h2>
            <p>Get Your Perfect Domain Name from Hostiko</p>
        </div>
        <div class="row margin_bottom_50">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box margin_box">
                        <figure><img src="assets/images/svg/feature_img01.svg" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box">
                        <h3>Maximum Performance</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row margin_bottom_50">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box order_2">
                        <h3>WordPress Pre-Installed</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box text-right order_1 margin_box">
                        <figure><img src="assets/images/svg/feature_img02.svg" alt="" class="img-fluid"></figure>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row margin_bottom_50">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box margin_box">
                        <figure><img src="assets/images/svg/feature_img03.svg" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box">
                        <h3>Free Let’s Encrypt SSL</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 feature_content_box order_2">
                        <h3>Advanced Management</h3>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <a href="#" class="btn_feature_box">Learn More Info!</a>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 feature_img_box text-right order_1 margin_box">
                        <figure><img src="assets/images/svg/feature_img04.svg" alt="" class="img-fluid"></figure>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Hosting Plan Section-->
<section class="padding_top_75 padding_bottom_60 bg_dbf3fa">
    <div class="container">
        <div class="section_heading_box padding_left_40 margin_bottom_40">
            <h2>Our Hosting Plans</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit</p>
        </div>
        <div class="row">
            <div class="outer_hosting_plan_box col-xl-4 col-lg-4 col-md-4 margin_top_100">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img01.png" alt="" class="img-fluid"></figure>
                    </div>
                    <h2>Web Hosting</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$49<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 margin_top_50 outer_hosting_plan_box mobile_margin">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img02.png" alt="" class="img-fluid"></figure>
                    </div>
                    <h2>Dedicated Server</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$79<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 outer_hosting_plan_box mobile_margin">
                <div class="hosting_plan_box">
                    <div class="hosting_plan_img_box">
                        <figure><img src="assets/images/hosting_plan_img03.png" alt="" class="img-fluid"></figure>
                    </div>
                    <h2>VPS Hosting</h2>
                    <ul class="hosting_plan_box_list">
                        <li>Unlimited Disk Space</li>
                        <li>99.9% Uptime Guarantee</li>
                        <li>Unmetered Bandwidth</li>
                        <li>One Click Installs Scripts</li>
                    </ul>
                    <div class="hosting_plan_price_box">
                        <small>From</small>$99<small>/month</small>
                    </div>
                    <a href="#" class="hosting_plan_btn">Get Started Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<section class="padding_bottom_60 padding_top_75">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="section_heading_box margin_bottom_40 padding_left_40">
                    <h2>Our Datacenters</h2>
                </div>
                <p class="margin_bottom_20">Lorem ipsum dolor sit amet, no utinam tritani omittam qui, mei oblique tacimates iudicabit no, id ius omnis veniam interpretaris. Suas quodsi timeam no mei. Ex docendi antiopam indoctum mei, eam vad velit mucius graeco. Ridens quidam at eos, modus oblique euismod no pri.</p>
                <p class="color_0dace0">Mei errem suscipit euut eos facilisi platonem oportere Ius fugit lucilius suavitateea.</p>
            </div>
            <div class="col-xl-7 col-lg-7">
                <figure><img src="assets/images/map.png" alt=""></figure>
            </div>
        </div>
    </div>
</section>
<!--Contact Form Section-->
<section class="padding_top_60 padding_bottom_60 bg_dbf3fa">
    <div class="container">
        <div class="section_heading_box margin_bottom_80 padding_left_40">
            <h2>Contact Form</h2>
        </div>
        <form action="#" id="contactpage">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="contact_input_field">
                        <input type="text" placeholder="First Name" name="name" id="name" class="contact_field" required>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="contact_input_filed">
                        <input type="text" placeholder="Last Name" name="last_name" id="last_name" class="contact_field">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="contact_input_filed">
                        <input type="email" placeholder="Email Address" name="email" id="email" class="contact_field" required>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 margin_top_30">
                    <textarea name="comment_box" id="comment_box" class="contact_field w-100" cols="30" rows="10" placeholder="Your Message..."></textarea>
                    <button type="button" class="submit_btn" id="submit">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!--Ends Here-->

<!--Footer Section-->
<section class="padding_top_30 padding_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 full_width text-center">
                <figure class="landing_page_footer_logo m-auto "><img src="assets/images/logo.svg" alt=""></figure>
                <div class="font_size_14 line_height_18 color_5a5f69 sailec_regular margin_bottom_10 padding_top_20">Copyright 2019 DesigningMedia.<br>
                    All Rights reserved</div>
                <div class="designed_by font_size_14 line_height_18 color_5a5f69 sailec_regular margin_bottom_10">Designed by:<a href="#" class="color_5a5f69">Designingmedia</a></div>
                <ul class="landing_page_footer_social_links">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>