<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_6115d0 sub_banner_page padding_top_60 padding_bottom_60">
    <div class="container">
        <div class="position-relative">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <h1>Hostiko Team</h1>
                    <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor</p>
                </div>
            </div>
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Team</li>
            </ul>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Team Section-->
<section class="padding_bottom_60 padding_top_100">
    <div class="container">
        <div class="section_heading_box margin_bottom_80 padding_left_40">
            <h2>Hostiko Team</h2>
        </div>
        <div class="row margin_bottom_30">
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img01.png" alt=""></figure>
                    <h3>Anthony Rosol</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img02.png" alt=""></figure>
                    <h3>Mary Joyner</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 margin_box">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img03.png" alt=""></figure>
                    <h3>Mary Joyner</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img04.png" alt=""></figure>
                    <h3>William Haas</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img05.png" alt=""></figure>
                    <h3>Anthony Rosol</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img06.png" alt=""></figure>
                    <h3>Mary Joyner</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 margin_box">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img07.png" alt=""></figure>
                    <h3>Mary Joyner</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="hosting_team_box">
                    <figure><img src="assets/images/team_img08.png" alt=""></figure>
                    <h3>William Haas</h3>
                    <ul class="team_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>