<!--Testimonial Section-->
<section class="padding_top_100 padding_bottom_100 testimonial_section text-center">
    <div class="container">
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators indicator_testimonial_slider">
                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-10 col-lg-10 col-md-12">
                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non-recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores.</p>
                            <div class="client_name">Chris Gayle - CEO</div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-10 col-lg-10 col-md-12">
                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non-recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores.</p>
                            <div class="client_name">Chris Leon - CEO</div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-10 col-lg-10 col-md-12">
                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non-recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores.</p>
                            <div class="client_name">Jon Gayle - CEO</div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->