<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>

<!--Error Page-->
<section class="bg_404 container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6 error_page">
            <figure><img src="assets/images/logo.svg" alt=""></figure>
        </div>
        <div class="col-xl-6 col-lg-6 text-right">
            <ul class="error_page_social_list">
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <figure class="coming_soon_main_img"><img src="assets/images/hero_banner_img.svg" alt=""></figure>
        </div>
        <div class="col-xl-6 col-lg-6 error_page_content_box">
            <div class="inner_error_page_content_box">
                <div class="error_box">404.</div>
                <div class="error_box_content">Sorry! The Page Not Found ;(</div>
                <p>The Link You Folowed Probably Broken, or the page has been removed.</p>
                <div><a href="index.html" class="learn-more btn_return_index">
                    <div class="circle">
                        <span class="icon arrow"></span>
                    </div>
                    <p class="button-text">Return to Home</p>
                </a></div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>