<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center affiliates_banner">
    <div class="banner_inner_content padding_top_50 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 padding_top_100 order02 mobile_text_center reseller_mobile_sapce text-left">
                    <h1 class="font_size_48 line_height_60 color_222 margin_bottom_20">Hostiko Affiliate Program</h1>
                    <p class="font_size_18 line_height_30 color_5a5f69 margin_bottom_30">Hostiko is dedicated to providing incredible Shared, VPS,<br>
                        Dedicated and Optimized hosting solutions.</p>
                    <a href="#" class="learn-more margin_right_30">
                        <div class="circle">
                            <span class="icon arrow"></span>
                        </div>
                        <p class="button-text">Sign Up Now</p>
                    </a>
                    <a href="#" class="learn-more">
                        <div class="circle">
                            <span class="icon arrow"></span>
                        </div>
                        <p class="button-text">Login Now</p>
                    </a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 reseller_banner_img order01">
                    <figure><img src="assets/images/sub_banner_img02.svg" alt="" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section-->
<!--SSL Certificate Include-->
<section class="padding_top_100 padding_bottom_60 text-center">
    <div class="container">
        <div class="section_heading_box margin_bottom_50">
            <h2 class="color_222 margin_bottom_20">Why Become a Hosting Affiliate?</h2>
            <p>Hostiko affiliate program is the leader of highest paying affiliate programs</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 margin_box">
                <div class="guarantee_box">
                    <div class="hosting_affiliation_img01"></div>
                    <div class="guarantee_box_heading margin_bottom_10">Free Affiliate Program</div>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="guarantee_box mobile_margin_box">
                    <div class="guarantee_img01"></div>
                    <div class="guarantee_box_heading margin_bottom_10">Highest Affiliate Commission</div>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="guarantee_box">
                    <div class="hosting_affiliation_img03"></div>
                    <div class="guarantee_box_heading margin_bottom_10">Earn Money Online Easily</div>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Hos its work-->
<section class="padding_top_60 padding_bottom_60 how_it_works">
    <div class="container">
        <div class="section_heading text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col-xl-10 col-lg-10">
                    <h2 class="margin_bottom_10 color_222">How it Works</h2>
                    <p>When you sign up for a Hostiko affiliate account you will be provided with a <b class="color_ff007e">unique affiliate code</b> to add to your website or email.
                        Every time a visitor clicks on your link and signs up for a qualified plan, you will earn <b class="color_ff007e">$65.00</b>. The best part? The tracking lasts for 365 days, so even if they don't sign up right away but do come back later, you still get credit for the sale! You must read and agree to our
                        <b class="color_ff007e">Affiliate Terms of Service</b> in order to join the affiliate program.</p>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Why Hostiko Affiliates-->
<section class="padding_top_60 padding_bottom_60 text-center feature_section">
    <div class="container">
        <div class="section_heading_box margin_bottom_50">
            <h2 class="color_222 margin_bottom_20">Our Best Features</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <ul class="domain_transfer_list">
                    <li>Earn $65.00 for Every Referral</li>
                    <li>365 day Cookie Tracking</li>
                    <li>Monthly Affiliate Payouts</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <ul class="domain_transfer_list">
                    <li>High Conversion Rates</li>
                    <li>Real-time Reporting</li>
                    <li>Personalized Tracking Codes</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <ul class="domain_transfer_list">
                    <li>Easily make Money Online</li>
                    <li>Be part of the Elite Affiliate Club</li>
                    <li>Instant Sign-Up</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Section-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <h2 class="margin_bottom_20 font_size_36 line_height_48 color_222">Happy Clients</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 margin_top_50">
                <div id="testimonial_slider" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators testimonial_indicators">
                        <li data-target="#testimonial_slider" data-slide-to="0"><figure><img src="assets/images/testimonial_img01.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="1"><figure><img src="assets/images/testimonial_img02.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="2" class="active"><figure><img src="assets/images/testimonial_img05.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="3"><figure><img src="assets/images/testimonial_img04.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="4"><figure><img src="assets/images/testimonial_img03.png" alt=""></figure></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item active testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#testimonial_slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial_slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Build Your Website-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <div class="coa_block">
            <h2 class="margin_bottom_20 font_size_36 line_height_48 color_222">Build Your Website with Hostiko</h2>
            <p class="margin_bottom_40">From professional business to enterprise, we've got you covered!</p>
            <a href="#" class="learn-more">
                <div class="circle">
                    <span class="icon arrow"></span>
                </div>
                <p class="button-text">Get Started Now</p>
            </a>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>