<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center affiliates_banner ">
    <div class="banner_inner_content padding_top_50">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 padding_top_100 order02 mobile_text_center dedicated_banner_content_box text-left">
                    <h1 class="font_size_48 line_height_60 color_222 margin_bottom_20">Data Center</h1>
                    <p class="font_size_18 line_height_30 color_5a5f69 margin_bottom_30">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ad cum esse excepturi exercitationem, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ad cum esse excepturi exercitationem.</p>
                    <a href="#" class="learn-more">
                        <div class="circle">
                            <span class="icon arrow"></span>
                        </div>
                        <p class="button-text">Get Started Now</p>
                    </a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 sub_banner_img_margin order01">
                    <figure><img src="assets/images/sub_banner_img03.svg" alt="" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section-->
<!--Map Section-->
<section class="section_padding text-center">
    <div class="container">
       <div class="col-12 data_center_map">
            <figure><img src="assets/images/blue-map.svg" alt=""></figure>
           <div id="data_center_box01" class="location-outer data-center-decreption_box"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Americas</span><div class="location_detail" style="display: none;"><h2>Americas</h2><p class="details">Berkeley County, South Carolina</p></div> </div>
           <div id="data_center_box02" class="location-outer data-center-decreption_box"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Argentina</span><div class="location_detail" style="display: none;"><h2>Argentina</h2><p class="details">Buenos Aires</p></div> </div>
           <div id="data_center_box03" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Greenland</span><div class="location_detail" style="display: none;"><h2>Greenland</h2><p class="details">The Dalles, Oregon</p></div> </div>
           <div id="data_center_box04" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">United Kingdom</span><div class="location_detail" style="display: none;"><h2>United Kingdom</h2><p class="details">London</p></div> </div>
           <div id="data_center_box05" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Russia</span><div class="location_detail" style="display: none;"><h2>Russia</h2><p class="details">Dublin, Ireland</p></div> </div>
           <div id="data_center_box06" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Asia</span><div class="location_detail" style="display: none;"><h2>Asia</h2><p class="details">Changhua County, Taiwan</p></div> </div>
           <div id="data_center_box07" class="location-outer data-center-box1"><span class="pin_point"><img src="assets/images/location_pin.svg"></span> <span class="location_pin">Australia</span><div class="location_detail" style="display: none;"><h2>Australia</h2><p class="details">Canberra</p></div> </div>
       </div>
    </div>
</section>
<!--Ends Here-->
<!--Our Data Center-->
<section class="padding_top_60 padding_bottom_60 text-center feature_section">
    <div class="container">
        <div class="row hosting_feature_row">
            <div class="col-xl-6 col-lg-6 col-md-6 outer_featured_box">
                <div class="row margin_box">
                    <div class="col-xl-9 col-lg-9 col-md-9 no_padding order_2">
                        <div class="featured_box text-right">
                            <div class="featured_box_heading">Our Datacenters</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 no_padding padding_top_50 order_1 margin_box">
                        <div class="featured_box_img">
                            <figure><img src="assets/images/data_center_img01.png" alt=""></figure>
                        </div>
                    </div>
                </div>
                <div class="row margin_box">
                    <div class="col-xl-9 col-lg-9 col-md-9 no_padding order_2">
                        <div class="featured_box text-right">
                            <div class="featured_box_heading">Our Vision</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 no_padding padding_top_50 order_1 margin_box">
                        <div class="featured_box_img">
                            <figure><img src="assets/images/data_center_img03.png" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 padding_top_130">
                <div class="row margin_box">
                    <div class="col-xl-3 col-lg-3 col-md-3 no_padding padding_top_50 margin_box">
                        <div class="featured_box_img">
                            <figure><img src="assets/images/data_center_img02.png" alt=""></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 no_padding">
                        <div class="featured_box text-left">
                            <div class="featured_box_heading">Our Vision</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                        </div>
                    </div>
                </div>
                <div class="row margin_box">
                    <div class="col-xl-3 col-lg-3 col-md-3 no_padding padding_top_50 margin_box">
                        <div class="featured_box_img">
                            <figure><img src="assets/images/data_center_img04.png" alt=""></figure>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 no_padding">
                        <div class="featured_box text-left">
                            <div class="featured_box_heading">400k+ Happy Customers</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Section-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <h2 class="margin_bottom_20 font_size_36 line_height_48 color_222">Happy Clients</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10 col-lg-10 margin_top_50">
                <div id="testimonial_slider" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators testimonial_indicators">
                        <li data-target="#testimonial_slider" data-slide-to="0"><figure><img src="assets/images/testimonial_img01.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="1"><figure><img src="assets/images/testimonial_img02.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="2" class="active"><figure><img src="assets/images/testimonial_img05.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="3"><figure><img src="assets/images/testimonial_img04.png" alt=""></figure></li>
                        <li data-target="#testimonial_slider" data-slide-to="4"><figure><img src="assets/images/testimonial_img03.png" alt=""></figure></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item active testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                        <div class="carousel-item testimonial_box_content">
                            <figure class="margin_bottom_15"><img src="assets/images/testimonial_quotes.png" alt=""></figure>
                            <div class="client_name margin_bottom_20">John Robert</div>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#testimonial_slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial_slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Build Your Website-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <div class="coa_block">
            <h2 class="margin_bottom_20 font_size_36 line_height_48 color_222">Build Your Website with Hostiko</h2>
            <p class="margin_bottom_40">From professional business to enterprise, we've got you covered!</p>
            <a href="#" class="learn-more">
                <div class="circle">
                    <span class="icon arrow"></span>
                </div>
                <p class="button-text">Get Started Now</p>
            </a>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>