<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<!--Navigation Bar-->
<div id="default_header"></div>
<!--Ends Here-->
<!--Hero Banner Section-->
<section class="hero_banner_img padding_top_60 padding_bottom_60">
    <div class="banner_content">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 padding_top_100 order02 mobile_text_center reseller_mobile_sapce">
                    <h1 class="font_size_48 line_height_60 color_222 margin_bottom_20">Reseller Hosting</h1>
                    <p class="font_size_18 line_height_30 color_5a5f69 margin_bottom_30">Hostiko is dedicated to providing incredible Shared, VPS,<br>
                        Dedicated and Optimized hosting solutions.</p>
                    <div class="w-100 float-left margin_bottom_30">
                        <div class="w-50 float-left">
                            <ul class="banner_listing">
                                <li class="margin_bottom_5">Free Managed Migration</li>
                                <li>Unlimited cPanel Support</li>
                            </ul>
                        </div>
                        <div class="w-50 float-left">
                            <ul class="banner_listing">
                                <li class="margin_bottom_5">24/7/365 Support Coverage</li>
                                <li>Proactive Host Monitoring</li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="learn-more">
                        <div class="circle">
                            <span class="icon arrow"></span>
                        </div>
                        <p class="button-text">Get Started Now</p>
                    </a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 reseller_banner_img order01">
                    <figure><img src="assets/images/sub_banner_img02.svg" alt="" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Hosting Plans Section-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <h2 class="font_size_36 line_height_48 color_222">Reseller Hosting Plan</h2>
        <p class="margin_bottom_50">From professional business to enterprise, we've got you covered!</p>
        <article>

            <ul class="comparing_price_plan">
                <li class="bg-purple">
                    <button>RH-01</button>
                </li>
                <li class="bg-purple">
                    <button>RH-02</button>
                </li>
                <li class="bg-purple active">
                    <button>RH-03</button>
                </li>
                <li class="bg-purple">
                    <button>RH-04</button>
                </li>
            </ul>

            <table class="table_comparing_price_plan">
                <thead>
                <tr>
                    <th class="hide"></th>
                    <th class="bg-purple">RH-01</th>
                    <th class="bg-purple">RH-02</th>
                    <th class="bg-purple default">RH-03</th>
                    <th class="bg-purple">RH-04</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="first_heading_pricing_plan">Reseller Hosting Features</td>
                    <td class="bg-white"><span class="txt-l">&dollar;29</span><span class="txt-top">/mo</span></td>
                    <td class="bg-white"><span class="txt-l">&dollar;39</span><span class="txt-top">/mo</span></td>
                    <td class="default bg-white"><span class="txt-l">&dollar;49</span><span class="txt-top">/mo</span></td>
                    <td class="bg-white"><span class="txt-l">&dollar;99</span><span class="txt-top">/mo</span></td>
                </tr>
                <tr class="">
                    <td colspan="5" class="bg_gradient heading_pricing_plan">Plesk Control Panel</td>
                </tr>
                <tr>
                    <td>Disk Space</td>
                    <td><span class="tick">20GB</span></td>
                    <td><span class="tick">550GB</span></td>
                    <td class="default"><span class="tick">750GB</span></td>
                    <td><span class="tick">Unlimited</span></td>
                </tr>
                <tr>
                    <td>Bandwidth</td>
                    <td><span class="tick">500GB</span></td>
                    <td><span class="tick">500GB</span></td>
                    <td class="default"><span class="tick">1000GB</span></td>
                    <td><span class="tick">Unlimited</span></td>
                </tr>
                <tr>
                    <td>Hosted Domain</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Free SSL Script</td>
                    <td><span class="tick">05</span></td>
                    <td><span class="tick">10</span></td>
                    <td class="default"><span class="tick">20</span></td>
                    <td><span class="tick">30</span></td>
                </tr>
                <tr>
                    <td>Email Accounts</td>
                    <td><span class="tick">10</span></td>
                    <td><span class="tick">20</span></td>
                    <td class="default"><span class="tick">30</span></td>
                    <td><span class="tick">40</span></td>
                </tr>
                <tr>
                    <td>cPanel Control Panel</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Dedicated IP,s</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                </tr>
                <tr class="bg_gradient">
                    <td colspan="5" class="heading_pricing_plan">Programming & Databases</td>
                </tr>
                <tr>
                    <td>Disk Space</td>
                    <td><span class="tick">250GB</span></td>
                    <td><span class="tick">550GB</span></td>
                    <td class="default"><span class="tick">750GB</span></td>
                    <td><span class="tick">Unlimited</span></td>
                </tr>
                <tr>
                    <td>Bandwidth</td>
                    <td><span class="tick">500GB</span></td>
                    <td><span class="tick">500GB</span></td>
                    <td class="default"><span class="tick">1000GB</span></td>
                    <td><span class="tick">Unlimited</span></td>
                </tr>
                <tr>
                    <td>Hosted Domain</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <td>Free SSL Script</td>
                    <td><span class="tick">05</span></td>
                    <td><span class="tick">10</span></td>
                    <td class="default"><span class="tick">20</span></td>
                    <td><span class="tick">30</span></td>
                </tr>
                <tr>
                    <td>Email Accounts</td>
                    <td><span class="tick">10</span></td>
                    <td><span class="tick">20</span></td>
                    <td class="default"><span class="tick">30</span></td>
                    <td><span class="tick">40</span></td>
                </tr>
                </tbody>
            </table>

        </article>
    </div>
</section>
<!--End Here-->
<!--Full Technical Specifications-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <h2 class="margin_bottom_15 font_size_36 line_height_48 color_222">Full Technical Specifications</h2>
        <p class="margin_bottom_50">Neque porro quisquam est, qui dolorem ipsum quia dolor consectetur adipisci numquam.</p>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 text-left">
                <ul class="banner_listing technical_list">
                    <li>cPanel Control Panel</li>
                    <li>Softaculous Premium</li>
                    <li>CloudLinux OS</li>
                    <li>LiteSpeed Web Server</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left">
                <ul class="banner_listing technical_list">
                    <li>GD Graphics Library</li>
                    <li>Zend Guard Loader</li>
                    <li>ionCube PHP Loader</li>
                    <li>Subversion</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left">
                <ul class="banner_listing technical_list">
                    <li>DNS Zone Editor</li>
                    <li>Mail Exchange (MX) Editor</li>
                    <li>Secure Shell (SSH) Access</li>
                    <li>PHP Extension Manager</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left">
                <ul class="banner_listing technical_list">
                    <li>Free Managed Migration</li>
                    <li>Unlimited cPanel Support</li>
                    <li>24/7/365 Support Coverage</li>
                    <li>Proactive Host Monitoring</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Hosting Feature Section-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <h2 class="margin_bottom_15 font_size_36 line_height_48 color_222">Hostiko Features</h2>
        <p class="margin_bottom_50">Neque porro quisquam est, qui dolorem ipsum quia dolor consectetur adipisci numquam.</p>
        <div class="row margin_bottom_70">
            <div class="col-xl-3 col-lg-3 col-md-6 custom_box reseller_hosting_feature_img mobile_text_center">
                <figure class="margin_bottom_20"><img src="assets/images/hosting_feature_img01.svg" alt=""></figure>
                <ul class="hosting_feature_listing">
                    <li>Mail Exchange (MX) Editor</li>
                    <li>PHP Extension Manager</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left feature_box_space custom_box mobile_text_center">
                <div class="hosting_feature_heading margin_bottom_15">Maximum <br>
                    Performance</div>
                <p class="feature_margin_bottom margin_bottom_15">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <ul class="hosting_feature_listing">
                    <li>Fully Redundant Network</li>
                    <li>World-Class Support</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left reseller_hosting_feature_img mobile_text_center mobile_margin_box">
                <figure class="margin_bottom_20"><img src="assets/images/hosting_feature_img02.svg" alt=""></figure>
                <ul class="hosting_feature_listing">
                    <li>World-Class Support</li>
                    <li>Zend Guard Loader</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left feature_box_space mobile_text_center">
                <div class="hosting_feature_heading margin_bottom_15">99.9% Uptime
                    Guarantee</div>
                <p class="margin_bottom_15">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <ul class="hosting_feature_listing">
                    <li>24/7/365 Support Coverage</li>
                    <li>Proactive Host Monitoring</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 reseller_hosting_feature_img custom_box mobile_text_center">
                <figure class="margin_bottom_20"><img src="assets/images/hosting_feature_img03.svg" alt=""></figure>
                <ul class="hosting_feature_listing">
                    <li>Free Managed Migration</li>
                    <li>Unlimited cPanel Support</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left custom_box feature_box_space mobile_text_center">
                <div class="hosting_feature_heading margin_bottom_15">Advanced <br>
                    Management</div>
                <p class="margin_bottom_15">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <ul class="hosting_feature_listing">
                    <li>24/7/365 Support Coverage</li>
                    <li>Proactive Host Monitoring</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left reseller_hosting_feature_img mobile_text_center mobile_margin_box">
                <figure class="margin_bottom_20"><img src="assets/images/hosting_feature_img04.svg" alt=""></figure>
                <ul class="hosting_feature_listing">
                    <li>Secure Shell (SSH) Access</li>
                    <li>PHP Extension Manager</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 text-left feature_box_space mobile_text_center">
                <div class="hosting_feature_heading margin_bottom_15">Free Let's <br>
                    Encrypt SSL</div>
                <p class="margin_bottom_15">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <ul class="hosting_feature_listing">
                    <li>CloudLinux OS</li>
                    <li>LiteSpeed Web Server</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--FAQ Section-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <h2 class="margin_bottom_20 font_size_36 line_height_48 color_222">Frequently Asked Questions</h2>
        <div id="accordion">
            <div class="row text-left">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is the difference between VPS vs Dedicated Hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut dolore magnam aliquam quaerat voluptatem.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    How do I get started with Dedicated Hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut dolore magnam aliquam quaerat voluptatem.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                    What custom dedicated server configurations does Hostiko offer?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut dolore magnam aliquam quaerat voluptatem.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                    What are dedicated servers for games?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut dolore magnam aliquam quaerat voluptatem.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                                    Do I need dedicated web hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                non numquam eius modi tempora incidunt ut dolore magnam aliquam quaerat voluptatem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Build Your Website-->
<section class="padding_top_60 padding_bottom_60 text-center">
    <div class="container">
        <div class="coa_block">
            <h2 class="margin_bottom_20 font_size_36 line_height_48 color_222">Build Your Website with Hostiko</h2>
            <p class="margin_bottom_40">From professional business to enterprise, we've got you covered!</p>
            <a href="#" class="learn-more">
                <div class="circle">
                    <span class="icon arrow"></span>
                </div>
                <p class="button-text">Get Started Now</p>
            </a>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Footer Section-->
<div id="default_footer"></div>
<!--Ends Here-->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>

    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });



    $( "ul" ).on( "click", "li", function() {
        var pos = $(this).index()+2;
        $("tr").find('td:not(:eq(0))').hide();
        $('td:nth-child('+pos+')').css('display','table-cell');
        $("tr").find('th:not(:eq(0))').hide();
        $('li').removeClass('active');
        $(this).addClass('active');
    });

    // Initialize the media query
    var mediaQuery = window.matchMedia('(min-width: 640px)');

    // Add a listen event
    mediaQuery.addListener(doSomething);

    // Function to do something with the media query
    function doSomething(mediaQuery) {
        if (mediaQuery.matches) {
            $('.sep').attr('colspan',5);
        } else {
            $('.sep').attr('colspan',2);
        }
    }

    // On load
    doSomething(mediaQuery);
</script>
</body>
</html>