<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div id="default_header"></div>
<!--Hero Banner Section-->
<section class="bg_sub_banner text-center affiliates_banner">
    <div class="banner_inner_content padding_top_50">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 padding_top_100 margin_box sub_page_banner_content_box order02 mobile_text_center text-left">
                    <h1 class="font_size_48 line_height_60 color_222 margin_bottom_20">Need Help?</h1>
                    <p class="font_size_18 line_height_30 color_5a5f69 margin_bottom_20 inner_sub_page_banner_content_box">We Guarantee your site will run Quicker on our Cloud
                        than normal hosting, or your Money back.</p>
                    <p class="inner_sub_page_banner_content_box01">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem dolor sit amet, consectetur, adipisci numquam eius modi tempora incid dolore magnam aliquam quaerat voluptatem.</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 sub_page_banner_img order01">
                    <figure><img src="assets/images/sub_banner_img06.svg" alt="" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section-->
<!--FAQ Section-->
<section class="section_padding text-center faq_section">
    <div class="container">
        <div class="section_heading_box">
            <h2 class="color_222 margin_bottom_20">General Questions</h2>
            <p class="margin_bottom_50">Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor</p>
        </div>
        <div class="row margin_bottom_50">
            <div class="col-xl-6 col-lg-6 text-left">
                <h4 class="color_222">Shared Hosting</h4>
                <div id="accordion" class="text-left">
                    <div class="card">
                        <div class="card-header" id="shared_headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#shared_collapseOne" aria-expanded="false" aria-controls="shared_collapseOne">
                                    Do you offer managed hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="shared_collapseOne" class="collapse" aria-labelledby="shared_headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="shared_headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#shared_collapseTwo" aria-expanded="false" aria-controls="shared_collapseTwo">
                                    How to buy a domain in cheap price?
                                </button>
                            </h5>
                        </div>
                        <div id="shared_collapseTwo" class="collapse" aria-labelledby="shared_headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="shared_headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#shared_collapseThree" aria-expanded="false" aria-controls="shared_collapseThree">
                                    How do I set up a URL redirect for a domain?
                                </button>
                            </h5>
                        </div>
                        <div id="shared_collapseThree" class="collapse" aria-labelledby="shared_headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="shared_headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#shared_collapseFour" aria-expanded="false" aria-controls="shared_collapseFour">
                                    How can I change the nameservers for my domain?
                                </button>
                            </h5>
                        </div>
                        <div id="shared_collapseFour" class="collapse" aria-labelledby="shared_headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="shared_headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#shared_collapseFive" aria-expanded="false" aria-controls="shared_collapseFive">
                                    How do I generate a CSR code?
                                </button>
                            </h5>
                        </div>
                        <div id="shared_collapseFive" class="collapse" aria-labelledby="shared_headingFive" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 text-left">
                <h4 class="color_222">Dedicated Hosting</h4>
                <div id="accordion01" class="text-left">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    How to set up Free Email Forwarding
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion01">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do I transfer a domain?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion01">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How to transfer an existing hosting account?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion01">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How do I renew my domain?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion01">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How does WhoisGuard work for keep secure?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion01">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 text-left">
                <h4 class="color_222">VPS Hosting</h4>
                <div id="accordion02" class="text-left">
                    <div class="card">
                        <div class="card-header" id="vps_headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#vps_collapseOne" aria-expanded="false" aria-controls="vps_collapseOne">
                                    How to set up Free Email Forwarding
                                </button>
                            </h5>
                        </div>
                        <div id="vps_collapseOne" class="collapse" aria-labelledby="vps_headingOne" data-parent="#accordion02">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="vps_headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#vps_collapseTwo" aria-expanded="false" aria-controls="vps_collapseTwo">
                                    How do I transfer a domain?
                                </button>
                            </h5>
                        </div>
                        <div id="vps_collapseTwo" class="collapse" aria-labelledby="vps_headingTwo" data-parent="#accordion02">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="vps_headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#vps_collapseThree" aria-expanded="false" aria-controls="vps_collapseThree">
                                    How to transfer an existing hosting account?
                                </button>
                            </h5>
                        </div>
                        <div id="vps_collapseThree" class="collapse" aria-labelledby="vps_headingThree" data-parent="#accordion02">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="vps_headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#vps_collapseFour" aria-expanded="false" aria-controls="vps_collapseFour">
                                    How do I renew my domain?
                                </button>
                            </h5>
                        </div>
                        <div id="vps_collapseFour" class="collapse" aria-labelledby="shared_headingFour" data-parent="#accordion02">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="vps_headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#vps_collapseFive" aria-expanded="false" aria-controls="vps_collapseFive">
                                    How does WhoisGuard work for keep secure?
                                </button>
                            </h5>
                        </div>
                        <div id="vps_collapseFive" class="collapse" aria-labelledby="vps_headingFive" data-parent="#accordion02">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 text-left">
                <h4 class="color_222">Reseller Hosting</h4>
                <div id="accordion03" class="text-left">
                    <div class="card">
                        <div class="card-header" id="reseller_headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#reseller_collapseOne" aria-expanded="false" aria-controls="reseller_collapseOne">
                                    Do you offer managed hosting?
                                </button>
                            </h5>
                        </div>
                        <div id="reseller_collapseOne" class="collapse" aria-labelledby="reseller_headingOne" data-parent="#accordion03">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="reseller_headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#reseller_collapseTwo" aria-expanded="false" aria-controls="reseller_collapseTwo">
                                    How to buy a domain in cheap price?
                                </button>
                            </h5>
                        </div>
                        <div id="reseller_collapseTwo" class="collapse" aria-labelledby="reseller_headingTwo" data-parent="#accordion03">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="reseller_headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#reseller_collapseThree" aria-expanded="false" aria-controls="reseller_collapseThree">
                                    How do I set up a URL redirect for a domain?
                                </button>
                            </h5>
                        </div>
                        <div id="reseller_collapseThree" class="collapse" aria-labelledby="reseller_headingThree" data-parent="#accordion03">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="reseller_headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#reseller_collapseFour" aria-expanded="false" aria-controls="reseller_collapseFour">
                                    How can I change the nameservers for my domain?
                                </button>
                            </h5>
                        </div>
                        <div id="reseller_collapseFour" class="collapse" aria-labelledby="reseller_headingFour" data-parent="#accordion03">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="reseller_headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#reseller_collapseFive" aria-expanded="false" aria-controls="reseller_collapseFive">
                                    How do I generate a CSR code?
                                </button>
                            </h5>
                        </div>
                        <div id="reseller_collapseFive" class="collapse" aria-labelledby="reseller_headingFive" data-parent="#accordion03">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
</script>

</body>
</html>