<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css"/>
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <!--Hero Banner Section-->
    <section class="blog_banner">
        <div class="container">
            <div class="banner_content_box blog_page_banner">
                <h1>Fast Solutions To Fit All Your <br>
                    Email Hosting Needs!</h1>
                <div class="breadcrumb">
                    <ul class="">
                        <li><a href="index.html">Home</a> </li>
                        <li class="active"><a href="#">Email Security</a></li>
                    </ul>
                    <!--breadcrumb-->
                </div>
                <!--page-title-->
            </div>
        </div>
    </section>
<!--End Slider Section-->
    <!--Hosting Plan Section-->
    <section class="padding_bottom_100 padding_top_100 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 tablet_margin_box">
                    <div class="hosting_plan_box pages_plan">
                        <h3>Email Essentials</h3>
                        <ul class="hosting_plan_list">
                            <li><b>Pro Email</b>, 10x more Storage</li>
                            <li>Online Versions <b>of Office</b></li>
                            <li><b>5 GB</b> Email Storage</li>
                        </ul>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>2<span>.95</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <a href="shared_hosting.html" class="btn_hosting_plan margin_top_30">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 tablet_margin_box">
                    <div class="hosting_plan_box pages_plan">
                        <h3>Email Plus</h3>
                        <ul class="hosting_plan_list">
                            <li><b>Pro Email</b>, 10x more Storage</li>
                            <li>Online Versions <b>of Office</b></li>
                            <li><b>5 GB</b> Email Storage</li>
                        </ul>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>2<span>.95</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <a href="shared_hosting.html" class="btn_hosting_plan margin_top_30">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mobile_margin_box">
                    <div class="hosting_plan_box pages_plan">
                        <h3>Premium Business</h3>
                        <ul class="hosting_plan_list">
                            <li><b>Pro Email</b>, 10x more Storage</li>
                            <li>Online Versions <b>of Office</b></li>
                            <li><b>5 GB</b> Email Storage</li>
                        </ul>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>2<span>.95</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <a href="shared_hosting.html" class="btn_hosting_plan margin_top_30">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
<!--History Section-->
<section class="padding_top_75 padding_bottom_75 text-center powerful_iptv_section bg_fff">
    <div class="container">
        <div class="section_heading margin_bottom_70">
            <h2 class="color_2f395d">Powerful IPTV Provider</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="guarantee_box why_choose_box margin_box_mobile power_of_iptv_section affiliates_box">
                    <div class="guarantee_img_box">
                        <figure><img src="assets/images/svg/email_security_img01.svg" alt=""></figure>
                    </div>
                    <h3>High Performance</h3>
                    <p>Nam libero  cum soluta nobis est eligendi optio cumque nihil minus maxime facere.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="guarantee_box why_choose_box margin_box_mobile power_of_iptv_section affiliates_box">
                    <div class="guarantee_img_box">
                        <figure><img src="assets/images/svg/email_security_img02.svg" alt=""></figure>
                    </div>
                    <h3>Unlimited Traffic</h3>
                    <p>Nam libero  cum soluta nobis est eligendi optio cumque nihil minus maxime facere.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="guarantee_box why_choose_box margin_box_mobile power_of_iptv_section affiliates_box">
                    <div class="guarantee_img_box">
                        <figure><img src="assets/images/svg/email_security_img03.svg" alt=""></figure>
                    </div>
                    <h3>Anti-DDoS Protection</h3>
                    <p>Nam libero  cum soluta nobis est eligendi optio cumque nihil minus maxime facere.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="guarantee_box why_choose_box power_of_iptv_section affiliates_box">
                    <div class="guarantee_img_box">
                        <figure><img src="assets/images/svg/email_security_img04.svg" alt=""></figure>
                    </div>
                    <h3>Anti-DDoS Protection</h3>
                    <p>Nam libero  cum soluta nobis est eligendi optio cumque nihil minus maxime facere.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--Build YOur Website Section-->
    <section class="padding_bottom_100 padding_top_100 build_your_website">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 content_box" data-aos="fade-up">
                    <h3>Start Building Your <br>
                        Website Today!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean
                        commodo ligula eget dolor. Aenean massa.</p>
                    <div class="build_website_price">Start at <span>$2.99</span><small>/mo</small></div>
                    <a href="#" class="btn_build_website">Order Now</a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 img_build_website" data-aos="fade-up"></div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <section class="padding_top_100 padding_bottom_100">
        <div class="container">
            <div class="row margin_bottom_60 text-center">
                <div class="col"></div>
                <div class="col-xl-9 col-lg-11">
                    <div class="section_heading" data-aos="fade-up">
                        <div class="color_text">Discover more about Hostiko</div>
                        <h2>Experience to make sure that Hostiko is the
                            <span>Perfect choice for any Hosting</span> Company.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean commodo ligula <br>
                            eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div id="testimonial_slider" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators indicator_testimonial_slider">
                    <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial_slider" data-slide-to="1"></li>
                    <li data-target="#testimonial_slider" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box margin_tablet">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Rae Wilson</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Kelley Koehler</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box margin_tablet">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Rae Wilson</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Kelley Koehler</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box margin_tablet">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Rae Wilson</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Kelley Koehler</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });

    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }


    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>