<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css"/>
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">

</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <!--Hero Banner Section-->
    <section class="blog_banner">
        <div class="container">
            <div class="banner_content_box blog_page_banner">
                <h1>Hosting Plans</h1>
                <div class="breadcrumb">
                    <ul class="">
                        <li><a href="index.html">Home</a> </li>
                        <li class="active"><a href="#">Plans</a></li>
                    </ul>
                    <!--breadcrumb-->
                </div>
                <!--page-title-->
            </div>
        </div>
    </section>
    <!--End Slider Section-->
    <!--Hosting Plan Section-->
    <section class="padding_top_100 padding_bottom_100 bg_e9f5ff text-center">
        <div class="container">
            <div class="row margin_bottom_70">
                <div class="col"></div>
                <div class="col-xl-7 col-lg-8 col-md-9">
                    <div class="section_heading" data-aos="zoom-in">
                        <div class="color_text">Choose Your Plan</div>
                        <h2>Hostiko Present you services with
                            <span>flexible and convenient</span> Plans</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean commodo ligula
                            eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 margin_mobile" data-aos="zoom-in-down">
                    <div class="hosting_plan_box">
                        <h3>Shared Hosting</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer
                            eget dolorenean massa.
                        </p>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>2<span>.95</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <ul class="hosting_plan_list">
                            <li><b>1</b> Website</li>
                            <li><b>Unlimited</b> Traffic</li>
                            <li><b>500 GB</b> Bandwidth</li>
                            <li><b>WordPress</b> Pre-installed</li>
                            <li>Fast <b>SSD Storage</b></li>
                            <li><b>FREE</b>SSL Certificate</li>
                        </ul>
                        <a href="shared_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 margin_mobile" data-aos="zoom-in-down">
                    <div class="hosting_plan_box">
                        <h3>Dedicated Server</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer
                            eget dolorenean massa.
                        </p>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>199</div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <ul class="hosting_plan_list">
                            <li>Disk Space <b>512 GB</b></li>
                            <li>CPU <b>4 Core</b> (9.60 GHz)</li>
                            <li>Ram <b>6 GB</b></li>
                            <li>Bandwidth <b>5 TB</b></li>
                            <li>IP Address <b>1</b></li>
                            <li><b>High Priority Support</b></li>
                        </ul>
                        <a href="dedicated_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4" data-aos="zoom-in-down">
                    <div class="hosting_plan_box">
                        <h3>VPS Hosting</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer
                            eget dolorenean massa.
                        </p>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>29<span>.99</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <ul class="hosting_plan_list">
                            <li>CPU <b>Dual Core</b></li>
                            <li>Ram <b>2 GB</b></li>
                            <li>VPS Disk <b>40 TB</b></li>
                            <li>Bandwidth <b>1 TB</b></li>
                            <li><b>Full root/ssh for VPS</b></li>
                            <li><b>FREE</b> SSL Certificate</li>
                        </ul>
                        <a href="vps_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Hosting Plan Section-->
    <section class=" padding_bottom_100 padding_top_100 bg_e9f5ff text-center">
        <div class="container">
            <div class="row margin_bottom_70">
                <div class="col"></div>
                <div class="col-xl-7 col-lg-8 col-md-9 pull_up_section">
                    <div class="section_heading wow fadeInUp" data-wow-delay=".5s">
                        <div class="color_text">Fully Managed, Dedicated Resources</div>
                        <h2>Hostiko Present you services with
                            <span>flexible and convenient</span> Plans</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean commodo ligula
                            eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet" data-aos="fade-up">
                    <div class="hosting_plan_box dd_hosting_plan">
                        <h3>DS - 01</h3>
                        <ul class="hosting_plan_list">
                            <li><b>Intel E3-1220LV2</b></li>
                            <li>Dual COre</li>
                            <li><b>4 GB</b> RAM</li>
                            <li><b>1000 GB</b> HDD in RAID 1</li>
                            <li><b>5 TB</b> Bandwidth</li>
                            <li><b>1 Dedicated IP + 2 Free IP's</b></li>
                            <li>Full<b> Root </b>Access</li>
                            <li><b>Instant</b> Provisioning</li>
                        </ul>
                        <div class="dd_price">$<span>119</span><small>/mo</small></div>
                        <a href="shared_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 margin_tablet" data-aos="fade-up">
                    <div class="hosting_plan_box dd_hosting_plan">
                        <h3>DS - 02</h3>
                        <ul class="hosting_plan_list">
                            <li><b>Intel E3-1220LV2</b></li>
                            <li>Dual COre</li>
                            <li><b>4 GB</b> RAM</li>
                            <li><b>1000 GB</b> HDD in RAID 1</li>
                            <li><b>5 TB</b> Bandwidth</li>
                            <li><b>1 Dedicated IP + 2 Free IP's</b></li>
                            <li>Full<b> Root </b>Access</li>
                            <li><b>Instant</b> Provisioning</li>
                        </ul>
                        <div class="dd_price">$<span>129</span><small>/mo</small></div>
                        <a href="dedicated_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 margin_mobile" data-aos="fade-up">
                    <div class="hosting_plan_box dd_hosting_plan">
                        <h3>DS - 03</h3>
                        <ul class="hosting_plan_list">
                            <li><b>Intel E3-1220LV2</b></li>
                            <li>Dual COre</li>
                            <li><b>4 GB</b> RAM</li>
                            <li><b>1000 GB</b> HDD in RAID 1</li>
                            <li><b>5 TB</b> Bandwidth</li>
                            <li><b>1 Dedicated IP + 2 Free IP's</b></li>
                            <li>Full<b> Root </b>Access</li>
                            <li><b>Instant</b> Provisioning</li>
                        </ul>
                        <div class="dd_price">$<span>149</span><small>/mo</small></div>
                        <a href="vps_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                        <div class="feature_tag">
                            Best Value
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6" data-aos="fade-up">
                    <div class="hosting_plan_box dd_hosting_plan">
                        <h3>DS - 04</h3>
                        <ul class="hosting_plan_list">
                            <li><b>Intel E3-1220LV2</b></li>
                            <li>Dual COre</li>
                            <li><b>4 GB</b> RAM</li>
                            <li><b>1000 GB</b> HDD in RAID 1</li>
                            <li><b>5 TB</b> Bandwidth</li>
                            <li><b>1 Dedicated IP + 2 Free IP's</b></li>
                            <li>Full<b> Root </b>Access</li>
                            <li><b>Instant</b> Provisioning</li>
                        </ul>
                        <div class="dd_price">$<span>199</span><small>/mo</small></div>
                        <a href="vps_hosting.html" class="btn_hosting_plan">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Hero Banner Section-->
    <section class=" padding_bottom_200 padding_top_100 bg_e9f5ff text-center">
        <div class="container">
            <div class="row margin_bottom_70">
                <div class="col"></div>
                <div class="col-xl-7 col-lg-8 col-md-9 pull_up_section">
                    <div class="section_heading wow fadeInUp" data-wow-delay=".5s">
                        <div class="color_text">Cheap virtual Private server</div>
                        <h2>Hostiko Present you services with
                            <span>flexible and convenient</span> Plans</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean commodo ligula
                            eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="heading-spacer col-xs-12"></div>
            <div class="slider-container" data-aos="fade-up">
                <div class="price_rangetxt">
                    <!--price_rangetxt-->

                    <div class="row">
                        <ul class="slider_nodes">
                            <li>
                                <div id="icon-0" class="icon"><span>VPS - 01</span></div>
                            </li>
                            <li>
                                <div id="icon-1" class="icon"><span>VPS - 02</span></div>
                            </li>
                            <li>
                                <div id="icon-2" class="icon"><span>VPS - 03</span></div>
                            </li>
                            <li>
                                <div id="icon-3" class="icon"><span>VPS - 04</span></div>
                            </li>
                            <li>
                                <div id="icon-4" class="icon"><span>VPS - 05</span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="slider_node row">
                        <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="sliderbox">
                                <div id="slider"></div>
                                <!--sliderbox-->
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="slider_detail">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-6 margin_mobile">
                            <div id="cpu_val" class="slider_feature_box">
                                <div class="value_text w-50 float-left">Processor<br> <span class="value"></span></div>
                                <div class="image_holder w-50 float-left"><img alt="" src="assets/images/svg/vps_plan_img01.svg"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-6 margin_mobile">
                            <div id="ram_val" class="slider_feature_box">
                                <div class="value_text w-50 float-left">Memory<br> <span class="value"></span></div>
                                <div class="image_holder w-50 float-left"><img alt="" src="assets/images/svg/vps_plan_img02.svg"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                            <div id="hdd_val" class="slider_feature_box">
                                <div class="value_text w-50 float-left">Hard Disk<br><span class="value"></span></div>
                                <div class="image_holder w-50 float-left"><img alt="" src="assets/images/svg/vps_plan_img03.svg"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                            <div id="bandwidth_val" class="slider_feature_box border_right_none">
                                <div class="value_text w-50 float-left">Bandwidth<br> <span class="value"></span></div>
                                <div class="image_holder w-50 float-left"><img alt="" src="assets/images/svg/vps_plan_img04.svg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider_price_box">
                    <ul class="list_slider_price_box">
                        <li>
                            <div class="coupon_box"><small>Coupon Code</small>
                                AKD250</div>
                            <div class="slider_discount_box"><div>25%</div> off</div>
                        </li>
                        <li>
                            <div class="price_txt smallbox"><strike>$99.99</strike><span id="price_val" class="numeric1"></span>/mo</div>
                        </li>
                        <li>
                            <a href="#" class="learn-more buynow_button">Order Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Slider Section-->
<div id="default_footer" class="outer_default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/stacktable.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    jQuery('.box_counter').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 6000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $('.table').stacktable({myClass:'dedicate_server_table'});
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>