<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css"/>
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <!--Hero Banner Section-->
    <section class="blog_banner">
        <div class="container">
            <div class="banner_content_box blog_page_banner">
                <h1>SSL Certificates</h1>
                <p>If you don’t have the little green lock from a trusted SSL certificate <br>
                    Google Chrome will tag your site as Not Secure.</p>
                <div class="breadcrumb">
                    <ul class="">
                        <li><a href="index.html">Home</a> </li>
                        <li class="active"><a href="#">SSL Certificates</a></li>
                    </ul>
                    <!--breadcrumb-->
                </div>
                <!--page-title-->
            </div>
        </div>
    </section>
    <!--End Slider Section-->
    <!--Hosting Plan Section-->
    <section class="padding_bottom_100 padding_top_100 bg_d8eff5 text-center">
        <div class="container">
            <div class="section_heading margin_bottom_70">
                <h2 class="color_2f395d">Plan and Pricing</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 tablet_margin_box">
                    <div class="hosting_plan_box pages_plan">
                        <h3>Protect One Website</h3>
                        <ul class="hosting_plan_list pages_plan_list">
                            <li>Secures one <b>website</b></li>
                            <li>Strong SHA2 & <b>2048-bit encryption</b></li>
                            <li><b>Available</b> in DV, OtV and EV SSL</li>
                            <li>EV SSL turns <b>browser bar green</b></li>
                            <li><b>Boosts your</b> site’s Google ranking</li>
                        </ul>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>2<span>.95</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <a href="shared_hosting.html" class="btn_hosting_plan margin_top_30">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 tablet_margin_box">
                    <div class="hosting_plan_box pages_plan">
                        <h3>Protect Multiple Websites</h3>
                        <ul class="hosting_plan_list pages_plan_list">
                            <li>Secures one <b>website</b></li>
                            <li>Strong SHA2 & <b>2048-bit encryption</b></li>
                            <li><b>Available</b> in DV, OtV and EV SSL</li>
                            <li>EV SSL turns <b>browser bar green</b></li>
                            <li><b>Boosts your</b> site’s Google ranking</li>
                        </ul>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>2<span>.95</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <a href="shared_hosting.html" class="btn_hosting_plan margin_top_30">Get Started Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mobile_margin_box">
                    <div class="hosting_plan_box pages_plan">
                        <h3>Protect All Subdomains</h3>
                        <ul class="hosting_plan_list pages_plan_list">
                            <li>Secures one <b>website</b></li>
                            <li>Strong SHA2 & <b>2048-bit encryption</b></li>
                            <li><b>Available</b> in DV, OtV and EV SSL</li>
                            <li>EV SSL turns <b>browser bar green</b></li>
                            <li><b>Boosts your</b> site’s Google ranking</li>
                        </ul>
                        <div class="hosting_price_box">
                            <div class="inner_hosting_price_box">
                                <small>Start</small>
                                <div class="price_box"><span>$</span>2<span>.95</span></div>
                                <small>/mo</small>
                            </div>
                        </div>
                        <a href="shared_hosting.html" class="btn_hosting_plan margin_top_30">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <section class="padding_top_100 padding_bottom_100 bg_fff all_plan_section">
        <div class="container">
            <div class="section_heading text-center margin_bottom_60" data-aos="fade-up">
                <h2>All Plans also include:</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4" data-aos="fade-up">
                    <ul class="plans_feature_list">
                        <li>Integer vitae <b>libero ac</b> risus egestas.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor <b>dapibus</b> neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                        <li><b>Cras</b> ornare tristique elit.</li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4" data-aos="fade-up">
                    <ul class="plans_feature_list">
                        <li>Integer vitae <b>libero ac</b> risus egestas.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor <b>dapibus</b> neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                        <li><b>Cras</b> ornare tristique elit.</li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4" data-aos="fade-up">
                    <ul class="plans_feature_list">
                        <li>Integer vitae <b>libero ac</b> risus egestas.</li>
                        <li>Aliquam tincidunt mauris eu risus.</li>
                        <li>Vestibulum auctor <b>dapibus</b> neque.</li>
                        <li>Nunc dignissim risus id metus.</li>
                        <li><b>Cras</b> ornare tristique elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!--SSL Certificate Include-->
<!--Ends Here-->
    <!--Testimonial Section-->
    <section class="padding_top_100 padding_bottom_100">
        <div class="container">
            <div class="row margin_bottom_60 text-center">
                <div class="col"></div>
                <div class="col-xl-9 col-lg-11">
                    <div class="section_heading" data-aos="fade-up">
                        <div class="color_text">Discover more about Hostiko</div>
                        <h2>Experience to make sure that Hostiko is the
                            <span>Perfect choice for any Hosting</span> Company.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitenean commodo ligula <br>
                            eget dolor. Aenean massa.
                        </p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div id="testimonial_slider" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators indicator_testimonial_slider">
                    <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial_slider" data-slide-to="1"></li>
                    <li data-target="#testimonial_slider" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box margin_tablet">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Rae Wilson</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Kelley Koehler</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box margin_tablet">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Rae Wilson</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Kelley Koehler</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box margin_tablet">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Rae Wilson</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6" data-aos="fade-up"
                                 data-aos-duration="3000">
                                <div class="testimonial_box">
                                    <div class="testimonial_img_box">
                                        <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                    </div>
                                    <div class="testimonial_content_box">
                                        <ul class="rating_star_list">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5>Kelley Koehler</h5>
                                        <div class="client_designation">Graphic Designer</div>
                                        <p>Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                                        <ul class="social_links_list">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
<div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });

    $( ".comparison_price_plan_list" ).on( "click", "li", function() {
        var pos = $(this).index()+2;
        $("tr").find('td:not(:eq(0))').hide();
        $('td:nth-child('+pos+')').css('display','table-cell');
        $("tr").find('th:not(:eq(0))').hide();
        $('li').removeClass('active');
        $(this).addClass('active');
    });

    // Initialize the media query
    var mediaQuery = window.matchMedia('(min-width: 640px)');

    // Add a listen event
    mediaQuery.addListener(doSomething);

    // Function to do something with the media query
    function doSomething(mediaQuery) {
        if (mediaQuery.matches) {
            $('.sep').attr('colspan',5);
        } else {
            $('.sep').attr('colspan',2);
        }
    }

    // On load
    doSomething(mediaQuery);
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>