<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Home | Hostiko</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
</head>

<body>
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- HEADER SECTION START HERE -->
    <div class="header-main-con w-100 float-left">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a class="navbar-brand p-0" href="index.html">
                    <figure class="mb-0">
                        <img src="assets/images/header-logo.png" alt="header-logo" loading="lazy">
                    </figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link p-0 active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Hosting 
                            </a>
                            <div class="dropdown-menu dropdown-menu-outer" aria-labelledby="navbarDropdown1">
                                <ul class="list-unstyled mb-0">
                                    <li><a class="dropdown-item" href="shared.html">Shared</a></li>
                                    <li><a class="dropdown-item" href="reseller.html">Reseller</a></li>
                                    <li><a class="dropdown-item" href="vps.html">VPS</a></li>
                                    <li><a class="dropdown-item" href="dedicated.html">Dedicated</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="domain.html">Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="https://akdesigner.com/whmcs-templates/?systpl=hostiko-html&layout=42">WHMCS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <ul class="list-unstyled mb-0" >
                                    <li><a href="about.html" class="dropdown-item">About</a></li>
                                    <li><a href="pricing.html" class="dropdown-item">Pricing</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown3">
                                            <li><a href="blog.html" class="dropdown-item">Blog</a></li>
                                            <li><a href="single-blog.html" class="dropdown-item">Single Blog</a></li>
                                            <li><a href="one-column.html" class="dropdown-item">One Column</a></li>
                                            <li><a href="two-column.html" class="dropdown-item">Two Column</a></li>
                                            <li><a href="three-column.html" class="dropdown-item">Three Column</a></li>
                                            <li><a href="three-colum-sidbar.html" class="dropdown-item">Three Column Sidbar</a></li>
                                            <li><a href="four-column.html" class="dropdown-item">Four Column</a></li>
                                            <li><a href="six-colum-full-wide.html" class="dropdown-item">Six Column</a></li>
                                            <li><a href="load-more.html" class="dropdown-item">Load More</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                                        <ul class="dropdown-menu sub-menu" aria-labelledby="dropdown4">
                                            <li><a href="shop.html" class="dropdown-item">Shop</a></li>
                                            <li><a href="product-detail.html" class="dropdown-item">Product Detail</a></li>
                                            <li><a href="cart.html" class="dropdown-item">Cart</a></li>
                                            <li><a href="checkout.html" class="dropdown-item">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="coming-soon.html" class="dropdown-item">Coming Soon</a></li>
                                    <li><a href="404.html" class="dropdown-item">404</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-btns d-flex align-items-center">
                    <div class="login-btn">
                        <a href="contact.html">
                            CONTACT US
                        </a>
                    </div>
                    <!-- <div class="chat-btn">
                        <a href="cart.html">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
    <!-- HEADER SECTION END HERE -->
    <!-- BANNER SECTION START HERE -->
    <section class="banner-main-con w-100 float-left">
        <div class="container">
            <div class="banner-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="banner-text-con">
                    <span class="d-block"><i class="fas fa-check-circle"></i> 30-days money back guarantee</span>
                    <h1>Premium Web Hosting For Everyone.</h1>
                    <p>We make sure your website is fast, secure & always up so your visitors & search engines trust you. Guaranteed</p>
                    <div class="banner-btns generic-btn">
                        <a class="get-started-btn" href="contact.html">GET STARTED</a>
                        <a class="read-btn" href="about.html">READ MORE</a>
                    </div>
                </div>
                <div class="banner-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/banner-right-img.png" alt="banner-right-img">
                    </figure>
                </div>
            </div>
            <div class="banner-social-con">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/accounts/login/?hl=en"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- BANNER SECTION END HERE -->
    <!-- HOSTING TYPES SECTION START HERE -->
    <section class="hosting-types-main-con w-100 float-left padding-bottom light-bg">
        <div class="container">
            <div class="hosting-types-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="hosting-type-box">
                    <figure>
                        <img src="assets/images/hosting-type-img1.png" alt="hosting-type-img1">
                    </figure>
                    <h6>Shared Hosting</h6>
                    <div class="hosting-price-box">
                        <span class="dollar">$</span> <span id="price_val2" class="numeric1">12</span>
                        <div class="month-title">
                            <span id="point_val2" class="numeric2">.99</span>
                            <small>/month</small>
                        </div>
                    </div>
                    <p>Fastest SSD based web hosting platform for your website.</p>
                    <ul class="list-unstyled">
                        <li class="position-relative"><i class="fas fa-check"></i> Single <span>Domain</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> One Click <span>Installs</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> Unlimited <span>Bandwidth</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> SSL <span>Certificate</span></li>
                    </ul>
                    <div class="generic-btn">
                        <a href="shop.html">ORDER NOW</a>
                    </div>
                </div>
                <div class="hosting-type-box">
                    <figure>
                        <img src="assets/images/hosting-type-img2.png" alt="hosting-type-img2">
                    </figure>
                    <h6>VPS Hosting</h6>
                    <div class="hosting-price-box">
                        <span class="dollar">$</span> <span id="price_val3" class="numeric1">26</span>
                        <div class="month-title">
                            <span id="point_val3" class="numeric2">.99</span>
                            <small>/month</small>
                        </div>
                    </div>
                    <p>Fastest SSD based web hosting platform for your website.</p>
                    <ul class="list-unstyled">
                        <li class="position-relative"><i class="fas fa-check"></i> 2 GB <span>RAM</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> 2 <span>Cores CPU</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> 120 GB <span>Disk Space</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> 1.5 TB <span>Bandwidth</span></li>
                    </ul>
                    <div class="generic-btn">
                        <a href="shop.html">ORDER NOW</a>
                    </div>
                </div>
                <div class="hosting-type-box">
                    <figure>
                        <img src="assets/images/hosting-type-img3.png" alt="hosting-type-img3">
                    </figure>
                    <h6>Dedicated Hosting</h6>
                    <div class="hosting-price-box">
                        <span class="dollar">$</span> <span id="price_val4" class="numeric1">48</span>
                        <div class="month-title">
                            <span id="point_val4" class="numeric2">.99</span>
                            <small>/month</small>
                        </div>
                    </div>
                    <p>Fastest SSD based web hosting platform for your website.</p>
                    <ul class="list-unstyled">
                        <li class="position-relative"><i class="fas fa-check"></i> 4 GB <span>RAM</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> 2 <span>Core CPU</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> 0.5 TB <span>Disk (RAID-1)</span></li>
                        <li class="position-relative"><i class="fas fa-check"></i> 10 TB <span>Bandwidth</span></li>
                    </ul>
                    <div class="generic-btn">
                        <a href="shop.html">ORDER NOW</a>
                    </div>
                </div>
            </div>
            <div class="hosting-type-support-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-check-circle"></i> 24/7 Customer Support</li>
                    <li><i class="fas fa-check-circle"></i> 1-click Install</li>
                    <li><i class="fas fa-check-circle"></i> 99.9% Uptime Guarantee</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- HOSTING TYPES SECTION END HERE -->
    <!-- DOMAIN SECTION START HERE -->
    <section class="domain-main-con w-100 float-left padding-top padding-bottom">
        <div class="container">
            <div class="domain-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="domain-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/domain-main-img.png" alt="domain-main-img">
                    </figure>
                </div>
                <div class="domain-text-con">
                    <div class="generic-title">
                        <h2>Find Your New Domain:</h2>
                        <p>Ruis aute irure dolor in reprehenderit in voluptate velit esse cillum <br> officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="domain-serach-con">
                        <input type="text" placeholder="Find Your Domain Name">
                        <button class="search-btn"><i class="fas fa-search"></i> SEARCH NOW</button>
                    </div>
                    <ul class="mb-0 list-unstyled">
                        <li>
                            <figure class="mb-0">
                                <img src="assets/images/domain-logo1.png" alt="domain-logo1">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="assets/images/domain-logo2.png" alt="domain-logo2">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="assets/images/domain-logo3.png" alt="domain-logo3">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="assets/images/domain-logo4.png" alt="domain-logo4">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="assets/images/domain-logo5.png" alt="domain-logo5">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="assets/images/domain-logo6.png" alt="domain-logo6">
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- DOMAIN SECTION END HERE -->
    <!-- HOSTING SLIDER SECTION START HERE -->
    <section class="hosting-slider-main-con w-100 float-left padding-top padding-bottom light-bg">
        <div class="container">
            <div class="generic-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <h2>Advanced Web Hosting Features</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore aeu fugiat nulla pariatur rui officia deserunt mollit anim id est laborum </p>
            </div>
            <div class="hosting-slider-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="owl-carousel owl-theme" id="owl-carousel-hosting">
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img1.png" alt="hosting-slide-img1">
                            </figure>
                            <span class="d-block">Data Centers</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img2.png" alt="hosting-slide-img2">
                            </figure>
                            <span class="d-block">Global Network</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img3.png" alt="hosting-slide-img3">
                            </figure>
                            <span class="d-block">Maximum Perfomance</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img4.png" alt="hosting-slide-img4">
                            </figure>
                            <span class="d-block">Cloud Storage</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img1.png" alt="hosting-slide-img1">
                            </figure>
                            <span class="d-block">Data Centers</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img2.png" alt="hosting-slide-img2">
                            </figure>
                            <span class="d-block">Global Network</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img3.png" alt="hosting-slide-img3">
                            </figure>
                            <span class="d-block">Maximum Perfomance</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img4.png" alt="hosting-slide-img4">
                            </figure>
                            <span class="d-block">Cloud Storage</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img1.png" alt="hosting-slide-img1">
                            </figure>
                            <span class="d-block">Data Centers</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img2.png" alt="hosting-slide-img2">
                            </figure>
                            <span class="d-block">Global Network</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img3.png" alt="hosting-slide-img3">
                            </figure>
                            <span class="d-block">Maximum Perfomance</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hosting-slide-box">
                            <figure>
                                <img src="assets/images/hosting-slide-img4.png" alt="hosting-slide-img4">
                            </figure>
                            <span class="d-block">Cloud Storage</span>
                            <p>Duis aute irure dolor in repreo
                                velit esse cillum dolore fugiat
                                conseuatur aut.</p>
                            <a href="about.html">Read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <!-- HOSTING SLIDER SECTION END HERE -->
    <!-- LOCATIONS SECTION START HERE -->
    <section class="map-location-main-con w-100 float-left padding-top padding-bottom">
        <div class="container">
            <div class="generic-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <h2>Our Data Center Locations</h2>
                <p>You will find everything you need to deploy your service globally</p>
            </div>
            <div class="map-location-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-asia-tab" data-toggle="pill" data-target="#v-pills-asia" type="button" role="tab" aria-controls="v-pills-asia" aria-selected="true">ASIA <i class="fas fa-angle-right"></i></button>
                            <button class="nav-link" id="v-pills-europe-tab" data-toggle="pill" data-target="#v-pills-europe" type="button" role="tab" aria-controls="v-pills-europe" aria-selected="false">EUROPE <i class="fas fa-angle-right"></i></button>
                            <button class="nav-link" id="v-pills-us-tab" data-toggle="pill" data-target="#v-pills-us" type="button" role="tab" aria-controls="v-pills-us" aria-selected="false">UNITED STATES <i class="fas fa-angle-right"></i></button>
                            <button class="nav-link" id="v-pills-middle-east-tab" data-toggle="pill" data-target="#v-pills-middle-east" type="button" role="tab" aria-controls="v-pills-middle-east" aria-selected="false">MIDDLE EAST <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-asia" role="tabpanel" aria-labelledby="v-pills-asia-tab">
                                <div class="map-and-content-con">
                                    <div class="map-img-con">
                                        <figure class="mb-0">
                                            <img src="assets/images/Asia.png" alt="map-img">
                                        </figure>
                                    </div>
                                    <div class="map-content-details-con">
                                        <div class="country-details">
                                            <h6>CHINA</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>INDIA</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>SAUDI ARABIA</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>TURKEY</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>KAZAKHSTAN</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-europe" role="tabpanel" aria-labelledby="v-pills-europe-tab">
                                <div class="map-and-content-con">
                                    <div class="map-img-con">
                                        <figure class="mb-0">
                                            <img src="assets/images/Europe.png" alt="Europe">
                                        </figure>
                                    </div>
                                    <div class="map-content-details-con">
                                        <div class="country-details">
                                            <h6>POLAND</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>BELARUS</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>UKRAINE</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>ITALY</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-us" role="tabpanel" aria-labelledby="v-pills-us-tab">
                                <div class="map-and-content-con">
                                    <div class="map-img-con">
                                        <figure class="mb-0">
                                            <img src="assets/images/USA.png" alt="USA">
                                        </figure>
                                    </div>
                                    <div class="map-content-details-con">
                                        <div class="country-details">
                                            <h6>NEW YORK</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>WYOMING</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>MISSOURI</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>TEXAS</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-middle-east" role="tabpanel" aria-labelledby="v-pills-middle-east-tab">
                                <div class="map-and-content-con">
                                    <div class="map-img-con">
                                        <figure class="mb-0">
                                            <img src="assets/images/Middle_East.png" alt="Middle_East">
                                        </figure>
                                    </div>
                                    <div class="map-content-details-con">
                                        <div class="country-details">
                                            <h6>SAUDI ARABIA</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>IRAN</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>IRAQ</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="country-details">
                                            <h6>AFGHANISTAN</h6>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7" target="_blank">Address: ABC sydney</a></li>
                                                <li><a href="tel:+123456789">Phone: +123456789</a></li>
                                                <li><a href="mailto:info@hostiko.com">Email: info@hostiko.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- LOCATIONS SECTION END HERE -->
    <!-- HOSTING BENEFITS SECTION START HERE -->
    <section class="hosting-benefits-main-con w-100 float-left padding-top padding-bottom">
        <div class="container">
            <div class="hosting-benefit-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="hosting-benefit-content-con">
                    <h2>Let’s Grow Your Business
                        With Our Hosting</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit
                        dolore aeu fugiat nulla pariatur rui officia deserunt mollit
                        est laborum molestiae non recusandae. </p>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-check-circle"></i>Reprehenderit in voluptate velit esse aut rerum</li>
                        <li><i class="fas fa-check-circle"></i>Dolore aeu fugiat nulla pariatur rui officia occaecati.</li>
                        <li><i class="fas fa-check-circle"></i>Laborum molestiae non recusandae delectus.</li>
                    </ul>
                    <div class="generic-btn">
                        <a href="contact.html">GET STARTED</a>
                    </div>
                </div>
                <div class="hosting-benefit-img-con">
                    <figure class="mb-0">
                        <img src="assets/images/hsoting-benefits-img.png" alt="hsoting-benefits-img">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- HOSTING BENEFITS SECTION END HERE -->
    <!-- REVIEW SLIDER SECTION START HERE -->
    <section class="client-review-slider w-100 float-left padding-top padding-bottom light-bg">
        <div class="container">
            <div class="generic-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <h2>What Our Clients are Saying</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore aeu fugiat nulla pariatur rui officia deserunt mollit anim id est laborum </p>
            </div>
            <div class="client-review-outer-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="owl-carousel owl-theme" id="owl-carousel-client">
                    <div class="item">
                        <div class="client-review-box">
                            <figure>
                                <img src="assets/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>Lorem ipsum dolor sit amet, conseci teturei adipiscing elit, sed do eiusm od tempor en incididunt ut labore et dolore magna enim aliqua. Ut enim ad minim veniam.</p>
                            <div class="reviewer-info-box">
                                <figure class="mb-0">
                                    <img src="assets/images/reviewer-img.png" alt="reviewer-img">
                                </figure>
                                <div class="reviewer-details">
                                    <span class="d-block">Jamie Knop</span>
                                    <small class="d-block">Co-Founder</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-review-box">
                            <figure>
                                <img src="assets/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui .</p>
                            <div class="reviewer-info-box">
                                <figure class="mb-0">
                                    <img src="assets/images/reviewer-img2.png" alt="reviewer-img2">
                                </figure>
                                <div class="reviewer-details">
                                    <span class="d-block">Jennifer Troyer</span>
                                    <small class="d-block">Administrator</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-review-box">
                            <figure>
                                <img src="assets/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>Sed ut perspiciatis unde omnis isted natus error sit voluptatem accusanti tium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                            <div class="reviewer-info-box">
                                <figure class="mb-0">
                                    <img src="assets/images/reviewer-img3.png" alt="reviewer-img3">
                                </figure>
                                <div class="reviewer-details">
                                    <span class="d-block">George Michel</span>
                                    <small class="d-block">Director</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="prev-btn">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button class="next-btn">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- REVIEW SLIDER SECTION END HERE -->
    <!-- PARTNER SECTION START HERE -->
    <section class="global-partners-main-con w-100 float-left padding-top">
        <div class="container">
            <div class="generic-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <h2>Our Global Partners</h2>
                <p>Tuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore aeu fugiat nulla pariatur rui officia deserunt mollit anim id est laborum </p>
            </div>
            <div class="global-partners-inner-con wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <ul class="list-unstyled mb-0">
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img1.png" alt="partner-img1">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img2.png" alt="partner-img2">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img3.png" alt="partner-img3">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img4.png" alt="partner-img4">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img5.png" alt="partner-img5">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img6.png" alt="partner-img6">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img7.png" alt="partner-img7">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0">
                            <img src="assets/images/partner-img8.png" alt="partner-img8">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- PARTNER SECTION END HERE -->
    <!-- FOOTER SECTION START HERE -->
    <section class="footer-main-con w-100 float-left">
        <div class="container">
            <div class="builder-main-con">
                <div class="builder-content">
                    <h3>Build Your Website with Hostiko</h3>
                    <p>From professional business to enterprise, we’ve got you covered!</p>
                </div>
                <div class="generic-btn">
                    <a href="contact.html">GET STARTED</a>
                </div>
            </div>
            <div class="footer-inner-con">
                <div class="footer-box">
                    <h6>Our Services</h6>
                    <ul class="list-unstyled mb-0">
                        <li><a href="shared.html">Shared Hosting</a></li>
                        <li><a href="reseller.html">Reseller Hosting</a></li>
                        <li><a href="vps.html">Virtual Private Servers</a></li>
                        <li><a href="dedicated.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Registration</a></li>
                    </ul>
                </div>
                <div class="footer-box">
                    <h6>About Us</h6>
                    <ul class="list-unstyled mb-0">
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="about.html">FAQ</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer-box">
                    <h6>Community</h6>
                    <ul class="list-unstyled mb-0">
                        <li><a href="about.html">Knowledge Base</a></li>
                        <li><a href="contact.html">Privacy Policy</a></li>
                        <li><a href="contact.html">Acceptable Use Policy</a></li>
                        <li><a href="blog.html">News</a></li>
                    </ul>
                </div>
                <div class="footer-box footer-contact-info">
                    <h6>Mailing Address</h6>
                    <ul class="list-unstyled mb-0">
                        <li><a href="https://maps.app.goo.gl/C288MmZTQDghyudZ7"><i class="fas fa-map-marker-alt"></i> 121 King Street, Melbourne Victoria 3000 Australia</a></li>
                        <li><a href="tel:+61383766284"><i class="fas fa-phone-alt"></i> +61 3 8376 6284</a></li>
                        <li><a href="mailto:info@hostiko.com"><i class="fas fa-envelope"></i> info@hostiko.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright-con">
                <div class="copyright-logo-con">
                    <a href="index.html">
                        <figure class="mb-0">
                            <img src="assets/images/footer-logo.png" alt="footer-logo">
                        </figure>
                    </a>
                    <p>Copyright 2024 DesigningMedia. All Rights Reserved</p>
                </div>
                <div class="social-links-con">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-x-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER SECTION END HERE -->
    <a id="button" class="show"></a>
    <!-- js start -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>