<!--Footer Section-->
<section class="py-lg-5 py-md-5 py-4 bg_f2f2f2 text-center">
    <div class="container">
        <figure class="footer04_logo"><img src="assets/images/header_footer/logo_header.png" alt=""></figure>
        <div class="footer04_copyright pb-md-0 pb-3">Copyright © 2020 <a href="www.Hostiko.com">Hostiko.com</a> All Rights Reserved</div>
        <div class="row footer04_contact_info_box">
            <div class="col-xl-4 col-lg-4 col-md-4 py-3 footer04_contact_box01 text-left">
                <div class="font_size_14 line_height_24 color_fff">121 King Street Melbourne Victoria 
                    3000 Australia.</div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 py-3 footer04_contact_box02 text-left">
                <div class="font_size_14 line_height_24 color_fff">Phone:<a href="tel:(123) 123-456789" class="color_fff">(123) 123-456789</a></div>
                <div class="font_size_14 line_height_24 color_fff">Help:<a href="tel:(123) 123-456789" class="color_fff">(123) 123-456789</a></div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 py-3 footer04_contact_box03 text-left">
                <div class="font_size_14 line_height_24 color_fff"><a href="mailto:Support@hostiko.com" class="color_fff">Support@hostiko.com</a></div>
                <div class="font_size_14 line_height_24 color_fff"><a href="mailto:info@hostiko.com" class="color_fff">info@hostiko.com</a></div>
            </div>
        </div>
        <div class="row hide_on_mobile footer04_box">
            <div class="col-xl-4 col-lg-4 col-md-4 footer_links01 hide_on_tablet text-left">
                <h5 class="footer_heading">Quick Links</h5>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <ul class="footer03_links list-unstyled mb-0">
                            <li><a href="shared_hosting.html">Web Hosting</a></li>
                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                            <li><a href="vps_hosting.html">VPS Server</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-lg-6 text-left col-md-12">
                        <ul class="footer03_links list-unstyled mb-0">
                            <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                            <li><a href="domain.html">Domain</a></li>
                            <li><a href="about.html">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 footer_links02 hide_on_tablet text-left">
                <h5 class="footer_heading">Follow Us</h5>
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <ul class="footer03_social_links list-unstyled mb-0">
                            <li><i class="fab fa-facebook-f"></i><a href="#">Facebook</a></li>
                            <li><i class="fab fa-twitter"></i><a href="#">Twitter</a></li>
                            <li><i class="fab fa-linkedin-in"></i><a href="#">Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <ul class="footer03_social_links list-unstyled mb-0">
                            <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
                            <li><i class="fab fa-youtube"></i><a href="#">YouTube</a></li>
                            <li><i class="fab fa-pinterest-p"></i><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 footer03_content_box footer04_content_box text-lg-left">
                <h5 class="footer_heading">About Hostiko</h5>
                <p>We offer fast and unlimited UK based Web Hosting, VPS, Dedicated, Reseller Hosting, and bespoke  hosting.
                    So regardless of your needs and the size of your business, we have your hosting covered!</p>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
