<!--Footer Section-->
<section class="padding_top_75 padding_bottom_75 footer02_section bg_f8f8f8">
    <div class="container">
        <div class="row padding_bottom_20 footer_tablet_hide">
            <div class="col-xl-9 col-lg-9 col-md-12 padding_top_10 footer02_list_link">
                <ul class="footer02_links_list">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shared_hosting.html">Shared Hosting</a></li>
                    <li><a href="vps_hosting.html">VPS Server</a></li>
                    <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                    <li><a href="domains.html">Domains</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 text-right footer02_chat_btn">
                <a href="#" class="chat_btn_footer02">Live Chat</a>
            </div>
        </div>
        <div class="footer02_center_box padding_top_75 padding_bottom_75">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 footer02_content_box text-lg-left text-center">
                    <figure class="footer02_logo"><img src="assets/images/header_footer/logo_header.png" alt=""></figure>
                    <p class="margin_bottom_30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad adipisci asperiores debitis iste iusto magni minus nemo nisi provident quasi, rerum sequi suscipit tenetur voluptate. Cumque dolores odit quasi.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad adipisci asperiores debitis iste iusto magni minus nemo nisi provident quasi.</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 footer02_contact_list">
                    <h5 class="footer_heading text-lg-left text-center">Hostiko Head Office</h5>
                    <ul class="footer01_contact_list">
                        <li>121 King Street,Melbourne Victoria
                            3000 Australia.</li>
                        <li>
                            <div>Phone: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                            <div>Help: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                        </li>
                        <li>
                            <div> <a href="mailto:Support@hostikocom">Support@hostikocom</a></div>
                            <div> <a href="mailto:info@hostiko.com">info@hostiko.com</a></div>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 padding_left_40 footer02_link_box">
                    <h5 class="footer_heading">Services We Offer</h5>
                    <ul class="footer01_links_list">
                        <li><a href="shared_hosting.html">Web Hosting</a></li>
                        <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                        <li><a href="vps_hosting.html">VPS Server</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                        <li><a href="domains.html">Domains</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 footer02_link_box">
                    <h5 class="footer_heading">Legal</h5>
                    <ul class="footer01_links_list">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko-layout18">Submit A Ticket</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/announcements?systpl=hostiko-layout18">Announcement</a></li>
                        <li><a href="//akdesigner.com/whmcs-templates/announcements?systpl=hostiko-layout18">Knowledgebase</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pt-4 px-3 footer02_outer_copyright">
            <div class="copyright_box float-left">
                Copyright © 2020 <a href="https://hostiko.com/">Hostiko.com</a> All Rights Reserved
            </div>
            <div class="ml-auto outer_footer01_social_links">
                <ul class="footer01_social_links mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->