<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<!--Shared Banner Section-->
<section class="bg_sub_page_banner">
    <!--Header-->
    <nav class="navbar navbar-expand-lg top_navigation desktop_navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><figure><img src="assets/images/logo_img.png" alt=""></figure></a>
            <button class="cmn-toggle-switch cmn-toggle-switch__htx navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span>toggle menu</span>
            </button>
            <div class="collapse navbar-collapse mobile_navigation" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto navigation_bar">
                    <li class="nav-item dropdown ">
                        <a class="nav-link" id="navbarDropdown" href="index.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <span class="sr-only">(current)</span></a>
                        <!--<div class="dropdown-menu hosting_dropdown" aria-labelledby="navbarDropdown">-->
                        <!--<a class="dropdown-item active" href="index.html">Header/Footer V1</a>-->
                        <!--<a class="dropdown-item" href="#">Header/Footer V2</a>-->
                        <!--<a class="dropdown-item" href="#">Header/Footer V3</a>-->
                        <!--<a class="dropdown-item" href="#">Header/Footer V4</a>-->
                        <!--<a class="dropdown-item" href="#">Header/Footer V5</a>-->
                        <!--</div>-->
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hosting</a>
                        <div class="dropdown-menu hosting_dropdown" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="shared_hosting.html">Shared Hosting</a>
                            <a class="dropdown-item" href="reseller_hosting.html">Reseller Hosting</a>
                            <a class="dropdown-item" href="dedicated_hosting.html">Dedicated Hosting</a>
                            <a class="dropdown-item active" href="vps_hosting.html">VPS Hosting</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="domain.html">Domain</a>
                    </li>
                    <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown02" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>-->
                    <!--<div class="dropdown-menu pages_dropdown" aria-labelledby="navbarDropdown">-->
                    <!--<div class="custom_mega_menu">-->
                    <!--<div class="row">-->
                    <!--<div class="col-xl-3 col-lg-3">-->
                    <!--<div class="custom_mega_menu_box margin_custom_box">-->
                    <!--<div class="heading_custom_mega_menu_box">WHMCS</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">WHMCS Bridge</a></li>-->
                    <!--<li><a href="#">WHMCS Light Theme</a></li>-->
                    <!--<li><a href="#">WHMCS Dark Theme</a></li>-->
                    <!--<li><a href="#">WHMCS Material Theme</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="custom_mega_menu_box margin_custom_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Company</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">About Us</a></li>-->
                    <!--<li><a href="#">Contact</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="custom_mega_menu_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Blog</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">Blog Post</a></li>-->
                    <!--<li><a href="#">Single Post</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--<div class="col-xl-3 col-lg-3">-->
                    <!--<div class="custom_mega_menu_box margin_custom_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Typography</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">Basic Typography</a></li>-->
                    <!--<li><a href="#">Highlight</a></li>-->
                    <!--<li><a href="#">Block Quotes</a></li>-->
                    <!--<li><a href="#">Image Left Align</a></li>-->
                    <!--<li><a href="#">Ordered,Unordered List</a></li>-->
                    <!--<li><a href="#">Progress Icon’s</a></li>-->
                    <!--<li><a href="#">Icon Bar</a></li>-->
                    <!--<li><a href="#">Divider</a></li>-->
                    <!--<li><a href="#">Google Fonts</a></li>-->
                    <!--<li><a href="#">Alter Box</a></li>-->
                    <!--<li><a href="#">Tables</a></li>-->
                    <!--<li><a href="#">Columns</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xl-3 col-lg-3">-->
                    <!--<div class="custom_mega_menu_box margin_custom_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Plan Pages</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">Plan Pricing</a></li>-->
                    <!--<li><a href="#">SSI Certifications</a></li>-->
                    <!--<li><a href="#">Affiliates</a></li>-->
                    <!--<li><a href="#">Datacenter</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="custom_mega_menu_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Subpages</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">Plan Pricing</a></li>-->
                    <!--<li><a href="#">SSI Certifications</a></li>-->
                    <!--<li><a href="#">Affiliates</a></li>-->
                    <!--<li><a href="#">Datacenter</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xl-3 col-lg-3">-->
                    <!--<div class="custom_mega_menu_box margin_custom_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Account</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">Login</a></li>-->
                    <!--<li><a href="#">Signup</a></li>-->
                    <!--<li><a href="#">Forget Password</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="custom_mega_menu_box margin_custom_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Legal</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">Privacy Policy</a></li>-->
                    <!--<li><a href="#">Terms&Conditions</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="custom_mega_menu_box">-->
                    <!--<div class="heading_custom_mega_menu_box">Site Pages</div>-->
                    <!--<ul class="custom_mega_menu_box_list">-->
                    <!--<li><a href="#">404 Error Page</a></li>-->
                    <!--<li><a href="#">Coming Soon</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown03" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WHMCS</a>
                        <div class="dropdown-menu hosting_dropdown" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/?systpl=hostiko&layout=30">Announcements</a>
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=services&systpl=hostiko&layout=30">Your Services</a>
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php&systpl=hostiko&layout=30">Update Details</a>
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=creditcard&systpl=hostiko&layout=30">Update Credit Cards</a>
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=domains&systpl=hostiko&layout=30">Your Domains</a>
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko&layout=30">Submit A Ticket</a>
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=masspay&all=true&systpl=hostiko&layout=30">Deposite Funds</a>
                            <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=addcontact&systpl=hostiko&layout=30">Manage Contacts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown04" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
                        <div class="dropdown-menu hosting_dropdown" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="about.html">About Us</a>
                            <a class="dropdown-item" href="contact.html">Contact Us</a>
                        </div>
                    </li>
                </ul>
                <div class="select_language_dropdown">
                    <div class="select">
                        <span>English</span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                    <input type="hidden" name="country_name">
                    <ul class="select_language_dropdown_menu">
                        <li id="Eng">English</li>
                        <li id="Ger">German</li>
                        <li id="Rus">Russian</li>
                        <li id="Spa">Spanish</li>
                    </ul>
                </div>
                <form class="form-inline">
                    <div id="myOverlay" class="overlay">
                        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                        <div class="overlay-content">
                            <form action="/action_page.php">
                                <input type="text" placeholder="What are you looking for?" name="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="openBtn" onclick="openSearch()">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="side_nav_box">
                    <a href="#">
                        <img src="assets/images/sub_logo.png" alt="">
                    </a>
                    <p>Lorem Ipsum is simply and dummy text of the able printing type.</p>
                    <ul class="side_nav_social_link">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-circle"></i></a></li>
                    </ul>
                    <div class="vertical_menu">
                        <div class="heading">Navigation</div>
                        <ul class="vertical_menu_list">
                            <li><a href="#">Shared Hosting</a></li>
                            <li><a href="#">Reseller Hosting</a></li>
                            <li><a href="#">Vps Hosting</a></li>
                            <li><a href="#">Dedicated Hosting</a></li>
                            <li><a href="#">Domain Registration</a></li>
                        </ul>
                    </div>
                    <div class="vertical_menu">
                        <div class="heading">Navigation</div>
                        <ul class="vertical_menu_list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Testimonial</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="side_nav_button" style="font-size:30px;cursor:pointer; color: #fff" onclick="openNav()">&#9776;</span>
        </div>
    </nav>
    <!--Ends Here-->
    <div class="banner_content">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 color_fff padding_top_100">
                    <h1 class="font_size_40 line_height_48 font_weight_700 margin_bottom_30">VPS Hosting</h1>
                    <p class="font_size_18 line_height_30 margin_bottom_20">For unrivaled support & state-of-the-art hardware, choose Enterprise VPS Hosting.</p>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--VPS Price Slider-->
<section class="padding_top_100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 outer_slider">
                <div class="heading-spacer col-xs-12"></div>
                <div class="slider-container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-3">
                            <div class="float-left w-100">
                                <div class="slider_node w-50 float-left">
                                    <div class="price-slider-section">
                                        <div class="sliderbox">
                                            <div id="slider"></div>
                                            <!--sliderbox-->
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="price_rangetxt float-left w-50">
                                    <div id="icon-4" class="icon"><span>VPS 5</span></div>
                                    <div id="icon-3" class="icon"><span>VPS 4</span></div>
                                    <div id="icon-2" class="icon"><span>VPS 3</span></div>
                                    <div id="icon-1" class="icon"><span>VPS 2</span></div>
                                    <div id="icon-0" class="icon"><span>VPS 1</span></div>

                                    <div class="clear"></div>
                                    <!--price_rangetxt-->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-9">
                            <div class="row margin_bottom_30">
                                    <div id="cpu_val" class="col-xl-4 col-lg-4 col-md-4 col-4 float-left price_content">
                                        <div class="inner_price_content float-left w-100">
                                            <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon1.png"> </span></div>
                                            <div class="value_text float-left w-100">CPU<br> <span class="value"></span>  </div>
                                        </div>
                                        <!--smallbox-->
                                    </div>

                                    <div id="ram_val" class="col-xl-4 col-lg-4 col-md-4 col-4 float-left price_content">
                                        <div class="inner_price_content float-left w-100">
                                            <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon2.png"> </span></div>
                                            <div class="value_text float-left w-100">RAM<br> <span class="value"></span></div>
                                        </div>
                                        <!--smallbox-->
                                    </div>


                                    <div id="hdd_val" class="col-xl-4 col-lg-4 col-md-4 col-4 float-left price_content">
                                        <div class="inner_price_content float-left w-100">
                                            <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon3.png"> </span></div>
                                            <div class="value_text float-left w-100">Hard Disk<br> <span class="value"></span> </div>
                                        </div>
                                        <!--smallbox-->
                                    </div>

                            </div>
                            <div class="row">

                                    <div id="bandwidth_val" class="col-xl-4 col-lg-4 col-md-4 col-4 float-left price_content">
                                        <div class="inner_price_content float-left w-100">
                                            <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon4.png"> </span></div>
                                            <div class="value_text float-left w-100">Bandwidth<br> <span class="value"></span> </div>
                                        </div>
                                        <!--smallbox-->
                                    </div>

                                    <div id="ip_val" class="col-xl-4 col-lg-4 col-md-4 col-4 float-left price_content">
                                        <div class="inner_price_content float-left w-100">
                                            <div class="image_holder float-left w-100"><span><img alt="" src="assets/images/vps_icon5.png"> </span></div>
                                            <div class="value_text float-left w-100">RAM<br> <span class="value"></span></div>
                                        </div>
                                        <!--smallbox-->
                                    </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                                    <div class="price_box">
                                    <div class="d-inline-block package_price">
                                        <div class="margin_bottom_20"> <strike>$29.99</strike> </div>
                                        <div class="price_txt smallbox"><span id="price_val" class="numeric1"></span>/mo</div>
                                    </div>
                                    <a href="https://www.your-domain.com/?cmd=cart&amp;action=add&amp;id=250" class="vps_btn buynow-button">Order Now</a>                                    <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Experience Hosting Features Plans-->
<section class="hosting_feature_section bg_hosting_feature padding_top_120 padding_bottom_120 text-center">
    <div class="container">
        <h2 class="font_size_40 line_height_48 font_weight_800 color_222 margin_bottom_10">VPS Features</h2>
        <p class="font_size_20 line_height_30 font_weight_400 color_555 margin_bottom_55">For unrivaled support & state-of-the-art hardware, choose Enterprise VPS Hosting.</p>
        <div class="row margin_bottom_50">
            <div class="col-xl-4 col-lg-4 col-md-4 text-left margin_box">
                <div class="vps_hosting_feature_box float-left w-100">
                    <div class="vps_feature_img01 float-left">
                    </div>
                    <div class="vps_feature_content float-left">
                        Full<br>
                        Root Access
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-left margin_box">
                <div class="vps_hosting_feature_box float-left w-100">
                    <div class="vps_feature_img02 float-left">

                    </div>
                    <div class="vps_feature_content float-left">
                        Fastest<br>
                        Provisioning
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-left margin_box">
                <div class="vps_hosting_feature_box float-left w-100">
                    <div class="vps_feature_img03 float-left">

                    </div>
                    <div class="vps_feature_content float-left">
                        Regional<br>
                        data centers
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 text-left margin_box">
                <div class="vps_hosting_feature_box float-left w-100">
                    <div class="vps_feature_img04 float-left">

                    </div>
                    <div class="vps_feature_content float-left">
                        Easy-to-use<br>
                        interface
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-left margin_box">
                <div class="vps_hosting_feature_box float-left w-100">
                    <div class="vps_feature_img05 float-left">

                    </div>
                    <div class="vps_feature_content float-left">
                        Test<br>
                        Environments
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-left">
                <div class="vps_hosting_feature_box float-left w-100">
                    <div class="vps_feature_img06 float-left">

                    </div>
                    <div class="vps_feature_content float-left">
                        Complete<br>
                        Customization
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!-- Technical Specification Section-->
<section class="padding_top_120 padding_bottom_120 technical_specification_section">
    <div class="container">
        <h2 class="font_size_40 line_height_48 font_weight_800 color_fff margin_bottom_10 text-center margin_bottom_55">VPS Server Technical Specifications</h2>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 margin_box">
                <div class="technical_specification_box">
                    <div class="technical_specification_heading margin_bottom_20">Features</div>
                    <ul class="technical_specification_list01">
                        <li>CentOS 6/CentOS 7</li>
                        <li>Multiple locations</li>
                        <li>Private Network</li>
                        <li>Quick VNC access</li>
                        <li>rDNS support</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 margin_box">
                <div class="technical_specification_box">
                    <div class="technical_specification_heading margin_bottom_20">Performance</div>
                    <ul class="technical_specification_list01">
                        <li>Top notch network built with Tier 1 ISPs</li>
                        <li>SSD Storage</li>
                        <li>Tier IV Data Center</li>
                        <li>Backed by Juniper Networks</li>
                        <li>Neustar’s DDoS protection</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="technical_specification_box">
                    <div class="technical_specification_heading margin_bottom_20">Boosters</div>
                    <ul class="technical_specification_list01">
                        <li>cPanel</li>
                        <li>Plesk Onyx</li>
                        <li>WHMCS</li>
                        <li>SAN Storage</li>
                        <li>CDN</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="technical_specification_box">
                    <div class="technical_specification_heading margin_bottom_20">Semi-Managed Support</div>
                    <ul class="technical_specification_list01">
                        <li>Free cPanel Migrations</li>
                        <li>Boot, Login, Network,
                            Hardware, Rebuild</li>
                        <li>Basic server optimization,
                            patching & hardening</li>
                        <li>Basic setup of Applications &
                            Firewall</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Operating System-->
<section class="padding_top_120 padding_bottom_120 operating_system_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-left margin_box">
                <h2 class="font_size_40 line_height_48 font_weight_800 color_222 margin_bottom_15">Operating Systems</h2>
                <p class="font_size_20 line_height_28 margin_bottom_20">Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo</p>
                <a href="#" class="btn_os">Learn More</a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="row margin_bottom_30">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                        <div class="os_outer_box">
                            <figure><img src="assets/images/operating_system_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                        <div class="os_outer_box">
                            <figure><img src="assets/images/operating_system_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                        <div class="os_outer_box">
                            <figure><img src="assets/images/operating_system_img03.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                        <div class="os_outer_box">
                            <figure><img src="assets/images/operating_system_img04.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                        <div class="os_outer_box">
                            <figure><img src="assets/images/operating_system_img05.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                        <div class="os_outer_box">
                            <figure><img src="assets/images/operating_system_img06.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div class="padding_top_120 padding_bottom_120 bg_coa">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-12 coa_img">
                <figure><img src="assets/images/svg/support-img.svg" alt="" class="img-fluid"></figure>
            </div>
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-12 coa_content">
                <div class="font_size_38 line_height_50 font_weight_700 color_fff margin_bottom_20">Questions? Comments?
                    Concerns?</div>
                <p class="font_size_20 line_height_28 font_weight_500 color_fff margin_bottom_40">Whether you need help or just want some tips on where to start: hit up our experts at any time.</p>
                <div>
                    <a href="contact.html" class="btn_coa01 active">Email Us</a>
                    <a href="contact.html" class="btn_coa02">Chat With Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Partner Section-->
<div class="partner_section">
    <div class="padding_top_80 padding_bottom_80 container partner_border_bottom partner_icons">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_bottom">
                <figure><img src="assets/images/partner_img01.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_bottom">
                <figure><img src="assets/images/partner_img02.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4 mobile_margin_bottom">
                <figure><img src="assets/images/partner_img03.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4">
                <figure><img src="assets/images/partner_img04.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4">
                <figure><img src="assets/images/partner_img05.png" alt="" class="img-fluid"></figure>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-4">
                <figure><img src="assets/images/partner_img06.png" alt="" class="img-fluid"></figure>
            </div>
        </div>
    </div>
</div>
<!--Ends Here-->
<!--Footer Section-->
<div class="padding_bottom_75 padding_top_75 bg_footer">
    <div class="container">
        <div class="row footer_details">
            <div class="col-xl-4 col-lg-4 col-md-4 margin_box">
                <ul class="footer_contact_details">
                    <li>
                        <div class="footer_address">
                            121 King Street,Melbourne Victoria<br>
                            3000 Australia..
                        </div>
                    </li>
                    <li>
                        <div class="footer_contact_detail">
                            <a href="tel:123-456789">Phone:(123) 123-456789</a>
                            <a href="tel:123-456789">Help:(123) 123-456789</a>
                        </div>
                    </li>
                    <li>
                        <div class="footer_email_us">
                            <a href="mailto:Support@hostikocom">Support@hostikocom</a>
                            <a href="mailto:info@hostiko.com">info@hostiko.com</a>
                        </div>
                    </li>
                </ul>
                <ul class="footer_social_links">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-4 margin_box quick_links_box">
                <div class="footer_heading">Quick Links</div>
                <ul class="footer_links">
                    <li><a href="shared_hosting.html">Web Hosting</a></li>
                    <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                    <li><a href="vps_hosting.html">VPS Server</a></li>
                    <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                    <li><a href="domain.html">Domains</a></li>
                    <li><a href="#">WHMCS Bridge</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-4 outer_about_hosting_box">
                <div class="about_hosting_box">
                    <div class="footer_heading">About Hostiko</div>
                    <p class="margin_bottom_20">We offer fast and unlimited UK based Web
                        Hosting, VPS, Dedicated, Reseller Hosting, and bespoke hosting. So regardless of your needs and the size of your business, we have your hosting covered!</p>
                    <a href="about.html" class="btn_footer">Read More</a>
                </div>
                <!--Copyrights-->
                <div class="copy_right">Copyright © 2019 <span><a href="#" class="color_230fae">Hostiko.com</a></span><br> All Rights Reserved</div>
            </div>
        </div>
    </div>
</div>
<!--Ends Here-->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script>(function(){

    // Affix
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 70) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });

}());
</script>
<!--language select field-->
<script>
    /*Dropdown Menu*/
    $('.select_language_dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.select_language_dropdown_menu').slideToggle(300);
    });
    $('.select_language_dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.select_language_dropdown_menu').slideUp(300);
    });
    $('.select_language_dropdown .select_language_dropdown_menu li').click(function () {
        $(this).parents('.select_language_dropdown').find('span').text($(this).text());
        $(this).parents('.select_language_dropdown').find('input').attr('value', $(this).attr('id'));
    });
    /*End Dropdown Menu*/


    $('.select_language_dropdown_menu li').click(function () {
        var input = '<strong>' + $(this).parents('.select_language_dropdown').find('input').val() + '</strong>',
            msg = '<span class="msg">Hidden input value: ';
        $('.msg').html(msg + input + '</span>');
    });

    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }


    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    (function() {

        "use strict";

        var toggles = document.querySelectorAll(".cmn-toggle-switch");

        for (var i = toggles.length - 1; i >= 0; i--) {
            var toggle = toggles[i];
            toggleHandler(toggle);
        };

        function toggleHandler(toggle) {
            toggle.addEventListener( "click", function(e) {
                e.preventDefault();
                (this.classList.contains("active") === true) ? this.classList.remove("active") : this.classList.add("active");
            });
        }

    })();

</script>
</body>
</html>