<!--Default Footer-->
<section class="padding_top_60 bg_6115d0 default_footer">
    <div class="container margin_bottom_30">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 mobile_hide">
                <div class="default_footer_links">
                    <h4>Our Services</h4>
                    <ul class="default_footer_links_list">
                        <li><a href="shared_hosting.html">Shared Hosting</a></li>
                        <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                        <li><a href="vps_hosting.html">VPS Hosting</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Hosting</a></li>
                        <li><a href="domain.html">Domain Registration</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 mobile_hide">
                <div class="default_footer_links">
                    <h4>About Us</h4>
                    <ul class="default_footer_links_list">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="testimonial.html">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 mobile_hide">
                <div class="default_footer_links">
                    <h4>Contact Us</h4>
                    <ul class="default_footer_links_list">
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="coming_soon.html">Acceptable Use Policy</a></li>
                        <li><a href="policy.html">Privacy Policy</a></li>
                        <li><a href="terms.html">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 mobile_hide">
                <div class="default_footer_links">
                    <h4>Get In Touch</h4>
                    <ul class="default_footer_links_list">
                        <li>121 King Street, Melbourne <br>
                            Victoria 3000 Australia</li>
                        <li><a href="mailto:info@company.com">info@company.com</a></li>
                        <li><a href="tel:(+1) 123 456 7890">(+1) 123 456 7890</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_4e11a6 padding_top_15 padding_bottom_15">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 footer_logo_box">
                    <figure><img src="assets/images/footer_logo.svg" alt=""></figure>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <ul class="footer_list_link">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shared_hosting.html">Hosting</a></li>
                        <li><a href="domain.html">Domain</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <ul class="footer_social_links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_6115d0 padding_top_20 padding_bottom_20 float-left w-100">
        <div class="container">
            <div class="float-left color_fff copy_right_box">
                Copyright 2019 <a href="#">DesigningMedia</a>. All Rights Reserved
            </div>
            <div class="float-right color_fff copy_right_box">
                Designed by: <a href="#">Designingmedia</a>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->