<!--Footer Section-->
<section class="padding_top_60 padding_bottom_60 bg_6115d0">
    <div class="container">
        <div class="row border_bottom margin_bottom_50">
            <div class="col-xl-6 col-lg-6 footer04_logo">
                <figure><img src="assets/images/footer_logo.svg" alt=""></figure>
            </div>
            <div class="col-xl-6 col-lg-6 footer04_copyright text-right">
                <div>Hostiko by designingmedia © 2019 All rights reserved.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="content_box_footer04">
                    <p>Nullam erat ametam arcu lorme pharetra id risus act sectetur ipsum luctus est ullam erat ametam arcu lorme pharetra id us act sectetur ipsum luctus est.
                        <br>
                        <span>Nullam erat ametam arcu lorme pharetra id risus act sectetur ipsum luctus est ullam erat ametam arcu lorme pharetra id us act sectetur ipsum luctus est.</span>
                    </p>
                    <ul class="footer04_social_links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2"></div>
            <div class="col-xl-3 col-lg-3">
                <ul class="footer04_links_list">
                    <li>Envato Labs, Behind Alis Steet, <br> Melbourne, Australia.</li>
                    <li>8.00 AM - 6:00PM</li>
                    <li><a href="tel:1 (234) 123 4567">1 (234) 123 4567</a></li>
                    <li><a href="mailto:info@hostiko.com">info@hostiko.com</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="footer04_subscription_box">
                    <div class="footer04_subscription_box_heading">Subscribe Us!</div>
                    <p>Nullam erat ametam arcuing lorme pharetra id risus act.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->