<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <!--Hero Banner Section-->
    <section class="padding_top_90 padding_bottom_90 sub_banner">
        <div class="container">
            <div class="sub_banner_content">
                <h1>Hosting Plans</h1>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Plans Pricing</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Slider Section-->
    <!--Hosting Plan Section-->
    <section class="padding_bottom_100 padding_top_100  text-center">
        <div class="container">
            <div class="section_heading margin_bottom_70">
                <h2 class="color_2f395d">Plan and Pricing</h2>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 tablet_margin_box">
                    <div class="hosting_plan_box">
                        <figure><img src="assets/images/svg/price_plan_img01.svg" alt=""></figure>
                        <h3>Shared Hosting</h3>
                        <ul class="hosting_plan_list">
                            <li>Single <b>Domain</b></li>
                            <li>One Click Installs</li>
                            <li><b>Unmetered</b> Bandwidth</li>
                            <li>Free <b>CDN</b> Access</li>
                            <li><b>Free</b> SSL Certificate</li>
                        </ul>
                        <div class="hosting_plan_price">$9.99<small>/mo</small></div>
                        <a href="shared_hosting.html" class="btn_hosting_plan">Order Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 tablet_margin_box">
                    <div class="hosting_plan_box">
                        <figure><img src="assets/images/svg/price_plan_img02.svg" alt=""></figure>
                        <h3>Reseller Hosting!</h3>
                        <ul class="hosting_plan_list">
                            <li>Single <b>Domain</b></li>
                            <li>One Click Installs</li>
                            <li><b>Unmetered</b> Bandwidth</li>
                            <li>Free <b>CDN</b> Access</li>
                            <li><b>Free</b> SSL Certificate</li>
                        </ul>
                        <div class="hosting_plan_price">$11.45<small>/mo</small></div>
                        <a href="reseller_hosting.html" class="btn_hosting_plan">Order Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mobile_margin_box">
                    <div class="hosting_plan_box">
                        <figure><img src="assets/images/svg/price_plan_img03.svg" alt=""></figure>
                        <h3>VPS Server</h3>
                        <ul class="hosting_plan_list">
                            <li>Single <b>Domain</b></li>
                            <li>One Click Installs</li>
                            <li><b>Unmetered</b> Bandwidth</li>
                            <li>Free <b>CDN</b> Access</li>
                            <li><b>Free</b> SSL Certificate</li>
                        </ul>
                        <div class="hosting_plan_price">$19.37<small>/mo</small></div>
                        <a href="#" class="btn_hosting_plan">Order Now</a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="hosting_plan_box">
                        <figure><img src="assets/images/svg/price_plan_img04.svg" alt=""></figure>
                        <h3>Dedicated Server</h3>
                        <ul class="hosting_plan_list">
                            <li>Single <b>Domain</b></li>
                            <li>One Click Installs</li>
                            <li><b>Unmetered</b> Bandwidth</li>
                            <li>Free <b>CDN</b> Access</li>
                            <li><b>Free</b> SSL Certificate</li>
                        </ul>
                        <div class="hosting_plan_price">$29.99<small>/mo</small></div>
                        <a href="dedicated_hosting.html" class="btn_hosting_plan">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Sub Plan Section-->
    <section class="padding_top_100 padding_bottom_100 bg_eef6fe text-center" data-scroll-index="1">
        <div class="container">
            <div class="section_heading margin_bottom_70">
                <h2 class="color_2f395d">Plan and Pricing</h2>
            </div>
            <table class="large-only table dedicate_server_table" data-aos="fade-up">
                <thead class="bg_gradient">
                <tr class="">
                    <th class="">CPU</th>
                    <th class="">CPU Speed</th>
                    <th class="">Memory</th>
                    <th class="">Storage</th>
                    <th class="">In Stock</th>
                    <th class="">Monthly</th>
                    <th class=""></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$12.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$19.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$07.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$25.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!--End Here-->
    <!--Hosting Plan Section-->
    <section class="padding_top_100 padding_bottom_100 ">
        <div class="container">
            <!--Section Heading-->
            <div class="section_heading margin_bottom_70 text-center">
                <h2 class="color_2f395d">Choose Your Plan</h2>
            </div>
            <div class="heading-spacer col-xs-12"></div>
            <div class="slider-container">
                <div class="price_rangetxt">
                    <!--price_rangetxt-->

                    <div class="row">
                        <ul class="slider_nodes">
                            <li>
                                <div id="icon-0" class="icon"><span>VPS 1</span></div>
                            </li>
                            <li>
                                <div id="icon-1" class="icon"><span>VPS 2</span></div>
                            </li>
                            <li>
                                <div id="icon-2" class="icon"><span>VPS 3</span></div>
                            </li>
                            <li>
                                <div id="icon-3" class="icon"><span>VPS 4</span></div>
                            </li>
                            <li>
                                <div id="icon-4" class="icon"><span>VPS 5</span></div>
                            </li>
                        </ul>
                    </div>
                    <div class="slider_node row">
                        <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="sliderbox">
                                <div id="slider"></div>
                                <!--sliderbox-->
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="slider_detail">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 mobile_margin_box">
                            <div class="row margin_bottom_30">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div id="cpu_val" class="slider_feature_box">
                                        <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img01.png"> </span></div>
                                        <div class="value_text">CPU<br> <span class="value"></span></div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div id="ram_val" class="slider_feature_box">
                                        <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img02.png"> </span></div>
                                        <div class="value_text">RAM<br> <span class="value"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div id="hdd_val" class="slider_feature_box">
                                        <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img03.png"> </span></div>
                                        <div class="value_text">Hard Disk<br> <span class="value"></span></div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                                    <div id="bandwidth_val" class="slider_feature_box">
                                        <div class="image_holder"><span><img alt="" src="assets/images/vps_icon_img04.png"> </span></div>
                                        <div class="value_text">Bandwidth<br> <span class="value"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="outer_coupon_box">
                                <div class="coupon_box">
                                    <div class="discount_coupon_box">25% OFF </div>
                                    <div class="coupon_code">Coupon Code: <span>AKD250</span></div>
                                </div>
                                <div class="slider_price_box">
                                    <div class="price_txt smallbox"> <strike>$9.99</strike> <span id="price_val" class="numeric1"></span>/mo</div>
                                    <a href="#" class="learn-more buynow_button">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Testimonial Section-->
    <section class="padding_top_100 padding_bottom_100 bg_eef6fe text-center">
        <div class="container">
            <div class="section_heading margin_bottom_70">
                <h2 class="color_2f395d">See What Others Are Saying</h2>
            </div>
            <div id="testimonial_slider" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators testimonial_slider_indicator">
                    <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial_slider" data-slide-to="1"></li>
                    <li data-target="#testimonial_slider" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="testimonial_box">
                                    <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                                    <div class="client_name">Jhone Doe</div>
                                    <div>CTO</div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="testimonial_box">
                                    <figure><img src="assets/images/testimonial_img02.png" alt=""></figure>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                                    <div class="client_name">Jhone Smith</div>
                                    <div>CTO</div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="testimonial_box">
                                    <figure><img src="assets/images/testimonial_img01.png" alt=""></figure>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                                    <div class="client_name">Jhone Doe</div>
                                    <div>CTO</div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev testimonial_slider_left_arrow" href="#testimonial_slider" data-slide="prev">
                </a>
                <a class="carousel-control-next testimonial_slider_right_arrow" href="#testimonial_slider" data-slide="next">
                </a>

            </div>
        </div>
    </section>
    <!--Ends Here-->
<div id="default_footer" class="outer_default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/stacktable.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    jQuery('.box_counter').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 6000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $('.table').stacktable({myClass:'dedicate_server_table'});
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>