<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <section class="padding_top_90 padding_bottom_90 sub_banner pages_banner">
        <div class="container">
            <div class="sub_banner_content">
                <h1>Hosting Team</h1>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Team</li>
                </ul>
            </div>
        </div>
    </section>
<!--End Slider Section-->
<!--Team Section-->
<section class="padding_bottom_100 padding_top_100 text-center team_section">
    <div class="container">
        <div class="section_heading margin_bottom_50">
            <h2 class="color_2f395d">Meet our Management Team</h2>
            <p>Lorem ipsum dolor sit amet nsdou tinasdfm tritani omittam qui mei oblique taimates.</p>
        </div>
        <div class="row margin_bottom_50">
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img01.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Robert Vance</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img02.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Dennis Elkins</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img03.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Audrey Burford</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img04.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Kathy Bryson</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img05.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Alex Scranton</div>
            </div>
            <div class="col-xl-2 col-gl-2">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img06.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Harvey Kester</div>
            </div>
        </div>
        <div class="row margin_bottom_50">
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img07.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Jeffery Thomas</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img08.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Wanda Dominy</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img09.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Jesse Brown</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img10.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Charles Rodgers</div>
            </div>
            <div class="col-xl-2 col-gl-2 margin_box_mobile">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img11.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Elvira Mikesell</div>
            </div>
            <div class="col-xl-2 col-gl-2">
                <div class="team_img_box">
                    <figure><img src="assets/images/team_img12.png" alt=""></figure>
                    <div class="img_hover_box">
                        <div class="inner_img_hover_box">
                            <ul class="team_social_links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team_member_name">Robert Sheen</div>
            </div>
        </div>
        <a href="#" class="btn_coa">View More Team</a>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }


    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>