<!DOCTYPE html>
<html lang="en">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="icon" href="assets/images/favicon.png">


</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <section class="padding_top_90 padding_bottom_90 sub_banner pages_banner">
        <div class="container">
            <div class="sub_banner_content">
                <h1>Testimonials</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elitaenean commodo</p>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Promos</li>
                </ul>
            </div>
        </div>
    </section>
<!--End Slider Section-->
<!--Testimonial Style One-->
<section class="padding_top_100 padding_bottom_100">
    <div class="container">
        <div class="section_heading margin_bottom_60 color_2f395d">
            <h2>Three Column Testimonial</h2>
        </div>
        <div id="three_column_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators three_column_slider_indicators">
                <li data-target="#three_column_slider" data-slide-to="0" class="active"></li>
                <li data-target="#three_column_slider" data-slide-to="1"></li>
                <li data-target="#three_column_slider" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item three_column_slider_item_box active">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                </div>
                <div class="carousel-item three_column_slider_item_box">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                </div>
                <div class="carousel-item three_column_slider_item_box">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img02.png" alt="" class="img-fluid"></figure>
                        </div>
                        <div class="col-xl-4 col-lg-4 outer_testimonial_box">
                            <div class="testimonial_box text-center">
                                <div class="testimonial_name">Inverness McKenzie <br><small>Designer</small></div>
                                <p>The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review point you end up the content the design.</p>
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <figure><img src="assets/images/testimonial_img01.png" alt="" class="img-fluid"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Style Two-->
<section class="padding_top_75 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box margin_bottom_60 padding_left_40">
            <h2>Two Column Testimonial</h2>
        </div>
        <div id="two_column_slider" class="carousel slide" data-ride="">
            <!-- Indicators -->
            <ul class="carousel-indicators two_column_slider_indicators">
                <li data-target="#two_column_slider" data-slide-to="0" class="active"></li>
                <li data-target="#two_column_slider" data-slide-to="1"></li>
                <li data-target="#two_column_slider" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item two_column_slider_item_box active">
                    <div class="row margin_bottom_30">
                        <div class="col-xl-6 col-lg-6 tablet_margin_box">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img04.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img05.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 tablet_margin_box">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img06.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img07.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item two_column_slider_item_box">
                    <div class="row margin_bottom_30">
                        <div class="col-xl-6 col-lg-6 tablet_margin_box">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img04.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img05.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 tablet_margin_box">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img06.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img07.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item two_column_slider_item_box">
                    <div class="row margin_bottom_30">
                        <div class="col-xl-6 col-lg-6 tablet_margin_box">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img04.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img05.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 tablet_margin_box">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img06.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 text-center">
                                        <figure><img src="assets/images/testimonial_img07.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-8 col-lg-8">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Style Three-->
<section class="padding_top_75 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box margin_bottom_60 padding_left_40">
            <h2>One Column Testimonial</h2>
        </div>
        <div id="one_column_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators one_column_slider_indicators">
                <li data-target="#one_column_slider" data-slide-to="0" class="active"></li>
                <li data-target="#one_column_slider" data-slide-to="1"></li>
                <li data-target="#one_column_slider" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item one_column_slider_item_box active">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 text-center">
                                        <figure><img src="assets/images/testimonial_img04.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="carousel-item one_column_slider_item_box">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 text-center">
                                        <figure><img src="assets/images/testimonial_img04.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="carousel-item one_column_slider_item_box">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="two_column_testimonial_box">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 text-center">
                                        <figure><img src="assets/images/testimonial_img04.png" alt=""></figure>
                                    </div>
                                    <div class="col-xl-9 col-lg-9">
                                        <ul class="rating_star_list margin_bottom_10">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="testimonial_two_client_name margin_bottom_10">Rae Wilson <br> <small>Graphic Designer</small> </div>
                                        <p class="margin_bottom_10">Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus. Donec quam felis, ultricies idiculus muenec.Cum sociis natoque penatibus et magnis dis partu rient montes, nascetur ridiculus mus.</p>
                                        <ul class="testimonial_social_icons">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Style Four-->
<section class="padding_top_75 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box margin_bottom_60 padding_left_40">
            <h2>Two Column Testimonial</h2>
        </div>
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators testimonial_slider_indicator">
                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box tablet_margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img01.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img02.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box tablet_margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img03.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img04.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 margin_box tablet_margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img05.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img06.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<!--Testimonial Style Five-->
<section class="padding_top_75 padding_bottom_60">
    <div class="container">
        <div class="section_heading_box margin_bottom_60 padding_left_40">
            <h2>One Column Testimonial</h2>
        </div>
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators testimonial_slider_indicator">
                <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="1"></li>
                <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xl-8 col-lg-8 col-md-8 margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img01.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xl-8 col-lg-8 col-md-8 margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img01.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-xl-8 col-lg-8 col-md-8 margin_box">
                            <div class="testimonial_box">
                                <ul class="rating_star_list">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <p>Beast let be may days creature, fly abundantly fish saw. Appear cattle hath sea divided waters very good signs gathering behold itself won’t living land void subdue</p>
                                <div class="client_name">Fergus Doucheb <br><small>Designer</small></div>
                                <div class="client_profile_pic">
                                    <figure><img src="assets/images/client_img01.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->
<div id="default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });

    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });

    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }


    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>