<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">


</head>
<body class="rubik_font">

<!--Choose Your VPS Plan-->
<section class="padding_top_200 padding_bottom_100 text-center float-left w-100">
    <div class="container">
        <h2 class="font_size_40 line_height_54 font_weight_400 margin_bottom_60 color_212529">VPS Hosting<br>
            <span class="font_weight_500 color_5c43bc">The High-Performance VPS at an Affordable Price</span></h2>

        <div class="heading-spacer col-xs-12"></div>
        <div class="slider-container bg_color_fafafa">
            <div class="price_rangetxt">
                <div id="icon-0" class="icon"><span>VPS 1</span></div>
                <div id="icon-1" class="icon"><span>VPS 2</span></div>
                <div id="icon-2" class="icon"><span>VPS 3</span></div>
                <div id="icon-3" class="icon"><span>VPS 4</span></div>
                <div id="icon-4" class="icon"><span>VPS 5</span></div>
                <div class="clear"></div>
                <!--price_rangetxt-->
            </div>
            <div class="slider_node float-left w-100">
                <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left">
                    <div class="sliderbox">
                        <div id="slider"></div>
                        <!--sliderbox-->
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="slider_detail float-left w-100 margin_top_30">
                <div class="col-xl-12 col-lg-12 col-md-12 float-left padding_tb_40 border_tb">

                    <div id="cpu_val" class="col-xl-3 col-lg-3 col-md-3  col-3 float-left price_content">
                        <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_icon1.png" class="img-fluid"> </span></div>
                        <div class="value_text float-left">CPU<br> <span class="value"></span>  </div>
                        <!--smallbox-->
                    </div>
                    <div id="ram_val" class="col-xl-3 col-lg-3 col-md-3 col-3 float-left price_content">
                        <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_icon2.png" class="img-fluid"> </span></div>
                        <div class="value_text float-left">RAM<br> <span class="value"></span></div>
                        <!--smallbox-->
                    </div>


                    <div id="hdd_val" class="col-xl-3 col-lg-3 col-md-3 col-3 float-left price_content">
                        <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_icon3.png" class="img-fluid"> </span></div>
                        <div class="value_text float-left">Hard Disk<br> <span class="value"></span> </div>
                        <!--smallbox-->
                    </div>
                    <div id="bandwidth_val" class="col-xl-3 col-lg-3 col-md-3 col-3 float-left price_content">
                        <div class="image_holder float-left"><span><img alt="" src="assets/images/vps_icon4.png" class="img-fluid"> </span></div>
                        <div class="value_text float-left">Bandwidth<br> <span class="value"></span> </div>
                        <!--smallbox-->
                    </div>

                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 float-left">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-6 promotion_area float-left">
                        <div class="discounted_price"><span>25% OFF</span></div>
                        <div class="coupon_code"><span>Coupon Code:AKD250</span></div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-6 padding_tb_40 float-left slider_btn_box">
                        <div class="float-left">
                            <div class="cutted_price"><strike>$14.00/mo</strike></div>
                            <div class="price_txt smallbox"><span id="price_val" class="numeric1"></span>/mo</div>
                        </div>
                        <a href="https://www.your-domain.com/?cmd=cart&amp;action=add&amp;id=250" class="vps_btn buynow-button">Order Now</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
</body>
</html>

