<section class="default_footer bg_ede9ec">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer_contact footer_contact01 position-relative text-lg-left text-center">
                <div class="font_size_14 line_height_20"><span class="font_size_xl_16 font_size_md_14 font_weight_700 color_fa2964 tablet_hide">Address:</span> 121 King Street, Melbourne <br> Victoria 3000 Australia.</div>
            </div>
            <div class="col-md-4 footer_contact footer_contact02 text-center position-relative">
                <div class="font_size_xl_16 font_size_md_14 line_height_xl_22"><span class="font_weight_700 color_fa2964 tablet_hide">Phone:</span><a href="tel:(123) 123-456789" class="color_121212"> +1 234 567 8999</a></div>
            </div>
            <div class="col-md-4 footer_contact footer_contact03 text-center position-relative">
                <div class="font_size_xl_16 font_size_md_14 line_height_xl_22"><span class="font_weight_700 color_fa2964 tablet_hide">E-mail:</span><a href="mailto:info@hostiko.com" class="color_121212"> info@hostiko.com</a></div>
            </div>
        </div>
        <div class="default_footer_inner">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 text-center text-md-left">
                    <a class="navbar-brand" href="index.html">
                        <figure class="figure m-0">
                            <img src="assets/images/svg/logo.svg" alt="Hostiko" class="img-fluid">
                        </figure>
                    </a>
                    <div class="footer_box font_size_14 line_height_24 line_height_sm_20 secondary_font">
                        <p class="color_777777">Lorem ipsum dolor sit amet, no utinamtritani omittam quimei oblique tacim ates iudicabit no, id ius omnis veniam interpretaris.</p>
                        <span class="color_fa2964">Copyright 2020 Hostiko.com <br> All Rights Reserved</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 mobile_hide">
                    <div class="footer_box">
                        <h6 class="font_size_xl_18 font_size_lg_18 line_height_xl_26 font_weight_700 mb-3">Services</h6>
                        <ul class="default_footer_links list-unstyled">
                            <li><a href="shared_hosting.html">Shared Hosting</a></li>
                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                            <li><a href="reseller_hosting.html">Virtual Private Server</a></li>
                            <li><a href="dedicated_hosting.html">Dedicated Servers</a></li>
                            <li><a href="domain.html">Domain</a></li>
                            <li><a href="domain.html">Register Domain</a></li>
                            <li><a href="domain.html">Transfer Domain</a></li>
                            <li><a href="domain.html">Client Area</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 tablet_hide mobile_hide">
                    <div class="footer_box">
                        <h6 class="font_size_xl_18 font_size_lg_18 line_height_xl_26 font_weight_700">Company</h6>
                        <ul class="default_footer_links list-unstyled">
                            <li><a href="#" >Blogs</a></li>
                            <li><a href="#" >About Us</a></li>
                            <li><a href="#" >FAQ</a></li>
                            <li><a href="#" >Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 mobile_hide">
                    <div class="footer_box">
                        <h6 class="font_size_xl_18 font_size_lg_18 line_height_xl_26 font_weight_700">Contact</h6>
                        <ul class="default_footer_links list-unstyled">
                            <li><a href="#" class="mobile" >Contact Us</a></li>
                            <li><a href="#" class="mobile" >Acceptable Use Policy</a></li>
                            <li><a href="#" class="mobile" >Privacy Policy</a></li>
                            <li><a href="#" class="mobile" >Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-lg-center text-md-left text-center padding_top_50 bg-white color_777777 secondary_font py-xl-5 pb-4 tablet_view">
        <span class="d-lg-block d-none font_size_14 line_height_24 letter_spacing_20 ">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and <br> scrambled itbook It has survived not only five centuries but also ic typesetting</span>
        <ul class="social_icon_list text-center list-unstyled d-inline-flex mb-0 mt-xl-4 mt-lg-3 pl-lg-0">
            <li><a href="#" class="social_icon color_121212 text-center align-middle"><i class="fab fa-facebook-f"></i></a></li>
            <li class="mx-2"><a href="#" class="social_icon color_121212 text-center align-middle"><i class="fab fa-twitter"></i></a></li>            
            <li><a href="#" class="social_icon color_121212 text-center align-middle"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>
</section>