<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hostiko</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
    <link rel="shortcut icon" href="assets/images/favicon.png"/>
</head>
<body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

<!--Banner Section-->
<section class="shared_banner Domain_banner">
    <div id="default_header"></div>
    <div class="container">
        <div class="color_fff text-center sub_banner_text row">
            <h1 class="font_size_74 font_weight_400 text-uppercase padding_bottom_25">Domains</h1>
            <div class="breadcrumb margin_bottom_0">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Domains</li>
                </ul>
              </div>
            </div>
        </div>
</section>
<!--Banner Section-->

<!--Domain-Section-->
<div class="domain_section bg_fff4ed padding_top_145 padding_bottom_100 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Start Your <span class="color_ff7d2c">Search!</span></h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>

         <div class="row domain_row">
             <div class="col-xl-12 col-lg-12">
               <div class="search_box text-center">
                 <form action="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&amp;layout=05&amp;a=add&amp;domain=register" method="post">
                  <div class="search_area input-effect float-left">
                   <input type="text" placeholder="Enter your domain name here" class="text_field pull-left effect-20" name="query" size="20">
                  </div>
                  <!--Domain Search Button-->
                  <div class="outer_search_domain_btn">
                    <input type="submit" class="search_btn" value="Domain Search">
                  </div>
                </form>
                <ul class="popular_domains_list">
                    <li><figure><img src="assets/images/domain_img_01.png"></figure>
                        <div class="domain_price">$9/yr</div>
                    </li>
                    <li><figure><img src="assets/images/domain_img_02.png"></figure>
                        <div class="domain_price">$7/yr</div>
                    </li>
                    <li><figure><img src="assets/images/domain_img_03.png"></figure>
                        <div class="domain_price">$9/yr</div>
                    </li>
                    <li><figure><img src="assets/images/domain_img_04.png"></figure>
                        <div class="domain_price">$12/yr</div>
                    </li>
                    <li><figure><img src="assets/images/domain_img_05.png"></figure>
                        <div class="domain_price">$20/yr</div>
                    </li>
                    <li><figure><img src="assets/images/domain_img_06.png"></figure>
                        <div class="domain_price">$9.99/yr</div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
         </div>
</div>
<!--Domain-Section-->

<!--New-Domain-Section-->
<div class="new_domain_section bg_fff padding_top_95 padding_bottom_100 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">New <span class="color_ff7d2c">Domain</span> Available</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>

         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 margin_box">
                <div class="tld_box text-center">
                    <figure><img src="assets/images/tld_img_01.png"></figure>
                    <div class="tld_box_price">
                        <strong>9</strong>
                        <span>.00</span>
                        <p>/year</p>
                        <a href="dedicated_hosting.html">Register</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 margin_box">
                <div class="tld_box text-center">
                    <figure><img src="assets/images/tld_img_02.png"></figure>
                    <div class="tld_box_price">
                        <strong>19</strong>
                        <span>.99</span>
                        <p>/year</p>
                        <a href="dedicated_hosting.html">Register</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 margin_box">
                <div class="tld_box text-center">
                    <figure><img src="assets/images/tld_img_03.png"></figure>
                    <div class="tld_box_price">
                        <strong>13</strong>
                        <span>.99</span>
                        <p>/year</p>
                        <a href="dedicated_hosting.html">Register</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 margin_box">
                <div class="tld_box tld-mbl-margin text-center">
                    <figure><img src="assets/images/tld_img_04.png"></figure>
                    <div class="tld_box_price">
                        <strong>24</strong>
                        <span>.99</span>
                        <p>/year</p>
                        <a href="dedicated_hosting.html">Register</a>
                    </div>
                </div>
            </div>
            </div>
         </div>
</div>
<!--New-Domain-Section-->

<!--TLD Section-->
<div class="tld_domain_section bg_fff4ed padding_top_95 padding_bottom_230 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">New <span class="color_ff7d2c">Domain</span> Available</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>

         <table class="large-only table domain_table stacktable aos-init aos-animate text-center" data-aos="fade-up">
            <thead class="bg_333 color_fff">
            <tr class="primary_font">
                <th>TLD</th>
                <th>Years</th>
                <th>Register</th>
                <th>Transfer</th>
                <th>Renew</th>
            </tr>
            </thead>
            <tbody class="domain_table_body text-uppercase">
            <tr>
                <td>.com</td>
                <td class="value-bg-01">1</td>
                <td>$ 5.95</td>
                <td class="value-bg-01">$ 5.95</td>
                <td>$ 5.95</td>
            </tr>
            <tr>
                <td>.net</td>
                <td class="value-bg-02">1</td>
                <td>$ 9.95</td>
                <td class="value-bg-02">$ 9.95</td>
                <td>$ 9.95</td>
            </tr>
            <tr>
                <td>.org</td>
                <td class="value-bg-01">1</td>
                <td>$ 13.95</td>
                <td class="value-bg-01">$ 13.95</td>
                <td>$ 13.95</td>
            </tr>
            <tr>
                <td>.us</td>
                <td class="value-bg-02">1</td>
                <td>$ 7.95</td>
                <td class="value-bg-02">$ 7.95</td>
                <td>$ 7.95</td>
            </tr>
            <tr>
                <td>.biz</td>
                <td class="value-bg-01">1</td>
                <td>$ 8.95</td>
                <td class="value-bg-01">$ 8.95</td>
                <td>$ 8.95</td>
            </tr>
    
            <tr>
                <td>.info</td>
                <td class="value-bg-02">1</td>
                <td>$ 12.95</td>
                <td class="value-bg-02">$ 12.95</td>
                <td>$ 12.95</td>
            </tr>
            <tr>
                <td>.co.uk</td>
                <td class="value-bg-01">2</td>
                <td>$ 22.95</td>
                <td class="value-bg-01">$ 22.95</td>
                <td>$ 22.95</td>
            </tr>
            <tr>
                <td>.org.uk</td>
                <td class="value-bg-02">2</td>
                <td>$ 20.95</td>
                <td class="value-bg-02">$ 20.95</td>
                <td>$ 20.95</td>
            </tr>
            <tr>
                <td>.mobi</td>
                <td class="value-bg-01">1</td>
                <td>$ 15.95</td>
                <td class="value-bg-01">$ 15.95</td>
                <td>$ 15.95</td>
            </tr>
            <tr>
                <td>.me</td>
                <td class="value-bg-02">1</td>
                <td>$ 7.95</td>
                <td class="value-bg-02">$ 7.95</td>
                <td>$ 7.95</td>
            </tr>
            <tr>
                <td>.pk</td>
                <td class="value-bg-01">1</td>
                <td>$ 9.95</td>
                <td class="value-bg-01">$ 9.95</td>
                <td>$ 9.95</td>
            </tr>
            </tbody>
        </table>
         </div>
</div>
<!--TLD Section-->

<!--Footer Section-->
<div id="default_footer"></div>
<!--Footer Section-->
<a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/stacktable.js"></script>
<script>
 function openNav() {
         document.getElementById("mySidenav").style.right = "0";
         }
         function closeNav() {
         document.getElementById("mySidenav").style.right = "-250px";
         }
         // Search Bar
         function openSearch() {
         document.getElementById("myOverlay").style.display = "block";
         }
         
         function closeSearch() {
         document.getElementById("myOverlay").style.display = "none";
         }
         
         $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
    });
  $('.table').stacktable({myClass:'domain_table'});
  $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    $(window).scroll(function() {
            if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
</script>
</body>
</html>