<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hostiko</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
    <link rel="shortcut icon" href="assets/images/favicon.png"/>
</head>
<body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>


<!--Shared Banner-->
<section class="shared_banner networ_banner">
    <div id="default_header"></div>
    <div class="container">
        <div class="color_fff text-center sub_banner_text row">
            <h1 class="font_size_74 font_weight_400 text-uppercase padding_bottom_25">Network</h1>
            <div class="breadcrumb margin_bottom_0">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Network</li>
                </ul>
              </div>
            </div>
        </div>
</section>
<!--Banner Section-->

<!--Network Section-->
<div class="network-image-section bg_fff4ed padding_top_100 padding_bottom_100 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Our <span class="color_ff7d2c">Datacenter</span></h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
                <figure><img src="assets/images/network_img_01.jpg"></figure>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
              <figure><img src="assets/images/network_img_02.jpg"></figure>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
              <figure><img src="assets/images/network_img_03.jpg"></figure>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
                <figure><img src="assets/images/network_img_01.jpg"></figure>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
              <figure><img src="assets/images/network_img_02.jpg"></figure>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
              <figure><img src="assets/images/network_img_03.jpg"></figure>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
                <figure><img src="assets/images/network_img_01.jpg"></figure>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
              <figure><img src="assets/images/network_img_02.jpg"></figure>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="hover01">
              <figure><img src="assets/images/network_img_03.jpg"></figure>
            </div>
        </div>
        </div>
         </div>
         </div>
<!--Network Section-->

<!--Help Section-->
<div class="help_section padding_top_95 padding_bottom_100 color_fff text-center">
    <div class="container">
            <h1 class="font_weight_400 font_size_52 margin_bottom_22 line_height_50 text-uppercase">Need help?</h1>
            <p class="font_weight_300 padding_bottom_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         <a class="banner_btn" href="contact.html">Get in Touch</a>
         </div>
</div>
<!--Help Section-->

<!--Testimonial Section-->
<div class="testimonial_section padding_top_95 padding_bottom_230 text-left">
    <div class="container">
    
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Reviews</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
         </div>

        <div class="testimonial_box color_fff">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12 caret_img padding_right_0">
                    <figure><img src="assets/images/carret_img.png"></figure>
                </div>
                <div class="col-lg-10 col-md-10 col-12 padding_left_0">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators testimonial_slider_indicator">
              <li data-target="#myCarousel" data-slide-to="0" class="active default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="1" class="default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="2" class="default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="3" class="default_carousel"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="carousel_box">
                        <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                    <div class="client_info">
                        <figure><img src="assets/images/testimonial_line_img.png"></figure>
                        <span>JHON DOE</span>
                    </div>
                  </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>Mark mesty</span>
                </div>
                <div class="item">
                  </div>
              </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>JHON DOE</span>
                </div>
                <div class="item">
                  </div>
              </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>JHON DOE</span>
                </div>
                <div class="item">
                  </div>
              </div>

              </div>
              </div>
            </div>
          </div>
        </div>
            </div>


<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <div class="faq_img_section">
        <figure><img src="assets/images/faq_img.png"></figure>
    </div>
    <div class="accordion01">
    <div class="card outer_question_content">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 secondary_font">
                <button class="btn btn-link question_content collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Is web hosting necessary for a website?
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion01" style="">
            <div class="card-body question_content_body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            </div>
        </div>

            <div class="card-header" id="headingTwo">
                <h5 class="mb-0 secondary_font">
                    <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Can I transfer my web hosting to Hostiko?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion01" style="">
                <div class="card-body question_content_body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </div>
            </div>

                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 secondary_font">
                        <button class="btn btn-link question_content collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How do I choose the right shared hosting plan?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion01" style="">
                    <div class="card-body question_content_body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    </div>
                </div>

                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0 secondary_font">
                            <button class="btn btn-link collapsed question_content border_bottom_none" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                My domain is already taken! What should I do?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion01" style="">
                        <div class="card-body question_content_body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        </div>
                    </div>
    </div>
    
</div>
</div>
</div>
</div>
</div>
<!--Testimonial Section-->

<!--Footer Section-->
<div id="default_footer"></div>
<!--Footer Section-->
<a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<script>
     function openNav() {
         document.getElementById("mySidenav").style.right = "0";
         }
         function closeNav() {
         document.getElementById("mySidenav").style.right = "-250px";
         }
         // Search Bar
         function openSearch() {
         document.getElementById("myOverlay").style.display = "block";
         }
         
         function closeSearch() {
         document.getElementById("myOverlay").style.display = "none";
         }
         
         $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
    });
$(document).ready(function() {
    setTimeout(function() {
        $('.wrapper').addClass('loaded');
    }, 100);
});
$(function(){
    $("#default_header").load("include/default_header.html");
    $("#default_footer").load("include/default_footer.html");
});
$(window).scroll(function() {
            if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
</script>