<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>hostiko</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
    <link rel="shortcut icon" href="assets/images/favicon.png"/>
</head>
<body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

    <!--start header-->
    <!--Header-->

    <!--Ends Here-->

<!--Shared Banner-->
<section class="shared_banner">
    <div id="default_header"></div>
    <div class="container">
        <div class="color_fff text-center sub_banner_text row">
            <h1 class="font_size_74 font_weight_400 text-uppercase padding_bottom_25">Shared Hosting</h1>
            <div class="breadcrumb margin_bottom_0">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Shared</li>
                </ul>
              </div>
            </div>
        </div>
</section>
<!--Banner Section-->

<!--Plan Section-->
<div class="plan-section shared-plan-section bg_fff4ed padding_top_100 padding_bottom_100 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Plan <span class="color_ff7d2c">and</span> Pricing</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>

        <div class="row ">
            <div class="board">
                <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                <div class="board-inner">
                <ul class="nav nav-tabs shared_plan_list border-0 text-center" id="myTab">
                <div class="liner"></div>
                <li class="nav-item active">
                    <a class="nav-link plan-tab-01 secondary_font font_size_16 font_weight_400 active" href="#home" data-toggle="tab" title="">Shared</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link plan-tab-02 secondary_font font_size_16 font_weight_400" href="#profile" data-toggle="tab" title="">Reseller</a>
                </li>
                 </ul></div>

                 <div class="tab-content active">
                  <div class="tab-pane fade in active" id="home">
<div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="home_plan_box shared_plan_box">
                    <div class="price_tag text-uppercase color_fff">
                    <h3 class="font_size_26 font_weight_500 padding_bottom_27">Economy</h3>
                    <div class="font_size_14 line_height_14 padding_bottom_5">Starting</div>
                    <div class="plan_price font_size_60 line_height_60 secondary_font">$19<span>/month</span></div> 
                </div>
                    <ul class="plan-list padding_bottom_33 padding_top_35">
                       <li><strong>1 Website</strong></li>
                       <li><strong>5</strong> Databases</li>
                       <li><strong>Unlimited</strong> Storage</li>
                       <li><strong>cPanel</strong> Control Panel</li>
                       <li><strong>Free</strong> SSL &amp; SSD</li>
                    </ul>
                    <a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Order Now</a>
                 </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="home_plan_box shared_plan_box new_plan_icon">
                    <div class="price_tag text-uppercase color_fff">
                    <h3 class="font_size_26 font_weight_500 padding_bottom_27">Deluxe</h3>
                    <div class="font_size_14 line_height_14 padding_bottom_5">Starting</div>
                    <div class="plan_price font_size_60 line_height_60 secondary_font">$29<span>/month</span></div> 
                </div>
                    <ul class="plan-list padding_bottom_33 padding_top_35">
                        <li><strong>5 Website</strong></li>
                        <li><strong>10</strong> Databases</li>
                        <li><strong>Unlimited</strong> Storage</li>
                        <li><strong>cPanel</strong> Control Panel</li>
                        <li><strong>Free</strong> SSL &amp; SSD</li>
                    </ul>
                    <a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Order Now</a>
                 </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="home_plan_box shared_plan_box">
                    <div class="price_tag text-uppercase color_fff">
                    <h3 class="font_size_26 font_weight_500 padding_bottom_27">Ultimated</h3>
                    <div class="font_size_14 line_height_14 padding_bottom_5">Starting</div>
                    <div class="plan_price font_size_60 line_height_60 secondary_font">$39<span>/month</span></div> 
                </div>
                    <ul class="plan-list padding_bottom_33 padding_top_35">
                        <li><strong>Unlimited Website</strong></li>
                        <li><strong>Unlimited</strong> Databases</li>
                        <li><strong>Unlimited</strong> Storage</li>
                        <li><strong>cPanel</strong> Control Panel</li>
                        <li><strong>Free</strong> SSL &amp; SSD</li>
                    </ul>
                    <a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Order Now</a>
                 </div>
            </div>
        </div>
                  </div>
                  
                  <div class="tab-pane fade" id="profile">
<div class="row">
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
    <div class="home_plan_box shared_plan_box">
        <div class="price_tag text-uppercase color_fff">
        <h3 class="font_size_26 font_weight_500 padding_bottom_27">economy</h3>
        <div class="font_size_14 line_height_14 padding_bottom_5">Starting</div>
        <div class="plan_price font_size_60 line_height_60 secondary_font">$39<span>/month</span></div> 
    </div>
        <ul class="plan-list padding_bottom_33 padding_top_35">
           <li><strong>Unlimited</strong> Domains</li>
           <li>One Click<strong> Installs</strong></li>
           <li><strong>Unmetered</strong> Bandwidth</li>
           <li>PRIVATE <strong>SSL &amp; IP</strong></li>
           <li><strong>Free VoIP</strong> Phone Service</li>

        </ul>
        <a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Order Now</a>
     </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
    <div class="home_plan_box shared_plan_box new_plan_icon">
        <div class="price_tag text-uppercase color_fff">
        <h3 class="font_size_26 font_weight_500 padding_bottom_27">Deluxe</h3>
        <div class="font_size_14 line_height_14 padding_bottom_5">PRICES FROM</div>
        <div class="plan_price font_size_60 line_height_60 secondary_font">$79<span>/month</span></div> 
    </div>
        <ul class="plan-list padding_bottom_33 padding_top_35">
           <li><strong>Unlimited</strong> Domains</li>
           <li>One Click<strong> Installs</strong></li>
           <li><strong>Unmetered</strong> Bandwidth</li>
           <li>PRIVATE <strong>SSL &amp; IP</strong></li>
           <li><strong>Free VoIP</strong> Phone Service</li>

        </ul>
        <a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Order Now</a>
     </div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
    <div class="home_plan_box shared_plan_box">
        <div class="price_tag text-uppercase color_fff">
        <h3 class="font_size_26 font_weight_500 padding_bottom_27">Ultimate</h3>
        <div class="font_size_14 line_height_14 padding_bottom_5">Starting</div>
        <div class="plan_price font_size_60 line_height_60 secondary_font">$100<span>/month</span></div> 
    </div>
        <ul class="plan-list padding_bottom_33 padding_top_35">
           <li><strong>Unlimited</strong> Domains</li>
           <li>One Click<strong> Installs</strong></li>
           <li><strong>Unmetered</strong> Bandwidth</li>
           <li>PRIVATE <strong>SSL &amp; IP</strong></li>
           <li><strong>Free VoIP</strong> Phone Service</li>

        </ul>
        <a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Order Now</a>
     </div>
</div>
</div>
                  </div>

                  <div class="tab-pane fade" id="doner">
<div class="text-center">
<i class="img-intro icon-checkmark-circle"></i>
</div>
<h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
<p class="narrow text-center">
Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
</p>
</div>
<div class="clearfix"></div>
</div>

</div>
</div>
</div>
</div>
<!--Plan Section-->

<!--Webhost Section-->
<div class="web_host_section color_fff padding_top_100 padding_bottom_97 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Web <span class="color_ff7d2c">Hosting</span> Specs</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>
         <div class="row text-left padding_bottom_50">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 list_width">
                <ul class="web_list padding_left_52">
                    <li>Supermicro Blade Servers</li>
                    <li>Instant Server Provisioning</li>
                    <li>Full Root Access</li>
                    <li>Sys-Ad Support Teams</li>
                    <li>Server Mgmt Panel</li>
                    <li>Database Services</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 list_width">
                <ul class="web_list padding_left_55">
                    <li>ClamAV Protection</li>
                    <li>cPanel @ $17</li>
                    <li>Dedicated IPs @ $2.99</li>
                    <li>Mail Services</li>
                    <li>Web OS Patches & Updates</li>
                    <li>DNS Support Services</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 list_width">
                <ul class="web_list list_border padding_left_65">
                    <li>cPanel Installation</li>
                    <li>Troubleshooting & Repairs</li>
                    <li>WHMCS Installation</li>
                    <li>Zend Optimizer</li>
                    <li>SAN Storage @ $10/50GB</li>
                    <li>WHMCS @ $5</li>
                </ul>
            </div>
        </div>
        <a class="web_host_btn" href="https://themeforest.net/item/hostiko-html-whmcs-hosting-theme/21860050?gclid=EAIaIQobChMIurH3sJ3R6gIVBvhRCh07cgTuEAAYASAAEgIRzvD_BwE">View All Specs</a>

         </div>
</div>
<!--Webhost Section-->

<!--Feature Section-->
<div class="feature_section shared_feature_section bg_fff padding_top_100 padding_bottom_100 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase"> Hosti<span class="color_ff7d2c">ko</span> Features</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>
            <div class="container">
               <div class="row padding_bottom_50">
                  <div class="col-xl-4 col-lg-4 col-md-4">
                     <div class="service_box">
                        <figure><img src="assets/images/shared_feature_icon_01.png" alt></figure>
                        <p class="font_size_24 color_333 line_height_26">Quick & Easy Setup</p>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                     <div class="service_box">
                        <figure><img src="assets/images/shared_feature_icon_02.png" alt></figure>
                        <p class="font_size_24 color_333 line_height_26">Blazing Site Performance</p>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                     <div class="service_box">
                        <figure><img src="assets/images/shared_feature_icon_03.png" alt></figure>
                        <p class="font_size_24 color_333 line_height_26">Money Back Guarantee</p>
                     </div>
                  </div>
               </div>

               <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                   <div class="service_box">
                      <figure><img src="assets/images/shared_feature_icon_04.png" alt></figure>
                      <p class="font_size_24 color_333 line_height_26">Professional Email</p>
                   </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                   <div class="service_box">
                      <figure><img src="assets/images/shared_feature_icon_05.png" alt></figure>
                      <p class="font_size_24 color_333 line_height_26">Free Account Migration</p>
                   </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                   <div class="service_box">
                      <figure><img src="assets/images/shared_feature_icon_06.png" alt></figure>
                      <p class="font_size_24 color_333 line_height_26">Free Let's Encrypt SSL</p>
                   </div>
                </div>
             </div>
            </div>
         </div>
</div>
<!--Feature Section-->

<!--Testimonial Section-->
<div class="testimonial_section bg_fff4ed padding_top_95 padding_bottom_230 text-left">
    <div class="container">
    
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Reviews</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
         </div>

        <div class="testimonial_box color_fff">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12 caret_img padding_right_0">
                    <figure><img src="assets/images/carret_img.png"></figure>
                </div>
                <div class="col-lg-10 col-md-10 col-12 padding_left_0">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators testimonial_slider_indicator">
              <li data-target="#myCarousel" data-slide-to="0" class="active default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="1" class="default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="2" class="default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="3" class="default_carousel"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="carousel_box">
                        <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                    <div class="client_info">
                        <figure><img src="assets/images/testimonial_line_img.png"></figure>
                        <span>JHON DOE</span>
                    </div>
                  </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>Mark mesty</span>
                </div>
                <div class="item">
                  </div>
              </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>JHON DOE</span>
                </div>
                <div class="item">
                  </div>
              </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>JHON DOE</span>
                </div>
                <div class="item">
                  </div>
              </div>

              </div>
              </div>
            </div>
          </div>
        </div>
            </div>


<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <div class="faq_img_section">
        <figure><img src="assets/images/faq_img.png"></figure>
    </div>
    <div class="accordion01">
    <div class="card outer_question_content">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 secondary_font">
                <button class="btn btn-link question_content collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Is web hosting necessary for a website?
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion01" style="">
            <div class="card-body question_content_body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            </div>
        </div>

            <div class="card-header" id="headingTwo">
                <h5 class="mb-0 secondary_font">
                    <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Can I transfer my web hosting to Hostiko?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion01" style="">
                <div class="card-body question_content_body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </div>
            </div>

                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 secondary_font">
                        <button class="btn btn-link question_content collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How do I choose the right shared hosting plan?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion01" style="">
                    <div class="card-body question_content_body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    </div>
                </div>

                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0 secondary_font">
                            <button class="btn btn-link collapsed question_content border_bottom_none" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                My domain is already taken! What should I do?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion01" style="">
                        <div class="card-body question_content_body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        </div>
                    </div>
    </div>
    
</div>
</div>
</div>
</div>
</div>
<!--Testimonial Section-->

<!--Footer Section-->
<div id="default_footer"></div>
<!--Footer Section-->
<a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
     function openNav() {
         document.getElementById("mySidenav").style.right = "0";
         }
         function closeNav() {
         document.getElementById("mySidenav").style.right = "-250px";
         }
         // Search Bar
         function openSearch() {
         document.getElementById("myOverlay").style.display = "block";
         }
         
         function closeSearch() {
         document.getElementById("myOverlay").style.display = "none";
         }
         
         $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
    });
$(document).ready(function() {
    setTimeout(function() {
        $('.wrapper').addClass('loaded');
    }, 100);
});
$(function(){
    $("#default_header").load("include/default_header.html");
    $("#default_footer").load("include/default_footer.html");
});
$(window).scroll(function() {
            if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
        $(function(){
$('a[title]').tooltip();
});
</script>

</body>
</html>