<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hostiko</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mobile.css">
    <link rel="shortcut icon" href="assets/images/favicon.png"/>
</head>
<body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

<!--Banner Section-->
<section class="shared_banner vps_banner">
    <div id="default_header"></div>
    <div class="container">
        <div class="color_fff text-center sub_banner_text row">
            <h1 class="font_size_74 font_weight_400 text-uppercase padding_bottom_25">VPS Server</h1>
            <div class="breadcrumb margin_bottom_0">
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li class="active">VPS</li>
                </ul>
              </div>
            </div>
        </div>
</section>
<!--Banner Section-->

<!--VPS Slider Section-->
<div class="vps_slider_section bg_fff4ed padding_top_100 padding_bottom_80 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Plan <span class="color_ff7d2c">and</span> Pricing</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>
         <div class="row vps_slider_box">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="outer_shared_hosting_plan">
            <div class="vps_slider_outer">
                <div class="heading-spacer col-xs-12"></div>
                <div class="slider-container">

                    <div class="price_rangetxt">
                        <!--price_rangetxt-->
                        
                        <div class="slider_node">
                            
                            <div class="row">
                                <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="clear"></div>
                                </div>
                                <ul class="slider_nodes">
                                    <li>
                                        <div id="icon-0" class="icon"><span>VPS 1</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-1" class="icon current"><span>VPS 2</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-2" class="icon"><span>VPS 3</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-3" class="icon"><span>VPS 4</span></div>
                                    </li>
                                    <li>
                                        <div id="icon-4" class="icon"><span>VPS 5</span></div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="sliderbox">
                        <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 9%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30.9597%;"></a><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min default_slide" style="width: 30.9597%;"></div></div>
                        <!--sliderbox-->
                    </div>
                    <div class="slider_detail">
                        <ul class="vps_slider_listing">
                            <li>
                                    <div class="icon_tab bg_69264a">
                                        <figure><img src="assets/images/vps_icon_01.png" alt=""></figure>
                                    </div>
                                    <div class="value_text">CPU 
                                    <div class="slider_feature_box_price"><span class="value">3.20 GHZ</span></div>
                                </div>
   
                            </li>
                            <li>
                                    <div class="icon_tab bg_501d39">
                                        <figure><img src="assets/images/vps_icon_02.png" alt=""></figure>
                                    </div>
                                        <div class="value_text bg_722951">RAM
                                        <div class="slider_feature_box_price"><span class="value">4 GB</span></div>
                                    </div>
                            </li>
                            <li>
                                    <div class="icon_tab bg_3b152a">
                                        <figure><img src="assets/images/vps_icon_03.png" alt=""></figure>
                                    </div>
                                        <div class="value_text bg_622346">Hard Disk
                                    <div class="slider_feature_box_price"><span class="value">30 GB</span></div>
                                </div>
                            </li>
                            <li>
                                    <div class="icon_tab bg_290e1d">
                                        <figure><img src="assets/images/vps_icon_04.png" alt=""></figure>
                                    </div>
                                        <div class="value_text bg_521d3a">Bandwidth
                                    <div class="slider_feature_box_price"><span class="value">Unlimited</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="vps_slider_order_box">
                        <div class="order_inner_box">
                            <div class="price_txt smallbox"><span id="price_val" class="numeric1">$3.50</span>/mo</div>
                            <a href="https://akdesigner.com/whmcs-templates/cart.php?a=add&amp;pid=$25" class="slider_discount_box learn-more buynow_button">Order Now</a>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <div class="vps-box-section">
        </div>
    </div>
         </div>
</div>
<!--VPS Slider Section-->

<!--Webhost Section-->
<div class="web_host_section vps_feature color_fff padding_top_95 padding_bottom_100 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 font_size_52 margin_bottom_20 line_height_50 text-uppercase">VPS  Features</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>
         <div class="row text-left">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 list_width">
                <ul class="web_list padding_left_52">
                    <li>Instant Setup</li>
                    <li>Manage multiple VPS from one account</li>
                    <li>View bandwidth usage</li>
                    <li>View disk usage</li>
                    <li>View memory usage</li>
                    <li>Serial console access</li>
                    <li>VNC access</li>
                    <li>Reboot</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 list_width">
                <ul class="web_list padding_left_55">
                    <li>View network information</li>
                    <li>View graphs &amp; statistics</li>
                    <li>Edit account details</li>
                    <li>Backup virtual server</li>
                    <li>Mount ISO images</li>
                    <li>Shutdown</li>
                    <li>Boot</li>
                    <li>Power off</li>
                    </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 list_width">
                <ul class="web_list list_border padding_left_65">
                    <li>Reinstall</li>
                    <li>Change hostname</li>
                    <li>Change root password</li>
                    <li>Change VNC/console password</li>
                    <li>Set reverse dns</li>
                    <li>API access</li>
                    <li>Full language support</li>
                    <li>Set main ipaddress</li>
                    </ul>
            </div>
        </div>

         </div>
</div>
<!--Webhost Section-->

<!--Support Section-->
<div class="support_section bg_fff padding_top_90 padding_bottom_100 text-center">
    <div class="container">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Applications <span class="color_ff7d2c">We Support</span></h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         </div>
         <div class="dedicated_app_img">
            <ul>
                <li><figure><img src="assets/images/dedicated_app_img_01.png"></figure></li>
                <li><figure><img src="assets/images/dedicated_app_img_02.png"></figure></li>
                <li><figure><img src="assets/images/dedicated_app_img_03.png"></figure></li>
                <li><figure><img src="assets/images/dedicated_app_img_04.png"></figure></li>
                <li><figure><img src="assets/images/dedicated_app_img_05.png"></figure></li>
                <li><figure><img src="assets/images/dedicated_app_img_06.png"></figure></li>
            </ul>
        </div>
         </div>
</div>
<!--Support Section-->

<!--Control Panal Section-->
<div class="help_section control_panal_sec padding_top_90 padding_bottom_100 color_fff">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7">
            <h1 class="font_weight_400 font_size_52 margin_bottom_27 line_height_60 text-uppercase">Take Full Control With The <span class="color_ff7d2c">#1 Control Panel:</span> WHM</h1>
            <p class="font_weight_300 padding_bottom_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa um sociis natoque penatibus et magnis</p>
         <a class="panal_btn" href="contact.html">View WHM Demo</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5">
            <figure><img src="assets/images/panal_img.png"></figure>
        </div>
         </div>
        </div>
</div>
<!--Control Panal Section-->

<!--Testimonial Section-->
<div class="testimonial_section bg_fff4ed padding_top_95 padding_bottom_230 text-left">
    <div class="container">
    
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="section_heading">
            <h1 class="font_weight_400 color_333 font_size_52 margin_bottom_20 line_height_50 text-uppercase">Reviews</h1>
            <p class="font_weight_300">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
         </div>

        <div class="testimonial_box color_fff">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12 caret_img padding_right_0">
                    <figure><img src="assets/images/carret_img.png"></figure>
                </div>
                <div class="col-lg-10 col-md-10 col-12 padding_left_0">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators testimonial_slider_indicator">
              <li data-target="#myCarousel" data-slide-to="0" class="active default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="1" class="default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="2" class="default_carousel"></li>
              <li data-target="#myCarousel" data-slide-to="3" class="default_carousel"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="carousel_box">
                        <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                    <div class="client_info">
                        <figure><img src="assets/images/testimonial_line_img.png"></figure>
                        <span>JHON DOE</span>
                    </div>
                  </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>Mark mesty</span>
                </div>
                <div class="item">
                  </div>
              </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>JHON DOE</span>
                </div>
                <div class="item">
                  </div>
              </div>

              <div class="item">
                <div class="carousel_box">
                    <p class="font_size_20 font_weight_300 line_height_30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                <div class="client_info">
                    <figure><img src="assets/images/testimonial_line_img.png"></figure>
                    <span>JHON DOE</span>
                </div>
                <div class="item">
                  </div>
              </div>

              </div>
              </div>
            </div>
          </div>
        </div>
            </div>


<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <div class="faq_img_section">
        <figure><img src="assets/images/faq_img.png"></figure>
    </div>
    <div class="accordion01">
    <div class="card outer_question_content">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 secondary_font">
                <button class="btn btn-link question_content collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Is web hosting necessary for a website?
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion01" style="">
            <div class="card-body question_content_body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            </div>
        </div>

            <div class="card-header" id="headingTwo">
                <h5 class="mb-0 secondary_font">
                    <button class="btn btn-link collapsed question_content" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Can I transfer my web hosting to Hostiko?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion01" style="">
                <div class="card-body question_content_body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </div>
            </div>

                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 secondary_font">
                        <button class="btn btn-link question_content collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How do I choose the right shared hosting plan?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion01" style="">
                    <div class="card-body question_content_body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    </div>
                </div>

                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0 secondary_font">
                            <button class="btn btn-link collapsed question_content border_bottom_none" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                My domain is already taken! What should I do?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion01" style="">
                        <div class="card-body question_content_body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                        </div>
                    </div>
    </div>
    
</div>
</div>
</div>
</div>
</div>
<!--Testimonial Section-->

<!--Footer Section-->
<div id="default_footer"></div>
<!--Footer Section-->
<a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script>
     function openNav() {
         document.getElementById("mySidenav").style.right = "0";
         }
         function closeNav() {
         document.getElementById("mySidenav").style.right = "-250px";
         }
         // Search Bar
         function openSearch() {
         document.getElementById("myOverlay").style.display = "block";
         }
         
         function closeSearch() {
         document.getElementById("myOverlay").style.display = "none";
         }
         
         $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
    });
$(document).ready(function() {
    setTimeout(function() {
        $('.wrapper').addClass('loaded');
    }, 100);
});
$(function(){
    $("#default_header").load("include/default_header.html");
    $("#default_footer").load("include/default_footer.html");
});
$(window).scroll(function() {
            if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
</script>

</body>
</html>