<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <!--Title-->
    <title>Hostiko</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="HOSTIKO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose hosting portfolio HTML5 template with ready home page demos.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--fontawesome style-->
    <!--<link rel="stylesheet" href="assets/css/fonts-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/all-stylesheets.css" type="text/css"/>
    <!--style-->
    <link rel="stylesheet" href="assets/css/aos.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/stacktable.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/priceslider.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">

</head>
<body>
<div class="wrapper">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div id="default_header" class="animate-bottom main_header"></div>
    <!--Hero Banner Section-->
    <section class="blog_banner bg_edf4ff">
        <div class="container">
            <div class="banner_content_box sub_page_banner">
                <h1>Hosting Plans</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#">Plans</a></li>
                    </ul>
                    <!--breadcrumb-->
                </div>
                <!--page-title-->
            </div>
        </div>
    </section>
    <!--End Slider Section-->
    <!--Hosting Plan Section-->
    <section class="padding_top_100 padding_bottom_100 text-center">
        <div class="container">
            <div class="section_heading margin_bottom_80">
                <h2 class="color_051646">Our Hosting Plans</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 margin_mobile">
                    <div class="hosting_plan_box">
                        <figure><img src="assets/images/svg/hosting_plan_img01.svg" alt=""></figure>
                        <h3>Web Hosting</h3>
                        <p>Fastest SSD based web hosting
                            platform for your website.</p>
                        <div class="hosting_plan_price_box">$49<span>/Mo</span></div>
                        <ul class="hosting_plan_list">
                            <li>500 GB Disk Space</li>
                            <li>99.9% Uptime Guarantee</li>
                            <li>200 GB Bandwidth</li>
                        </ul>
                        <a href="shared_hosting.html" class="hosting_plan_box_btn">Order Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 margin_mobile">
                    <div class="hosting_plan_box">
                        <figure><img src="assets/images/svg/hosting_plan_img02.svg" alt=""></figure>
                        <h3>VPS Hosting</h3>
                        <p>Fastest SSD based web hosting
                            platform for your website.</p>
                        <div class="hosting_plan_price_box">$79<span>/Mo</span></div>
                        <ul class="hosting_plan_list">
                            <li>1000 GB Disk Space</li>
                            <li>99.9% Uptime Guarantee</li>
                            <li>750 GB Bandwidth</li>
                        </ul>
                        <a href="vps_hosting.html" class="hosting_plan_box_btn">Order Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="hosting_plan_box">
                        <figure><img src="assets/images/svg/hosting_plan_img03.svg" alt=""></figure>
                        <h3>Dedicated Server</h3>
                        <p>Fastest SSD based web hosting
                            platform for your website.</p>
                        <div class="hosting_plan_price_box">$99<span>/Mo</span></div>
                        <ul class="hosting_plan_list">
                            <li>500 GB Disk Space</li>
                            <li>99.9% Uptime Guarantee</li>
                            <li>Unmetered Bandwidth</li>
                        </ul>
                        <a href="dedicated_hosting.html" class="hosting_plan_box_btn">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Hosting Plan Section-->
    <section class="padding_top_100 padding_bottom_100 text-center bg_d8eff5 shared_guarantee_section">
        <div class="container">
            <div class="section_heading margin_bottom_50">
                <h2 class="color_051646">Power At The Right Price With VPS!</h2>
                <p>Dedicated Control & Functionality In A Scalable Environment!</p>
            </div>
            <div class="heading-spacer col-xs-12"></div>
            <div class="slider-container">
                <div class="price_rangetxt">
                    <!--price_rangetxt-->

                    <div class="row">
                        <ul class="slider_nodes">
                            <li>
                                <div id="icon-0" class="icon">
                                    <span>VPS-01</span>
                                    <div class="vps_slider_img"></div>
                                </div>
                            </li>
                            <li>
                                <div id="icon-1" class="icon">
                                    <span>VPS-02</span>
                                    <div class="vps_slider_img"></div>
                                </div>
                            </li>
                            <li>
                                <div id="icon-2" class="icon">
                                    <span>VPS-03</span>
                                    <div class="vps_slider_img"></div>
                                </div>
                            </li>
                            <li>
                                <div id="icon-3" class="icon">
                                    <span>VPS-04</span>
                                    <div class="vps_slider_img"></div>
                                </div>
                            </li>
                            <li>
                                <div id="icon-4" class="icon">
                                    <span>VPS-05</span>
                                    <div class="vps_slider_img"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider_node row">
                    <div class="price-slider-section col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sliderbox">
                            <div id="slider"></div>
                            <!--sliderbox-->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="slider_detail">
                    <ul class="vps_slider_listing">
                        <li>
                            <div id="cpu_val">
                                <div class="value_text">CPU<br> <span class="value"></span> </div>
                            </div>
                        </li>
                        <li>
                            <div id="ram_val">
                                <div class="value_text">RAM<br> <span class="value"></span></div>
                            </div>
                        </li>
                        <li>
                            <div id="hdd_val">
                                <div class="value_text">Hard Disk<br> <span class="value"></span> </div>
                            </div>
                        </li>
                        <li>
                            <div id="bandwidth_val">
                                <div class="value_text">Bandwidth<br> <span class="value"></span> </div>
                            </div>
                        </li>
                        <li>
                            <div class="value_text">Price</div>
                            <div class="price_txt"><span id="price_val" class="numeric1"></span>/mo</div>
                        </li>
                        <li>
                            <a href="#" class="btn_vps_slider">Order Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Ends Here-->
    <!--Hero Banner Section-->
    <section class="padding_top_100 padding_bottom_100 text-center">
        <div class="container">
            <div class="section_heading margin_bottom_50">
                <h2 class="color_051646">Plans & Pricing</h2>
                <p>We provide fast, affordable & secure hosting all over the world.</p>
            </div>
            <table class="large-only table dedicate_server_table" data-aos="fade-up">
                <thead class="bg_gradient">
                <tr class="">
                    <th class="">CPU</th>
                    <th class="">CPU Speed</th>
                    <th class="">Memory</th>
                    <th class="">Storage</th>
                    <th class="">In Stock</th>
                    <th class="">Monthly</th>
                    <th class=""></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$12.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$19.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$07.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$25.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                <tr>
                    <td>Intel Xeon E3-1230v2</td>
                    <td class="">4 x 3.06 GHz +HT</td>
                    <td>12 GB (DDR3)</td>
                    <td>2 x 500 GB SATA</td>
                    <td>4 in stock</td>
                    <td>$10.00</td>
                    <td><a href="#" class="btn-primary dedicated_server_btn">Order Now</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!--End Slider Section-->
<div id="default_footer" class="outer_default_footer"></div>
    <a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/stacktable.js"></script>
<script src="assets/js/vps_slider.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/vps_setting.js"></script>
<script src="assets/js/scrollIt.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/wow.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
        AOS.init();
    });
    $(function(){
        $("#default_header").load("include/default_header.html");
        $("#default_footer").load("include/default_footer.html");
    });
    // Side Nav
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.right = "-250px";
    }
    // Search Bar
    function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
    }

    jQuery('.box_counter').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 6000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    new WOW().init();
    $('.table').stacktable({myClass:'dedicate_server_table'});
    $(function(){
        $.scrollIt({topOffset: 50});
    });
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 80) {
            $('.navbar').addClass('affix');
        } else{
            $('.navbar').removeClass('affix');
        }
    });
</script>
</body>
</html>