<section class="padding_top_100 padding_bottom_100 bg_3d302e">
    <div class="container">
        <div class="row margin_bottom_70">
            <div class="col-xl-4 col-lg-4 col-md-3 text-left default_footer_outer_box">
                <h5 class="default_footer_heading">Quick Links</h5>
                <div class="row">
                    <div class="col-xl-6 col-gl-6 col-md-12">
                        <ul class="default_footer_links">
                            <li><a href="shared_hosting.html">Web Hosting</a></li>
                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                            <li><a href="vps_hosting.html">VPS Server</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-gl-6 text-left col-md-12">
                        <ul class="default_footer_links">
                            <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                            <li><a href="domain.html">Domain</a></li>
                            <li><a href="about.html">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 default_footer_content_box text-left default_footer_outer_box">
                <h5 class="default_footer_heading">About Hostiko</h5>
                <p>We offer fast and unlimited UK based Web Hosting, VPS, Dedicated, Reseller Hosting, and bespoke  hosting.
                    So regardless of your needs and the size of your business, we have your hosting covered!</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-3 padding_left_30 text-left default_footer_outer_box">
                <h5 class="default_footer_heading">Follow Us</h5>
                <div class="row">
                    <div class="col-xl-6 col-gl-6 col-md-12">
                        <ul class="default_footer_social_links">
                            <li><i class="fab fa-facebook-f"></i><a href="#">Facebook</a></li>
                            <li><i class="fab fa-twitter"></i><a href="#">Twitter</a></li>
                            <li><i class="fab fa-linkedin-in"></i><a href="#">Linked in</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-gl-6 col-md-12">
                        <ul class="default_footer_social_links">
                            <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
                            <li><i class="fab fa-youtube"></i><a href="#">You Tube</a></li>
                            <li><i class="fab fa-pinterest-p"></i><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_332726">
        <div class="container">
            <ul class="default_footer_contact_info">
                <li>121 King Street,Melbourne Victoria
                    3000 Australia..</li>
                <li>
                    <div>Phone:<a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                    <div>Help:<a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                </li>
                <li>
                    <div><a href="mailto:Support@hostiko.com">Support@hostiko.com</a></div>
                    <div><a href="mailto:info@hostiko.com">info@hostiko.com</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright_outer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-4 default_footer_logo">
                    <a href="index.html"><figure><img src="assets/images/svg/footer_logo.svg" alt=""></figure></a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <div class="default_copyright_outer">
                        Copyright © 2020 <a href="https://hostiko.com/">Hostiko.com</a> - All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>