<section class="default_footer font_size_16 line_height_30 text-md-left text-center">
    <div class="padding_95">
        <div class="container">
            <div class="default_footer_inner">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-3">
                        <div class="footer_box">
                            <h6>ADDRESS</h6>
                            <ul class="default_footer_links list-unstyled">
                                <li>Your Office Address</li>
                                <li>State and County Name Here</li>
                            </ul>
                            <h6 id="footer_phone">Phone:<a href="tel:+1 234 567 8975"> +1 234 567 8975</a></h6>
                            <h6 id="footer_social_icon" class="mb-lg-3 mb-md-1 mt-md-0 mt-2">Social Media</h6>
                            <ul class="social_icon_list list-unstyled d-inline-flex font_size_18 mb-0">
                                <li><a href="#" class="social_icon color_c5c7c9"><i class="fab fa-twitter"></i></a></li>
                                <li class="mx-3"><a href="#" class="social_icon color_c5c7c9"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="social_icon color_c5c7c9"><i class="fab fa-google-plus-g"></i></a></li>
                                <li class="mx-3"><a href="#" class="social_icon color_c5c7c9"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#" class="social_icon color_c5c7c9"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <div class="footer_box mobile_hide">
                            <h6 class="">OUR SERVICES</h6>
                            <ul class="default_footer_links list-unstyled">
                                <li><a href="shared_hosting.html">Shared Hosting</a></li>
                                <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                                <li><a href="domain.html">Domain Names</a></li>
                                <li><a href="vps_hosting.html">VPS Hosting</a></li>
                                <li><a href="dedicated_hosting.html">Dedicated Servers</a></li>
                                <li><a href="#">SEO Hosting</a></li>
                                <li><a href="#">Cloud Server</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <div class="footer_box mobile_hide">
                            <h6 class="">HELP CENTER</h6>
                            <ul class="default_footer_links list-unstyled">
                                <li><a href="#" >FAQ</a></li>
                                <li><a href="#" >Customer Service</a></li>
                                <li><a href="#" >Service status</a></li>
                                <li><a href="#" >Create a Ticket</a></li>
                                <li><a href="#" >Remote Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="footer_box mobile_hide">
                            <h6 class="">LINKS</h6>
                            <ul class="default_footer_links list-unstyled">
                                <li><a href="#" class="mobile" >Company Blog</a></li>
                                <li><a href="#" class="mobile" >Affiliates</a></li>
                                <li><a href="#" class="mobile" >Careers</a></li>
                                <li><a href="#" class="mobile" >Press & Media</a></li>
                                <li><a href="#" class="mobile" >My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center bg_222328 text-white font_weight_300 py-lg-5 py-md-4 py-3">
        <span class="">©2020 Hostiko, Inc. All Rights Reserved.</span>
    </div>
</section> 
