<!--Footer Section-->
<section class="bg_1c032b padding_top_100 padding_bottom_100 footer03_box">
    <div class="container">
        <div class="row hide_on_mobile">
            <div class="col-xl-4 col-lg-3 hide_on_tablet">
                <h5 class="footer_heading">Quick Links</h5>
                <div class="row">
                    <div class="col-xl-6 col-gl-6 col-md-12">
                        <ul class="footer03_links">
                            <li><a href="shared_hosting.html">Web Hosting</a></li>
                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                            <li><a href="vps_hosting.html">VPS Server</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-gl-6 col-md-12">
                        <ul class="footer03_links">
                            <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                            <li><a href="domain.html">Domain</a></li>
                            <li><a href="about.html">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 footer03_content_box">
                <h5 class="footer_heading">About Hostiko</h5>
                <p>We offer fast and unlimited UK based Web Hosting, VPS, Dedicated, Reseller Hosting, and bespoke  hosting.
                    So regardless of your needs and the size of your business, we have your hosting covered!</p>
            </div>
            <div class="col-xl-4 col-lg-3 padding_left_30 hide_on_tablet">
                <h5 class="footer_heading">Follow Us</h5>
                <div class="row">
                    <div class="col-xl-6 col-gl-6 col-md-12">
                        <ul class="footer03_social_links">
                            <li><i class="fab fa-facebook-f"></i><a href="#">Facebook</a></li>
                            <li><i class="fab fa-twitter"></i><a href="#">Twitter</a></li>
                            <li><i class="fab fa-linkedin-in"></i><a href="#">Linked in</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-gl-6 col-md-12">
                        <ul class="footer03_social_links">
                            <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
                            <li><i class="fab fa-youtube"></i><a href="#">You Tube</a></li>
                            <li><i class="fab fa-pinterest-p"></i><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid footer03_contact_outer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 padding_top_20 padding_bottom_20 footer03_contact_box01">
                <div class="font_size_14 line_height_24">121 King Street, Melbourne Victoria <br>
                    3000 Australia.</div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 padding_top_20 padding_bottom_20 footer03_contact_box02">
                <div class="font_size_14 line_height_24">Phone: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                <div class="font_size_14 line_height_24">Help: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 padding_top_20 padding_bottom_20 footer03_contact_box03">
                <div class="font_size_14 line_height_24"><a href="mailto:Support@hostiko.com">Support@hostiko.com</a></div>
                <div class="font_size_14 line_height_24"><a href="mailto:info@hostiko.com">info@hostiko.com</a></div>
            </div>
        </div>
    </div>
</section>
<section class="bg_1c032b padding_top_30 padding_bottom_30 footer03_last float-left w-100">
    <div class="container">
        <div class="float-left footer02_content_box footer03_logo">
            <a href="index.html">
                <figure class="footer02_logo"><img src="assets/images/svg/logo02.svg" alt=""></figure>
            </a>
        </div>
        <div class="footer03_copyright copyright_box float-right">
            Copyright © 2020 <a href="https://hostiko.com">Hostiko.com</a> All Rights Reserved
        </div>
    </div>
</section>
