<!--Header-->
<header class="header_02">
    <div class="header04_top_bar">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="office_timing">Opening Hours : Monday to Friday - 9AM to 6PM</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 text-right">
                    <ul class="header04_social_links">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padding_top_20 bg_eef6fe header04_main_box">
        <div class="container">
            <div class="row margin_bottom_20 header04_logo_box">
                <div class="col-xl-6 col-lg-4">
                    <!--Logo-->
                    <a class="header03_logo navbar-brand" href="index.html">
                        <img src="assets/images/svg/logo.svg" alt="image of logo">
                    </a>
                </div>
                <div class="col-xl-6 col-lg-8 text-right outer_header03_contact_info">
                    <ul class="header03_contact_info">
                        <li><span>Get Appointment</span>
                            <br>
                            <a href="tel:703 (123) 4567 ">703 (123) 4567 </a>
                        </li>
                        <li>
                            121 King Street, Melbourne <br> Victoria 3000 Australia
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg header03_top_navigation header04_navigation">
                <div class="container">
                    <!--Responsive Toogle Button-->
                    <button class="navbar-toggler header05_toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="header03_navigation_links header04_outer_box">
                        <div class="collapse navbar-collapse navigation inner_header04_outer_box justify-content-between" id="navbarSupportedContent">
                            <ul class="navbar-nav menubar menubar_header04 header04_navbar">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Home
                                    </a>
                                    <div class="dropdown-menu dd_header03 header04_dropdown" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="index.html">Header1/Footer1</a>
                                        <a class="dropdown-item" href="index02.html">Header2/Footer2</a>
                                        <a class="dropdown-item" href="index03.html">Header3/Footer3</a>
                                        <a class="dropdown-item" href="index04.html">Header4/Footer4</a>
                                        <a class="dropdown-item" href="index05.html">Header5/Footer5</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown default_header_dd">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hosting</a>
                                    <div class="dropdown-menu default_dd_menu hosting_dd_menu" aria-labelledby="navbarDropdown">
                                        <div id="accordion" class="hide_on_tablet">
                                            <div class="card hosting_megamenu_dd_card01">
                                                <div class="card-header hosting_megamenu_dd_card01_header" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed dd_collapse_btn dd_btn01" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                            Shared Hosting
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body hosting_megamenu_dd_body">
                                                        <ul class="hosting_megamenu_dd_body_list">
                                                            <li><a href="shared_hosting.html">Shared Hosting</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Default Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PricingPlan&gid=6&systpl=hostiko&layout=36">WHMCS Configureble Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PackageTable&gid=10&systpl=hostiko&layout=36">WHMCS Configureble Comparison Table</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card hosting_megamenu_dd_card02">
                                                <div class="card-header hosting_megamenu_dd_card02_header" id="headingTwo">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed dd_collapse_btn dd_btn02" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Reseller Hosting
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                    <div class="card-body hosting_megamenu_dd_body">
                                                        <ul class="hosting_megamenu_dd_body_list">
                                                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=9">Default Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PricingPlan&gid=6&systpl=hostiko&layout=36">WHMCS Configureble Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PackageTable&gid=10&systpl=hostiko&layout=36">WHMCS Configureble Comparison Table</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card hosting_megamenu_dd_card03">
                                                <div class="card-header hosting_megamenu_dd_card03_header" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed dd_collapse_btn dd_btn03" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            VPS Server
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                    <div class="card-body hosting_megamenu_dd_body">
                                                        <ul class="hosting_megamenu_dd_body_list">
                                                            <li><a href="vps_hosting.html">Default VPS Slider</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=8&carttpl=slider_cart_1&systpl=hostiko&layout=36">WHMCS Configureble Slider 01</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=10&carttpl=slider_cart_2&systpl=hostiko&layout=36">WHMCS Configureble Slider 02</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=8&carttpl=slider_cart_3&systpl=hostiko&layout=36">WHMCS Configureble Slider 03</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card hosting_megamenu_dd_card04">
                                                <div class="card-header hosting_megamenu_dd_card04_header" id="headingFour">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed dd_collapse_btn dd_btn04" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                            Dedicated Server
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                    <div class="card-body hosting_megamenu_dd_body">
                                                        <ul class="hosting_megamenu_dd_body_list">
                                                            <li><a href="dedicated_hosting.html">Default Stackable Price Table</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=DataTable&gid=11&systpl=hostiko&layout=36">WHMCS Configureble Stackable Table</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PricingPlan&gid=7&systpl=hostiko&layout=36">WHMCS Configureble Plan Boxes</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card hosting_megamenu_dd_card05">
                                                <div class="card-header hosting_megamenu_dd_card05_header" id="headingFive">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed dd_collapse_btn dd_btn05" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                            WHMCS Material
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                    <div class="card-body hosting_megamenu_dd_body">
                                                        <ul class="hosting_megamenu_dd_body_list">
                                                            <li><a href="https://akdesigner.com/whmcs-templates/index.php?systpl=hostiko-light">WHMCS Light Theme</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/index.php?systpl=hostiko-dark">WHMCS Dark Theme</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/index.php?systpl=hostiko-material&carttpl=hostiko-cart">WHMCS Material Theme</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="mobile_navigation">
                                            <li><a href="shared_hosting.html">Shared Hosting</a></li>
                                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                                            <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                                            <li><a href="vps_hosting.html">VPS Hosting</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="domain.html" class="nav-link">Domain</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown02" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Company
                                    </a>
                                    <div class="dropdown-menu dd_menu_01 dd_header03 header04_dropdown" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="about.html">About us</a>
                                        <a class="dropdown-item" href="contact.html">Contact us</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown02" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        WHMCS
                                    </a>
                                    <div class="dropdown-menu dd_menu_01 dd_header03 header04_dropdown" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/?systpl=hostiko&layout=36">Announcements</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=services&systpl=hostiko&layout=36">Your Services</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php&systpl=hostiko&layout=36">Update Details</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=creditcard&systpl=hostiko&layout=36">Update Credit Cards</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=domains&systpl=hostiko&layout=36">Your Domains</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko&layout=36">Submit A Ticket</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=masspay&all=true&systpl=hostiko&layout=36">Deposite Funds</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=addcontact&systpl=hostiko&layout=36">Manage Contacts</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown default_header_dd">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                                    <div class="dropdown-menu default_dd_menu header04_dropdown" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="single_post.html">Single Post</a>
                                        <a class="dropdown-item" href="infinite_scroll.html">Infinite Scroll</a>
                                        <a class="dropdown-item" href="load_more.html">Load More</a>
                                        <a class="dropdown-item" href="one_column.html">One Column</a>
                                        <a class="dropdown-item" href="two_column.html">Two Column</a>
                                        <a class="dropdown-item" href="three_column.html">Three Column</a>
                                        <a class="dropdown-item" href="three_colum_sidbar.html">Three Column Sidebar</a>
                                        <a class="dropdown-item" href="four_column.html">Four Column</a>
                                        <a class="dropdown-item" href="six_colum_full_wide.html">Six Column</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!--Ends Here-->