<section class="default_footer bg_0f0f0f padding_tb_115">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 mobile_hide">
                <div class="footer_box mb-md-5 mb-3">
                    <h6 class="font_size_xl_18 font_size_lg_16 line_height_xl_26">OUR SERVICES</h6>
                    <ul class="default_footer_links list-unstyled">
                        <li><a href="shared_hosting.html">Shared Hosting</a></li>
                        <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                        <li><a href="dedicated_hosting.html">Dedicated Hosting</a></li>
                        <li><a href="vps_hosting.html">VPS Hosting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mobile_hide">
                <div class="footer_box">
                    <h6 class="font_size_xl_18 font_size_lg_16 line_height_xl_26">COMPANY</h6>
                    <ul class="default_footer_links list-unstyled">
                        <li><a href="about.html" >About</a></li>
                        <li><a href="contact.html" >Contact Us</a></li>
                        <li><a href="single-post.html" >Blogs</a></li>
                        <li><a href="#" >Network</a></li>                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 tablet_hide mobile_hide">
                <div class="footer_box">
                    <h6 class="font_size_xl_18 font_size_lg_16 line_height_xl_26">SUPPORT</h6>
                    <ul class="default_footer_links list-unstyled">
                        <li><a href="#" class="mobile" >Knowledge Base</a></li>
                        <li><a href="#" class="mobile" >Contact Us</a></li>
                        <li><a href="#" class="mobile" >Submit A Ticket</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box text-center text-md-left px-md-0 px-3 mb-md-0 mb-4">
                    <h6 class="font_size_xl_18 font_size_lg_16 line_height_xl_26">GET IN TOUCH WITH US</h6>
                    <ul class="default_footer_links list-unstyled">
                        <li><a href="https://www.google.com/maps/place/Envato/@-37.817095,144.956292,17z/data=!4m5!3m4!1s0x0:0xb6899234e561db11!8m2!3d-37.817214!4d144.955925?hl=en" ><span class="color_28abe3">Address: </span>Envato Labs, Behind Alis Street, Melbourne, Australia.</a></li>
                        <li><a href="mailto:info@hostiko.com" ><span class="color_28abe3">Email: </span>info@hostiko.com</a></li>
                        <li><a href="tel:(+1) 123 456 7890" ><span class="color_28abe3">Phone: </span>(+1) 123 456 7890</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mobile_hide">
                <div class="footer_box">
                    <h6 class="font_size_xl_18 font_size_lg_16 line_height_xl_26">LEGEAL</h6>
                    <ul class="default_footer_links list-unstyled">
                        <li><a href="domain.html" class="mobile" >Domains</a></li>
                        <li><a href="#" class="mobile" >Accept Use Policy</a></li>
                        <li><a href="#" class="mobile" >Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mobile_hide">
                <div class="footer_box">
                    <h6 class="font_size_xl_18 font_size_lg_16 line_height_xl_26">WHMCS</h6>
                    <ul class="default_footer_links list-unstyled">
                        <li><a href="#" class="mobile" >Announcements</a></li>
                        <li><a href="#" class="mobile" >Register Domain</a></li>
                        <li><a href="#" class="mobile" >Transger Domain</a></li>
                        <li><a href="#" class="mobile" >Client Area</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mobile_hide">
                <div class="footer_box">
                    <h6 class="font_size_xl_18 font_size_lg_16 line_height_xl_26">SOCIAL LINKS</h6>
                    <ul class="social_icon_list text-center list-unstyled d-inline-flex mb-0 mt-xl-4 mt-md-3 pl-lg-0">
                        <li><a href="#" class="color_28abe3"><i class="fab fa-facebook-square"></i></a></li>
                        <li class="mx-lg-3 mx-2"><a href="#" class="color_28abe3"><i class="fab fa-twitter-square"></i></a></li>            
                        <li><a href="#" class="color_28abe3"><i class="fab fa-google-plus-square"></i></a></li>
                        <li class="ml-lg-3 ml-2"><a href="#" class="color_28abe3"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center text-md-left">
                <a class="navbar-brand" href="index.html">
                    <figure class="figure m-0">
                        <img src="assets/images/svg/logo.svg" alt="Hostiko" class="img-fluid">
                    </figure>
                </a>
                <div class="footer_box font_size_14 line_height_24 line_height_sm_20 secondary_font mt-lg-2">
                    <span>Copyright 2020 <a href="https://themeforest.net/item/hostiko-html-whmcs-hosting-theme/21860050" class="color_888888">Hostiko.com</a> <br> All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
</section>