<!--Footer Section-->
<section class="py-md-5 py-4 footer01_section">
    <div class="container">
        <div class="outer_logo_box pb-md-3 pb-2 secondary_font">
            <div class="footer01_logo float-left">
                <a href="index.html"><figure class="mb-md-2 mb-1"><img src="assets/images/svg/logo.svg" alt="..."></figure></a>
            </div>
            <div class="copyright_box float-right">
                Copyright © 2020 <a href="https://hostiko.com" class="color_fa2964">Hostiko.com</a> / All Rights Reserved
            </div>
        </div>
        <div class="row pt-lg-3 outer_footer01_content_box secondary_font">
            <div class="col-xl-5 col-lg-5 col-md-12 footer01_content_box f2_order02">
                <p class="mb-3 pt-lg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad adipisci asperiores debitis iste iusto magni minus nemo nisi provident quasi, rerum sequi suscipit tenetur voluptate. Cumque dolores odit quasi.</p>
                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad adipisci asperiores debitis iste iusto magni minus nemo nisi provident quasi.</p>
                <ul class="footer01_social_links list-unstyled mb-0 mt-lg-0 mt-md-4">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3">
                <ul class="footer01_links_list list-unstyled">
                    <li><a href="shared_hosting.html">Web Hosting</a></li>
                    <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                    <li><a href="vps_hosting.html">VPS Server</a></li>
                    <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                    <li><a href="domains.html">Domains</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 f2_order01">
                <ul class="footer01_contact_list list-unstyled clearfix">
                    <li>121 King Street, Melbourne <br> Victoria 3000 Australia.</li>
                    <li>
                        <div>Phone: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                        <div>Help: <a href="tel:(123) 123-456789">(123) 123-456789</a></div>
                    </li>
                    <li>
                        <div> <a href="mailto:Support@hostikocom">Support@hostikocom</a></div>
                        <div> <a href="mailto:info@hostiko.com">info@hostiko.com</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Ends Here-->