<!--Header-->
<header class="header01">
    <div class="container">
        <div class="header01_outer_box position-relative">
            <div class="row header01_top_bar">
                <div class="col-xl-8 col-lg-8 col-md-8 header01_top_bar_content">Welcome to Hostiko, Providing Reliable Hosting Solutions</div>
                <div class="col-xl-4 col-lg-4 col-md-4 header01_top_bar_btn"><a href="https://akdesigner.com/whmcs-templates/register.php" class="btn_contact_us">Live Chat</a></div>
            </div>
            <nav class="navbar navbar-expand-lg bg-white header01_navigation">
                <div class="row w-100 m-auto">
                    <div class="col-xl-2 col-lg-2 col-12 p-0 outer_header01_logo">
                        <a class="navbar-brand header01_logo" href="index.html"><img src="assets/images/svg/logo.svg" alt=""></a>
                        <button class="navbar-toggler header01_mobile_toggle header02_mobile_toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-12 p-0">
                        <div class="header01_contact_info_box hide_on_mobile">
                            <div class="row">
                                <div class="col-xl-8 col-lg-8">
                                    <ul class="header01_contact_list">
                                        <li><a href="mailto:info@hostiko.com"><i class="fas fa-envelope"></i>info@hostiko.com</a></li>
                                        <li><a href="tel:+01-234-6789"><i class="fas fa-phone-square"></i>+01-234-6789</a></li>
                                        <li><i class="far fa-clock"></i>8.00 AM - 6:00PM</li>
                                    </ul>
                                </div>
                                <div class="col-xl-4 col-lg-4 text-right">
                                    <ul class="header01_social_links mb-0">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse outer_header01_navbar mr-3" id="navbarSupportedContent">
                            <ul class="navbar-nav header01_navbar">
                                <li class="nav-item active dropdown">
                                    <a class="nav-link dropdown-toggle default_nav_link" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        HOME
                                    </a>
                                    <div class="dropdown-menu default_dd_menu mobile_menu dropdown_home mt-0" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item b_top_radius" href="index.html">Header / Footer v1</a>
                                        <a class="dropdown-item" href="index02.html">Header / Footer v2</a>
                                        <a class="dropdown-item" href="index03.html">Header / Footer v3</a>
                                        <a class="dropdown-item" href="index04.html">Header / Footer v4</a>
                                        <a class="dropdown-item b_bottom_radius" href="index05.html">Header / Footer v5</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link default_nav_link" href="about.html">ABOUT</a>
                                </li> 
                                <li class="nav-item dropdown default_header_dd">
                                    <a class="nav-link dropdown-toggle open_mega_dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HOSTING</a>                                    
                                    <div class="dropdown-menu host_dropdown02 m-0" id="mega_dropdown" aria-labelledby="navbarDropdown">
                                        <div id="accordion">
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0 btn01">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                            Shared Hosting
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <ul>
                                                            <li><a href="shared_hosting.html">Shared Hosting</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6">Default Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PricingPlan&gid=6&systpl=hostiko&layout=36">WHMCS Configureble Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PackageTable&gid=10&systpl=hostiko&layout=36">WHMCS Configureble Comparison Table</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header rounded-0" id="headingTwo">
                                                    <h5 class="mb-0 btn02">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Reseller Hosting
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <ul>
                                                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=9">Default Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PricingPlan&gid=6&systpl=hostiko&layout=36">WHMCS Configureble Plan Boxes</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PackageTable&gid=10&systpl=hostiko&layout=36">WHMCS Configureble Comparison Table</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header rounded-0" id="headingThree">
                                                    <h5 class="mb-0 btn03">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            VPS Server
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <ul>
                                                            <li><a href="vps_hosting.html">Default VPS Slider</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=8&carttpl=slider_cart_1&systpl=hostiko&layout=36">WHMCS Configureble Slider 01</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=10&carttpl=slider_cart_2&systpl=hostiko&layout=36">WHMCS Configureble Slider 02</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=8&carttpl=slider_cart_3&systpl=hostiko&layout=36">WHMCS Configureble Slider 03</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header rounded-0" id="headingFour">
                                                    <h5 class="mb-0 btn04">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                            Dedicated Server
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <ul>
                                                            <li><a href="dedicated_hosting.html">Default Stackable Price Table</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=DataTable&gid=11&systpl=hostiko&layout=36">WHMCS Configureble Stackable Table</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/cart.php?gid=6&carttpl=PricingPlan&gid=7&systpl=hostiko&layout=36">WHMCS Configureble Plan Boxes</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header card05" id="headingFive">
                                                    <h5 class="mb-0 btn05">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                            WHMCS Material
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <ul>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/index.php?systpl=hostiko-light">WHMCS Light Theme</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/index.php?systpl=hostiko-dark">WHMCS Dark Theme</a></li>
                                                            <li><a href="https://akdesigner.com/whmcs-templates/index.php?systpl=hostiko-material&carttpl=hostiko-cart">WHMCS Material Theme</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <ul class="mobile_navigation">
                                            <li><a href="shared_hosting.html">Shared Hosting</a></li>
                                            <li><a href="reseller_hosting.html">Reseller Hosting</a></li>
                                            <li><a href="dedicated_hosting.html">Dedicated Server</a></li>
                                            <li><a href="vps_hosting.html">VPS Hosting</a></li>
                                        </ul>-->
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="domain.html">DOMAIN</a>
                                </li>
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown08" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WHMCS</a>
                                    <div class="dropdown-menu whmcs_dropdown default_dd_menu header01_dd_menu04 my-0" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item b_top_radius" href="//akdesigner.com/whmcs-templates/?systpl=hostiko&layout=36">Announcements</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=services&systpl=hostiko&layout=36">Your Services</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php&systpl=hostiko&layout=36">Update Details</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=creditcard&systpl=hostiko&layout=36">Update Credit Cards</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=domains&systpl=hostiko&layout=36">Your Domains</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko&layout=36">Submit A Ticket</a>
                                        <a class="dropdown-item" href="//akdesigner.com/whmcs-templates/clientarea.php?action=masspay&all=true&systpl=hostiko&layout=36">Deposite Funds</a>
                                        <a class="dropdown-item b_bottom_radius" href="//akdesigner.com/whmcs-templates/clientarea.php?action=addcontact&systpl=hostiko&layout=36">Manage Contacts</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link default_nav_link" href="contact.html">CONTACT</a>
                                </li>
                                <li class="nav-item dropdown default_header_dd">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BLOG</a>
                                    <div class="dropdown-menu default_dd_menu header01_dd_menu04 my-0" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item b_top_radius" href="single-post.html">Single Post</a>
                                        <a class="dropdown-item" href="infinite-scroll.html">Infinite Scroll</a>
                                        <a class="dropdown-item" href="load-more.html">Load More</a>
                                        <a class="dropdown-item" href="one-column.html">One Column</a>
                                        <a class="dropdown-item" href="two-column.html">Two Column</a>
                                        <a class="dropdown-item" href="three-column.html">Three Column</a>
                                        <a class="dropdown-item" href="three-colum-sidbar.html">Three Column Sidebar</a>
                                        <a class="dropdown-item" href="four-column.html">Four Column</a>
                                        <a class="dropdown-item b_bottom_radius" href="six-colum-full-wide.html">Six Column</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="nav_contact_list nav_tablet_btn list-unstyled mb-0">
                                <li>
                                    <a class="chat_btn font_size_16 line_height_32 font_weight_700" href="#">Live Chat</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!--Ends Here-->
<script>
    $(document).ready(function () {
        console.log("ARR: ", window.outerWidth);
        if (window.outerWidth < 425) {
            $('#mega_dropdown').removeClass('host_dropdown');
        }
    });
    $('.open_mega_dropdown').click(function () {
        if (!$('#mega_dropdown').hasClass("host_dropdown")) {
            $('#mega_dropdown').addClass('host_dropdown');
            $('#mega_dropdown').css('display','block');
        } else {
            $('#mega_dropdown').removeClass('host_dropdown');
            $('#mega_dropdown').css('display','none');
        }
    });
</script>