<!DOCTYPE html>
<html lang="en">
<head>
    <title> Hostiko </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header class="header container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="container p-0 nav-header">
                <a class="navbar-brand" href="#">
                    <figure class="mb-0"><img alt="logo" class="logo" src="images/Logo.png"></figure>
                </a>
                <!-- Collapse button -->
              <button class="navbar-toggler navbar-light pr-0 pl-0" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">     
                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link pl-0 pr-0" href="#" role="button">FEATURE
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link pl-0 pr-0 dropdown-toggle scroll" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" role="button" href="#">ABOUT</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <ul class="dropdown-cn">
                                <li>  <a class="dropdown-item scroll" href="#services">Service 1</a> </li>
                                <li> <a class="dropdown-item scroll" href="#services">Service 2</a></li>
                                <li> <a class="dropdown-item scroll" href="#services">Service 3</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 scroll" href="#blog" role="button">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 scroll" href="#pricing" role="button">PRICING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 scroll" href="#contact" role="button" > CONTACT </a>
                    </li>
                    
                    </ul>
                    <div class="ml-auto nav-btn">
                        
                        <a class="nav-link-btn" href="#" > LOG IN </a>
                    </div>
                    <!-- Dropdown -->
                </div>
            </div>
        </nav>
    </header>
    <!-- Banner -->
    <section class="banner-section">
        <div class="container banner">
            <div class="row banner-content">
                <div class="col-lg-6 banner-img p-0">
                    <figure class="mb-0">
                        <img src="images/Banner img.jpg" alt="banner-img">
                    </figure>
                </div>
                <div class="col-lg-6 banner-text">
                    <h1> Turn Your <br> Vision Into Profits </h1>
                    <h5> HOSTIKO introduces digital business assistance for better Business Strategy.  </h5>
                    <div class="form-group col-sm-12 p-0 banner-input">
                        <input type="email" class="form-control" placeholder="Enter your website">
                        <button type="submit" class="btn quote-btn">Get a quote</button>
                      </div>
                      
                </div>
            </div>
        </div>
    </section>
    <!-- Business -->
    <section class="business-section">
        <div class="container sec-heading text-center">
            <h2> Boost <span> Business </span> With <br> Valuable Revenue </h2>
            <div class="row business-cards">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="business-card">
                        <div class="fig-icon mb-4">
                            <figure> <img src="images/icon-1.png"> </figure>
                        </div>
                        <h5> Speed Optimization </h5>
                        <p> HOSTIKO is the fastest CDN that assesses your website speed and takes measures to enhance it. </p>
                        <div class="readmore-div">
                            <a href="#" class="btn readmore-btn"> Read More </a>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="business-card">
                        <div class="fig-icon mb-4">
                            <figure> <img src="images/icon-2.png"> </figure>
                        </div>
                        <h5> Marketing Analysis </h5>
                        <p> We study the dynamism of 
                            the market, track the stride
                        and suggest the marketing
                        schemes within budget. </p>
                        <div class="readmore-div">
                            <a href="#" class="btn readmore-btn"> Read More </a>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="business-card">
                        <div class="fig-icon mb-4">
                            <figure> <img src="images/icon-3.png"> </figure>
                        </div>
                        <h5> SEO and Backlinks </h5>
                        <p>We search keywords and 
                            evaluate page ranks for your
                            overall search engine rankings
                            and SEO optimization .
                            </p>
                        <div class="readmore-div">
                            <a href="#" class="btn readmore-btn"> Read More </a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!-- New Directions -->
    <section class="newdirections-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12 sec-heading direc-content">
                    <h2 class="mb-3"> Proceed With <span> New </span> <br> Directions </h2>
                    <div class="row icon-boxes">
                        <div class="col-lg-2">
                            <figure> <img src="images/b1-icon.jpg"> </figure>
                        </div>
                        <div class="col-lg-10">
                            <h5 class="mb-4"> Business Strategy </h5>
                            <p> Our business developers design models by validating assumptions with an analytical approach without breaking the boundaries of your budget. 
                                 </p>
                        </div>
                    </div>
                    <div class="row icon-boxes">
                        <div class="col-lg-2">
                            <figure> <img src="images/b2-icon.jpg"> </figure>
                        </div>
                        <div class="col-lg-10">
                            <h5 class="mb-4"> Online Marketing </h5>
                            <p> Our team finds feasible online platforms for your customers, plans relevant marketing solutions and conveys your updates via digital channels. </p>
                            <a  href="#" class="btn started-btn"> Get Started </a>
                        </div>
                           
                    </div>
                    
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 direc-video">
                    <div class="videoWrapper videoWrapper169 js-videoWrapper new-video">
                        <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/hgzzLIa-93c?autoplay=1& modestbranding=1&rel=0&hl=sv"></iframe>
                        <button class="videoPoster js-videoPoster">Play video</button>
                    </div>
                    
                    <!-- <button onclick="videoStop()">external close button</button> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="services-section">
        <div class="container">
            <div class="row serv-sec">
                <div class="col-lg-6 col-sm-12 sec-heading">
                    <h3>  Extensive <span> Services </span> For Business Growth </h3>
                </div>
                <div class="col-lg-6 col-sm-12 sec-btn pt-4">
                    <a  href="#" class="btn quote-btn services-btn float-right"> See All Services </a>
                </div>
            </div>
            <div class="service-cards">
            <div class="row serv-sec">
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="service-card text-center">
                    <figure> <img src="images/service-1.png"> </figure>
                    <h5> Business Growth </h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-card text-center">
                    <figure> <img src="images/service-2.png"> </figure>
                    <h5> Market Strategy </h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service-card text-center">
                        <figure> <img src="images/service-3.png"> </figure>
                        <h5> Business Research </h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-cards-2 mt-4">
                    <div class="service-card text-center">
                    <figure> <img src="images/service-4.png"> </figure>
                    <h5> Collabrative Teamwork  </h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-cards-2 mt-4">
                <div class="service-card text-center">
                    <figure> <img src="images/service-5.png"> </figure>
                    <h5> Informed Investment </h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-cards-2 mt-4">
                    <div class="service-card text-center">
                        <figure> <img src="images/service-6.png"> </figure>
                        <h5> SEO Content Marketing </h5>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- Business Experts -->
    <section class="experts-section">
        <div class="container-fluid expert-section p-0">
            <div class="row m-0">
                <div class="col-lg-6 col-md-12 col-sm-12 experts-sec-img p-0">
                    <figure> <img src="images/business-strategy.png"></figure>
                </div>
                <div class="col-lg-6 col-sm-12 sec-heading experts-sec-content">
                    <h2> Make Legacy With Our <span> Business </span> Experts </h2>
                   <p class="p-1"> Rule over the market with our empowering business strategy. We are a stable team of strategists with sound planning skills. 
                       Create a name and fame in the market with our intellectual property. See the figures below to get an idea. </p>
                    
                       <div class="row experts-sec-numbers">
                        <div class="col-lg-4 col-md-6  col-sm-12 expert-sec-br">
                            <div class="experts-sec-num1 text-left">
                                <h5> 450 </h5>
                                <span> Experts across a range <br> of 
                                    specializations. </span>
                            </div>
                        </div> 
                        <div class="col-lg-6 col-md-6  col-sm-12 expert-sec-br mr-l">
                            <div class="experts-sec-num1 text-left">
                                <h5> 17 </h5>
                                <span> Offices in 5 countries <br>
                                    worldwide </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6  col-sm-12 expert-sec-br mr-t">
                            <div class="experts-sec-num1 text-left">
                                <h5> 218 </h5>
                                <span> Projects had yet <br>
                                    finished</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6  col-sm-12 expert-sec-br mr-l mr-t">
                            <div class="experts-sec-num1 text-left">
                                <h5> 19k </h5>
                                <span> Happy Clients from largest <br>
                                    corporations </span>
                            </div>
                        </div>
                       </div>

                </div> 
            </div>
        </div>
    </section>
    <!-- Team Section -->
    <section class="team-section">
        <div class="container sec-heading text-center">
            <h2> Meet Our <span> Team </span> Of <br> Intellectuals</h2>
            <div class="row m-0 team-info">
                <div class="col-lg-4">
                    <div class="team-card">
                    <figure> <img src="images/team-1.png"> </figure>
                    <div class="team-person">
                        <h5 class="mb-0"> Brad Leon </h5>
                        <small> Founder </small>
                    </div>
                    <i class="fal fa-long-arrow-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-card">
                    <figure> <img src="images/team-2.png"> </figure>
                    <div class="team-person">
                        <h5 class="mb-0"> John Smith </h5>
                        <small> Consultant </small>
                    </div>
                    <i class="fal fa-long-arrow-right"></i>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-card">
                    <figure> <img src="images/team-3.png"> </figure>
                    <div class="team-person">
                        <h5 class="mb-0"> Emma Doe </h5>
                        <small> Manager </small>
                    </div>
                    <i class="fal fa-long-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="sec-btn pt-4">
                <a  href="#" class="btn quote-btn services-btn"> Join Us Today </a>
            </div>
        </div>
    </section>
    <!-- Contact Us -->
    <section class="contact-section">
        <div class="container">
            <div class="row  sec-heading">
                <div class="col-lg-8 col-sm-12 contact-text">
                    <h3 class="mb-1"> Seek more information through our channels where you find the mutual ease </h3>
                    <p class="m-0"> We typically respond in 24 hours! </p> 
                    <p class="m-0 ptext-2"> It won’t take more than 2 working days to receive your issue ticket. </p>
                </div>
                <div class="col-lg-4 col-sm-12 contact-num text-center">
                    <figure>
                        <img src="images/phone_.png">
                    </figure>
                    <span> Call for advice Now! </span>
                    <div class="contact-tel">
                        <a href="#"> 1140 68668  </a>
                    </div>
                    <a  href="#" class="btn started-btn contact-btn"> Contact Us </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section class="testimonials-section">
        <div class="container sec-heading">
            <h2 class="text-center"> What Is Public Opinion <br> About <span> Hostiko </span> </h2>
            <div class="swiper-container swiper-testimonial">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="review-box">
                        <div class="media">
                            <img class="mr-3" src="images/test-1.png" alt="testimonial-img">
                            <div class="media-body">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <h5> Sanina George <span class="user-post">/ Project Manager </span></h5>
                            </div>
                        </div>
                        <p>
                            I am a technical project manager and I have worked with several companies for business solutions. But HOSTIKO has marked itself at the top.
                        </p>
                        

                    </div>
                </div>
                 <div class="swiper-slide">
                    <div class="review-box">
                        <div class="media">
                            <img class="mr-3" src="images/test-2.png" alt="testimonial-img">
                            <div class="media-body">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <h5> Robert Kelen <span class="user-post">/ Assistant Manager </span></h5>
                            </div>
                        </div>
                        <p>
                            They provided a business plan by analyzing market trends and spying my direct and indirect competitors. I am making profit more than ever.
                        </p>
                        

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="review-box">
                        <div class="media">
                            <img class="mr-3" src="images/test-1.png" alt="testimonial-img">
                            <div class="media-body">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <h5> Sanina George <span class="user-post">/ Project Manager </span></h5>
                            </div>
                        </div>
                        <p>
                            I am a technical project manager and I have worked with several companies for business solutions. But HOSTIKO has marked itself at the top.
                        </p>
                        

                    </div>
                </div>
                
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

        </div>
        </div>
    </section>
    <!-- Pricing Section -->
    <section class="pricing-section">
        <div class="container sec-heading">
            <h2 class="text-center"> Payment <span> Plans </span> Which Satisfy Your Demand </h2>
            <div class="row pricing-plans">
                <div class="col-lg-4 col-sm-12  text-center">
                    <div class="single-pricing-plan">
                    <h3 class="mb-2" > $20.00 </h3>
                    <a class="plan-link" href="#"> Basic Pack </a>
                    <hr class="divider">
                    <div class="plan-features">
                        <p> Extra Features </p>
                        <p> Lifetime free support </p>
                        <p> Upgrate options </p>
                        <p> Full accesss </p>
                    </div>
                    <div class="sec-btn pt-4 pb-4">
                        <a  href="#" class="btn quote-btn plan-btn"> Choose Plan </a>
                    </div>
                    <span class="price-notice"> No Hidden Charges </span>
                    </div> 
                </div> 
                 <div class="col-lg-4 col-sm-12  text-center">
                    <div class="single-pricing-plan">
                    <h3 class="mb-2" > $30.00 </h3>
                    <a class="plan-link" href="#"> Medium Pack </a>
                    <hr class="divider">
                    <div class="plan-features">
                        <p> Extra Features </p>
                        <p> Lifetime free support </p>
                        <p> Upgrate options </p>
                        <p> Full accesss </p>
                    </div>
                    <div class="sec-btn pt-4 pb-4">
                        <a  href="#" class="btn quote-btn plan-btn"> Choose Plan </a>
                    </div>
                    <span class="price-notice"> No Hidden Charges </span>
                    </div> 
                </div> 
                <div class="col-lg-4 col-sm-12  text-center">
                    <div class="single-pricing-plan">
                    <h3 class="mb-2" > $40.00 </h3>
                    <a class="plan-link" href="#"> Ultimate Pack </a>
                    <hr class="divider">
                    <div class="plan-features">
                        <p> Extra Features </p>
                        <p> Lifetime free support </p>
                        <p> Upgrate options </p>
                        <p> Full accesss </p>
                    </div>
                    <div class="sec-btn pt-4 pb-4">
                        <a  href="#" class="btn quote-btn plan-btn"> Choose Plan </a>
                    </div>
                    <span class="price-notice"> No Hidden Charges </span>
                    </div> 
                </div> 
            </div>
            
        </div>
    </section>
    <!-- News Section -->
    <section class="news-section">
        <div class="container sec-heading">
            <h2 class="text-center"> Stay <span> Updated </span> With <br> Top Trends </h2>
            <div class="row news-aritcles m-0"> 
                <div class="col-lg-6 col-sm-12 news-article-col1">
                    <div class="news-video-article">
                        <div class="videoWrapper videoWrapper169 js-videoWrapper news-video">
                            <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/hgzzLIa-93c?autoplay=1& modestbranding=1&rel=0&hl=sv"></iframe>
                            <button class="videoPoster js-videoPoster-news">Play video</button>
                        </div>
                        <h3 class="text-left"> 5 New Technical Trends For Business In 2020 </h3>
                        <p class="text-left"> Having a website on the internet means a direct connectivity with clients
                            globally. Employers need intelligent..... </p>
                            <div class="news-readmore-div">
                                <a href="#" class="news-readmore-btn text-left"> Read More <i class="fa fa-arrow-right pl-1 pt-1" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6 col-sm-12 news-article-col2">
                    <div class="news-article-1">
                        <div class="row news-row-col2 m-0">
                            <div class="col-lg-5 col-sm-12">
                                <figure> <img src="images/news-2.jpg"> </figure>
                            </div>
                            <div class="col-lg-7 col-sm-12 news-content">
                                <i class="fa fa-calendar" aria-hidden="true"> <span> February 28, 2019 </span> </i>
                                <h5> 10 strategies to adopt for business startups.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="news-article-1">
                        <div class="row news-row-col2 m-0">
                            <div class="col-lg-5 col-sm-12">
                                <figure> <img src="images/news-3.jpg"> </figure>
                            </div>
                            <div class="col-lg-7 col-sm-12 news-content">
                                <i class="fa fa-calendar" aria-hidden="true"> <span> February 28, 2019 </span></i>
                                <h5> Generate revenue with less investment?</h5>
                            </div>
                        </div>
                    </div>
                    <div class="news-article-1">
                        <div class="row news-row-col2 m-0">
                            <div class="col-lg-5 col-sm-12">
                                <figure> <img src="images/news-4.jpg.png"> </figure>
                            </div>
                            <div class="col-lg-7 col-sm-12 news-content">
                                <i class="fa fa-calendar" aria-hidden="true"> <span> February 28, 2019 </span> </i>
                                <h5> How blockchain ensures data security?</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Logo Section -->
    <section>
    <div class="logos-section text-center">
        <div class="desktop-logos">
          <!-- <figure> <img src="images/Group 9.png"> </figure> -->
          <div class="d-flex flex-row container justify-content-center logos-row">
            <div class="col-lg-2 col-md-4 col-sm-12">
              <figure> <img alt="logo-1" src="images/logo-6.png"> </figure>
            </div> 
            <div class="col-lg-2 col-md-4 col-sm-12">
              <figure> <img alt="logo-2" src="images/logo-7.png"> </figure>
            </div> 
            <div class="col-lg-2 col-md-4 col-sm-12">
              <figure> <img alt="logo-3" src="images/logo-1.png"> </figure>
             </div> 
             <div class="col-lg-3 col-md-4 col-sm-12 pt-tab">
              <figure> <img alt="logo-4" src="images/logo-3.png"> </figure>
             </div>
             <div class="col-lg-2 col-md-4 col-sm-12 pt-tab">
              <figure> <img alt="logo-5" src="images/logo-2.png"> </figure>
             </div>
             <div class="col-lg-2 col-md-4 col-sm-12 mb-0 pt-tab">
              <figure> <img alt="logo-5" src="images/logo-5.png"> </figure>
             </div>
            </div>
            </div>
      </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="footer-nav">
        <div class="container">
            <div class="row footer-tab-padding">
                <div class="col-lg-4 col-md-6 ft-abt">
                    <h5> About Hostiko </h5>
                    <p> HOSTIKO is the fastest web hosting platform that ensures availability of websites with less server downtime and SEO. </p>
                    <i class="fa fa-map-marker" aria-hidden="true"> <span> Market D Block  1234 NewYork </span> </i>
                    <br>
                    <i class="fa fa-envelope" aria-hidden="true"> <span> Support@hostiko.com </span> </i>
                    <br>
                    <i class="fa fa-phone" aria-hidden="true"> <span> 123 456 7890 </span> </i>
                </div>
                <div class="col-lg-2 ft-services">
                    <h5> Services </h5>
                    <ul class="footer-links p-0 mb-0">
                        <li> <a href="#">Business Growth</a> </li>
                        <li> <a href="#">Marketing Strategy</a> </li>
                        <li> <a href="#">Content Marketing</a> </li>
                        <li> <a href="#">Marketing Research</a> </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 ft-links">
                    <h5> Links </h5>
                    <ul class="footer-links p-0 mb-0">
                        <li> <a href="#">Home</a> </li>
                        <li> <a href="#">Blogs</a> </li>
                        <li> <a href="#">Pricing</a> </li>
                        <li> <a href="#">About</a> </li>
                        <li> <a href="#">Contact</a> </li>
                    </ul>
                </div>
                 <div class="col-lg-4 ft-contact">
                    <h5> Contact </h5>
                    <form class="form-inline footer-form">
                        <div class="form-group name-field">
                          <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group email-field">
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group message-field">
                          <input type="email" class="form-control" placeholder="Message">
                        </div>
                      </form>
                      <button type="submit" class="btn quote-btn footer-btn">Submit</button>
                </div>
            </div>
        </div> 
        </div> 
        <div class="mini-footer">
            <div class="container">
                <div class="row footer-copy-sec text-left">
                    <div class="col-lg-9 col-md-12 col-sm-12">
                      <div class="row">
                      <div class="col-lg-11 col-md-12 col-sm-12 ft-cr">
                        <h6> <span> Hostiko </span> - Copyright 2020 All Rights Reserved  </h6>
                      </div>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-social">
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-facebook-f"></i>
                      <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                      <i class="fab fa-google-plus-g"></i>
                    </div>
                  </div>
            </div>
           
        </div>
    
    </footer>
    







    <scripy src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></scripy>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="https://github.com/mattbryson/TouchSwipe-Jquery-Plugin/blob/master/jquery.touchSwipe.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Header Scroll -->
    <script>
        $(function() {
         $(window).on("scroll", function() {
             if($(window).scrollTop() > 50) {
                 $(".header").addClass("scroll_header_active");
                 $("nav.navbar.navbar-expand-lg").addClass("scroll_margin");
             } else {
                 
                $(".header").removeClass("scroll_header_active");
                $("nav.navbar.navbar-expand-lg").removeClass("scroll_margin");
             }
         });
     });
    </script>
    <!-- Video Embed -->
    <script>
  $(document).on('click','.js-videoPoster',function(ev) {
    ev.preventDefault();
    var $poster = $(this);
    var $wrapper = $poster.closest('.js-videoWrapper');
    videoPlay($wrapper);
  });
  
  function videoPlay($wrapper) {
    var $iframe = $wrapper.find('.js-videoIframe');
    var src = $iframe.data('src');
    $wrapper.addClass('videoWrapperActive');
    $iframe.attr('src',src);
  }
  
  function videoStop($wrapper) {
    if (!$wrapper) {
      var $wrapper = $('.js-videoWrapper');
      var $iframe = $('.js-videoIframe');
    } else {
      var $iframe = $wrapper.find('.js-videoIframe');
    }
    $wrapper.removeClass('videoWrapperActive');
    $iframe.attr('src','');
  }
    </script> 
    <script>
  $(document).on('click','.js-videoPoster-news',function(ev) {
    ev.preventDefault();
    var $poster = $(this);
    var $wrapper = $poster.closest('.js-videoWrapper');
    videoPlay($wrapper);
  });
  
  function videoPlay($wrapper) {
    var $iframe = $wrapper.find('.js-videoIframe');
    var src = $iframe.data('src');
    $wrapper.addClass('videoWrapperActive');
    $iframe.attr('src',src);
  }
  
  function videoStop($wrapper) {
    if (!$wrapper) {
      var $wrapper = $('.js-videoWrapper');
      var $iframe = $('.js-videoIframe');
    } else {
      var $iframe = $wrapper.find('.js-videoIframe');
    }
    $wrapper.removeClass('videoWrapperActive');
    $iframe.attr('src','');
  }
    </script>

<!-- Testimonial Slider -->
    <script>
        var screen_width = window.innerWidth;
        if(screen_width <= '991'){
            var swiper = new Swiper('.swiper-container.swiper-testimonial', {
        slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
    },
});
        }
        else{
            var swiper = new Swiper('.swiper-container.swiper-testimonial', {
    slidesPerView: 2,
    spaceBetween: 30,
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    },
});
        }
         
    </script>
</body>
</html>