<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hostiko</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png"/>
</head>
<body>

    <div class="wrapper">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        
    <!--start header-->

<!--Header-->
<div id="default_header"></div>
<!--Ends Here-->
<!--Banner Section-->
<section class="sub_banner01 blog_hero_banner">
    <div class="inner_sub_banner">
        <div class="container">
            <div class="section_heading text-center">
                <h1 class="secondary_font color_fff font_size_72 line_height_80 font_weight_700">BLOG - Load More</h1>
            </div>
        </div>
    </div>
</section>
<!--Banner Section-->

<section class="padding_bottom_80 padding_top_100 blog_section">
    <div class="container">
        <div class="row">
            <div id="blog" class="three-column mb-3 col-xl-12">
                <div class="row padding_bottom_10 blog_sec_01">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="float-left w-100 post-item border mb-4">
                            <div class="post-item-wrap position-relative">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="assets/images/standard_post_img01.jpg">
                                    </a>
                                    <span class="post-meta-category">
                        <a href="">Lifestyle</a>
                    </span>
                                    <!--post-image-->
                                </div>
                                <div class="post-item-description">
                    <span class="post-meta-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments">
                        <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>33 Comments</a>
                    </span>
                                    <h2>
                                        <a href="single-post.html">Standard post with a single image </a>
                                    </h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula ac sagittis ante posuere ac pharetra laoreet commodo dolor porta.</p>
                                    <a href="single-post.html" class="item-link">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    <!--post-item-description-->
                                </div>
                                <!--post-item-wrap-->
                            </div>
                            <!--post-item-->
                        </div>
                        <!--col-->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="float-left w-100 post-item border mb-4">
                            <div class="post-item-wrap position-relative">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="assets/images/standard_post_img02.jpg">
                                    </a>
                                    <span class="post-meta-category">
                        <a href="">Lifestyle</a>
                    </span>
                                    <!--post-image-->
                                </div>
                                <div class="post-item-description">
                    <span class="post-meta-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments">
                        <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>33 Comments</a>
                    </span>
                                    <h2>
                                        <a href="single-post.html">Standard post with a single image </a>
                                    </h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula ac sagittis ante posuere ac pharetra laoreet commodo dolor porta.</p>
                                    <a href="single-post.html" class="item-link">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    <!--post-item-description-->
                                </div>
                                <!--post-item-wrap-->
                            </div>
                            <!--post-item-->
                        </div>
                        <!--col-->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="float-left w-100 post-item border mb-4">
                            <div class="post-item-wrap position-relative">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="assets/images/standard_post_img03.jpg">
                                    </a>
                                    <span class="post-meta-category">
                        <a href="">Lifestyle</a>
                    </span>
                                    <!--post-image-->
                                </div>
                                <div class="post-item-description">
                    <span class="post-meta-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments">
                        <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>33 Comments</a>
                    </span>
                                    <h2>
                                        <a href="single-post.html">Standard post with a single image </a>
                                    </h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula ac sagittis ante posuere ac pharetra laoreet commodo dolor porta.</p>
                                    <a href="single-post.html" class="item-link">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    <!--post-item-description-->
                                </div>
                                <!--post-item-wrap-->
                            </div>
                            <!--post-item-->
                        </div>
                        <!--col-->
                    </div>
                </div>
                <span id="dots"></span>
                <div class="row padding_bottom_30 blog_sec_02"  id="more">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="float-left post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="assets/images/standard_post_img04.jpg">
                                    </a>
                                    <span class="post-meta-category">
                                        <a href="">Lifestyle</a>
                                    </span>
                                    <!--post-image-->
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 21, 2017</span>
                                                    <span class="post-meta-comments">
                                        <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>33 Comments</a>
                                    </span>
                                    <h2>
                                        <a href="single-post.html">Standard post with a single image </a>
                                    </h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula ac sagittis ante posuere ac pharetra laoreet commodo dolor porta.</p>
                                    <a href="single-post.html" class="item-link">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    <!--post-item-description-->
                                </div>
                                <!--post-item-wrap-->
                            </div>
                            <!--post-item-->
                        </div>
                        <!--col-->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="float-left post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="assets/images/standard_post_img05.jpg">
                                    </a>
                                    <span class="post-meta-category">
                        <a href="">Lifestyle</a>
                    </span>
                                    <!--post-image-->
                                </div>
                                <div class="post-item-description">
                    <span class="post-meta-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments">
                        <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>33 Comments</a>
                    </span>
                                    <h2>
                                        <a href="single-post.html">Standard post with a single image </a>
                                    </h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula ac sagittis ante posuere ac pharetra laoreet commodo dolor porta.</p>
                                    <a href="single-post.html" class="item-link">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    <!--post-item-description-->
                                </div>
                                <!--post-item-wrap-->
                            </div>
                            <!--post-item-->
                        </div>
                        <!--col-->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="float-left post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="#">
                                        <img alt="" src="assets/images/standard_post_img01.jpg">
                                    </a>
                                    <span class="post-meta-category">
                        <a href="">Lifestyle</a>
                    </span>
                                    <!--post-image-->
                                </div>
                                <div class="post-item-description">
                    <span class="post-meta-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>Jan 21, 2017</span>
                                    <span class="post-meta-comments">
                        <a href=""><i class="fa fa-comments-o" aria-hidden="true"></i>33 Comments</a>
                    </span>
                                    <h2>
                                        <a href="single-post.html">Standard post with a single image </a>
                                    </h2>
                                    <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula ac sagittis ante posuere ac pharetra laoreet commodo dolor porta.</p>
                                    <a href="single-post.html" class="item-link">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    <!--post-item-description-->
                                </div>
                                <!--post-item-wrap-->
                            </div>
                            <!--post-item-->
                        </div>
                        <!--col-->
                    </div>
                </div>
                <div class="load-more">
                <a  href="#" onclick="myFunction()" id="myBtn">Load More</a>
                </div>
                </div>
                </div>
                </div>
</section>

<!--Footer Section-->
<div id="default_footer"></div>
<!--Footer Section-->
<a href="javascript:" id="return-to-top" title="return to top"><i class="fa fa-arrow-up"></i></a>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<script>
     function openNav() {
         document.getElementById("mySidenav").style.right = "0";
         }
         function closeNav() {
         document.getElementById("mySidenav").style.right = "-250px";
         }
         // Search Bar
         function openSearch() {
         document.getElementById("myOverlay").style.display = "block";
         }
         
         function closeSearch() {
         document.getElementById("myOverlay").style.display = "none";
         }
         
         $(document).ready(function() {
        setTimeout(function() {
            $('.wrapper').addClass('loaded');
        }, 100);
    });
$(document).ready(function() {
    setTimeout(function() {
        $('.wrapper').addClass('loaded');
    }, 100);
});
$(function(){
    $("#default_header").load("include/default_header.html");
    $("#default_footer").load("include/default_footer.html");
});
$(window).scroll(function() {
            if ($(this).scrollTop() >= 350) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });

        function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline-flex";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline-flex";
  }
}
</script>